USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: <Procedure para eliminar la dirección del Control de Altas de Empleados>
** Autor			: Javier Peña
** Email			: <jpena@adagio.com.mx>
** FechaCreacion	: <2025-10-30>
** Paremetros		:              
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				    Comentario
------------------- -------------------     ------------------------------------------------------------
2025-10-30		    Javier Peña		Creación inicial del procedimiento basado en spBorrarDireccionEmpleado
***************************************************************************************************/

CREATE PROCEDURE [RH].[spBorrarDireccionControlAltasEmpleados]
(
	@IDDireccionControlAltasEmpleados int,
	@IDControlAltasEmpleados int,
	@IDUsuario int
)
AS
BEGIN
    DECLARE @OldJSON Varchar(Max),
	@NewJSON Varchar(Max)

	select @OldJSON = a.JSON from [RH].tblDireccionControlAltasEmpleado b
	Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
	WHERE b.IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados	

	EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDireccionControlAltasEmpleado]','[RH].[spBorrarDireccionControlAltasEmpleados]','DELETE','',@OldJSON

    Delete RH.tblDireccionControlAltasEmpleado 
    where IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados

    if OBJECT_ID('tempdb..#tblTempHistorial1') is not null
	   drop table #tblTempHistorial1;

    if OBJECT_ID('tempdb..#tblTempHistorial2') is not null
	   drop table #tblTempHistorial2;

    select *, ROW_NUMBER()over(order by FechaIni asc) as [Row]
    INTO #tblTempHistorial1
    FROM RH.tblDireccionControlAltasEmpleado with (nolock)
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados
    order by FechaIni asc

    select 
	   t1.IDDireccionControlAltasEmpleados
	   ,t1.IDControlAltasEmpleados	  
	   ,t1.FechaIni
	   ,FechaFin = case when t2.FechaIni is not null then dateadd(day,-1,t2.FechaIni) 
				else '9999-12-31' end 
    INTO #tblTempHistorial2
    from #tblTempHistorial1 t1
	   left join (select * 
				from #tblTempHistorial1) t2 on t1.[Row] = (t2.[Row]-1)

    update [TARGET]
    set 
	   [TARGET].FechaFin = [SOURCE].FechaFin
    FROM RH.tblDireccionControlAltasEmpleado as [TARGET]
	   join #tblTempHistorial2 as [SOURCE] on [TARGET].IDDireccionControlAltasEmpleados = [SOURCE].IDDireccionControlAltasEmpleados		

	-- Return empty result set for consistency
	SELECT 
		0 as IDDireccionControlAltasEmpleados,
		0 as IDControlAltasEmpleados,
		0 as IDPais,
		'' as Pais,
		0 as IDEstado,
		'' as Estado,
		0 as IDMunicipio,
		'' as Municipio,
		0 as IDColonia,
		'' as Colonia,
		0 as IDLocalidad,
		'' as Localidad,
		0 as IDCodigoPostal,
		'' as CodigoPostal,
		'' as Calle,
		'' as Exterior,
		'' as Interior,
		GETDATE() as FechaIni,
		GETDATE() as FechaFin,		
		'' as Direccion,
		0 as IDRuta,
		'' as Ruta
	WHERE 1 = 0 -- This ensures no rows are returned
END
GO
