USE [p_adagioRHGrupoEnergy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	JOSE ROMAN
-- Create date: 2025-04-29
-- Description:	PROCEDIMIENTO PARA PURGA DE LOG HISTORY
-- =============================================

CREATE   PROCEDURE [Log].[spPurgaLogHistory]
AS
BEGIN 
	SET NOCOUNT ON;

	DECLARE @Fecha Date,
		@DiasExclusion int;

	SELECT @DiasExclusion = CAST(ISNULL(Valor,0) as int) 
	FROM App.tblConfiguracionesGenerales WITH(NOLOCK)
	where IDConfiguracion = 'DiasPurgaLogHistory'

	--select @DiasExclusion

	SET @DiasExclusion = CASE WHEN ISNULL(@DiasExclusion,0) = 0 THEN -365 ELSE (@DiasExclusion * -1)END

	SET @Fecha = DATEADD(DAY,@DiasExclusion,GETDATE())

	select @Fecha


	
	WHILE 1 = 1
	BEGIN
		delete TOP(1000) [Log].[tblLogHistory] where FechaHora <= @Fecha 
		if @@ROWCOUNT = 0 BREAK;
	END

END
GO
