USE [p_adagioRHCSM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from [IMSS].[fnObtenerUltimoMovimientoEmpleado](17260)

CREATE FUNCTION [IMSS].[fnObtenerUltimoMovimientoEmpleado]
(
	@IDEmpleado int
)
RETURNS @tblUltimoMovimientoEmpleado TABLE 
(
    -- Columns returned by the function
     IDMovAfiliatorio int
	,Fecha date
	,IDEmpleado int
	,IDTipoMovimiento int
	,FechaIMSS date null
	,FechaIDSE date null
	,IDRazonMovimiento int null
	,SalarioDiario decimal(18,2)
	,SalarioIntegrado decimal(18,2)
	,SalarioVariable decimal(18,2)
	,SalarioDiarioReal decimal(18,2)
	,IDRegPatronal int
	,RespetarAntiguedad bit
)
AS 
BEGIN
	
	insert into @tblUltimoMovimientoEmpleado(
		IDMovAfiliatorio
		,Fecha
		,IDEmpleado
		,IDTipoMovimiento
		,FechaIMSS
		,FechaIDSE
		,IDRazonMovimiento
		,SalarioDiario
		,SalarioIntegrado
		,SalarioVariable
		,SalarioDiarioReal
		,IDRegPatronal
		,RespetarAntiguedad
	)
	Select top 1 m.IDMovAfiliatorio
			,m.Fecha
			,m.IDEmpleado
			,m.IDTipoMovimiento
			,m.FechaIMSS
			,m.FechaIDSE
			,m.IDRazonMovimiento
			,m.SalarioDiario
			,m.SalarioIntegrado
			,m.SalarioVariable
			,m.SalarioDiarioReal
			,m.IDRegPatronal
			,m.RespetarAntiguedad
	from IMSS.tblMovAfiliatorios m with(nolock)
		inner join IMSS.tblCatTipoMovimientos tm
			on m.IDTipoMovimiento = tm.IDTipoMovimiento
	WHERE IDEmpleado = @IDEmpleado
	ORDER BY Fecha desc, tm.Prioridad desc
	
	RETURN;
END
GO
