USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ELE].[tblCatTiposServicios](
	[IDTipoServicio] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
