USE [p_adagioRHAvilab]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Asistencia].[spGenerarIncidenciaTiempoExtra_AVILAB](
     @dtConfig as [App].[dtConfiguracionesGenerales] READONLY 
    ,@dtEmpleados [RH].[dtEmpleados] READONLY
    ,@dtVigenciaEmpleados [App].[dtFechasVigenciaEmpleado] READONLY
    ,@dtChecadas [Asistencia].[dtChecadas] READONLY
    ,@dtIncidenciasEmpleados [Asistencia].[dtIncidenciaEmpleado] READONLY
    ,@dtHorariosEmpleados [Asistencia].[dtHorariosEmpleados] READONLY
    ,@IDUsuario int
)
AS
BEGIN
    DECLARE @TiempoExtraJornadaMinima time, 
            @TiempoExtraAE time,
            @TiempoExtraDS time;
    
    SELECT TOP 1 @TiempoExtraJornadaMinima = CAST(valor AS time) 
    FROM @dtConfig WHERE IDConfiguracion = 'TiempoExtraJornadaMinima';

    SELECT TOP 1 @TiempoExtraAE = CAST(valor AS time) 
    FROM @dtConfig WHERE IDConfiguracion = 'TiempoExtraAE';

    SELECT TOP 1 @TiempoExtraDS = CAST(valor AS time) 
    FROM @dtConfig WHERE IDConfiguracion = 'TiempoExtraDS';
    
    IF OBJECT_ID('tempdb..#tempCatIncidencias') IS NOT NULL DROP TABLE #tempCatIncidencias;

    SELECT * 
    INTO #tempCatIncidencias
    FROM Asistencia.tblCatIncidencias WITH (NOLOCK);

    ----------------------------- 
    -- FIN DE SEMANA (sábado y domingo) → UNA SOLA INCIDENCIA EX
    -----------------------------
    INSERT INTO Asistencia.tblIncidenciaEmpleado(
        IDEmpleado, IDIncidencia, Fecha, TiempoSugerido, TiempoAutorizado, 
        CreadoPorIDUsuario, Autorizado, AutorizadoPor, FechaHoraAutorizacion, FechaHoraCreacion,
        HorarioAD, IDHorario, Entrada, Salida
    )
    SELECT 
        e.IDEmpleado,
        'EX' AS IDIncidencia,
        tve.Fecha AS Fecha,
        Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), MAX(c.Fecha)) AS TiempoSugerido,
        Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), MAX(c.Fecha)) AS TiempoAutorizado,
        @IDUsuario AS CreadoPorIDUsuario,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN 1 ELSE 0 END AS Autorizado,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN @IDUsuario ELSE NULL END AS AutorizadoPor,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN GETDATE() ELSE NULL END AS FechaHoraAutorizacion,
        GETDATE() AS FechaHoraCreacion,
        'EX' AS HorarioAD,
        HE.IDHorario,
        MIN(c.Fecha),
        MAX(c.Fecha)
    FROM @dtVigenciaEmpleados tve
        INNER JOIN @dtEmpleados e ON tve.IDEmpleado = e.IDEmpleado
        INNER JOIN @dtHorariosEmpleados HE ON HE.Fecha = tve.Fecha AND HE.IDEmpleado = tve.IDEmpleado
        INNER JOIN #tempCatIncidencias I ON I.IDIncidencia = 'EX'
        LEFT JOIN @dtIncidenciasEmpleados ie 
            ON ie.Fecha = tve.Fecha  
            AND ie.IDEmpleado = e.IDEmpleado  
            AND ie.IDIncidencia = 'EX'
        LEFT JOIN @dtChecadas c
            ON c.FechaOrigen = tve.Fecha 
            AND c.IDEmpleado = e.IDEmpleado
            AND c.IDTipoChecada NOT IN ('EC','SC')
    WHERE tve.Vigente = 1
        AND ie.IDIncidencia IS NULL
        AND c.IDChecada IS NOT NULL
        AND e.RequiereChecar = 1
        AND e.PagarTiempoExtra = 1
        AND DATEPART(weekday, tve.Fecha) IN (1,7) -- sábado o domingo
    GROUP BY e.IDEmpleado, tve.Fecha, HE.IDHorario, I.Autorizar
    HAVING Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), MAX(c.Fecha)) > CAST(@TiempoExtraJornadaMinima AS time);

    ----------------------------- 
    -- ENTRE SEMANA (lunes a viernes) → AE y DS como antes
    -----------------------------
    -- AE
    INSERT INTO Asistencia.tblIncidenciaEmpleado(
        IDEmpleado, IDIncidencia, Fecha, TiempoSugerido, TiempoAutorizado, 
        CreadoPorIDUsuario, Autorizado, AutorizadoPor, FechaHoraAutorizacion, FechaHoraCreacion,
        HorarioAD, IDHorario, Entrada, Salida
    )
    SELECT 
        e.IDEmpleado,
        'EX' AS IDIncidencia,
        tve.Fecha AS Fecha,
        CASE 
            WHEN MIN(c.Fecha) < (CAST(CAST(tve.Fecha AS date) AS datetime) + CAST(h.HoraEntrada AS datetime))
                THEN Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), CAST(CAST(tve.Fecha AS date) AS datetime) + CAST(h.HoraEntrada AS datetime))
            ELSE '00:00:00.000'
        END AS TiempoSugerido,
        CASE 
            WHEN MIN(c.Fecha) < (CAST(CAST(tve.Fecha AS date) AS datetime) + CAST(h.HoraEntrada AS datetime))
                THEN Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), CAST(CAST(tve.Fecha AS date) AS datetime) + CAST(h.HoraEntrada AS datetime))
            ELSE '00:00:00.000'
        END AS TiempoAutorizado,
        @IDUsuario AS CreadoPorIDUsuario,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN 1 ELSE 0 END AS Autorizado,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN @IDUsuario ELSE NULL END AS AutorizadoPor,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN GETDATE() ELSE NULL END AS FechaHoraAutorizacion,
        GETDATE() AS FechaHoraCreacion,
        'AE' AS HorarioAD,
        HE.IDHorario,
        MIN(c.Fecha),
        MAX(c.Fecha)
    FROM @dtVigenciaEmpleados tve
        INNER JOIN @dtEmpleados e ON tve.IDEmpleado = e.IDEmpleado
        INNER JOIN @dtHorariosEmpleados HE ON HE.Fecha = tve.Fecha AND HE.IDEmpleado = tve.IDEmpleado
        INNER JOIN Asistencia.tblCatHorarios h WITH (NOLOCK) ON h.IDHorario = HE.IDHorario
        INNER JOIN #tempCatIncidencias I ON I.IDIncidencia = 'EX'
        LEFT JOIN @dtIncidenciasEmpleados ie 
            ON ie.Fecha = tve.Fecha  
            AND ie.IDEmpleado = e.IDEmpleado  
            AND ie.IDIncidencia = 'EX'
            AND ie.HorarioAD = 'AE'
        LEFT JOIN @dtChecadas c
            ON c.FechaOrigen = tve.Fecha 
            AND c.IDEmpleado = e.IDEmpleado
            AND c.IDTipoChecada NOT IN ('EC','SC')
    WHERE tve.Vigente = 1
        AND ie.IDIncidencia IS NULL
        AND c.IDChecada IS NOT NULL
        AND e.RequiereChecar = 1
        AND e.PagarTiempoExtra = 1
        AND DATEPART(weekday, tve.Fecha) NOT IN (1,7) -- lunes a viernes
    GROUP BY e.IDEmpleado, tve.Fecha, h.HoraEntrada, I.Autorizar, HE.IDHorario
    HAVING MIN(c.Fecha) < (CAST(CAST(tve.Fecha AS date) AS datetime) + CAST(h.HoraEntrada AS datetime))
        AND Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), MAX(c.Fecha)) > CAST(@TiempoExtraJornadaMinima AS time)
        AND Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), (CAST(CAST(tve.Fecha AS date) AS datetime) + CAST(h.HoraEntrada AS datetime))) > CAST(@TiempoExtraAE AS time);

    -- DS
    INSERT INTO Asistencia.tblIncidenciaEmpleado(
        IDEmpleado, IDIncidencia, Fecha, TiempoSugerido, TiempoAutorizado, 
        CreadoPorIDUsuario, Autorizado, AutorizadoPor, FechaHoraAutorizacion, FechaHoraCreacion,
        HorarioAD, IDHorario, Entrada, Salida
    )
    SELECT 
        e.IDEmpleado,
        'EX' AS IDIncidencia,
        tve.Fecha AS Fecha,
        CASE 
            WHEN MAX(c.Fecha) > (CAST(CASE WHEN H.HoraEntrada < H.HoraSalida THEN CAST(tve.Fecha AS date) ELSE DATEADD(DAY,1,CAST(tve.Fecha AS date)) END AS datetime) + CAST(h.HoraSalida AS datetime))
                THEN Asistencia.fnTimeDiffWithDatetimes((CAST(CASE WHEN H.HoraEntrada < H.HoraSalida THEN CAST(tve.Fecha AS date) ELSE DATEADD(DAY,1,CAST(tve.Fecha AS date)) END AS datetime) + CAST(h.HoraSalida AS datetime)), MAX(c.Fecha))
        END AS TiempoSugerido,
        CASE 
            WHEN MAX(c.Fecha) > (CAST(CASE WHEN H.HoraEntrada < H.HoraSalida THEN CAST(tve.Fecha AS date) ELSE DATEADD(DAY,1,CAST(tve.Fecha AS date)) END AS datetime) + CAST(h.HoraSalida AS datetime))
                THEN Asistencia.fnTimeDiffWithDatetimes((CAST(CASE WHEN H.HoraEntrada < H.HoraSalida THEN CAST(tve.Fecha AS date) ELSE DATEADD(DAY,1,CAST(tve.Fecha AS date)) END AS datetime) + CAST(h.HoraSalida AS datetime)), MAX(c.Fecha))
        END AS TiempoAutorizado,
        @IDUsuario AS CreadoPorIDUsuario,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN 1 ELSE 0 END AS Autorizado,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN @IDUsuario ELSE NULL END AS AutorizadoPor,
        CASE WHEN ISNULL(I.Autorizar,0) = 0 THEN GETDATE() ELSE NULL END AS FechaHoraAutorizacion,
        GETDATE() AS FechaHoraCreacion,
        'DS' AS HorarioAD,
        HE.IDHorario,
        MIN(c.Fecha),
        MAX(c.Fecha)
    FROM @dtVigenciaEmpleados tve
        INNER JOIN @dtEmpleados e ON tve.IDEmpleado = e.IDEmpleado
        INNER JOIN @dtHorariosEmpleados HE ON HE.Fecha = tve.Fecha AND HE.IDEmpleado = tve.IDEmpleado
        INNER JOIN Asistencia.tblCatHorarios H WITH (NOLOCK) ON H.IDHorario = HE.IDHorario
        INNER JOIN #tempCatIncidencias I ON I.IDIncidencia = 'EX'
        LEFT JOIN @dtIncidenciasEmpleados ie 
            ON ie.Fecha = tve.Fecha  
            AND ie.IDEmpleado = e.IDEmpleado  
            AND ie.IDIncidencia = 'EX'
            AND ie.HorarioAD = 'DS'
        LEFT JOIN @dtChecadas c
            ON c.FechaOrigen = tve.Fecha 
            AND c.IDEmpleado = e.IDEmpleado
            AND c.IDTipoChecada NOT IN ('EC','SC')
    WHERE tve.Vigente = 1
        AND ie.IDIncidencia IS NULL
        AND c.IDChecada IS NOT NULL
        AND e.RequiereChecar = 1
        AND e.PagarTiempoExtra = 1
        AND DATEPART(weekday, tve.Fecha) NOT IN (1,7) -- lunes a viernes
    GROUP BY e.IDEmpleado, tve.Fecha, h.HoraSalida, H.HoraEntrada, I.Autorizar, HE.IDHorario
    HAVING MAX(c.Fecha) > (CAST(CASE WHEN H.HoraEntrada < H.HoraSalida THEN CAST(tve.Fecha AS date) ELSE DATEADD(DAY,1,CAST(tve.Fecha AS date)) END AS datetime) + CAST(h.HoraSalida AS datetime))
        AND Asistencia.fnTimeDiffWithDatetimes(MIN(c.Fecha), MAX(c.Fecha)) > CAST(@TiempoExtraJornadaMinima AS time)
        AND Asistencia.fnTimeDiffWithDatetimes((CAST(CASE WHEN H.HoraEntrada < H.HoraSalida THEN CAST(tve.Fecha AS date) ELSE DATEADD(DAY,1,CAST(tve.Fecha AS date)) END AS datetime) + CAST(h.HoraSalida AS datetime)), MAX(c.Fecha)) > CAST(@TiempoExtraDS AS time);

END
GO
