USE [p_adagioRHSurfax]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [RH].[spBuscarControlAltasEmpleadosMini](
    @IDControlAltasEmpleados INT = 0,    
    @IDTipoAltaEmpleado INT = 0,
    @IDEstatusControlAltasEmpleados INT = 0,
    @IDUsuario INT = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 2147483647,
    @query VARCHAR(100) = '""',
    @orderByColumn VARCHAR(50) = 'FechaCreacion',
    @orderDirection VARCHAR(4) = 'desc'

)
AS
BEGIN
    DECLARE 
        @TotalPaginas INT = 0,
        @IDIdioma VARCHAR(20),
        @TotalRegistros INT;

    select @IDIdioma=App.fnGetPreferencia('Idioma', @IDUsuario, 'esmx')

    IF (ISNULL(@PageNumber, 0) = 0) SET @PageNumber = 1;
    IF (ISNULL(@PageSize, 0) = 0) SET @PageSize = 2147483647;

    SELECT
        @orderByColumn = CASE WHEN @orderByColumn IS NULL THEN 'FechaCreacion' ELSE @orderByColumn END,
        @orderDirection = CASE WHEN @orderDirection IS NULL THEN 'desc' ELSE @orderDirection END;

    IF OBJECT_ID('tempdb..#TempFiltros') IS NOT NULL DROP TABLE #TempFiltros;
    IF OBJECT_ID('tempdb..#TempResponse') IS NOT NULL DROP TABLE #TempResponse;


	set @query = case 
		when @query is null then '""' 
		when @query = '' then '""'
		when @query = '""' then '""'
	else '"'+@query + '*"' end


    SELECT
        Cae.IDControlAltasEmpleados
         , Cae.IDTipoAltaEmpleado
         , Cae.IDEstatusControlAltasEmpleados
         , UPPER(JSON_VALUE(TAE.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Nombre'))) as TipoAltaEmpleado 
         , UPPER(JSON_VALUE(ECA.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Nombre'))) as EstatusControlAltasEmpleados
         , Utilerias.GetInfoUsuarioEmpleadoFotoAvatar(0,CAE.IDUsuario) as UsuarioEmpleadoFotoAvatar
         , CAE.FechaCreacion
         , CAE.IDCliente
         , CASE 
               WHEN LTRIM(RTRIM(COALESCE(cae.Paterno,'') + ' ' + COALESCE(cae.Materno,'') + ' ' + COALESCE(cae.Nombre,'') + ' ' + COALESCE(cae.SegundoNombre,''))) = ''
               THEN 'SIN CAPTURAR'
               ELSE LTRIM(RTRIM(COALESCE(cae.Paterno,'') + ' ' + COALESCE(cae.Materno,'') + ' ' + COALESCE(cae.Nombre,'') + ' ' + COALESCE(cae.SegundoNombre,'')))
           END as NombreCompleto
         , JSON_VALUE(C.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'NombreComercial')) as Cliente
    INTO #TempResponse
    FROM RH.tblControlAltasEmpleados CAE WITH (NOLOCK)
        LEFT JOIN RH.tblEmpleadosMaster E
        ON E.IDEmpleado = cae.IDEmpleado
        INNER JOIN RH.tblCatTipoAltaEmpleado TAE
        ON TAE.IDTipoAltaEmpleado = CAE.IDTipoAltaEmpleado
        INNER JOIN RH.tblCatEstatusControlAltasEmpleados ECA
        ON ECA.IDEstatusControlAltasEmpleados = CAE.IDEstatusControlAltasEmpleados
        INNER JOIN RH.tblCatClientes C
        ON C.IDCliente = CAE.IDCliente
        INNER JOIN Seguridad.tblUsuarios U
        ON U.IDUsuario = CAE.IDUsuario
    WHERE (cae.IDControlAltasEmpleados = @IDControlAltasEmpleados OR @IDControlAltasEmpleados = 0)
        AND (cae.IDTipoAltaEmpleado = @IDTipoAltaEmpleado OR @IDTipoAltaEmpleado = 0)
        AND (cae.IDEstatusControlAltasEmpleados = @IDEstatusControlAltasEmpleados OR @IDEstatusControlAltasEmpleados = 0)        

        AND ( 
			
			(@query = '""' or contains(C.*, @query)) OR
			(@query = '""' or contains(U.*, @query)) OR		
			(@query = '""' or contains(TAE.*, @query)) 
		) 

    -- Calcular paginación
    SELECT @TotalPaginas = CEILING(CAST(COUNT(*) AS DECIMAL(20,2)) / CAST(@PageSize AS DECIMAL(20,2)))
    FROM #TempResponse;

    SELECT @TotalRegistros = COUNT(IDControlAltasEmpleados)
    FROM #TempResponse;

    -- Retornar resultados con paginación
    SELECT *
        , TotalPaginas = CASE WHEN @TotalPaginas = 0 THEN 1 ELSE @TotalPaginas END
        , ISNULL(@TotalRegistros, 0) AS TotalRegistros
    FROM #TempResponse
    ORDER BY 
        CASE WHEN @orderByColumn = 'FechaCreacion' AND @orderDirection = 'asc' THEN FechaCreacion END ASC,
        CASE WHEN @orderByColumn = 'FechaCreacion' AND @orderDirection = 'desc' THEN FechaCreacion END DESC,
        CASE WHEN @orderByColumn = 'IDControlAltasEmpleados' AND @orderDirection = 'asc' THEN IDControlAltasEmpleados END ASC,
        CASE WHEN @orderByColumn = 'IDControlAltasEmpleados' AND @orderDirection = 'desc' THEN IDControlAltasEmpleados END DESC
    OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY
    OPTION
    (RECOMPILE);
END;
GO
