USE [p_adagioRHSurfax]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Normaliza la información de periodos de nomina
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-06-16
** Paremetros		: @IDPeriodo
** IDAzure			: 

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [InfoDir].[spEjecutarNormalizacionPeriodosNomina]
(
	@IDPeriodo	INT
)
AS
	BEGIN

	 SET NOCOUNT ON;
		
		SET LANGUAGE 'spanish'

		-- ELIMINAR NORMALIZACION
		DELETE [InfoDir].[tblPeriodosNominaNormalizados] WHERE IDPeriodo = @IDPeriodo;


		DECLARE @TblPeriodosNomina TABLE
		(
			FechaNormalizacion				DATE
			, IDPeriodo						INT
			, IDTipoPeriodo					INT
			, IDPeriodicidadPago			INT
			, IDConcepto					INT
			, IDTipoConcepto				INT
			, ImporteGravado				DECIMAL(18,2)
			, ImporteExcento				DECIMAL(18,2)
			, Importetotal1					DECIMAL(18,2)
			, IDEmpleado					INT
			, IDGenero						VARCHAR(1)
			, IDRangoEdad					INT
			, IDRangoAntiguedad				INT
			, IDGeneracion					INT		
			, IDCliente						INT
			, IDRazonSocial					INT
			, IDRegPatronal					INT
			, IDCentroCosto					INT
			, IDDepartamento				INT
			, IDArea						INT
			, IDPuesto						INT			
			, IDSucursal					INT
			, IDDivision					INT
			, IDRegion						INT
			, IDClasificacionCorporativa	INT
			, IDTipoNomina					INT			
		);
		

		-- OBTIENE EL DETALLE E HISTORIAL DEL PERIODO Y DEL COLABORADOR
		;WITH TblPeriodosDetalle
		(
			FechaNormalizacion
			, IDPeriodo
			, IDTipoPeriodo
			, IDPeriodicidadPago
			, IDConcepto
			, IDTipoConcepto
			, ImporteGravado
			, ImporteExcento
			, Importetotal1
			, IDEmpleado
			, IDGenero
			, Edad
			, AntiguedadEnMeses
			, IDGeneracion
			, IDCliente
			, IDRazonSocial
			, IDRegPatronal
			, IDCentroCosto
			, IDDepartamento
			, IDArea
			, IDPuesto
			, IDSucursal
			, IDDivision
			, IDRegion
			, IDClasificacionCorporativa
			, IDTipoNomina
		)
		AS
		(
			SELECT CAST(CONCAT(P.Ejercicio, RIGHT('0' + CAST(P.IDMes AS VARCHAR), 2), '01') AS DATE) AS FechaNormalizacion
					, P.IDPeriodo
					, CASE
						WHEN P.General	 = 1 THEN 1
						WHEN P.Finiquito = 1 THEN 2
						WHEN p.Especial  = 1 THEN 3
						ELSE 4
					  END AS IDTipoPeriodo
					, TN.IDPeriodicidadPago
					, DP.IDConcepto
					, C.IDTipoConcepto
					, DP.ImporteGravado
					, DP.ImporteExcento
					, DP.Importetotal1
					, DP.IDEmpleado
					, E.Sexo AS IDGenero
					, (CASE WHEN DATEDIFF(YEAR, M.FechaNacimiento, P.FechaInicioPago) <= 0 THEN 0 ELSE DATEDIFF(YEAR, M.FechaNacimiento, P.FechaInicioPago) END) AS Edad
					, (CASE WHEN DATEDIFF(MONTH, M.FechaAntiguedad, P.FechaInicioPago) <= 0 THEN 0 ELSE DATEDIFF(MONTH, M.FechaAntiguedad, P.FechaInicioPago) END) AS AntiguedadEnMeses
					, (SELECT TOP 1 TCG.IDGeneracion FROM [RH].[tblCatGeneraciones] TCG WHERE YEAR(E.FechaNacimiento) BETWEEN TCG.[Min] AND TCG.[Max]) AS IDGeneracion
					, HEP.IDCliente
					, HEP.IDRazonSocial
					, HEP.IDRegPatronal
					, HEP.IDCentroCosto
					, HEP.IDDepartamento
					, HEP.IDArea
					, HEP.IDPuesto
					, HEP.IDSucursal
					, HEP.IDDivision
					, HEP.IDRegion
					, HEP.IDClasificacionCorporativa
					, P.IDTipoNomina
			FROM [Nomina].[tblCatPeriodos]						P   WITH(NOLOCK)
				JOIN [Nomina].[tblCatTipoNomina]				TN  WITH(NOLOCK) ON TN.IDTipoNomina	= P.IDTipoNomina
				JOIN [NOMINA].[tblDetallePeriodo]				DP  WITH(NOLOCK) ON DP.IDPeriodo	= P.IDPeriodo
				JOIN [Nomina].[tblCatConceptos]					C   WITH(NOLOCK) ON C.IDConcepto	= DP.IDConcepto
				JOIN [Nomina].[tblHistorialesEmpleadosPeriodos] HEP WITH(NOLOCK) ON HEP.IDEmpleado	= DP.IDEmpleado AND HEP.IDPeriodo = P.IDPeriodo
				JOIN RH.tblEmpleados							E	WITH(NOLOCK) ON DP.IDEmpleado	= E.IDEmpleado
				JOIN RH.tblEmpleadosMaster						M	WITH(NOLOCK) ON DP.IDEmpleado	= M.IDEmpleado
			WHERE P.IDPeriodo = @IDPeriodo
		)
		INSERT INTO @TblPeriodosNomina
		SELECT FechaNormalizacion
				, IDPeriodo
				, IDTipoPeriodo
				, IDPeriodicidadPago
				, IDConcepto
				, IDTipoConcepto
				, ImporteGravado
				, ImporteExcento
				, Importetotal1
				, IDEmpleado
				, IDGenero
				
				, CASE										-- SELECT * FROM [RH].[tblRangos] WHERE IDTipoRango = 2
					WHEN Edad BETWEEN 21 AND 25 THEN 202	-- Entre 21 y 25 Años
					WHEN Edad BETWEEN 26 AND 30 THEN 203	-- Entre 26 y 30 Años
					WHEN Edad BETWEEN 31 AND 35 THEN 204	-- Entre 31 y 35 Años
					WHEN Edad BETWEEN 36 AND 40 THEN 205	-- Entre 36 y 40 Años
					WHEN Edad BETWEEN 41 AND 50 THEN 206	-- Entre 41 y 50 Años
					WHEN Edad >= 51 THEN 207				-- Más de 51 Años
					ELSE 201								-- Menor de 21 Años
				END AS IDRangoEdad

				, CASE														-- SELECT * FROM [RH].[tblRangos] WHERE IDTipoRango = 1
					WHEN AntiguedadEnMeses BETWEEN 6 AND 12		THEN 102	-- Entre 6 Meses y 1 Año
					WHEN AntiguedadEnMeses BETWEEN 13 AND 18	THEN 103	-- Entre 1 y 1.5 Años
					WHEN AntiguedadEnMeses BETWEEN 18 AND 24	THEN 104	-- Entre 1.5 y 2 Años
					WHEN AntiguedadEnMeses >= 25				THEN 105	-- Más de 2 Años
					ELSE 101												-- Menos de 6 Meses
				END AS IDRangoAntiguedad
								
				, ISNULL(IDGeneracion, 0) AS IDGeneracion
				, ISNULL(IDCliente, 0) AS IDCliente
				, ISNULL(IDRazonSocial, 0) AS IDRazonSocial
				, ISNULL(IDRegPatronal, 0) AS IDRegPatronal
				, ISNULL(IDCentroCosto, 0) AS IDCentroCosto
				, ISNULL(IDDepartamento, 0) AS IDDepartamento
				, ISNULL(IDArea, 0) AS IDArea
				, ISNULL(IDPuesto, 0) AS IDPuesto
				, ISNULL(IDSucursal, 0) AS IDSucursal
				, ISNULL(IDDivision, 0) AS IDDivision
				, ISNULL(IDRegion, 0) AS IDRegion
				, ISNULL(IDClasificacionCorporativa, 0) AS IDClasificacionCorporativa
				, ISNULL(IDTipoNomina, 0) AS IDTipoNomina
		FROM TblPeriodosDetalle


		-- RESULTADO FINAL
		INSERT INTO [InfoDir].[tblPeriodosNominaNormalizados]
		SELECT PN.FechaNormalizacion
				, DATEPART(WEEK, PN.FechaNormalizacion)					AS Semana
				, DATEPART(MONTH, PN.FechaNormalizacion)				AS IDMes
				, DATENAME(MONTH, PN.FechaNormalizacion)				AS Mes
				, DATEPART(YEAR, PN.FechaNormalizacion)					AS Anio
				, PN.IDPeriodo
				, ISNULL(PE.ClavePeriodo + ' - ' + PE.Descripcion, '')	AS PeriodoNomina
				, PN.IDTipoPeriodo
				, TP.Traduccion AS TipoPeriodo
				, PN.IDPeriodicidadPago
				, ISNULL(PP.Descripcion, '')							AS PeriodicidadPago
				, PN.IDConcepto
				, ISNULL(TC.Descripcion, '')							AS Concepto
				, PN.IDTipoConcepto
				, ISNULL(TTC.Descripcion, '')							AS TipoConcepto
				, PN.ImporteGravado
				, PN.ImporteExcento
				, PN.Importetotal1
				, PN.IDEmpleado
				, ISNULL(EM.NOMBRECOMPLETO, '')							AS Empleado
				, PN.IDGenero
				, GE.Traduccion											AS Genero
				, PN.IDRangoEdad
				, ISNULL(RGE.Descripcion, '')							AS RangoEdad
				, PN.IDRangoAntiguedad
				, ISNULL(RGA.Descripcion, '')							AS RangoAntiguedad
				, PN.IDGeneracion
				, ISNULL(GN.Descripcion, '')							AS Generacion
				, PN.IDCliente
				, CL.Traduccion											AS NombreComercial
				, PN.IDRazonSocial
				, ISNULL(RS.RFC + ' - ' + RS.NombreComercial, '')		AS RazonSocial
				, PN.IDRegPatronal
				, ISNULL(RP.RazonSocial, '')							AS RegistroPatronal
				, PN.IDCentroCosto
				, CC.Traduccion											AS CentroCosto
				, PN.IDDepartamento
				, DE.Traduccion											AS Departamento
				, PN.IDArea
				, AR.Traduccion											AS Area
				, PN.IDPuesto
				, PU.Traduccion											AS Puesto
				, PN.IDSucursal
				, ISNULL(SU.Descripcion, '')							AS Sucursal
				, PN.IDDivision
				, DI.Traduccion											AS Division
				, PN.IDRegion
				, RE.Traduccion											AS Region
				, PN.IDClasificacionCorporativa
				, ISNULL(CSC.Descripcion, '')							AS ClasificacionCorporativa
				, PN.IDTipoNomina
				, ISNULL(TN.Descripcion, '')							AS TipoNomina
		FROM @TblPeriodosNomina PN
			LEFT JOIN [Nomina].[tblCatPeriodos]					PE ON PN.IDPeriodo					= PE.IDPeriodo
			LEFT JOIN [Nomina].[tblCatTiposPeriodos]			TP ON PN.IDTipoPeriodo				= TP.IDTipoPeriodo
			LEFT JOIN [Sat].[tblCatPeriodicidadesPago]			PP ON PN.IDPeriodicidadPago			= PP.IDPeriodicidadPago
			LEFT JOIN [Nomina].[tblCatConceptos]				TC ON PN.IDConcepto					= TC.IDConcepto
			LEFT JOIN [Nomina].[tblCatTipoConcepto]			   TTC ON PN.IDTipoConcepto				= TTC.IDTipoConcepto
			LEFT JOIN [RH].[tblEmpleadosMaster]					EM ON PN.IDEmpleado					= EM.IDEmpleado
			LEFT JOIN [RH].[tblCatGeneros]						GE ON PN.IDGenero					= GE.IDGenero
			LEFT JOIN [RH].[tblRangos]						   RGE ON PN.IDRangoEdad				= RGE.IDRango AND RGE.IDTipoRango = 2
			LEFT JOIN [RH].[tblRangos]						   RGA ON PN.IDRangoAntiguedad			= RGA.IDRango AND RGA.IDTipoRango = 1
			LEFT JOIN [RH].[tblCatGeneraciones]					GN ON PN.IDGeneracion				= GN.IDGeneracion
			LEFT JOIN [RH].[tblCatClientes]						CL ON PN.IDCliente					= CL.IDCliente
			LEFT JOIN [RH].[tblEmpresa]							RS ON PN.IDRazonSocial				= RS.IdEmpresa
			LEFT JOIN [RH].[tblCatRegPatronal]					RP ON PN.IDRegPatronal				= RP.IDRegPatronal
			LEFT JOIN [RH].[tblCatCentroCosto]					CC ON PN.IDCentroCosto				= CC.IDCentroCosto
			LEFT JOIN [RH].[tblCatDepartamentos]				DE ON PN.IDDepartamento				= DE.IDDepartamento
			LEFT JOIN [RH].[tblCatArea]							AR ON PN.IDArea						= AR.IDArea
			LEFT JOIN [RH].[tblCatPuestos]						PU ON PN.IDPuesto					= PU.IDPuesto
			LEFT JOIN [RH].[tblCatSucursales]					SU ON PN.IDSucursal					= SU.IDSucursal
			LEFT JOIN [RH].[tblCatDivisiones]					DI ON PN.IDDivision					= DI.IDDivision
			LEFT JOIN [RH].[tblCatRegiones]						RE ON PN.IDRegion					= RE.IDRegion
			LEFT JOIN [RH].[tblCatClasificacionesCorporativas] CSC ON PN.IDClasificacionCorporativa = CSC.IDClasificacionCorporativa
			LEFT JOIN [Nomina].[tblCatTipoNomina]				TN ON PN.IDTipoNomina				= TN.IDTipoNomina

	END
GO
