USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE Nomina.spMoverFiniquitoPeriodo
(
	@IDFiniquito int,
	@IDPeriodoOrigen int,
	@IDPeriodoDestino int,
	@Motivo Varchar(MAX),
	@IDUsuario int
)
AS
BEGIN
	DECLARE @IDHistorialEmpleadoPeriodo int,
		@IDEstatusFiniquito int,
		@bEstadoPeriodoOrigen bit,
		@bEstadoPeriodoDestino bit,
		@ExistenciaFiniquitoPeriodoDestino bit,
		@IDEmpleado int,
		@OldJSON Varchar(Max),
		@NewJSON Varchar(Max),
		@CuentaUsuario Varchar(MAX),
		@NombreCompletoUsuario Varchar(MAX),
		@ClavePeriodoOrigen Varchar(MAX),
		@DescripcionPeriodoOrigen Varchar(MAX),
		@ClavePeriodoDestino Varchar(MAX),
		@DescripcionPeriodoDestino Varchar(MAX),
		@ErrorMessageTransaction VARCHAR(255)
		;
	/*DATOS BITACORA*/
		SELECT @CuentaUsuario = Cuenta
			,@NombreCompletoUsuario = ISNULL(Nombre,'') +' '+ISNULL(Apellido,'')
		FROM Seguridad.tblUsuarios WITH(NOLOCK)
		WHERE IDUsuario = @IDUsuario

		SELECT @ClavePeriodoOrigen = ClavePeriodo
			,@DescripcionPeriodoOrigen = Descripcion
		FROM Nomina.tblCatPeriodos
		WHERE IDPeriodo = @IDPeriodoOrigen

		SELECT @ClavePeriodoDestino = ClavePeriodo
			,@DescripcionPeriodoDestino = Descripcion
		FROM Nomina.tblCatPeriodos
		WHERE IDPeriodo = @IDPeriodoDestino


	/*DATOS BITACORA*/

	

	/*PROCEDIMIENTO EJECUTANDO*/
	SELECT @IDEmpleado = IDEmpleado ,
		@IDEstatusFiniquito = IDEStatusFiniquito
	FROM Nomina.tblControlFiniquitos  WITH(NOLOCK)
	where IDFiniquito = @IDFiniquito

	IF(@IDEstatusFiniquito = 2)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El Finiquito esta en estatus APLICADO. ',16,1);
		RETURN
	END

	SELECT @IDHistorialEmpleadoPeriodo = IDHistorialEmpleadoPeriodo 
	FROM Nomina.tblHistorialesEmpleadosPeriodos WITH(NOLOCK)
	WHERE IDPeriodo = @IDPeriodoOrigen
	AND IDEmpleado = @IDEmpleado

	IF(
		ISNULL((SELECT top 1 IDEstatusTimbrado 
		FROM Facturacion.TblTimbrado WITH(NOLOCK)
		WHERE IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo
		and Actual = 1),0) = 2)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El folio fiscal relacionado a este Finiquito esta en estatus TIMBRADO. ',16,1);
		RETURN
	END
	
	IF(ISNULL((
		SELECT TOP 1 Finiquito FROM Nomina.tblCatPeriodos WITH(NOLOCK)
		where IDPeriodo = @IDPeriodoDestino),0) <> 1)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El periodo de destino para este Finiquito no de tipo FINIQUITO. ',16,1);
		RETURN
	END


	
	IF(ISNULL((
		SELECT TOP 1 Cerrado FROM Nomina.tblCatPeriodos WITH(NOLOCK)
		where IDPeriodo = @IDPeriodoDestino),0) = 1)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El periodo de destino para este Finiquito esta en estatus CERRADO. ',16,1);
		RETURN
	END

		
	IF(ISNULL((
		SELECT TOP 1 Cerrado FROM Nomina.tblCatPeriodos WITH(NOLOCK)
		where IDPeriodo = @IDPeriodoOrigen),0) = 1)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El periodo de origen para este Finiquito esta en estatus CERRADO. ',16,1);
		RETURN
	END

	IF(@IDPeriodoOrigen = @IDPeriodoDestino)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El periodo de origen y destino son los mismos. ',16,1);
		RETURN
	END



	IF EXISTS(
		SELECT TOP 1 1 FROM NOMINA.tblControlFiniquitos WITH(NOLOCK)
		WHERE IDPeriodo = @IDPeriodoDestino
		and IDEmpleado = @IDEmpleado)
	BEGIN
		RAISERROR('No se puede realizar el movimiento de periodo del finiquito seleccionado. El periodo de destino para este Finiquito ya contiene un finiquito para este colaborador. ',16,1);
		RETURN
	END

	BEGIN TRY
		BEGIN TRAN TRANMOVFINIQUITO
			UPDATE Nomina.tblControlFiniquitos
				SET IDPeriodo = @IDPeriodoDestino
			WHERE IDFiniquito = @IDFiniquito

			UPDATE Nomina.tblDetallePeriodo
				SET IDPeriodo = @IDPeriodoDestino
			WHERE IDPeriodo = @IDPeriodoOrigen
			and IDEmpleado = @IDEmpleado

			UPDATE Nomina.tblDetallePeriodoFiniquito
				SET IDPeriodo = @IDPeriodoDestino
			WHERE IDPeriodo = @IDPeriodoOrigen
			and IDEmpleado = @IDEmpleado

			UPDATE Nomina.tblHistorialesEmpleadosPeriodos
				SET IDPeriodo = @IDPeriodoDestino
			WHERE IDPeriodo = @IDPeriodoOrigen
			AND IDEmpleado = @IDEmpleado

		
		


		select @NewJSON = (SELECT ISNULL(@CuentaUsuario,'') as Cuenta
								,ISNULL(@NombreCompletoUsuario,'') as NombreCompleto
								,ISNULL(@ClavePeriodoOrigen,'') ClavePeriodoOrigen
								,ISNULL(@DescripcionPeriodoOrigen,'') as DescripcionPeriodoOrigen
								,ISNULL(@ClavePeriodoDestino,'') as ClavePeriodoDestino
								,ISNULL(@DescripcionPeriodoDestino,'') as DescripcionPeriodoDestino
								,ISNULL(@Motivo,'') as Motivo
                            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)


		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[Nomina].[tblControlFiniquitos]','[Nomina].[spMoverFiniquitoPeriodo]','UPDATE',@NewJSON,@OldJSON

		 
		COMMIT TRAN TRANMOVFINIQUITO
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN TRANMOVFINIQUITO
		SELECT @ErrorMessageTransaction = ERROR_MESSAGE();

		RAISERROR(@ErrorMessageTransaction,16,1);
		RETURN;

	END CATCH
END
GO
