USE [p_adagioRHBelmondCSN]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************** 
** Descripción		: Obtiene el conteo de las incidencias
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-06-20
** Parametros		: @IDMetrica		Identificador de la metrica
**					: @JsonFiltros		Filtros que aplican a la metrica
**					: @IDPeriodo		Identificador del periodo de tiempo
**					: @FechaDe			Fecha inicial personalizada
**					: @FechaHasta		Fecha fin personalizada
** IDAzure			:

** DataTypes Relacionados:
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [InfoDir].[spMetricaConteoIncidencias]
(
	@IDMetrica		INT
	, @JsonFiltros	NVARCHAR(MAX)
	, @IDPeriodo	INT
	, @FechaDe		DATE
	, @FechaHasta	DATE
)
AS
	BEGIN
		
		DECLARE @dtFiltros		[Nomina].[dtFiltrosRH]
				, @Condicion	VARCHAR(MAX)
				, @Qry			NVARCHAR(MAX)				
				;


		-- ELIMINAMOS LAS TABLAS TEMPORALES
		IF OBJECT_ID('tempdb..#TblIncidencias') IS NOT NULL BEGIN DROP TABLE #TblIncidencias END


		CREATE TABLE #TblIncidencias 
		(
			[Dia]							DATE
			, [IDIncidenciaEmpleado]		INT
			, [IDIncidencia]				VARCHAR(10)
			, [IsAutorizado]				BIT
			, [IsAusentismo]				BIT
			, [IsGoceSueldo]				BIT
			, [IDTipoIncapacidad]			INT
			, [IDEmpleado]					INT
			, [IDGenero]					VARCHAR(1)
			, [IDRangoEdad]					INT
			, [IDRangoAntiguedad]			INT
			, [IDGeneracion]				INT
			, [IDCliente]					INT
			, [IDRazonSocial]				INT
			, [IDRegPatronal]				INT
			, [IDCentroCosto]				INT
			, [IDDepartamento]				INT
			, [IDArea]						INT
			, [IDPuesto]					INT
			, [IDTipoPrestacion]			INT
			, [IDSucursal]					INT
			, [IDDivision]					INT
			, [IDRegion]					INT
			, [IDClasificacionCorporativa]	INT
			, [IDTipoNomina]				INT
		);
		
		IF(@IDMetrica <> 0)
			BEGIN				
				-- CONSULTAMOS JSON(FILTROS) Y CONDICION DEL PERIODO DE METRICA
				SELECT @JsonFiltros = M.ConfiguracionFiltros, 
					   @Condicion = P.Condicion,
					   @FechaDe = M.FechaDe,
					   @FechaHasta = M.FechaHasta 
				FROM [InfoDir].[tblCatMetricas] M
					INNER JOIN [InfoDir].[tblCatPeriodos] P ON M.IDPeriodo = P.IDPeriodo
				WHERE M.IDMetrica = @IDMetrica
			END
		ELSE
			BEGIN
				-- CONSULTAMOS CONDICION DEL PERIODO DE METRICA
				SELECT @Condicion = P.Condicion 
				FROM [InfoDir].[tblCatPeriodos] P
				WHERE P.IDPeriodo = @IDPeriodo
			END


		-- FILTRAMOS POR PERIODICIDAD
		SET @Qry = N'INSERT INTO #TblIncidencias '
		SET @Qry = @Qry + 'SELECT FechaNormalizacion AS Dia, '
		SET @Qry = @Qry + 'IDIncidenciaEmpleado, '
		SET @Qry = @Qry + 'IDIncidencia, '
		SET @Qry = @Qry + 'IsAutorizado, '
		SET @Qry = @Qry + 'IsAusentismo, '
		SET @Qry = @Qry + 'IsGoceSueldo, '
		SET @Qry = @Qry + 'IDTipoIncapacidad, '		
		SET @Qry = @Qry + 'IDEmpleado, '
		SET @Qry = @Qry + 'IDGenero, '
		SET @Qry = @Qry + 'IDRangoEdad, '
		SET @Qry = @Qry + 'IDRangoAntiguedad, '
		SET @Qry = @Qry + 'IDGeneracion, '
		SET @Qry = @Qry + 'IDCliente, '
		SET @Qry = @Qry + 'IDRazonSocial, '
		SET @Qry = @Qry + 'IDRegPatronal, '
		SET @Qry = @Qry + 'IDCentroCosto, '
		SET @Qry = @Qry + 'IDDepartamento, '
		SET @Qry = @Qry + 'IDArea, '
		SET @Qry = @Qry + 'IDPuesto, '
		SET @Qry = @Qry + 'IDTipoPrestacion, '
		SET @Qry = @Qry + 'IDSucursal, '
		SET @Qry = @Qry + 'IDDivision, '
		SET @Qry = @Qry + 'IDRegion, '
		SET @Qry = @Qry + 'IDClasificacionCorporativa, '
		SET @Qry = @Qry + 'IDTipoNomina '
		SET @Qry = @Qry + 'FROM [InfoDir].[tblIncidenciasNormalizadas] '
		SET @Qry = @Qry + '' + @Condicion + ''		
		--SELECT @Qry
		EXEC SP_EXECUTESQL @Qry, N'@FechaDe DATE, @FechaHasta DATE', @FechaDe, @FechaHasta;
				

		-- CONVERTIMOS JSON A TABLA
		INSERT @dtFiltros(Catalogo, Value)
		SELECT *
		FROM OPENJSON(JSON_QUERY(@JsonFiltros,  '$.Filtros'))
		  WITH (
			catalogo NVARCHAR(50) '$.catalogo',
			valor NVARCHAR(50) '$.valor'
		  );
		  
		  
		-- OBTENEMOS PROMEDIO DE METRICA		
		SELECT COUNT(DISTINCT IDIncidenciaEmpleado) AS Resultado
				, (SELECT * FROM @dtFiltros FOR JSON PATH) AS Filtro
		FROM #TblIncidencias
		WHERE IDIncidenciaEmpleado > 0 AND
			 (
				IDIncidencia IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDIncidencia'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDIncidencia' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IsAutorizado IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IsAutorizado'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IsAutorizado' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IsAusentismo IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IsAusentismo'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IsAusentismo' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IsGoceSueldo IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IsGoceSueldo'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IsGoceSueldo' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDTipoIncapacidad IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDTipoIncapacidad'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDTipoIncapacidad' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDEmpleado IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDEmpleado'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDEmpleado' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDGenero IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDGenero'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDGenero' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRangoEdad IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRangoEdad'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRangoEdad' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRangoAntiguedad IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRangoAntiguedad'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRangoAntiguedad' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDGeneracion IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDGeneracion'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDGeneracion' AND ISNULL(Value, '') <> '')
					)
			 ) AND			 
			 (
				IDCliente IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDCliente'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDCliente' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRazonSocial IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRazonSocial'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRazonSocial' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRegPatronal IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRegPatronal'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRegPatronal' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDCentroCosto IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDCentroCosto'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDCentroCosto' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDDepartamento IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDDepartamento'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDDepartamento' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDArea IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDArea'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDArea' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDPuesto IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDPuesto'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDPuesto' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDTipoPrestacion IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDTipoPrestacion'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDTipoPrestacion' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDSucursal IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDSucursal'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDSucursal' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDDivision IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDDivision'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDDivision' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRegion IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRegion'),','))
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRegion' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDClasificacionCorporativa IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDClasificacionCorporativa'),','))
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDClasificacionCorporativa' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDTipoNomina IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDTipoNomina'),','))
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDTipoNomina' AND ISNULL(Value, '') <> '')
					)
			 )

	END
GO
