USE [p_adagioRHIndustrialMefi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Inserta las cuentas por activar.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-04-22
** Parametros		: @IDProyecto	Identificador del proyecto
**					: @IDUsuario	Identificador del usuario
** IDAzure			: #1533

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Seguridad].[spIActivarCuentas](
	@IDUsuario	INT = 0
	, @Key		NVARCHAR(MAX)
)
AS
	BEGIN

		DECLARE @ActiveAccountUrl		VARCHAR(MAX)
				, @BtnActivar_ESMX		VARCHAR(MAX)
				, @BtnActivar_ENUS		VARCHAR(MAX)
				, @BotonActivarCuenta	VARCHAR(MAX)
				, @IDEmpleado			INT = 0
				, @Email				VARCHAR(255)				
				, @IDActivacion			INT = 0	
				, @SI					INT = 1
				;			
		

		-- BUSCAMOS EMAIL
		SELECT @IDEmpleado = IDEmpleado FROM [Seguridad].[tblUsuarios] WHERE IDUsuario = @IDUsuario;
		SET @Email = [Utilerias].[fnGetCorreoEmpleado] (@IDEmpleado, @IDUsuario, 'ActivarCuenta');
		--SELECT @Email


		-- OBTENEMOS LA LIGA DONDE PODREMOS ACTIVA LA CUENTA (ESTA VIENE SIN EL QUERY PARAMETERS)
		SELECT TOP 1 @ActiveAccountUrl = Valor
		FROM [App].[tblConfiguracionesGenerales] WITH (NOLOCK)
		WHERE IDConfiguracion = 'ActiveAccountUrl';
		--SELECT @ActiveAccountUrl


		-- CREAMOS BOTONES - IDIOMAS
		SET @BtnActivar_ESMX = '<a href=' + @ActiveAccountUrl + @key + ' target="_blank" style="cursor: pointer;"><button style="background-color: #0073e6; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">ACTIVAR CUENTA</button></a>'
		SET @BtnActivar_ENUS = '<a href=' + @ActiveAccountUrl + @key + ' target="_blank" style="cursor: pointer;"><button style="background-color: #0073e6; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">ACTIVATE ACCOUNT</button></a>'
		--SELECT @BtnActivar_ESMX AS BtnActivar_ESMX, @BtnActivar_ENUS AS BtnActivar_ENUS


		SET @BotonActivarCuenta = '{"esmx": {"ValorDinamico": "' + REPLACE(REPLACE(@BtnActivar_ESMX, '"', '\"'), '''', '\"') + '"},"enus": {"ValorDinamico": "' + REPLACE(REPLACE(@BtnActivar_ENUS, '"', '\"'), '''', '\"') + '"}}';
		--SELECT @BotonActivarCuenta AS BotonActivarCuenta


		-- REGISTRAMOS LA ACTIVACION
		IF EXISTS(SELECT TOP 1 1 FROM [Seguridad].[tblUsuarios] WHERE IDUsuario = @IDUsuario)
			BEGIN			
				
				INSERT INTO [Seguridad].[tblActivarCuentas](BotonActivarCuenta, Email, EmailValid, IDUsuario)
				VALUES(@BotonActivarCuenta, @Email, [Utilerias].[fsValidarEmail](@Email), @IDUsuario);

				-- INSERTAMOS TAREA
				SET @IDActivacion = SCOPE_IDENTITY();
				EXEC [Seguridad].[spITareaActivarCuentaDeUsuario] @IDActivacion	= @IDActivacion	, @IDUsuario= @IDUsuario;

			END			

	END
GO
