USE [p_adagioRHAvilab]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [InfoDir].[tblMovimientosAfiliatoriosNormalizados](
	[FechaNormalizacion] [date] NULL,
	[Semana] [int] NULL,
	[IDMes] [int] NULL,
	[Mes] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Anio] [int] NULL,
	[IDMovAfiliatorio] [int] NULL,
	[IDTipoMovimiento] [int] NULL,
	[TipoMovimiento] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDEmpleado] [int] NULL,
	[Empleado] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDGenero] [varchar](1) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Genero] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDRangoEdad] [int] NULL,
	[RangoEdad] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDRangoAntiguedad] [int] NULL,
	[RangoAntiguedad] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDGeneracion] [int] NULL,
	[Generacion] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDCliente] [int] NULL,
	[NombreComercial] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDRazonSocial] [int] NULL,
	[RazonSocial] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDRegPatronal] [int] NULL,
	[RegistroPatronal] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDCentroCosto] [int] NULL,
	[CentroCosto] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDDepartamento] [int] NULL,
	[Departamento] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDArea] [int] NULL,
	[Area] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDPuesto] [int] NULL,
	[Puesto] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDTipoPrestacion] [int] NULL,
	[TipoPrestacion] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDSucursal] [int] NULL,
	[Sucursal] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDDivision] [int] NULL,
	[Division] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDRegion] [int] NULL,
	[Region] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDClasificacionCorporativa] [int] NULL,
	[ClasificacionCorporativa] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDTipoNomina] [int] NULL,
	[TipoNomina] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_InfoDirtblMovimientosAfiliatoriosNormalizados_FechaNormalizacion] ON [InfoDir].[tblMovimientosAfiliatoriosNormalizados]
(
	[FechaNormalizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
