USE [p_adagioRHOwen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************** 
** Descripción		: Buscar Horarios Empleados por fechas
** Autor			: Aneudy Abreu
** Email			: aneudy.abreu@adagio.com.mx
** FechaCreacion	: 2018-08-14
** Paremetros		:              
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor			Comentario
------------------- ------------------- ------------------------------------------------------------
2024-12-19		Sistema			Modificada columna TipoHorario para mostrar días configurados basados en bitmask
0000-00-00		NombreCompleto		¿Qué cambió?
***************************************************************************************************/
CREATE proc [Asistencia].[spBuscarHorariosEmpleados](
     @IDEmpleado int 
    ,@FechaInicio date 
    ,@FechaFin date 
    ,@IDUsuario int
) as

    SET DATEFIRST 7;

    declare @IDIdioma Varchar(5)
	   ,@IdiomaSQL varchar(100) = null;
 
    select @IDIdioma=App.fnGetPreferencia('Idioma', @IDUsuario, 'es-MX')

    select @IdiomaSQL = [SQL]
    from app.tblIdiomas
    where IDIdioma = @IDIdioma

    if (@IdiomaSQL is null or len(@IdiomaSQL) = 0)
    begin
	   set @IdiomaSQL = 'Spanish' ;
    end
  
    SET LANGUAGE @IdiomaSQL;

    SELECT he.IDHorarioEmpleado
		  ,he.IDEmpleado
		  , he.IDHorario
		  , h.Codigo as CodigoHorario
		  , h.Descripcion as Horario
		  , h.HoraEntrada
		  , h.HoraSalida
		  , he.Fecha
		  , SUBSTRING(datename(weekday, he.Fecha),1,3)  as Dia
		  , he.FechaHoraRegistro
          ,'EVENTO' as TipoHorario
    from [Asistencia].[tblHorariosEmpleados] he with (nolock)
	   join Asistencia.tblCatHorarios h with (nolock) on he.IDHorario = h.IDHorario
    where he.IDEmpleado = @IDEmpleado
	   and he.Fecha BETWEEN @FechaInicio and @FechaFin

    UNION 

SELECT      0 as IDHorarioEmpleado
		  , he.IDEmpleado
		  , he.IDHorario
		  , h.Codigo as CodigoHorario
		  , h.Descripcion as Horario
		  , h.HoraEntrada
		  , h.HoraSalida
		  , '9999-12-31' as Fecha
		  , 'NO APLICA'  as Dia
		  , he.FechaHoraRegistro
          ,'PERMANENTE - ' + CASE 
                WHEN he.ValorBitmask = 0 THEN 'Ningún día'
                ELSE 
                    LEFT(
                        CASE WHEN (he.ValorBitmask & 1) != 0 THEN 'Dom, ' ELSE '' END +
                        CASE WHEN (he.ValorBitmask & 2) != 0 THEN 'Lun, ' ELSE '' END +
                        CASE WHEN (he.ValorBitmask & 4) != 0 THEN 'Mar, ' ELSE '' END +
                        CASE WHEN (he.ValorBitmask & 8) != 0 THEN 'Mié, ' ELSE '' END +
                        CASE WHEN (he.ValorBitmask & 16) != 0 THEN 'Jue, ' ELSE '' END +
                        CASE WHEN (he.ValorBitmask & 32) != 0 THEN 'Vie, ' ELSE '' END +
                        CASE WHEN (he.ValorBitmask & 64) != 0 THEN 'Sáb, ' ELSE '' END,
                        LEN(
                            CASE WHEN (he.ValorBitmask & 1) != 0 THEN 'Dom, ' ELSE '' END +
                            CASE WHEN (he.ValorBitmask & 2) != 0 THEN 'Lun, ' ELSE '' END +
                            CASE WHEN (he.ValorBitmask & 4) != 0 THEN 'Mar, ' ELSE '' END +
                            CASE WHEN (he.ValorBitmask & 8) != 0 THEN 'Mié, ' ELSE '' END +
                            CASE WHEN (he.ValorBitmask & 16) != 0 THEN 'Jue, ' ELSE '' END +
                            CASE WHEN (he.ValorBitmask & 32) != 0 THEN 'Vie, ' ELSE '' END +
                            CASE WHEN (he.ValorBitmask & 64) != 0 THEN 'Sáb, ' ELSE '' END
                        ) - 2
                    )
            END as TipoHorario
    from [Asistencia].[tblConfigHorariosAusentismosColaborador] he with (nolock)
	   join Asistencia.tblCatHorarios h with (nolock) on he.IDHorario = h.IDHorario
    where he.IDEmpleado = @IDEmpleado
    order by he.Fecha desc
GO
