USE [p_adagioRHANS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE app.spIUJobExecutionControl(
	@JobName NVARCHAR(100)
)
AS
BEGIN
	 MERGE app.tblJobExecutionControl AS target
       USING (SELECT @JobName AS JobName) AS source
		ON target.JobName = source.JobName
    WHEN MATCHED THEN 
        UPDATE SET IsRunning = 1, LastStartTime = GETDATE()
    WHEN NOT MATCHED THEN 
        INSERT (JobName, IsRunning, LastStartTime, LastEndTime) 
        VALUES (@JobName, 1, GETDATE(), NULL);
	
END
GO
