USE [p_adagioRHGrupoEnergy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Inserte o actualiza un indicador mixto con su configuración.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-11-25
** Parametros		: 
** IDAzure			: 1854

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROCEDURE [InfoDir].[spIUIndicadorMixto]
(
    @IDIndicadorMixto   INT
    , @IDAplicacion     NVARCHAR(400)
    , @Nombre           VARCHAR(100)
    , @Descripcion      VARCHAR(255)
    , @Configuracion    NVARCHAR(MAX)
    , @IDUsuario        INT = 0
)
AS
    BEGIN

        SET NOCOUNT ON;
    
        -- INSERTAR SI ES NUEVO    
        IF (@IDIndicadorMixto = 0)
            BEGIN
                INSERT INTO [InfoDir].[tblCatIndicadoresMixtos](IDAplicacion, Nombre, Descripcion)
                VALUES (@IDAplicacion, @Nombre, @Descripcion);

                SET @IDIndicadorMixto = SCOPE_IDENTITY(); -- RECUPERAR NUEVO IDIndicadorMixto
            END
        ELSE
            BEGIN                
                -- ACTUALIZAR CUANDO YA EXISTE                
                UPDATE [InfoDir].[tblCatIndicadoresMixtos]
                SET IDAplicacion = @IDAplicacion
                    , Nombre = @Nombre
                    , Descripcion = @Descripcion
                WHERE IDIndicadorMixto = @IDIndicadorMixto;
                                
                -- BORRAR CONFIGURACIÓN PASADA                
                DELETE FROM [InfoDir].[tblConfiguracionIndicadoresMixtos] WHERE IDIndicadorMixto = @IDIndicadorMixto;
            END

        
        -- INSERTAR NUEVA CONFIGURACIÓN DESDE JSON        
        INSERT INTO [InfoDir].[tblConfiguracionIndicadoresMixtos](IDIndicadorMixto, IDIndicador, Alias)
        SELECT @IDIndicadorMixto
                , CONF.IDIndicador
                , CONF.Alias
        FROM OPENJSON(@Configuracion)
        WITH 
            (
                IDIndicador INT '$.IDIndicador',
                Alias VARCHAR(255) '$.Alias'
            ) CONF;

    END;
GO
