USE [p_adagioRHDusgem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bk].[tblCompetenciasImportadas](
	[Pregunta] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Competencia] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Categoria] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Box9] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[F5] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F6] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F7] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F8] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F9] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F10] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F11] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F12] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F13] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F14] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F15] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F16] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F17] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F18] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F19] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F20] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F21] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F22] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F23] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[F24] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL
) ON [PRIMARY]
GO
