USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Elimina el indicador mixto con sus indicadores configurados.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2026-01-14
** Parametros		: @IDIndicadorMixto     Identificador de la grafica mixta
** IDAzure			: 1854

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROCEDURE [InfoDir].[spBorrarIndicadorMixto]
(
    @IDIndicadorMixto   INT = 0
    , @IDUsuario        INT = 0
)
AS
BEGIN
    
    SET NOCOUNT ON;
    
    IF @IDIndicadorMixto IS NULL OR @IDIndicadorMixto <= 0
        BEGIN
            RETURN
        END

    BEGIN TRY
        
        BEGIN TRANSACTION;

            -- ELIMINAR CONFIGURACIONES DEL INDICADOR MIXTO
            DELETE FROM [InfoDir].[tblConfiguracionIndicadoresMixtos] WHERE IDIndicadorMixto = @IDIndicadorMixto;

            -- ELIMINAR INDICADOR MIXTO
            DELETE FROM [InfoDir].[tblCatIndicadoresMixtos] WHERE IDIndicadorMixto = @IDIndicadorMixto;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH;

END
GO
