USE [p_adagioRHCSM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Nomina].[tblCompensacionesDetalles](
	[IDCompensacionDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDCompensacion] [int] NOT NULL,
	[IDPeriodo] [int] NULL,
	[MontoCuota] [decimal](18, 2) NULL,
	[FechaPago] [date] NOT NULL,
	[Receptor] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDUsuario] [int] NULL,
 CONSTRAINT [PK_NominatblCompensacionesDetalles_IDCompensacionDetalle] PRIMARY KEY CLUSTERED 
(
	[IDCompensacionDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensacionesDetalles_FechaPago] ON [Nomina].[tblCompensacionesDetalles]
(
	[FechaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensacionesDetalles_IDCompensacion] ON [Nomina].[tblCompensacionesDetalles]
(
	[IDCompensacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensacionesDetalles_IDPeriodo] ON [Nomina].[tblCompensacionesDetalles]
(
	[IDPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Nomina].[tblCompensacionesDetalles]  WITH CHECK ADD  CONSTRAINT [FK_NominatblCompensaciones_NominatblCompensacionesDetalles_IDCompensacion] FOREIGN KEY([IDCompensacion])
REFERENCES [Nomina].[tblCompensaciones] ([IDCompensacion])
GO
ALTER TABLE [Nomina].[tblCompensacionesDetalles] CHECK CONSTRAINT [FK_NominatblCompensaciones_NominatblCompensacionesDetalles_IDCompensacion]
GO
ALTER TABLE [Nomina].[tblCompensacionesDetalles]  WITH CHECK ADD  CONSTRAINT [FK_NominaTblCompensacionesDetalle_SeguridadTblUsuarios_IDUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [Seguridad].[tblUsuarios] ([IDUsuario])
GO
ALTER TABLE [Nomina].[tblCompensacionesDetalles] CHECK CONSTRAINT [FK_NominaTblCompensacionesDetalle_SeguridadTblUsuarios_IDUsuario]
GO
