USE [p_adagioRHGMGroup]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Vista que normaliza la informacion del usuario con el boton de activación.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-04-22
** IDAzure			: #1533

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   VIEW [Seguridad].[vwActivarCuentasUsuarios]
AS	
	SELECT AC.IDActivacion
			, U.IDUsuario
			, U.Cuenta AS CuentaUsuario
			, U.Nombre AS NombreUsuario
			, U.Apellido AS ApellidoUsuario
			, (U.Nombre + ' ' + U.Apellido) AS NombreCompletoUsuario
			, AC.BotonActivarCuenta				
			, ISNULL(AC.Email, '') AS EmailUsuario
			, ISNULL(AC.EmailValid, 0) AS EmailValid
	FROM [Seguridad].[tblActivarCuentas] AC
		JOIN [Seguridad].[tblUsuarios] U ON AC.IDUsuario = U.IDUsuario
GO
