USE [p_adagioRHDXN-Mexico]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
** Descripción     : Procedimiento para obtener el tope de salario diario integrado (UMA) por fecha
** Autor           : Sistema
** FechaCreacion   : 2024-12-19
** Parámetros      : @Fecha - Fecha para buscar el tope de salario diario integrado
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd) Autor            Comentario
------------------ ---------------- ------------------------------------------------------------
2024-12-19         Sistema          Creación inicial del procedimiento
***************************************************************************************************/

CREATE PROCEDURE [IMSS].[spBuscarTopeSalarioDiarioIntegrado]
(
    @Fecha DATE
)
AS
BEGIN
    DECLARE @UMA DECIMAL(18,2) = 0,
    @VecesUMA INT = 25
    ;

    -- Obtener el UMA (Unidad de Medida y Actualización) que representa el tope de salario diario integrado
    -- Se busca el registro más reciente que sea menor o igual a la fecha proporcionada
    SELECT TOP 1 
        @UMA = ISNULL(UMA, 0) 
    FROM Nomina.tblSalariosMinimos 
    WHERE Fecha <= @Fecha 
    ORDER BY Fecha DESC;

    -- Retornar el valor del UMA
    SELECT CAST(@UMA * @VecesUMA AS DECIMAL(18,2)) AS TopeSalarioDiarioIntegrado;

END
GO
