USE [p_adagioRHDXN-Mexico]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [IMSS].[spBuscarCausaAccidente_VUE](
    @IDCausaAccidente int = 0
    ,@IDUsuario int
	,@PageNumber	int = 1
	,@PageSize		int = 2147483647
	,@query			varchar(100) = '""'
	,@orderByColumn	varchar(50) = 'Codigo'
	,@orderDirection varchar(4) = 'asc'
) as
    SET FMTONLY OFF;  
        declare  
        @TotalPaginas int = 0
        ,@TotalRegistros int
            ,@IDIdioma varchar(max)
        ;
        select @IDIdioma=App.fnGetPreferencia('Idioma', @IDUsuario, 'esmx')

        if (isnull(@PageNumber, 0) = 0) set @PageNumber = 1;
        if (isnull(@PageSize, 0) = 0) set @PageSize = 2147483647;
   
   set @query = case 
		when @query is null then '""' 
		when @query = '' then '""'
		when @query = '""' then '""'
	else '"'+@query + '*"' end

        select
            @orderByColumn	 = case when @orderByColumn	 is null then 'Codigo' else @orderByColumn  end 
            ,@orderDirection = case when @orderDirection is null then  'asc' else @orderDirection end 

        IF OBJECT_ID('tempdb..#TempFiltros') IS NOT NULL DROP TABLE #TempFiltros;
        IF OBJECT_ID('tempdb..#TempResponse') IS NOT NULL DROP TABLE #TempResponse  

        select ID   
        Into #TempFiltros  
        from Seguridad.tblFiltrosUsuarios  with(nolock) 
        where IDUsuario = @IDUsuario and Filtro = 'CausaAccidente'  
    
    select IDCausaAccidente
	   ,Descripcion
	   ,Origen
       	,ROWNUMBER = ROW_NUMBER()OVER(ORDER BY Descripcion ASC) 
       	into #TempResponse
    from [Imss].[tblCatCausasAccidentes]    
    where (IDCausaAccidente = @IDCausaAccidente or isnull(@IDCausaAccidente,0)= 0)
    and (@query = '""' or contains(Imss.tblCatCausasAccidentes.*, @query)) 
	ORDER BY Descripcion ASC

		select @TotalPaginas =CEILING( cast(count(*) as decimal(20,2))/cast(@PageSize as decimal(20,2)))
	from #tempResponse

	select @TotalRegistros = COUNT(IDCausaAccidente) from #tempResponse		

	select *
		,TotalPaginas = case when @TotalPaginas = 0 then 1 else @TotalPaginas end
		,ISNULL(@TotalRegistros, 0) as TotalRegistros
	from #tempResponse
	order by 
		case when @orderByColumn = 'Descripcion'			and @orderDirection = 'asc'		then Descripcion end,			
		case when @orderByColumn = 'Descripcion'			and @orderDirection = 'desc'	then Descripcion end desc,
		Descripcion asc
	OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);
GO
