USE [p_adagioRHMotiDigital]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************   
** Descripción  : Borrar lector de control altas empleados  
** Autor   : Javier Peña
** Email   : jpena@adagio.com.mx
** FechaCreacion : 2025-12-03  
** Parametros  :                
****************************************************************************************************  
HISTORIAL DE CAMBIOS  
Fecha(yyyy-mm-dd) Autor   Comentario  
------------------- ------------------- ------------------------------------------------------------  
2025-12-03  Javier Peña  Creación inicial del procedimiento  
***************************************************************************************************/  
CREATE PROCEDURE [RH].[spBorrarLectoresControlAltasEmpleados]
(
    @IDLectoresControlAltasEmpleados INT,
    @IDControlAltasEmpleados INT,
    @IDUsuario INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM [RH].[tblLectoresControlAltasEmpleados]
    WHERE IDLectoresControlAltasEmpleados = @IDLectoresControlAltasEmpleados
    AND IDControlAltasEmpleados = @IDControlAltasEmpleados;

END
GO
