USE [p_adagioRHMotiDigital]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spBuscarDatosExtraControlAltasEmpleados](
	@IDControlAltasEmpleados int,
	@IDUsuario int
) AS
BEGIN
	SELECT
			DE.IDDatoExtra
			,DE.Nombre
			,DE.Descripcion
			,DE.TipoDato
			,ISNULL(DECA.IDDatoExtraControlAltasEmpleados,0) IDDatoExtraControlAltasEmpleados
			,CASE WHEN (DE.TipoDato in ('bool','BIT'))THEN ISNULL(DECA.Valor,'false')
				WHEN (DE.TipoDato in ('string','Varchar'))THEN ISNULL(DECA.Valor,'')
				WHEN (DE.TipoDato in ('Date'))THEN ISNULL(DECA.Valor,'')
				WHEN (DE.TipoDato in ('INT','FLOAT','REAL','DECIMAL', 'NUMERIC'))THEN ISNULL(DECA.Valor,'0')
			 ELSE '0'
			 END as Valor
			,@IDControlAltasEmpleados as IDControlAltasEmpleados
			,ROW_NUMBER()Over(Order by DE.IDDatoExtra ASC) ROWNUMBER
	FROM RH.tblCatDatosExtra DE
		left join RH.tblDatosExtraControlAltasEmpleados DECA on DE.IDDatoExtra = DECA.IDDatoExtra
	  and  DECA.IDControlAltasEmpleados = @IDControlAltasEmpleados	
END
GO
