USE [p_adagioRHMotiDigital]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spValidarCURPEmpleado]
(
	@CURP Varchar(20),
	@IDUsuario int	
)
AS
BEGIN
	IF EXISTS(SELECT TOP 1 1 FROM RH.tblEmpleadosMaster WHERE CURP = @CURP)
	BEGIN
		SELECT TOP 1 
			CAST(1 AS BIT) AS Existe,
			IDEmpleado,
			ClaveEmpleado,
			NombreCompleto 
		FROM RH.tblEmpleadosMaster 
		WHERE CURP = @CURP
		RETURN;
	END
    ELSE
    BEGIN
        SELECT 
			CAST(0 AS BIT) as Existe,
			0 as IDEmpleado, 
			'' as ClaveEmpleado,
			'' as NombreCompleto
        RETURN;
    END
END
GO
