USE [p_adagioRHDusgem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [Asistencia].[spRegistrarChecadaMovil]--0,'ADG9791',null,null,'America/Mexico_City' 
(      
	@IDLector int = 0,      
	@ClaveEmpleado Varchar(20),
	@Latitud float = null,
	@Longitud float = null,
	@dtLectorZonaHoraria varchar(100) = 'America/Mexico_City'
) AS      
BEGIN      
	SET DATEFORMAT ymd;   
      
	DECLARE 
		@dtUTC DATETIME = getutcdate(),      
		@dtFechaZonaHoraria datetime,      
		@IDZonaHoraria int,      
		@IDChecada int = 0,      
		@Valida bit = 1,      
		@FechaOrigen Date,      
		@TipoChecada varchar(5),      
		@Mensaje varchar(1000),    
		@IDEmpleado int ,
		@dtEmpleados [RH].[dtEmpleados] ,
		@RequiereChecar bit,  
		@PermiteChecar bit,
		@EsRepetida bit= 0 ,
		@Lector	varchar(100),
		@CodigoLector	varchar(100),
		@Comida bit = 0,
		@UltimaChecada datetime,              
		@TiempoEntreChecada int,  
		@MensajeValidacion varchar(1000),
		@IDTipoLector	varchar(100),
		@IDSucursal int,
		@IDUbicacion int,
        @Successful bit=0,
		@IDCliente int=0,
        @ToleranciaRetardo time,
        @MostrarRetardo bit=0,
		@configuracion NVARCHAR(MAX),
		@registrar_asistencia_mobile bit
	;


        select top 1 @ToleranciaRetardo	= cast(valor as time) from app.tblConfiguracionesGenerales where IDConfiguracion = 'ToleranciaRetardo' 
	    select top 1 @MostrarRetardo	= cast(valor as bit) from app.tblConfiguracionesGenerales where IDConfiguracion = 'MostrarRetardo' 

		SELECT @configuracion = Valor 
		FROM  app.tblConfiguracionesGenerales where IDConfiguracion='RegistrarAsistenciaEnLogin';


		SET @registrar_asistencia_mobile = JSON_VALUE(@configuracion, '$.registrar_asistencia_mobile');

	if(@registrar_asistencia_mobile = 0)
	BEGIN
		raiserror(
				'AdagioRH no tiene activado el feature para recibir checadas desde la app movil. Contacte con un administrador.',
				16,
				1
			)
			return
	END


	if (isnull(@IDLector, 0) = 0) 
	begin
		select top 1 
			@IDLector = IDLector,
			@IDTipoLector = l.IDTipoLector
		from [Asistencia].[tblLectores] l with (nolock)
		where l.IDTipoLector = 'Movil'-- Lector like '%login%'-- and IDTipoLector = 'FACERECOGNITION'

		if (isnull(@IDLector, 0) = 0) 
		begin
			raiserror(
				'No existe lector configurado para registro de asistencia desde la app movil. Contacte con un administrador.',
				16,
				1
			)
			return
		end
	end
	begin
		select
			@IDTipoLector = l.IDTipoLector
		from [Asistencia].[tblLectores] l with (nolock) 
		where IDLector = @IDLector
	end
    

	select 
		@Lector = Lector, 
		@CodigoLector = CodigoLector, 
		@Comida = isnull(Comida,0),

		/*
			Se determina que ZonaHoraria utilizar ya que cuando se registra asistencia desde el Login la ZonaHoraria viene
			por parámetros y cuando es en otro tipo de lector se toma la zona horaria asignada al lector en la tabla de Lectores.
		*/
		@dtLectorZonaHoraria = case when @IDTipoLector != 'Movil' then z.[Name] else @dtLectorZonaHoraria end 
	from Asistencia.tblLectores l with (nolock)	
		left join Tzdb.Zones z on z.Id = l.IDZonaHoraria
	where IDLector = @IDLector

	select @IDZonaHoraria = case when isnull(z.Id,0) = 0 then null 
							else 
						z.Id end
	from Tzdb.Zones z
	where z.[Name] = @dtLectorZonaHoraria

	insert into @dtEmpleados
	select top 1 * from RH.tblEmpleadosMaster with (nolock) where ClaveEmpleado = @ClaveEmpleado

	if exists(select top 1 1 from @dtEmpleados where ClaveEmpleado = @ClaveEmpleado)    
	begin    
		select top 1 @IDEmpleado = IDEmpleado, @IDCliente=IDCliente from @dtEmpleados where ClaveEmpleado = @ClaveEmpleado    
	end    
	else    
	BEGIN    
		set @IDEmpleado = 0    
	end    
    
	if(@IDEmpleado <> 0)    
	BEGIN    
		set @dtFechaZonaHoraria = case 
									when isnull(@dtLectorZonaHoraria, '') = '' then getdate()
									else Tzdb.UtcToLocal(@dtUTC,@dtLectorZonaHoraria) end
  
		IF(@Comida = 1)
		BEGIN
			select top 1 @UltimaChecada = fecha               
			from Comedor.tblComidasConsumidas with(nolock)              
			where IDEmpleado = @IDEmpleado and cast(Fecha as date) = cast(@dtFechaZonaHoraria as date)              
			order by Fecha desc    
              
			select top 1 @TiempoEntreChecada = cast(Valor as int) from App.tblConfiguracionesGenerales with(nolock) where IDConfiguracion = 'TiempoEntreChecadas'              
              
			if(DATEADD(MINUTE,@TiempoEntreChecada,@UltimaChecada) >= @dtFechaZonaHoraria)              
			BEGIN              
				set @EsRepetida = 1;              
				set @MensajeValidacion = 'COMIDA REPETIDA. Última comida registrada a las '+ cast(@UltimaChecada as varchar)+'.';                
			END              
			ELSE              
			BEGIN              
				insert into Comedor.tblComidasConsumidas(IDEmpleado,Fecha,IDLector)      
				select @IDEmpleado,@dtFechaZonaHoraria as Fecha,@IDLector  
				
				set @MensajeValidacion = 'COMIDA registrada correctamente';              
			END         
				
			Select       
				0 as IDChecada,      
				getdate() as Fecha,      
				getdate() as FechaOrigen,      
				@IDLector as IDLector,      
				@Lector as Lector,      
				e.IDEmpleado as IDEmpleado,      
				e.ClaveEmpleado as ClaveEmpleado,      
				e.NOMBRECOMPLETO as NombreCompleto,      
				e.Departamento as Departamento,      
				e.Puesto as Puesto,       
				0 as IDUsuario,      
				'' as Comentario,      
				'CO' as IDTipoChecada,      
				'COMIDA' as TipoChecada,      
				0 as IDZonaHoraria,      
				'' as ZonaHoraria,      
				getdate() as FechaReg,      
				cast(1 as bit) as Valida,      
				@MensajeValidacion as MensajeChecada,
				'' as Retardo
			from RH.tblEmpleadosMaster e with (nolock)
			where e.IDEmpleado = @IDEmpleado

			EXEC Asistencia.spIBitacoraChecadas @IDEmpleado,@dtUTC,@IDLector,'COMIDA registrada correctamente' 
		END
		
		select  @FechaOrigen = t.FechaOrigen,      
				@TipoChecada = t.TipoChecada      
		From [Asistencia].[fnValidaDiaOrigen](@IDEmpleado,@dtFechaZonaHoraria) t      
      
		--select @IDEmpleado,@FechaOrigen,@TipoChecada,@IDLector, @dtFechaZonaHoraria      
		select top 1 @RequiereChecar = RequiereChecar, @PermiteChecar = PermiteChecar from @dtEmpleados where IDEmpleado = @IDEmpleado
     
		if(@RequiereChecar = 1) 
		begin
			exec [Asistencia].[spValidarChecada]     
				@IDEmpleado				= @IDEmpleado,      
				@dtEmpleados2			= @dtEmpleados,
				@FechaOrigen			= @FechaOrigen,      
				@Tipochecada			= @TipoChecada,      
				@IDLector				= @IDLector,      
				@dtFechaZonaHoraria		= @dtFechaZonaHoraria,      
				@outChecadaValida		= @Valida output,      
				@outMensajeValidacion	= @Mensaje output,
				@outEsRepetida			= @EsRepetida output   
		end
		else
		begin
			set @Valida = 1
			set @Mensaje = ''
		end

		--select @Valida, @Mensaje  
		if ((@Valida = 1) and (@EsRepetida = 0))
		BEGIN      
        
			DECLARE @TempResp as table (
				Successful BIT,
				Mensaje NVARCHAR(255),
				Latitud FLOAT,
				Longitud FLOAT,
				DistanciaMetros FLOAT,
				IDSucursal int,
				IDUbicacion int
			);

			INSERT INTO @TempResp (Successful, Mensaje, Latitud, Longitud, DistanciaMetros, IDSucursal, IDUbicacion)
			EXEC [RH].[spValidarGeolocalizacion] 
				@Latitud = @Latitud, 
				@Longitud = @Longitud, 
				@IDCliente = @IDCliente,  
				@IDEmpleado = @IDEmpleado,
				@SoloValidacion=0; 

                

			SELECT TOP 1       
				@Successful = Successful,
				@IDSucursal = IDSucursal,
				@IDUbicacion = IDUbicacion,
				@Mensaje = Mensaje
			FROM @TempResp;

			IF @Successful=1
			BEGIN

					insert into Asistencia.tblChecadas(Fecha,FechaOrigen,IDLector,IDEmpleado,IDTipoChecada,
						IDZonaHoraria,Automatica,FechaReg,FechaOriginal, Latitud,Longitud, IDSucursal, IDUbicacion)      
					select @dtFechaZonaHoraria as Fecha      
							,@FechaOrigen      
							,@IDLector      
							,@IDEmpleado      
							,@TipoChecada      
							,@IDZonaHoraria      
							,cast(1 as bit)      
							,@dtUTC      
							,@dtFechaZonaHoraria
							,@Latitud
							,@Longitud
							,case when ISNULL(@IDSucursal, 0) = 0 then null else @IDSucursal end
							,case when ISNULL(@IDUbicacion, 0) = 0 then null else @IDUbicacion end
					
					set @IDChecada = @@IDENTITY  
      
					Select       
						c.IDChecada,      
						c.Fecha,      
						c.FechaOrigen,      
						isnull(c.IDLector,0) as IDLector,      
						isnull(l.Lector,'NINGUNO') as Lector,      
						isnull(c.IDEmpleado,0) as IDEmpleado,      
						isnull(m.ClaveEmpleado,'00000') as ClaveEmpleado,      
						m.NOMBRECOMPLETO as NombreCompleto,      
						m.Departamento as Departamento,      
						m.Puesto as Puesto,       
						isnull(c.IDUsuario,0) as IDUsuario,      
						c.Comentario,      
						c.IDTipoChecada,      
						tc.TipoChecada,      
						isnull(c.IDZonaHoraria,0) as IDZonaHoraria,      
						z.Name as ZonaHoraria,      
						c.FechaReg,      
						@Valida as Valida,      
						cast('Checada Registrada Satisfactoriamente. Tipo Checada: ' + JSON_VALUE(tc.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace('esmx', '-','')), 'TipoChecada')) as varchar(1000))  as MensajeChecada      
						,CASE 
							WHEN  MIN(c.Fecha) > (cast(cast(c.FechaOrigen as date) as datetime) + cast( h.HoraEntrada as datetime))
								and Asistencia.fnTimeDiffWithDatetimes((cast(c.FechaOrigen as datetime) + cast(h.HoraEntrada as datetime)),MIN(c.Fecha)) > cast(@ToleranciaRetardo as time) and @MostrarRetardo = 1
							THEN Asistencia.fnTimeDiffWithDatetimes(
								(CAST(c.FechaOrigen AS DATETIME) + CAST(h.HoraEntrada AS DATETIME)), 
								MIN(c.Fecha)
							) 
							else  '00:00:00.000'                 
						END AS Retardo
					from Asistencia.tblChecadas c with (nolock)       
						inner join Asistencia.tblLectores l with (nolock) on c.IDLector = l.IDLector      
						inner join RH.tblEmpleadosMaster m with (nolock) on c.IDEmpleado = m.IDEmpleado      
						inner join Asistencia.tblCatTiposChecadas tc with (nolock) on c.IDTipoChecada = tc.IDTipoChecada    
						left join tzdb.Zones z with (nolock) on z.Id = c.IDZonaHoraria 
						left join Asistencia.tblHorariosEmpleados HE on c.FechaOrigen = HE.Fecha and c.IDEmpleado = HE.IDEmpleado
						left join Asistencia.tblCatHorarios H with(nolock) on H.IDHorario = HE.IDHorario    
					where IDChecada = @IDChecada      
					 GROUP BY 
								  c.IDChecada
								, c.Fecha
								, c.FechaOrigen
								, c.IDLector
								, l.Lector
								, c.IDEmpleado
								, m.ClaveEmpleado
								, m.NOMBRECOMPLETO
								, m.Departamento
								, m.Puesto
								, c.IDUsuario
								, c.Comentario
								, c.IDTipoChecada
								, tc.TipoChecada
								, c.IDZonaHoraria
								, z.Name
								, c.FechaReg
								, tc.Traduccion
								, h.HoraEntrada
			 END
			 ELSE
			 BEGIN
					Select       
						0 as IDChecada,      
						@dtFechaZonaHoraria  as Fecha,      
						@FechaOrigen as FechaOrigen,      
						isnull(l.IDLector,0) as IDLector,      
						'Lector' as Lector,      
						isnull(m.IDEmpleado,0) as IDEmpleado,      
						isnull(m.ClaveEmpleado,'00000') as ClaveEmpleado,      
						m.NOMBRECOMPLETO as NombreCompleto,      
						m.Departamento as Departamento,      
						m.Puesto as Puesto,       
						0 as IDUsuario,      
						'' as Comentario,      
						'' as IDTipoChecada,      
						'' as TipoChecada,      
						isnull(@IDZonaHoraria,0) as IDZonaHoraria,      
						@dtLectorZonaHoraria as ZonaHoraria,      
						@dtUTC as FechaReg,      
						CAST(CASE WHEN (@Successful = 0 OR @Valida = 0) THEN 0 ELSE 1 END as bit) as Valida,      
						@Mensaje as MensajeChecada  ,
						'' as Retardo
					FROM Asistencia.tblLectores l with (nolock)       
						cross apply RH.tblEmpleadosMaster m with (nolock)       
					WHERE l.IDLector = @IDLector      
						and M.IDEmpleado = @IDEmpleado      
      
					EXEC Asistencia.spIBitacoraChecadas 
						 @IDEmpleado = @IDEmpleado	
						,@Fecha		 = @dtUTC		
						,@IDLector	 = @IDLector	
						,@Mensaje	 = @Mensaje	
						,@Latitud	 = @Latitud	
						,@Longitud	 = @Longitud	
			 END
		END      
		ELSE      
		BEGIN      

        
			Select       
				0 as IDChecada,      
				@dtFechaZonaHoraria  as Fecha,      
				@FechaOrigen as FechaOrigen,      
				isnull(l.IDLector,0) as IDLector,      
				'Lector' as Lector,      
				isnull(m.IDEmpleado,0) as IDEmpleado,      
				isnull(m.ClaveEmpleado,'00000') as ClaveEmpleado,      
				m.NOMBRECOMPLETO as NombreCompleto,      
				m.Departamento as Departamento,      
				m.Puesto as Puesto,       
				0 as IDUsuario,      
				'' as Comentario,      
				'' as IDTipoChecada,      
				'' as TipoChecada,      
				isnull(@IDZonaHoraria,0) as IDZonaHoraria,      
				@dtLectorZonaHoraria as ZonaHoraria,      
				@dtUTC as FechaReg,      
				@Valida as Valida,      
				@Mensaje as MensajeChecada  ,
				'' as Retardo
			FROM Asistencia.tblLectores l with (nolock)       
				cross apply RH.tblEmpleadosMaster m with (nolock)       
			WHERE l.IDLector = @IDLector      
				and M.IDEmpleado = @IDEmpleado      
      
			EXEC Asistencia.spIBitacoraChecadas 
				 @IDEmpleado = @IDEmpleado	
				,@Fecha		 = @dtUTC		
				,@IDLector	 = @IDLector	
				,@Mensaje	 = @Mensaje	
				,@Latitud	 = @Latitud	
				,@Longitud	 = @Longitud	
		END      
	END    
	else     
	begin    
		Select       
			0 as IDChecada,      
			getdate()  as Fecha,      
			getdate() as FechaOrigen,      
			0 as IDLector,      
			'Lector' as Lector,      
			0 as IDEmpleado,      
			'00000' as ClaveEmpleado,      
			'...' as NombreCompleto,      
			'...' as Departamento,      
			'...' as Puesto,       
			0 as IDUsuario,      
			'' as Comentario,      
			'' as IDTipoChecada,      
			'' as TipoChecada,      
			0 as IDZonaHoraria,      
			'' as ZonaHoraria,      
			getdate() as FechaReg,      
			cast(0 as bit) as Valida,      
			'Empleado no existente en la base de datos.'as MensajeChecada,      
			'' as Retardo
		EXEC Asistencia.spIBitacoraChecadas 
			@IDEmpleado = @IDEmpleado	
			,@Fecha		 = @dtUTC		
			,@IDLector	 = @IDLector	
			,@Mensaje	 = 'Empleado no existente en la base de datos.'	
			,@Latitud	 = @Latitud	
			,@Longitud	 = @Longitud
	end    
  
	select Mensaje          
	from Asistencia.tblMensajesEmpleados with (nolock)          
	where IDEmpleado = @IDEmpleado and  @dtUTC between FechaInicio and FechaFin       
END
GO
