USE [p_adagioRHOwen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--set a default new query template with the command QE Boost: Set New Query Template


/****************************************************************************************************
** Descripción		: Crea una tarea para notificar al colaborador los comentarios de las solicitud en vacaciones.
** Autor			: Jose Vargas
** Email			: jvargas@adagio.com.mx
** FechaCreacion	: 2025-05-14


** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Reclutamiento].[spITareaComentarioCandidatoPlaza](
	@ID	INT = 0	
	, @IDUsuario	INT = 0
)
AS
	BEGIN

		DECLARE @FechaHora								DATETIME = DATEADD(MINUTE, 2, GETDATE())
				, @NombreTask							VARCHAR(255)
				, @INTERVAL								INT = 0
				, @ACTIVE								BIT = 1
				, @ACCION_GENERAR_NOTIFICACION_EMAIL	INT = 7
				, @IDTask								INT = 0
				, @IDSchedule							INT = 0
				, @Error								VARCHAR(MAX)
				, @TIPO_NOTIFICACION_CANDIDATO			VARCHAR(50) = 'ReclutamientoNuevoMensajeCandidato'
                , @TIPO_NOTIFICACION_RECLUTADOR			VARCHAR(50) = 'ReclutamientoNuevoMensajeReclutador'
				, @TABLA								VARCHAR(60) = '[Reclutamiento].[tblRegistroChat]'
                , @IDUsuarioTemp int 
                , @IDEmpleadoTemp int 
				;	
                declare @TIPO_NOTIFICACION varchar(100)

                select
                 @TIPO_NOTIFICACION = case when EsRegistroCandidato=1 then @TIPO_NOTIFICACION_CANDIDATO
                else @TIPO_NOTIFICACION_RECLUTADOR  end ,
                @IDUsuarioTemp = case when EsRegistroCandidato=1 then r.IDCandidato
                else  u.IDUsuario  end ,
                @IDEmpleadoTemp = case when EsRegistroCandidato=1 then   r.IDCandidato 
                else r.IDReclutador end 
                from Reclutamiento.tblRegistroChat r  
                left join Seguridad.tblUsuarios u on u.IDEmpleado=r.IDReclutador
                where ID=@ID

                
		-- BEGIN TRY
		-- 	BEGIN TRANSACTION;
                
                
				-- CONFIGURACIÓN DEL TIPO DE NOTIFICACIÓN EN LA TAREA
				DECLARE @JsonTask VARCHAR(MAX) = 
                '{' +
                    '"BuscarDatos":false' +
                    ',"IDTipoNotificacion":"' + CAST(@TIPO_NOTIFICACION AS VARCHAR(50)) + '"' +						
                    ',"Tabla":"' + CAST(@TABLA AS VARCHAR(60)) + '"' +
                    ',"IDUsuario":' + CAST('1' AS VARCHAR(25)) +
                    ',"JsonValorIDCampo": ' + '[{ "Key": "ID", "Value": '+ cast(@ID as varchar(25))+', "IDUsuario": '+ cast(@IDUsuarioTemp as varchar(25))+', "IDEmpleado": '+ cast(@IDEmpleadoTemp as varchar(25))+' }]' + '' +
                '}';
            

				-- OBTENEMOS EL NOMBRE DE LA TAREA EN MAYÚSCULAS
				
                SELECT @NombreTask = UPPER(Nombre) 
                    FROM [App].[tblTiposNotificaciones] 
                WHERE IDTipoNotificacion = @TIPO_NOTIFICACION;

				-- INSERTAR LA TAREA EN LA TABLA [Scheduler].[tblTask]
				INSERT INTO [Scheduler].[tblTask] 
				VALUES (@NombreTask, NULL, @INTERVAL, @ACTIVE, @ACCION_GENERAR_NOTIFICACION_EMAIL, @JsonTask);
        
				SET @IDTask = SCOPE_IDENTITY();



				-- INSERTAR EL CRONOGRAMA EN LA TABLA [Scheduler].[tblSchedule]
				INSERT INTO [Scheduler].[tblSchedule]
				(  
					IDTipoSchedule
					, Nombre
					, OneTimeDate
					, OneTimeTime
					, OcurrsFrecuency
					, RecursEveryDaily
					, RecursEveryWeek
					, WeekDays
					, MonthlyType
					, MonthlyAbsoluteDayOfMonth
					, MonthlyAbsoluteNumberOfMonths
					, MonthlyRelativeDay
					, MonthlyRelativeDayOfWeek
					, MonthlyRelativeDayOfWeekShort
					, MonthlyRelativeNumberOfMonths
					, FrecuencyType
					, DailyFrecuencyOnce
					, MultipleFrecuencyValues
					, MultipleFrecuencyValueTypes
					, MultipleFrecuencyStartTime
					, MultipleFrecuencyEndTime
					, DurationStartDate
					, DurationEndDate
					, RunForever
				)
				VALUES
				(
					(SELECT TOP 1 IDTipoSchedule FROM Scheduler.tblTipoSchedule WHERE [Value] = 'OneTime')
					, @NombreTask
					, CAST(@FechaHora AS DATE)
					, CAST(@FechaHora AS TIME)
					, ISNULL('Diario', '')
					, 0
					, 0
					, 0
					, 'Absolute'
					, 0
					, 0
					, 'First'
					, 'Some'
					, NULL
					, 0
					, 'Unica'
					, NULL
					, 0
					, 'Minutes'
					, NULL
					, NULL
					, ISNULL(@FechaHora, GETDATE())
					, ISNULL(@FechaHora, GETDATE())
					, 0
				);
        
				SET @IDSchedule = SCOPE_IDENTITY();



				-- LIGAR LA TAREA CON EL CRONOGRAMA EN LA TABLA [Scheduler].[tblListSchedulersForTask]
				INSERT INTO [Scheduler].[tblListSchedulersForTask](IDTask, IDSchedule)
				VALUES(@IDTask, @IDSchedule); 



				--RESULTADO
				--SELECT * FROM [Scheduler].[tblTask]  WHERE IDTask = @IDTask;
				--SELECT * FROM [Scheduler].[tblSchedule] WHERE IDSchedule = @IDSchedule;
				--SELECT * FROM [Scheduler].[tblListSchedulersForTask] WHERE IDTask = @IDTask AND IDSchedule = @IDSchedule;
		
        
			-- 	COMMIT TRANSACTION;

			-- END TRY
			-- BEGIN CATCH        
			-- 	ROLLBACK TRANSACTION;

			-- 		SELECT @Error = ERROR_MESSAGE();
			-- 		RAISERROR(@Error, 16, 1);
        
			-- END CATCH;

	END
GO
