USE [p_adagioRHGMGroup]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Norma35].[spUEncuesta](
	 @IDEncuesta int 
	,@NombreEncuesta Varchar(255)
	,@FechaIni date
	,@FechaFin date
	,@IDUsuario int
)
AS
BEGIN
	set @NombreEncuesta = UPPER(@NombreEncuesta)

	   UPDATE Norma35.tblEncuestas
			set 
			 NombreEncuesta = @NombreEncuesta
			,FechaIni = @FechaIni
			,FechaFin = @FechaFin
		WHERE IDEncuesta = @IDEncuesta

	Exec Norma35.spBuscarEncuestas @IDEncuesta = @IDEncuesta, @IDUsuario = @IDUsuario
END;
GO
