USE [p_adagioRHCodigoFuente]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Busca las solicitudes de vacaciones que aprobaran o rechazaran los jefes.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-05-07
** Parametros		: @IDSolicitud		Identificador de la solicitud
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1540

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spBuscarSolicitudVacacionesParaJefes](
	@IDMax			INT = 0
	, @IDSolicitud	INT = 0
	, @IDUsuario	INT = 0
)
AS
	BEGIN
		
		DECLARE @PENDIENTE INT = 1;


		SELECT SV.ID
				, SV.IDUsuarioJefe
				, SV.IDEmpleadoJefe
		FROM [Intranet].[tblSolicitudesVacacionesParaJefes] SV			
		WHERE SV.ID <= @IDMax
				AND SV.IDSolicitud = @IDSolicitud
				AND SV.IDEstatusSolicitud = @PENDIENTE
				AND NOT EXISTS (
								SELECT TOP 1 NA.IDEnviarNotificacionA
								FROM [App].[tblEnviarNotificacionA] NA
									JOIN [App].[tblNotificaciones] N ON NA.IDNotifiacion = N.IDNotifiacion
								WHERE NA.IDMedioNotificacion = 'Email'
									AND NA.TipoReferencia = '[Intranet].[tblSolicitudesVacacionesParaJefes]'
									AND NA.IDReferencia = SV.ID									
							);

	END
GO
