USE [p_adagioRHFabricasSelectas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [App].[spBorrarConfiguracionesInputCliente] (
    @IDCliente INT,
    @IDConfiguracionInput INT,
    @IDUsuario INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @OldJSON VARCHAR(MAX),
        @NombreSP VARCHAR(MAX) = '[App].[spBorrarConfiguracionesInputCliente]',
        @Tabla VARCHAR(MAX) = '[App].[tblConfiguracionesInputCliente]',
        @Accion VARCHAR(20) = 'DELETE';

    BEGIN TRY
        
        IF @IDCliente IS NULL  OR @IDUsuario IS NULL
        BEGIN
            RAISERROR ('Faltan parametros.', 16, 1);
            RETURN;
        END;

        
        SELECT @OldJSON = (SELECT * 
                           FROM [App].[tblConfiguracionesInputCliente]
                           WHERE IDCliente = @IDCliente AND IDConfiguracionInput = @IDConfiguracionInput
                           FOR JSON AUTO);

        IF @OldJSON IS NULL
        BEGIN
            RAISERROR ('El registro especificado no existe.', 16, 1);
            RETURN;
        END;

        IF(@IDConfiguracionInput IS NOT NULL)
        BEGIN
            DELETE FROM [App].[tblConfiguracionesInputCliente]
            WHERE IDCliente = @IDCliente AND IDConfiguracionInput = @IDConfiguracionInput;
        END
        ELSE
        BEGIN
            DELETE FROM [App].[tblConfiguracionesInputCliente]
            WHERE IDCliente = @IDCliente;
        END
        
        EXEC [Auditoria].[spIAuditoria]
            @IDUsuario       = @IDUsuario,
            @Tabla           = @Tabla,
            @Procedimiento   = @NombreSP,
            @Accion          = @Accion,
            @NewData         = NULL,
            @OldData         = @OldJSON;

        
        SELECT 'El registro ha sido eliminado correctamente.' AS Message;

    END TRY
    BEGIN CATCH
        
        SELECT 
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_LINE() AS ErrorLine;

        RAISERROR ('Ocurrió un error en el procedimiento [App].[spBorrarConfiguracionesInputCliente].', 16, 1);
    END CATCH;
END;
GO
