USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Busca las solicitudes de actualización de datos que emitieron los colaboradores.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-09-12
** Parametros		: @IDSolicitud		Identificador de la solicitud
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1676

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spBuscarSolicitudActualizacionDeDatosParaColaboradores](
	@IDMax			INT = 0
	, @IDSolicitud	INT = 0
	, @IDUsuario	INT = 0
)
AS
	BEGIN
		
		DECLARE @PENDIENTE INT = 1;


		SELECT SAD.ID
				, SAD.IDUsuarioEmpleado
				, SAD.IDEmpleado
		FROM [Intranet].[tblSolicitudesActualizacionDeDatosParaColaboradores] SAD
		WHERE SAD.ID <= @IDMax
				AND SAD.IDSolicitud = @IDSolicitud
				AND SAD.IDEstatusSolicitud = @PENDIENTE
				AND NOT EXISTS (
								SELECT TOP 1 NA.IDEnviarNotificacionA
								FROM [App].[tblEnviarNotificacionA] NA
									JOIN [App].[tblNotificaciones] N ON NA.IDNotifiacion = N.IDNotifiacion
								WHERE NA.IDMedioNotificacion = 'Email'
									AND NA.TipoReferencia = '[Intranet].[tblSolicitudesActualizacionDeDatosParaColaboradores]'
									AND NA.IDReferencia = SAD.ID									
							);

	END
GO
