USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Busca las solicitudes de permisos que emitieron los colaboradores.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-08-20
** Parametros		: @IDSolicitud		Identificador de la solicitud
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1675

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spBuscarSolicitudPermisosParaColaboradores](
	@IDMax			INT = 0
	, @IDSolicitud	INT = 0
	, @IDUsuario	INT = 0
)
AS
	BEGIN
		
		DECLARE @PENDIENTE INT = 1;


		SELECT SP.ID
				, SP.IDUsuarioEmpleado
				, SP.IDEmpleado
		FROM [Intranet].[tblSolicitudesPermisosParaColaboradores] SP
		WHERE SP.ID <= @IDMax
				AND SP.IDSolicitud = @IDSolicitud
				AND SP.IDEstatusSolicitud = @PENDIENTE
				AND NOT EXISTS (
								SELECT TOP 1 NA.IDEnviarNotificacionA
								FROM [App].[tblEnviarNotificacionA] NA
									JOIN [App].[tblNotificaciones] N ON NA.IDNotifiacion = N.IDNotifiacion
								WHERE NA.IDMedioNotificacion = 'Email'
									AND NA.TipoReferencia = '[Intranet].[tblSolicitudesPermisosParaColaboradores]'
									AND NA.IDReferencia = SP.ID									
							);

	END
GO
