USE [p_adagioRHRioSecreto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [Comedor].[spBorrarCatRestaurante](@IDRestaurante int = 0
											  ,@IDUsuario     int
											  )
as
	begin try
		delete [Comedor].[tblCatRestaurantes]
		where 
			  [IDRestaurante] = @IDRestaurante;
	end try
	begin catch
		exec [App].[spObtenerError] 
			 @IDUsuario = @IDUsuario,
			 @CodigoError = '0302002';
		return 0;
	end catch;
GO
