USE [p_adagioRHThangos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [Nomina].[spCoreLayoutBANCOMERTraspasosPagosMismoBanco](  
	@IDPeriodo int,  
	@FechaDispersion date,  
	@IDLayoutPago int,  
	@dtFiltros [Nomina].[dtFiltrosRH]  readonly, 
	@MarcarPagados bit = 0,
	@IDUsuario int    
)  
AS  
BEGIN  
	declare   
		@empleados [RH].[dtEmpleados]  
		,@ListaEmpleados Nvarchar(max)  
		,@periodo [Nomina].[dtPeriodos]  
		,@fechaIniPeriodo  date                  
		,@fechaFinPeriodo  date
		,@IDTipoNomina int    
		-- PARAMETROS
		,@Clave_Pago_Bnc Varchar(3)
		,@Asunto_Ordenante Varchar(18)
		,@Divisa Varchar(3)
		,@Motivo Varchar(MAX)
	;
  
    if object_id('tempdb..#tempResp') is not null drop table #tempResp;  
	if object_id('tempdb..#tempempleadosMarcables') is not null drop table #tempempleadosMarcables;    
  
    create table #tempResp(Respuesta nvarchar(max));  
	create table #tempempleadosMarcables(IDEmpleado int,IDPeriodo int, IDLayoutPago int, IDBanco int, CuentaBancaria Varchar(18)); 

	Insert into @periodo(IDPeriodo,IDTipoNomina,Ejercicio,ClavePeriodo,Descripcion,FechaInicioPago,FechaFinPago,FechaInicioIncidencia,FechaFinIncidencia,Dias,AnioInicio,AnioFin,MesInicio,MesFin,IDMes,BimestreInicio,BimestreFin,Cerrado,General,Finiquito,Especial)                  
	select IDPeriodo,IDTipoNomina,Ejercicio,ClavePeriodo,Descripcion,FechaInicioPago,FechaFinPago,FechaInicioIncidencia,FechaFinIncidencia,Dias,AnioInicio,AnioFin,MesInicio,MesFin,IDMes,BimestreInicio,BimestreFin,Cerrado,General,Finiquito,isnull(Especial,0)
	from Nomina.TblCatPeriodos                  
	where IDPeriodo = @IDPeriodo                  
                  
	select top 1 @IDTipoNomina = IDTipoNomina ,@fechaIniPeriodo = FechaInicioPago, @fechaFinPeriodo =FechaFinPago                  
	from @periodo                  
                
	select  @Clave_Pago_Bnc = lpp.Valor  
	from Nomina.tblLayoutPago lp  
		inner join Nomina.tblLayoutPagoParametros lpp on lp.IDLayoutPago = lpp.IDLayoutPago  
		inner join Nomina.tblCatTiposLayoutParametros ctlp on ctlp.IDTipoLayout = lp.IDTipoLayout  
			and ctlp.IDTipoLayoutParametro = lpp.IDTipoLayoutParametro  
	where lp.IDLayoutPago = @IDLayoutPago and ctlp.Parametro = 'Clave_Pago_Bnc'  

	select  @Asunto_Ordenante = lpp.Valor  
	from Nomina.tblLayoutPago lp  
		inner join Nomina.tblLayoutPagoParametros lpp on lp.IDLayoutPago = lpp.IDLayoutPago  
		inner join Nomina.tblCatTiposLayoutParametros ctlp on ctlp.IDTipoLayout = lp.IDTipoLayout  
			and ctlp.IDTipoLayoutParametro = lpp.IDTipoLayoutParametro  
	where lp.IDLayoutPago = @IDLayoutPago and ctlp.Parametro = 'Asunto_Ordenante'  

	select  @Divisa = lpp.Valor  
	from Nomina.tblLayoutPago lp  
		inner join Nomina.tblLayoutPagoParametros lpp on lp.IDLayoutPago = lpp.IDLayoutPago  
		inner join Nomina.tblCatTiposLayoutParametros ctlp on ctlp.IDTipoLayout = lp.IDTipoLayout  
			and ctlp.IDTipoLayoutParametro = lpp.IDTipoLayoutParametro  
	where lp.IDLayoutPago = @IDLayoutPago and ctlp.Parametro = 'Divisa'  

	select  @Motivo = lpp.Valor  
	from Nomina.tblLayoutPago lp  
		inner join Nomina.tblLayoutPagoParametros lpp on lp.IDLayoutPago = lpp.IDLayoutPago  
		inner join Nomina.tblCatTiposLayoutParametros ctlp on ctlp.IDTipoLayout = lp.IDTipoLayout  
			and ctlp.IDTipoLayoutParametro = lpp.IDTipoLayoutParametro  
	where lp.IDLayoutPago = @IDLayoutPago and ctlp.Parametro = 'Motivo'  

	/* Se buscan todos los empleados vigentes del tipo de nómina seleccionado */                  
	insert into @empleados                  
	exec [RH].[spBuscarEmpleados] @IDTipoNomina=@IDTipoNomina, @FechaIni = @fechaIniPeriodo, @Fechafin= @fechaFinPeriodo, @dtFiltros = @dtFiltros, @IDUsuario= @IDUsuario    
   
	IF((Select top 1 Finiquito from Nomina.tblCatPeriodos where IDPeriodo = @IDPeriodo) = 0)  
	BEGIN  
		if(isnull(@MarcarPagados,0) = 1)
		BEGIN 
			insert into #tempempleadosMarcables(IDEmpleado, IDPeriodo, IDLayoutPago,  IDBanco, CuentaBancaria)
			SELECT e.IDEmpleado, p.IDPeriodo, lp.IDLayoutPago, b.IDBanco ,pe.Cuenta
			FROM  @empleados e  
				INNER join Nomina.tblCatPeriodos p	on  p.IDPeriodo = @IDPeriodo  
				INNER JOIN RH.tblPagoEmpleado pe	on pe.IDEmpleado = e.IDEmpleado  
				INNER JOIN  Nomina.tblLayoutPago lp on lp.IDLayoutPago = pe.IDLayoutPago  
				inner join Nomina.tblCatTiposLayout tl  on tl.TipoLayout = 'BBVA BANCOMER'  
					and lp.IDTipoLayout = tl.IDTipoLayout  
				left join Sat.tblCatBancos b with(nolock)
					on b.IDBanco = tl.IDBanco
				INNER JOIN Nomina.tblDetallePeriodo dp  on dp.IDPeriodo = @IDPeriodo  
					--and lp.IDConcepto = dp.IDConcepto  
					and dp.IDConcepto = case when ISNULL(p.Finiquito,0) = 0 then lp.IDConcepto else lp.IDConceptoFiniquito end
					and dp.IDEmpleado = e.IDEmpleado  
			where  pe.IDLayoutPago = @IDLayoutPago  

			MERGE Nomina.tblControlLayoutDispersionEmpleado AS TARGET
			USING #tempempleadosMarcables AS SOURCE
				ON TARGET.IDPeriodo = SOURCE.IDPeriodo
					and TARGET.IDEmpleado = SOURCE.IDEmpleado
					and TARGET.IDLayoutPago = SOURCE.IDLayoutPago
			WHEN MATCHED THEN
				update                  
			Set                       
				TARGET.IDBanco  = SOURCE.IDBanco                 
				,TARGET.CuentaBancaria   = SOURCE.CuentaBancaria            
			WHEN NOT MATCHED BY TARGET THEN 
				INSERT(IDEmpleado,IDPeriodo,IDLayoutPago, IDBanco, CuentaBancaria)  
				VALUES(SOURCE.IDEmpleado,SOURCE.IDPeriodo,SOURCE.IDLayoutPago, SOURCE.IDBanco, SOURCE.CuentaBancaria);
		END

		insert INTO #tempResp(Respuesta)  
		select   
			[App].[fnAddString](3,@Clave_Pago_Bnc,'0',1)   
			+[App].[fnAddString](18,isnull(PE.Cuenta,''),'0',1)  
			+[App].[fnAddString](18,isnull(@Asunto_Ordenante,''),'0',1)  
			+[App].[fnAddString](3,isnull(@Divisa,''),'0',1)  
			+[App].[fnAddString](16,CAST((case when lp.ImporteTotalFiniquito = 1 THEN dp.ImporteTotal1 ELSE dp.ImporteTotal2 END) as Varchar(max)),'0',1)  
			+[App].[fnAddString](30,isnull(@Motivo,''),'',2)  
		FROM  @empleados e  
			INNER join Nomina.tblCatPeriodos p	on  p.IDPeriodo = @IDPeriodo  
			INNER JOIN RH.tblPagoEmpleado pe	on pe.IDEmpleado = e.IDEmpleado  
			INNER JOIN  Nomina.tblLayoutPago lp on lp.IDLayoutPago = pe.IDLayoutPago  
			inner join Nomina.tblCatTiposLayout tl	on tl.TipoLayout = 'BBVA BANCOMER - TRASPASOS PAGOS MISMO BANCO'  
				and lp.IDTipoLayout = tl.IDTipoLayout  
			INNER JOIN Nomina.tblDetallePeriodo dp	on dp.IDPeriodo = @IDPeriodo  
				--and lp.IDConcepto = dp.IDConcepto  
				and dp.IDConcepto = case when ISNULL(p.Finiquito,0) = 0 then lp.IDConcepto else lp.IDConceptoFiniquito end
				and dp.IDEmpleado = e.IDEmpleado  
		where  pe.IDLayoutPago = @IDLayoutPago  
	END  
	ELSE  
	BEGIN  
		if(isnull(@MarcarPagados,0) = 1)
		BEGIN 
			insert into #tempempleadosMarcables(IDEmpleado, IDPeriodo, IDLayoutPago,  IDBanco, CuentaBancaria)
			SELECT e.IDEmpleado, p.IDPeriodo, lp.IDLayoutPago, b.IDBanco ,pe.Cuenta
			FROM  @empleados e  
				INNER join Nomina.tblCatPeriodos p  on  p.IDPeriodo = @IDPeriodo  
				INNER JOIN RH.tblPagoEmpleado pe	on pe.IDEmpleado = e.IDEmpleado  
				INNER JOIN  Nomina.tblLayoutPago lp on lp.IDLayoutPago = pe.IDLayoutPago  
				inner join Nomina.tblCatTiposLayout tl	on tl.TipoLayout = 'BBVA BANCOMER - TRASPASOS PAGOS MISMO BANCO'  
					and lp.IDTipoLayout = tl.IDTipoLayout  
				left join Sat.tblCatBancos b with(nolock)
					on b.IDBanco = tl.IDBanco
				INNER JOIN Nomina.tblDetallePeriodo dp  on dp.IDPeriodo = @IDPeriodo  
					--and lp.IDConceptoFiniquito= dp.IDConcepto  
					and dp.IDConcepto = case when ISNULL(p.Finiquito,0) = 0 then lp.IDConcepto else lp.IDConceptoFiniquito end
					and dp.IDEmpleado = e.IDEmpleado  
			where pe.IDLayoutPago = @IDLayoutPago  

			MERGE Nomina.tblControlLayoutDispersionEmpleado AS TARGET
			USING #tempempleadosMarcables AS SOURCE
				ON TARGET.IDPeriodo = SOURCE.IDPeriodo
					and TARGET.IDEmpleado = SOURCE.IDEmpleado
					and TARGET.IDLayoutPago = SOURCE.IDLayoutPago
			WHEN MATCHED THEN
				update                  
			Set                       
				TARGET.IDBanco  = SOURCE.IDBanco                 
				,TARGET.CuentaBancaria   = SOURCE.CuentaBancaria            
			WHEN NOT MATCHED BY TARGET THEN 
				INSERT(IDEmpleado,IDPeriodo,IDLayoutPago, IDBanco, CuentaBancaria)  
				VALUES(SOURCE.IDEmpleado,SOURCE.IDPeriodo,SOURCE.IDLayoutPago, SOURCE.IDBanco, SOURCE.CuentaBancaria);
		END

		insert INTO #tempResp(Respuesta)  
		select   
			[App].[fnAddString](3,@Clave_Pago_Bnc,'0',1)   
			+[App].[fnAddString](18,isnull(PE.Cuenta,''),'0',1)  
			+[App].[fnAddString](18,isnull(@Asunto_Ordenante,''),'0',1)  
			+[App].[fnAddString](3,isnull(@Divisa,''),'0',1)  
			+[App].[fnAddString](16,CAST((case when lp.ImporteTotalFiniquito = 1 THEN dp.ImporteTotal1 ELSE dp.ImporteTotal2 END) as Varchar(max)),'0',1)  
			+[App].[fnAddString](30,isnull(@Motivo,''),'',2)  
		FROM  @empleados e  
			INNER join Nomina.tblCatPeriodos p on  p.IDPeriodo = @IDPeriodo  
			INNER JOIN RH.tblPagoEmpleado pe on pe.IDEmpleado = e.IDEmpleado  
			INNER JOIN  Nomina.tblLayoutPago lp on lp.IDLayoutPago = pe.IDLayoutPago  
			inner join Nomina.tblCatTiposLayout tl  on tl.TipoLayout = 'BBVA BANCOMER - TRASPASOS PAGOS MISMO BANCO'  
				and lp.IDTipoLayout = tl.IDTipoLayout  
			INNER JOIN Nomina.tblDetallePeriodo dp  on dp.IDPeriodo = @IDPeriodo  
				--and lp.IDConceptoFiniquito= dp.IDConcepto  
				and dp.IDConcepto = case when ISNULL(p.Finiquito,0) = 0 then lp.IDConcepto else lp.IDConceptoFiniquito end
				and dp.IDEmpleado = e.IDEmpleado  
		where pe.IDLayoutPago = @IDLayoutPago  
	END  
     
    select * from #tempResp  
END
GO
