USE [p_adagioRHArcos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador](
	[IDConfigHorario] [int] IDENTITY(1,1) NOT NULL,
	[IDEmpleado] [int] NOT NULL,
	[TipoConfig] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[IDHorario] [int] NULL,
	[IDIncidencia] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ValorBitmask] [int] NOT NULL,
	[FechaHoraRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDConfigHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador] ADD  DEFAULT (getdate()) FOR [FechaHoraRegistro]
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador]  WITH CHECK ADD  CONSTRAINT [FK_ConfigHorario_Empleado] FOREIGN KEY([IDEmpleado])
REFERENCES [RH].[tblEmpleados] ([IDEmpleado])
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador] CHECK CONSTRAINT [FK_ConfigHorario_Empleado]
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador]  WITH CHECK ADD  CONSTRAINT [FK_ConfigHorario_Horario] FOREIGN KEY([IDHorario])
REFERENCES [Asistencia].[tblCatHorarios] ([IDHorario])
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador] CHECK CONSTRAINT [FK_ConfigHorario_Horario]
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador]  WITH CHECK ADD  CONSTRAINT [FK_ConfigHorario_Incidencia] FOREIGN KEY([IDIncidencia])
REFERENCES [Asistencia].[tblCatIncidencias] ([IDIncidencia])
GO
ALTER TABLE [Asistencia].[tblConfigHorariosAusentismosColaborador] CHECK CONSTRAINT [FK_ConfigHorario_Incidencia]
GO
