USE [p_adagioRHMotiDigital]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [Nomina].[spICompensacionDetalle](
    @IDCompensacion INT,
    @IDPeriodo INT = NULL,
    @MontoCuota DECIMAL(18,2),
    @FechaPago DATE,
    @Receptor VARCHAR(255) = NULL,
    @IDUsuario INT
) AS
BEGIN
    DECLARE 
        @NewJSON VARCHAR(Max),
        @MontoCompensacion DECIMAL(18,4),  
        @EstatusCompensacion VARCHAR(50),  
        @Saldo DECIMAL(18,4),
        @ID_ESTATUS_COMPENSACION_PAGADA INT = 2,
        @Recurrente BIT;

    -- Validar receptor
    IF(ISNULL(@Receptor,'') = '')
    BEGIN
        SET @Receptor = (SELECT TOP 1 UPPER(cuenta) FROM Seguridad.tblUsuarios WHERE IDUsuario = @IDUsuario)
    END   
    ELSE
    BEGIN
        SET @Receptor = UPPER(@Receptor)
    END
  
    -- Obtener información de la compensación
    SELECT @MontoCompensacion = c.MontoCompensacion,   
           @EstatusCompensacion = ec.Descripcion,
           @Recurrente = c.Recurrente
    FROM Nomina.tblCompensaciones c  
        INNER JOIN Nomina.tblCatEstatusCompensacion ec  
            ON c.IDEstatusCompensacion = ec.IDEstatusCompensacion  
    WHERE c.IDCompensacion = @IDCompensacion  
  
    -- Calcular saldo actual
    SELECT @Saldo = ISNULL(SUM(MontoCuota),0) FROM Nomina.fnPagosCompensacion(@IDCompensacion)  

    -- Validar estatus de la compensación
    IF(@EstatusCompensacion IN('CANCELADA','PAGADA'))  
    BEGIN  
        RAISERROR('La compensación está en un estatus donde no se pueden agregar o modificar abonos.',16,1);  
        RETURN;   
    END 

    -- Validar monto SOLO para compensaciones NO recurrentes
    IF(@Recurrente = 0 AND (@Saldo + @MontoCuota) > @MontoCompensacion)  
    BEGIN  
        RAISERROR('Con la cuota que desea aplicar manualmente se supera el monto original de la compensación.',16,1);  
        RETURN;  
    END 
    
    -- Insertar nuevo detalle
    INSERT INTO Nomina.tblCompensacionesDetalles(
        IDCompensacion,
        IDPeriodo,
        MontoCuota,
        FechaPago,
        Receptor,
        IDUsuario
    )
    VALUES (
        @IDCompensacion,
        @IDPeriodo,
        @MontoCuota,
        @FechaPago,
        @Receptor,
        @IDUsuario
    );

    DECLARE @IDCompensacionDetalle INT = @@IDENTITY;

    -- Obtener JSON para auditoría
    SELECT @NewJSON = a.JSON 
    FROM (
        SELECT 
            cd.IDCompensacionDetalle,
            cd.IDCompensacion,
            c.Codigo,
            cd.IDPeriodo,
            p.ClavePeriodo,
            cd.MontoCuota,
            cd.FechaPago,
            cd.Receptor,
            cd.IDUsuario,
            u.Nombre AS Usuario
        FROM Nomina.tblCompensacionesDetalles cd
            INNER JOIN Nomina.tblCompensaciones c ON cd.IDCompensacion = c.IDCompensacion
            LEFT JOIN Nomina.tblCatPeriodos p ON cd.IDPeriodo = p.IDPeriodo
            LEFT JOIN Seguridad.tblUsuarios u ON cd.IDUsuario = u.IDUsuario
        WHERE cd.IDCompensacionDetalle = @IDCompensacionDetalle
    ) b
    CROSS APPLY (SELECT JSON=[Utilerias].[fnStrJSON](0,1,(SELECT b.* FOR XML Raw))) a;

    EXEC [Auditoria].[spIAuditoria] @IDUsuario,'Nomina.tblCompensacionesDetalles','Nomina.spICompensacionDetalle','INSERT',@NewJSON,'';
    
    -- Retornar el registro creado
    SELECT @Saldo = ISNULL(SUM(MontoCuota),0) FROM Nomina.fnPagosCompensacion(@IDCompensacion)  

    IF(@Saldo = @MontoCompensacion)
    BEGIN
        UPDATE Nomina.tblCompensaciones SET IDEstatusCompensacion = @ID_ESTATUS_COMPENSACION_PAGADA WHERE IDCompensacion = @IDCompensacion;
    END


    SELECT 
        cd.IDCompensacionDetalle,
        cd.IDCompensacion,
        c.Codigo,
        cd.IDPeriodo,
        p.ClavePeriodo,
        cd.MontoCuota,
        cd.FechaPago,
        cd.Receptor,
        cd.IDUsuario,
        u.Nombre AS Usuario
    FROM Nomina.tblCompensacionesDetalles cd
        INNER JOIN Nomina.tblCompensaciones c ON cd.IDCompensacion = c.IDCompensacion
        LEFT JOIN Nomina.tblCatPeriodos p ON cd.IDPeriodo = p.IDPeriodo
        LEFT JOIN Seguridad.tblUsuarios u ON cd.IDUsuario = u.IDUsuario
    WHERE cd.IDCompensacionDetalle = @IDCompensacionDetalle;
END
GO
