USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Calcula y guarda el resultado del 9Box en las tablas correspondientes.
** Autor			: Javier Peña / Alejandro Paredes
** FechaCreacion	: 2025-10-14
** Parámetros		: @ID9Box, @IDUsuario
** DataTypes Relacionados: 
****************************************************************************************************/
-- HISTORIAL DE CAMBIOS
-- Fecha(yyyy-mm-dd)    Autor                Comentario
-- -------------------  -------------------  --------------------------------------------------------

CREATE PROCEDURE [Evaluacion360].[spCalcularGuardarResultado9BoxPerformanceSkill]
(
	@ID9Box INT,
	@IDUsuario INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @TransactionName VARCHAR(32) = 'TransCalcular9BoxResultado';

	-- VARIABLES
	DECLARE	@tempGrupos							[Evaluacion360].[dtGrupos9Box]
			, @ESCALA_VIEJA_MINIMA_PORCENTAJE	INT = 0
			, @ESCALA_VIEJA_MAXIMA_PORCENTAJE	INT = 100
			, @ESCALA_NUEVA_MINIMA_9BOX			DECIMAL(18,2) = 0.01
			, @ESCALA_NUEVA_MAXIMA_9BOX			DECIMAL(18,2) = 3.00
			, @SI								BIT = 1
			, @IDPlantilla						INT
			, @IDTipo9Box						INT
			, @IDProyecto						INT
			, @IDCicloMedicionObjetivo			INT
			, @JsonFiltros						NVARCHAR(MAX)
			, @IsGeneral						BIT
			, @PERFORMANCE_SKILL				INT = 1
			, @ACTUAL_FUTURO					INT = 2
			, @ComentariosExtraPlantilla			NVARCHAR(MAX)
			;

	BEGIN TRANSACTION @TransactionName;
	BEGIN TRY
		
		SELECT 
				  @IDTipo9Box = IDTipo9Box
				, @IDProyecto = IDProyecto
				, @IDCicloMedicionObjetivo = IDCicloMedicionObjetivo
				, @JsonFiltros = JsonFiltros
				, @IsGeneral = IsGeneral
				, @IDPlantilla = IDPlantilla
		FROM [Evaluacion360].[tbl9Box] 
		WHERE ID9Box = @ID9Box;

		-- OBTENER COMENTARIOS EXTRA DE LA PLANTILLA
		SELECT @ComentariosExtraPlantilla = ComentariosExtra
		FROM [Evaluacion360].[tblCatPlantillas9Box]
		WHERE IDPlantilla = @IDPlantilla;

		-- TABLA TEMPORAL
		DECLARE @tempCalculo TABLE
		(
			IDEmpleado				INT
			, ClaveEmpleado			VARCHAR(20)
			, Empleado				VARCHAR(255)
			, Iniciales				VARCHAR(2)
			, IDGrupo				INT
			, Grupo					VARCHAR(254)			
			, TipoEvaluacion		VARCHAR(150)
			, EscalaGrupo			VARCHAR(25)
			, PromedioGrupo			DECIMAL(18,2)
			, TransPromedioGrupo	DECIMAL(18,2)			
			, PorcentajeGrupo		DECIMAL(18,2)
			, EscalaObjetivo		VARCHAR(25)
			, PorcentajeObjetivo	DECIMAL(18,2)			
		)

				
		-- OBTENEMOS GRUPOS
		INSERT INTO @tempGrupos
		EXEC [Evaluacion360].[spDetalleInfo9Box] @IDProyecto, @JsonFiltros, @IDUsuario;

			
		INSERT INTO @tempCalculo
		SELECT GPO.IDEmpleado
				, GPO.ClaveEmpleado
				, GPO.Evaluado
				, GPO.Iniciales
				, GPO.IDGrupo
				, GPO.Grupo					
				, GPO.TipoEvaluacion
				, CAST(GPO.EscalaViejaMin AS VARCHAR(10)) + ' - ' + CAST(GPO.EscalaViejaMax AS VARCHAR(10)) AS EscalaGrupo
				, GPO.Promedio AS PromedioGrupo				
				, [Evaluacion360].[fnTransformacionLineal](GPO.Promedio, GPO.EscalaViejaMin, GPO.EscalaViejaMax, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPromedioGrupo
				, CG.Porcentaje AS PorcentajeGrupo
				, CAST(@ESCALA_VIEJA_MINIMA_PORCENTAJE AS VARCHAR(5)) + ' - ' + CAST(@ESCALA_VIEJA_MAXIMA_PORCENTAJE AS VARCHAR(5)) AS EscalaObjetivo
				, ISNULL(OBJ.Porcentaje, 0) AS PorcentajeObjetivo					
		FROM @tempGrupos GPO
			LEFT JOIN [Evaluacion360].[tblProgresoGeneralPorCicloEmpleados] OBJ ON OBJ.IDCicloMedicionObjetivo = @IDCicloMedicionObjetivo AND GPO.IDEmpleado = OBJ.IDEmpleado
			JOIN [Evaluacion360].[tblCatGrupos] CG ON CG.IDGrupo = GPO.IDGrupo

		
		DECLARE @tempResultados TABLE
		(
			IDEmpleado				INT
			, ClaveEmpleado			VARCHAR(20)
			, Empleado				VARCHAR(255)
			, Iniciales				VARCHAR(2)
			, EjeX_HasCalibracion	BIT			
			, EjeX_Real				DECIMAL(18,2)
			, EjeY_HasCalibracion	BIT			
			, EjeY_Real				DECIMAL(18,2)
		)
		DECLARE @tempResultadosDetalle TABLE
		(
			IDEmpleado9BOX		INT			
			, IDEmpleado			INT
			, ClaveEmpleado		VARCHAR(20)
			, Empleado			VARCHAR(255)
			, Iniciales			VARCHAR(2)
			, Grupo					VARCHAR(254)
			, TipoEvaluacion		VARCHAR(150)
			, EscalaGrupo			VARCHAR(25)
			, Promedio				DECIMAL(18,2)
			, TransPromedio			DECIMAL(18,2)			
			, EscalaObjetivo		VARCHAR(25)
			, Porcentaje			DECIMAL(18,2)
			, TransPorcentaje		DECIMAL(18,2)			
		)

		-- CALCULAR RESULTADOS FINALES
		IF @IsGeneral = @SI
		BEGIN

			IF ((SELECT COUNT(*) FROM @tempGrupos) > 0)							
			BEGIN
								INSERT INTO @tempResultados
								SELECT TOP 1 NULL AS IDEmpleado
										, '' AS ClaveEmpleado
										, '' AS Empleado
										, 'GN' AS Iniciales
										
										----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
										-- EjeX COMPETENCIAS
										
										-- BANDERA CALIBRACIÓN	
										, CAST(0 AS BIT) AS EjeX_HasCalibracion

										-- RESULTADOS REALES
										, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS EjeX_Real
																													
										----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
										-- EjeY OBJETIVOS

										-- BANDERA CALIBRACIÓN	
										, CAST(0 AS BIT) AS EjeY_HasCalibracion

										-- RESULTADOS REALES
										-- SI EL OBJETIVO SOBRE-PASA EL 100% APLICAMOS LA ESCALA NUEVA MAXIMA (valor: 3)
										, CASE
											WHEN CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
												THEN @ESCALA_NUEVA_MAXIMA_9BOX
												ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
											END AS EjeY_Real																				

								FROM @tempCalculo
			END
			
			
			
		END
		ELSE
		BEGIN
			-- RESULTADOS POR EMPLEADO
			INSERT INTO @tempResultados
			SELECT TC.IDEmpleado
								, TC.ClaveEmpleado
								, TC.Empleado
								, TC.Iniciales
								
								/* CODIGO PARA REVISION

								-- PROMEDIO GRUPOS
								, CAST(AVG(PromedioGrupo) AS DECIMAL(18, 2)) AS PromedioGrupo
								, CAST(AVG(TransPromedioGrupo) AS DECIMAL(18, 2)) AS TransPromedioGrupo
								
								-- PORCENTAJES GRUPOS
								, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS PorcentajeGrupo
								, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeGrupo
								
								-- OBJETIVOS
								, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS PorcentajeObjetivo
								, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeObjetivo
								
								*/																								
								
								----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
								-- EjeX COMPETENCIAS

								-- BANDERA CALIBRACIÓN								
								, CAST(0 AS BIT) EjeX_HasCalibracion
								
								-- RESULTADOS REALES
								, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS EjeX_Real
																
								----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
								-- EjeY OBJETIVOS

								-- BANDERA CALIBRACIÓN								
								, CAST(0 AS BIT) EjeY_HasCalibracion
								
								-- RESULTADOS REALES
								, CASE
									WHEN CAST(AVG(TC.PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
									 THEN @ESCALA_NUEVA_MAXIMA_9BOX
									 ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
								   END AS EjeY_Real								

						FROM @tempCalculo TC							
						GROUP BY TC.IDEmpleado, TC.ClaveEmpleado, TC.Iniciales, TC.Empleado
						ORDER BY TC.IDEmpleado
		END


		-- INSERTAR/ACTUALIZAR RESULTADOS EN tblEmpleados9Box USANDO MERGE
		MERGE [Evaluacion360].[tblEmpleados9Box] AS target
		USING (
			SELECT @ID9Box AS ID9Box
					, CASE WHEN @IsGeneral = @SI THEN NULL ELSE TR.IDEmpleado END AS IDEmpleado
					, TR.ClaveEmpleado
					, TR.Empleado
					, TR.Iniciales
					, TR.EjeX_HasCalibracion
					, TR.EjeX_Real					
					, TR.EjeY_HasCalibracion
					, TR.EjeY_Real					
			FROM @tempResultados TR
		) AS source (ID9Box, IDEmpleado, ClaveEmpleado, Empleado, Iniciales, EjeX_HasCalibracion, EjeX_Real, EjeY_HasCalibracion, EjeY_Real)
		ON target.ID9Box = source.ID9Box 
			AND ISNULL(target.IDEmpleado, 0) = ISNULL(source.IDEmpleado, 0)
		WHEN MATCHED THEN
			UPDATE SET 
				ClaveEmpleado = source.ClaveEmpleado,
				Empleado = source.Empleado,
				Iniciales = source.Iniciales,				
				EjeX_Real = source.EjeX_Real,
				EjeX = CASE WHEN target.EjeX_HasCalibracion = 0 THEN source.EjeX_Real ELSE target.EjeX END,				
				EjeY_Real = source.EjeY_Real,
				EjeY = CASE WHEN target.EjeY_HasCalibracion = 0 THEN source.EjeY_Real ELSE target.EjeY END,
				ComentariosExtra = [Evaluacion360].[fnMergeComentariosExtra9Box](@ComentariosExtraPlantilla, target.ComentariosExtra)
		WHEN NOT MATCHED THEN
			INSERT (ID9Box, IDEmpleado, ClaveEmpleado, Empleado, Iniciales, EjeX_HasCalibracion, EjeX_Real, EjeX, EjeY_HasCalibracion, EjeY_Real, EjeY, ComentariosExtra)
			VALUES (source.ID9Box, source.IDEmpleado, source.ClaveEmpleado, source.Empleado, source.Iniciales, source.EjeX_HasCalibracion, source.EjeX_Real, source.EjeX_Real, source.EjeY_HasCalibracion, source.EjeY_Real, source.EjeY_Real, [Evaluacion360].[fnMergeComentariosExtra9Box](@ComentariosExtraPlantilla, NULL))		
        WHEN NOT MATCHED BY SOURCE AND TARGET.ID9Box = @ID9Box AND ISNULL(TARGET.IDEmpleado,0) NOT IN (SELECT ISNULL(IDEmpleado,0) FROM @tempResultados)
        THEN       
		DELETE; 

		-- INSERTAR/ACTUALIZAR DETALLES EN tblEmpleados9BoxDetalle USANDO MERGE
		IF @IsGeneral = @SI	
		BEGIN
			INSERT INTO @tempResultadosDetalle (IDEmpleado9BOX, IDEmpleado, ClaveEmpleado, Empleado, Iniciales, Grupo, TipoEvaluacion, EscalaGrupo, Promedio, TransPromedio, EscalaObjetivo, Porcentaje, TransPorcentaje)
			SELECT 
			  E9B.IDEmpleado9BOX
			  , TC.IDEmpleado
			  , TC.ClaveEmpleado
			  , TC.Empleado
			  , TC.Iniciales
			 , Grupo
			 , TipoEvaluacion
			 , EscalaGrupo
			/* CODIGO PARA REVISION

			-- PROMEDIO GRUPOS
			, CAST(AVG(PromedioGrupo) AS DECIMAL(18, 2)) AS PromedioGrupo
			, CAST(AVG(TransPromedioGrupo) AS DECIMAL(18, 2)) AS TransPromedioGrupo

			-- PORCENTAJES GRUPOS
			, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS PorcentajeGrupo
			, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeGrupo

			-- OBJETIVOS
			, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS PorcentajeObjetivo
			, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeObjetivo

			*/
			, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS Promedio -- CORREGIR DE PROMEDIO A RESULTADO
			, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPromedio -- CORREGIR DE PROMEDIO A RESULTADO

			, EscalaObjetivo
			, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS Porcentaje

			-- RESULTADOS EjeY (SI EL OBJETIVO SOBRE-PASA EL 100% APLICAMOS LA ESCALA NUEVA MAXIMA (valor: 3))
			, CASE
				WHEN CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
					THEN @ESCALA_NUEVA_MAXIMA_9BOX
					ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
				END AS TransPorcentaje
			FROM @tempCalculo TC
			INNER JOIN [Evaluacion360].[tblEmpleados9Box] E9B ON  E9B.ID9Box = @ID9Box
			GROUP BY E9B.IDEmpleado9BOX,tc.IDEmpleado,tc.ClaveEmpleado,tc.Empleado,tc.Iniciales, Grupo, TipoEvaluacion, EscalaGrupo, EscalaObjetivo
			ORDER BY tc.IDEmpleado, TipoEvaluacion, Grupo
		END
		ELSE
		BEGIN
			INSERT INTO @tempResultadosDetalle (IDEmpleado9BOX, IDEmpleado, ClaveEmpleado, Empleado, Iniciales, Grupo, TipoEvaluacion, EscalaGrupo, Promedio, TransPromedio, EscalaObjetivo, Porcentaje, TransPorcentaje)
			SELECT 
			  E9B.IDEmpleado9BOX
			  , TC.IDEmpleado
			  , TC.ClaveEmpleado
			  , TC.Empleado
			  , TC.Iniciales
			 , Grupo
			 , TipoEvaluacion
			 , EscalaGrupo
			/* CODIGO PARA REVISION

			-- PROMEDIO GRUPOS
			, CAST(AVG(PromedioGrupo) AS DECIMAL(18, 2)) AS PromedioGrupo
			, CAST(AVG(TransPromedioGrupo) AS DECIMAL(18, 2)) AS TransPromedioGrupo

			-- PORCENTAJES GRUPOS
			, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS PorcentajeGrupo
			, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeGrupo

			-- OBJETIVOS
			, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS PorcentajeObjetivo
			, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeObjetivo

			*/
			, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS Promedio -- CORREGIR DE PROMEDIO A RESULTADO
			, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPromedio -- CORREGIR DE PROMEDIO A RESULTADO

			, EscalaObjetivo
			, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS Porcentaje

			-- RESULTADOS EjeY (SI EL OBJETIVO SOBRE-PASA EL 100% APLICAMOS LA ESCALA NUEVA MAXIMA (valor: 3))
			, CASE
				WHEN CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
					THEN @ESCALA_NUEVA_MAXIMA_9BOX
					ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
				END AS TransPorcentaje
			FROM @tempCalculo TC
			INNER JOIN [Evaluacion360].[tblEmpleados9Box] E9B ON E9B.IDEmpleado = TC.IDEmpleado and E9B.ID9Box = @ID9Box
			GROUP BY E9B.IDEmpleado9BOX,tc.IDEmpleado,tc.ClaveEmpleado,tc.Empleado,tc.Iniciales, Grupo, TipoEvaluacion, EscalaGrupo, EscalaObjetivo
			ORDER BY tc.IDEmpleado, TipoEvaluacion, Grupo
		END

		-- INSERTAR/ACTUALIZAR DETALLES EN tblEmpleados9BoxDetallePerformanceSkill USANDO MERGE
		MERGE [Evaluacion360].[tblEmpleados9BoxDetallePerformanceSkill] AS target
		USING (
			SELECT TRD.IDEmpleado9BOX
					, TRD.IDEmpleado
					, TRD.ClaveEmpleado
					, TRD.Empleado
					, TRD.Iniciales
					, TRD.Grupo
					, TRD.TipoEvaluacion
					, TRD.EscalaGrupo
					, TRD.Promedio
					, TRD.TransPromedio
					, TRD.EscalaObjetivo
					, TRD.Porcentaje
					, TRD.TransPorcentaje
			FROM @tempResultadosDetalle TRD
		) AS source (IDEmpleado9BOX, IDEmpleado, ClaveEmpleado, Empleado, Iniciales, Grupo, TipoEvaluacion, EscalaGrupo, Promedio, TransPromedio, EscalaObjetivo, Porcentaje, TransPorcentaje)
		ON target.IDEmpleado9BOX = source.IDEmpleado9BOX 
			AND target.IDEmpleado = source.IDEmpleado
			AND target.Grupo = source.Grupo			
		WHEN MATCHED THEN
			UPDATE SET 
				ClaveEmpleado = source.ClaveEmpleado,
				Empleado = source.Empleado,
				Iniciales = source.Iniciales,
				EscalaGrupo = source.EscalaGrupo,
				Promedio = source.Promedio,
				TransPromedio = source.TransPromedio,
				EscalaObjetivo = source.EscalaObjetivo,
				Porcentaje = source.Porcentaje,
				TransPorcentaje = source.TransPorcentaje,
				TipoEvaluacion = source.TipoEvaluacion				
		WHEN NOT MATCHED THEN
			INSERT (IDEmpleado9BOX, IDEmpleado, ClaveEmpleado, Empleado, Iniciales, Grupo, TipoEvaluacion, EscalaGrupo, Promedio, TransPromedio, EscalaObjetivo, Porcentaje, TransPorcentaje)
			VALUES (source.IDEmpleado9BOX, source.IDEmpleado, source.ClaveEmpleado, source.Empleado, source.Iniciales, source.Grupo, source.TipoEvaluacion, source.EscalaGrupo, source.Promedio, source.TransPromedio, source.EscalaObjetivo, source.Porcentaje, source.TransPorcentaje)
		WHEN NOT MATCHED BY SOURCE AND target.IDEmpleado9BOX IN (SELECT IDEmpleado9BOX FROM [Evaluacion360].[tblEmpleados9Box] WHERE ID9Box = @ID9Box)
		THEN       
			DELETE;
		

		COMMIT TRANSACTION @TransactionName;
		SELECT 1 AS Success; -- Retorna éxito

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION @TransactionName;
		SELECT 0 AS Success, ERROR_MESSAGE() AS ErrorMessage;
	END CATCH;
END
GO
