USE [p_adagioRHOwen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spBuscarContactoControlAltasEmpleados]
(
     @IDContactoControlAltasEmpleados int = 0
    ,@IDControlAltasEmpleados int = 0
    ,@IDUsuario int = 0
)
AS
BEGIN
	declare  
	   @IDIdioma varchar(20)
	;
 
	select @IDIdioma=App.fnGetPreferencia('Idioma', @IDUsuario, 'esmx')

	Select 
		CCA.IDContactoControlAltasEmpleados,
		CCA.IDControlAltasEmpleados,
		CCA.IDTipoContactoEmpleado,
		JSON_VALUE(TCE.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion')) as TipoContacto,
		CCA.Value,
		TCE.Mask,
		TCE.CssClassIcon,
		isnull(CCA.Predeterminado,0) as Predeterminado,
		tce.IDMedioNotificacion as IDMedioNotificacion,
		JSON_VALUE(mn.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion')) as MedioNotificacion
	from RH.tblContactoControlAltasEmpleados CCA
		inner join RH.tblCatTipoContactoEmpleado TCE on CCA.IDTipoContactoEmpleado = TCE.IDTipoContacto
		left join App.tblMediosNotificaciones mn on tce.IDMedioNotificacion = mn.IDMedioNotificacion
	WHERE (CCA.IDControlAltasEmpleados = @IDControlAltasEmpleados and @IDContactoControlAltasEmpleados=0) 
		or (CCA.IDContactoControlAltasEmpleados = @IDContactoControlAltasEmpleados and @IDControlAltasEmpleados=0)
	order by CCA.IDTipoContactoEmpleado
END
GO
