USE [p_adagioRHOwen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************   
** Descripción  : Actualizar email en control altas empleados  
** Autor   : [Generated based on existing patterns]  
** Email   : [sistema@adagio.com.mx]  
** FechaCreacion : [Current Date]  
** Parametros  :                
****************************************************************************************************  
HISTORIAL DE CAMBIOS  
Fecha(yyyy-mm-dd) Autor   Comentario  
------------------- ------------------- ------------------------------------------------------------  
[Current Date]  [Generated]  Creación inicial del procedimiento  
***************************************************************************************************/  
CREATE PROCEDURE [RH].[spUControlAltasEmpleadosEmail]
(
    @IDControlAltasEmpleados INT = 0,                    
    @Email VARCHAR(255) = NULL,
    @CurrentStep INT = NULL,
    @IDUsuario INT        
) AS
BEGIN
    DECLARE 
        @OldJSON VARCHAR(MAX) = '',
        @NewJSON VARCHAR(MAX),
        @NombreSP VARCHAR(MAX) = '[RH].[spUControlAltasEmpleadosEmail]',
        @Tabla VARCHAR(MAX) = '[RH].[tblControlAltasEmpleados]',
        @Accion VARCHAR(20) = '',
        @EmailValido BIT;
    
    DECLARE 
        @ID_ESTATUS_CONTROL_ALTAS_EMPLEADOS_EN_PROCESO INT = 1;

    -- Validate that the record exists
    IF(ISNULL(@IDControlAltasEmpleados,0) = 0)
    BEGIN                
        RAISERROR('No existe un alta',16,1);  
        RETURN;        
    END      

    -- Clean and validate email if provided
    IF(@Email IS NOT NULL)
    BEGIN
        -- Clean the email value (remove spaces, tabs, etc.)
        SET @Email = LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(REPLACE(ISNULL(@Email,''), CHAR(10), ''), CHAR(13), ''), CHAR(9), ''), CHAR(160), '')))   

        -- Validate email format if not empty
        IF(@Email <> '')
        BEGIN
            SELECT @EmailValido = [Utilerias].[fsValidarEmail](@Email)

            IF(@EmailValido = 0)
            BEGIN
                EXEC app.spObtenerError @IDUsuario = @IDUsuario, @codigoError = '0000011', @customMessage = @Email
                RETURN;
            END
        END
    END

    -- Get current JSON for audit trail
    SELECT @OldJSON = a.JSON,
           @Accion = 'UPDATE'
    FROM [RH].[tblControlAltasEmpleados] b
        CROSS APPLY (SELECT JSON = [Utilerias].[fnStrJSON](0, 0, (SELECT 
         b.IDControlAltasEmpleados
        ,b.IDEmpleado
        ,b.IDEstatusControlAltasEmpleados
        ,b.IDTipoAltaEmpleado
        ,b.IDCliente            
        ,b.IDUsuario
        ,b.ClaveEmpleado
        ,b.RFC
        ,b.CURP
        ,b.IMSS
        ,b.Nombre
        ,b.SegundoNombre
        ,b.Paterno
        ,b.Materno
        ,b.FechaNacimiento
        ,b.Sexo
        ,b.IDEstadoCivil
        ,b.CodigoPostalFiscal
        ,b.FechaIngreso
        ,b.FechaAntiguedad
        ,b.IDMunicipioNacimiento
        ,b.IDEstadoNacimiento
        ,b.IDPaisNacimiento
        ,b.IDLocalidadNacimiento
        ,b.IDPuesto
        ,b.IDDepartamento
        ,b.IDSucursal
        ,b.IDEmpresa
        ,b.IDRegPatronal
        ,b.IDCentroCosto
        ,b.IDArea
        ,b.IDRegion
        ,b.IDDivision
        ,b.IDClasificacionCorporativa
        ,b.IDTipoNomina
        ,b.IDTipoPrestacion
        ,b.SalarioDiario
        ,b.SalarioVariable
        ,b.SalarioIntegrado
        ,b.SalarioDiarioReal
        ,b.Factor
        ,b.CuentaContable
        ,b.IDTipoTrabajador
        ,b.IDTipoSalario
        ,b.IDTipoPension
        ,b.IDTipoContrato
        ,b.IDTipoJornadaIMSS
        ,b.IDTipoJornadaSAT
        ,b.IDRegimenFiscal
        ,b.IDTipoRegimen
        ,b.Email
        ,b.FechaCreacion
        ,b.FechaModificacion
        FOR XML RAW))) a
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;

    -- Update the email field
    UPDATE [RH].[tblControlAltasEmpleados]
    SET    
        Email = @Email,                                                           
        FechaModificacion = GETDATE(),
        IDUsuario = @IDUsuario
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;

    -- Get new JSON for audit trail
    SELECT @NewJSON = a.JSON
    FROM [RH].[tblControlAltasEmpleados] b
        CROSS APPLY (SELECT JSON = [Utilerias].[fnStrJSON](0, 0, (
                SELECT  
                b.IDControlAltasEmpleados
                ,b.IDEmpleado
                ,b.IDEstatusControlAltasEmpleados
                ,b.IDTipoAltaEmpleado
                ,b.IDCliente                    
                ,b.IDUsuario
                ,b.ClaveEmpleado
                ,b.RFC
                ,b.CURP
                ,b.IMSS
                ,b.Nombre
                ,b.SegundoNombre
                ,b.Paterno
                ,b.Materno
                ,b.FechaNacimiento
                ,b.Sexo
                ,b.IDEstadoCivil
                ,b.CodigoPostalFiscal
                ,b.FechaIngreso
                ,b.FechaAntiguedad
                ,b.IDMunicipioNacimiento
                ,b.IDEstadoNacimiento
                ,b.IDPaisNacimiento
                ,b.IDLocalidadNacimiento
                ,b.IDPuesto
                ,b.IDDepartamento
                ,b.IDSucursal
                ,b.IDEmpresa
                ,b.IDRegPatronal
                ,b.IDCentroCosto
                ,b.IDArea
                ,b.IDRegion
                ,b.IDDivision
                ,b.IDClasificacionCorporativa
                ,b.IDTipoNomina
                ,b.IDTipoPrestacion
                ,b.SalarioDiario
                ,b.SalarioVariable
                ,b.SalarioIntegrado
                ,b.SalarioDiarioReal
                ,b.Factor
                ,b.CuentaContable
                ,b.IDTipoTrabajador
                ,b.IDTipoSalario
                ,b.IDTipoPension
                ,b.IDTipoContrato
                ,b.IDTipoJornadaIMSS
                ,b.IDTipoJornadaSAT
                ,b.IDRegimenFiscal
                ,b.IDTipoRegimen
                ,b.Email
                ,b.FechaCreacion
                ,b.FechaModificacion
                 FOR XML RAW))) a
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;
    
    -- Insert audit record
    EXEC [Auditoria].[spIAuditoria]
        @IDUsuario      = @IDUsuario,
        @Tabla          = @Tabla,
        @Procedimiento  = @NombreSP,
        @Accion         = @Accion,
        @NewData        = @NewJSON,
        @OldData        = @OldJSON;

    
    -- Return the updated record
    SELECT * 
    FROM [RH].[tblControlAltasEmpleados]
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;
END;
GO
