USE [p_adagioRHHotelColibri]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dashboard].[tblGeneraciones](
	[label] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[min] [int] NULL,
	[max] [int] NULL
) ON [PRIMARY]
GO
