USE [p_adagioRHSakata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spIUDatosExtraControlAltasEmpleados](  
	@IDDatoExtra int,  
	@IDDatoExtraControlAltasEmpleados int = 0,  
	@Valor varchar(255),
	@IDControlAltasEmpleados int,  
	@IDUsuario int  
)  
AS  
BEGIN  
	DECLARE 
		@OldJSON Varchar(Max),
		@NewJSON Varchar(Max)
	;

	set @Valor = REPLACE(@Valor,CHAR(10),'')
	set @Valor = REPLACE(@Valor,CHAR(13),'')

	IF(@IDDatoExtraControlAltasEmpleados = 0)  
	BEGIN  
		INSERT INTO RH.tblDatosExtraControlAltasEmpleados(IDDatoExtra,Valor,IDControlAltasEmpleados)  
		VALUES(@IDDatoExtra,upper(@Valor),@IDControlAltasEmpleados)  
		
		SET @IDDatoExtraControlAltasEmpleados = @@IDENTITY  

		select @NewJSON = a.JSON from [RH].[tblDatosExtraControlAltasEmpleados] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDatoExtraControlAltasEmpleados = @IDDatoExtraControlAltasEmpleados

		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDatosExtraControlAltasEmpleados]','[RH].[spIUDatosExtraControlAltasEmpleados]','INSERT',@NewJSON,''
	END  
	ELSE  
	BEGIN  
	  	select @OldJSON = a.JSON from [RH].[tblDatosExtraControlAltasEmpleados] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDatoExtraControlAltasEmpleados = @IDDatoExtraControlAltasEmpleados
			and IDDatoExtra = @IDDatoExtra 
			AND IDControlAltasEmpleados = @IDControlAltasEmpleados 

		UPDATE RH.tblDatosExtraControlAltasEmpleados  
			set 
				Valor = upper(@Valor)  
		WHERE IDDatoExtraControlAltasEmpleados = @IDDatoExtraControlAltasEmpleados  
			and IDDatoExtra = @IDDatoExtra 
			AND IDControlAltasEmpleados = @IDControlAltasEmpleados 

		select @NewJSON = a.JSON from [RH].[tblDatosExtraControlAltasEmpleados] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDatoExtraControlAltasEmpleados = @IDDatoExtraControlAltasEmpleados
				and b.IDDatoExtra = @IDDatoExtra 
				AND b.IDControlAltasEmpleados = @IDControlAltasEmpleados 

		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDatosExtraControlAltasEmpleados]','[RH].[spIUDatosExtraControlAltasEmpleados]','UPDATE',@NewJSON,@OldJSON
	END  
END
GO
