USE [p_adagioRHRuggedTech]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Función para hacer merge de JSON de ComentariosExtra basado en la plantilla
** Autor			: Javier Peña
** FechaCreacion	: 2025-10-14
** Parámetros		: @JsonPlantilla, @JsonDetalle
** Retorna			: JSON con la estructura mergeada
****************************************************************************************************/
-- HISTORIAL DE CAMBIOS
-- Fecha(yyyy-mm-dd)    Autor                Comentario
-- -------------------  -------------------  --------------------------------------------------------

CREATE FUNCTION [Evaluacion360].[fnMergeComentariosExtra9Box]
(
    @JsonPlantilla NVARCHAR(MAX),
    @JsonDetalle NVARCHAR(MAX)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @Resultado NVARCHAR(MAX) = '[]';
    
    -- Si no hay plantilla, retornar array vacío
    IF @JsonPlantilla IS NULL OR @JsonPlantilla = '' OR @JsonPlantilla = '[]'
        RETURN @Resultado;
    
    -- Si no hay detalle, crear array con todos los IDs de la plantilla con Value = null
    IF @JsonDetalle IS NULL OR @JsonDetalle = '' OR @JsonDetalle = '[]'
    BEGIN
        SELECT @Resultado = (
            SELECT 
                JSON_VALUE(value, '$.ID') AS ID,
                JSON_VALUE(value, '$.InputLabel') AS InputLabel,
                JSON_VALUE(value, '$.InputPlaceHolder') AS InputPlaceHolder,
                JSON_VALUE(value, '$.InputInstrucciones') AS InputInstrucciones,
                '' AS [Value]
            FROM OPENJSON(@JsonPlantilla)
            FOR JSON PATH
        );
        RETURN @Resultado;
    END
    
    -- Crear tabla temporal para datos de la plantilla
    DECLARE @PlantillaData TABLE (
        ID NVARCHAR(100),
        InputLabel NVARCHAR(MAX),
        InputPlaceHolder NVARCHAR(MAX),
        InputInstrucciones NVARCHAR(MAX)
    );
    INSERT INTO @PlantillaData (ID, InputLabel, InputPlaceHolder, InputInstrucciones)
    SELECT 
        JSON_VALUE(value, '$.ID'),
        JSON_VALUE(value, '$.InputLabel'),
        JSON_VALUE(value, '$.InputPlaceHolder'),
        JSON_VALUE(value, '$.InputInstrucciones')
    FROM OPENJSON(@JsonPlantilla)
    WHERE JSON_VALUE(value, '$.ID') IS NOT NULL;
    
    -- Crear tabla temporal para datos del detalle
    DECLARE @DetalleData TABLE (ID NVARCHAR(100), Value NVARCHAR(MAX));
    INSERT INTO @DetalleData (ID, Value)
    SELECT 
        JSON_VALUE(value, '$.ID'),
        JSON_VALUE(value, '$.Value')
    FROM OPENJSON(@JsonDetalle)
    WHERE JSON_VALUE(value, '$.ID') IS NOT NULL;
    
    -- Hacer el merge:
    -- 1. IDs que existen en plantilla pero no en detalle: agregar con Value = null
    -- 2. IDs que existen en ambos: mantener el Value del detalle
    -- 3. IDs que existen en detalle pero no en plantilla: eliminar (no incluir en resultado)
    SELECT @Resultado = (
        SELECT 
            p.ID,
            p.InputLabel,
            p.InputPlaceHolder,
            p.InputInstrucciones,
            CASE 
                WHEN d.Value IS NULL THEN ''
                ELSE d.Value
            END AS Value
        FROM @PlantillaData p
        LEFT JOIN @DetalleData d ON p.ID = d.ID
        FOR JSON PATH
    );
    
    RETURN @Resultado;
END
GO
