USE [p_adagioRHGrupoEnergy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spGuardarMensajeErrorControlAltasEmpleados]
    @IDControlAltasEmpleados INT,
    @EstatusError BIT,
    @MensajeError VARCHAR(MAX),
    @IDUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OldJSON VARCHAR(MAX),
            @NewJSON VARCHAR(MAX);

    -- Get Old JSON
    SELECT @OldJSON = a.JSON 
    FROM [RH].[tblControlAltasEmpleados] b
    CROSS APPLY (SELECT JSON=[Utilerias].[fnStrJSON](0,1,(SELECT b.* FOR XML RAW)) ) a
    WHERE b.IDControlAltasEmpleados=@IDControlAltasEmpleados

    UPDATE [RH].[tblControlAltasEmpleados]
    SET [EstatusError] = @EstatusError,
        [MensajeError] = @MensajeError
    WHERE [IDControlAltasEmpleados] = @IDControlAltasEmpleados

    -- Get New JSON
    SELECT @NewJSON = a.JSON 
    FROM [RH].[tblControlAltasEmpleados] b
    CROSS APPLY (SELECT JSON=[Utilerias].[fnStrJSON](0,1,(SELECT b.* FOR XML RAW)) ) a
    WHERE b.IDControlAltasEmpleados=@IDControlAltasEmpleados

    EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblControlAltasEmpleados]','[RH].[spGuardarMensajeErrorControlAltasEmpleados]','UPDATE',@NewJSON,@OldJSON
END
GO
