USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [RH].[spBorrarNotaControlAltasEmpleados](
	@IDNotaControlAltasEmpleados int,
	@IDUsuario int
) as

	 DECLARE @OldJSON Varchar(Max);

	select @OldJSON = a.JSON from [RH].[tblNotasControlAltasEmpleados] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDNotaControlAltasEmpleados = @IDNotaControlAltasEmpleados

	delete RH.tblNotasControlAltasEmpleados
	where IDNotaControlAltasEmpleados = @IDNotaControlAltasEmpleados

	EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblNotasControlAltasEmpleados]','[RH].[spBorrarNotaControlAltasEmpleados]','DELETE','',@OldJSON

	select 1
GO
