USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spUControlAltasEmpleadosInformacionPersonal]
(
    @IDControlAltasEmpleados INT = 0                    
    ,@ClaveEmpleado VARCHAR(20) = NULL
    ,@Nombre VARCHAR(50) = NULL
    ,@SegundoNombre VARCHAR(50) = NULL
    ,@Paterno VARCHAR(50) = NULL
    ,@Materno VARCHAR(50) = NULL
    ,@FechaNacimiento DATE = NULL
    ,@Sexo CHAR(1) = NULL    
    ,@IDPaisNacimiento INT = NULL
    ,@IDEstadoNacimiento INT = NULL
    ,@IDMunicipioNacimiento INT = NULL        
    ,@IDLocalidadNacimiento INT = NULL
    ,@IDEstadoCivil INT = NULL
    ,@CodigoPostalFiscal VARCHAR(50) = NULL
    ,@RFC VARCHAR(20) = NULL
    ,@CURP VARCHAR(20) = NULL
    ,@IMSS VARCHAR(20) = NULL        
    ,@FechaIngreso DATE = NULL
    ,@FechaAntiguedad DATE = NULL            
    ,@CurrentStep INT = NULL
    ,@IDUsuario INT        
) AS
BEGIN
    DECLARE 
        @OldJSON VARCHAR(MAX) = '',
        @NewJSON VARCHAR(MAX),
        @NombreSP VARCHAR(MAX) = '[RH].[spUControlAltasEmpleadosInformacionPersonal]',
        @Tabla VARCHAR(MAX) = '[RH].[tblControlAltasEmpleados]',
        @Accion VARCHAR(20) = '';
    
    DECLARE 
        @ID_ESTATUS_CONTROL_ALTAS_EMPLEADOS_EN_PROCESO INT = 1;

    IF(ISNULL(@IDControlAltasEmpleados,0)=0)
    BEGIN                
            raiserror('No existe un alta',16,1);  
		    return;        
    END      
        SELECT @OldJSON = a.JSON,
               @Accion = 'UPDATE'
        FROM [RH].[tblControlAltasEmpleados] b
            CROSS APPLY (SELECT JSON = [Utilerias].[fnStrJSON](0, 0, (SELECT 
             b.IDControlAltasEmpleados
            ,b.IDEmpleado
            ,b.IDEstatusControlAltasEmpleados
            ,b.IDTipoAltaEmpleado
            ,b.IDCliente            
            ,b.IDUsuario
            ,b.ClaveEmpleado
            ,b.RFC
            ,b.CURP
            ,b.IMSS
            ,b.Nombre
            ,b.SegundoNombre
            ,b.Paterno
            ,b.Materno
            ,b.FechaNacimiento
            ,b.Sexo
            ,b.IDEstadoCivil
            ,b.CodigoPostalFiscal
            ,b.FechaIngreso
            ,b.FechaAntiguedad
            ,b.IDMunicipioNacimiento
            ,b.IDEstadoNacimiento
            ,b.IDPaisNacimiento
            ,b.IDLocalidadNacimiento
            ,b.FechaCreacion
            ,b.FechaModificacion            
            FOR XML RAW))) a
        WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;

        UPDATE [RH].[tblControlAltasEmpleados]
        
        SET    
            ClaveEmpleado = UPPER(@ClaveEmpleado),
            Nombre = UPPER(@Nombre),
            SegundoNombre = UPPER(@SegundoNombre),
            Paterno = UPPER(@Paterno),
            Materno = UPPER(@Materno),
            FechaNacimiento = @FechaNacimiento,
            Sexo = @Sexo,            
            IDPaisNacimiento = @IDPaisNacimiento,
            IDEstadoNacimiento = @IDEstadoNacimiento,
            IDMunicipioNacimiento = @IDMunicipioNacimiento,
            IDLocalidadNacimiento = @IDLocalidadNacimiento,                                                           
            CodigoPostalFiscal = @CodigoPostalFiscal,
            IDEstadoCivil = @IDEstadoCivil,
            RFC = UPPER(@RFC),
            CURP = UPPER(@CURP),
            IMSS = @IMSS,
            FechaIngreso = @FechaIngreso,
            FechaAntiguedad = @FechaAntiguedad,                                                
            FechaModificacion = GETDATE(),
            IDUsuario = @IDUsuario
        WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;

        SELECT @NewJSON = a.JSON
        FROM [RH].[tblControlAltasEmpleados] b
            CROSS APPLY (SELECT JSON = [Utilerias].[fnStrJSON](0, 0, (
                    SELECT  
                    b.IDControlAltasEmpleados
                    ,b.IDEmpleado
                    ,b.IDEstatusControlAltasEmpleados
                    ,b.IDTipoAltaEmpleado
                    ,b.IDCliente                    
                    ,b.IDUsuario
                    ,b.ClaveEmpleado
                    ,b.RFC
                    ,b.CURP
                    ,b.IMSS
                    ,b.Nombre
                    ,b.SegundoNombre
                    ,b.Paterno
                    ,b.Materno
                    ,b.FechaNacimiento
                    ,b.Sexo
                    ,b.IDEstadoCivil
                    ,b.CodigoPostalFiscal
                    ,b.FechaIngreso
                    ,b.FechaAntiguedad
                    ,b.IDMunicipioNacimiento
                    ,b.IDEstadoNacimiento
                    ,b.IDPaisNacimiento
                    ,b.IDLocalidadNacimiento
                    ,b.FechaCreacion
                    ,b.FechaModificacion                    
                     FOR XML RAW))) a
        WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;
    

    EXEC [Auditoria].[spIAuditoria]
        @IDUsuario      = @IDUsuario,
        @Tabla          = @Tabla,
        @Procedimiento  = @NombreSP,
        @Accion         = @Accion,
        @NewData        = @NewJSON,
        @OldData        = @OldJSON;

        
    SELECT * 
    FROM [RH].[tblControlAltasEmpleados]
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados;

    
END;
GO
