USE [p_adagioRHDusgem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE app.spBuscarJobExecutionControl(
	@JobName NVARCHAR(100) = null
)
AS
BEGIN
	SELECT JobName
		, isnull(IsRunning,0) as IsRunning
		, LastStartTime
		, LastEndTime
	FROM app.tblJobExecutionControl with(nolock)
	WHERE JobName = @JobName OR (ISNULL(@JobName,'') = '')
END
GO
