USE [p_adagioRHIndustrialMefi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Nomina].[tblCompensaciones](
	[IDCompensacion] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDEmpleado] [int] NOT NULL,
	[IDTipoCompensacion] [int] NOT NULL,
	[IDEstatusCompensacion] [int] NULL,
	[MontoCompensacion] [decimal](18, 2) NULL,
	[Cuotas] [decimal](18, 2) NULL,
	[CantidadCuotas] [int] NOT NULL,
	[Descripcion] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[FechaInicioPago] [date] NOT NULL,
	[Recurrente] [bit] NOT NULL,
 CONSTRAINT [PK_NominatblCompensaciones_IDCompensacion] PRIMARY KEY CLUSTERED 
(
	[IDCompensacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_NominatblCompensaciones_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensaciones_IDEmpleado] ON [Nomina].[tblCompensaciones]
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensaciones_IDEstatusCompensacion] ON [Nomina].[tblCompensaciones]
(
	[IDEstatusCompensacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensaciones_IDTipoCompensacion] ON [Nomina].[tblCompensaciones]
(
	[IDTipoCompensacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_NominatblCompensaciones_Recurrente] ON [Nomina].[tblCompensaciones]
(
	[Recurrente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Nomina].[tblCompensaciones] ADD  CONSTRAINT [DF_NominatblCompensaciones_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [Nomina].[tblCompensaciones] ADD  CONSTRAINT [DF_NominatblCompensaciones_Recurrente]  DEFAULT ((0)) FOR [Recurrente]
GO
ALTER TABLE [Nomina].[tblCompensaciones]  WITH CHECK ADD  CONSTRAINT [FK_NominatblCatEstatusCompensacion_NominatblCompensaciones_IDEstatusCompensacion] FOREIGN KEY([IDEstatusCompensacion])
REFERENCES [Nomina].[tblCatEstatusCompensacion] ([IDEstatusCompensacion])
GO
ALTER TABLE [Nomina].[tblCompensaciones] CHECK CONSTRAINT [FK_NominatblCatEstatusCompensacion_NominatblCompensaciones_IDEstatusCompensacion]
GO
ALTER TABLE [Nomina].[tblCompensaciones]  WITH CHECK ADD  CONSTRAINT [FK_NominaTblCatTiposCompensacion_IDTipoCompensacion] FOREIGN KEY([IDTipoCompensacion])
REFERENCES [Nomina].[tblCatTiposCompensacion] ([IDTipoCompensacion])
GO
ALTER TABLE [Nomina].[tblCompensaciones] CHECK CONSTRAINT [FK_NominaTblCatTiposCompensacion_IDTipoCompensacion]
GO
ALTER TABLE [Nomina].[tblCompensaciones]  WITH CHECK ADD  CONSTRAINT [FK_RHtblEmpleados_NominatblCompensaciones_IDEmpleado] FOREIGN KEY([IDEmpleado])
REFERENCES [RH].[tblEmpleados] ([IDEmpleado])
GO
ALTER TABLE [Nomina].[tblCompensaciones] CHECK CONSTRAINT [FK_RHtblEmpleados_NominatblCompensaciones_IDEmpleado]
GO
