USE [p_adagioRHIndustrialMefi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Inserta las solicitudes de Prestamos que seran enviadas a los jefes.
** Autor			: jose vargas
** Email			: jvargas@adagio.com.mx
** FechaCreacion	: 2025-05-07
** Parametros		: @IDSolicitud	Identificador de la solicitud
**					: @IDUsuario	Identificador del usuario


** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE  PROC [Intranet].[spISolicitudesPrestamosParaJefes](
	@IDSolicitud	INT = 0	
	, @IDUsuario	INT = 0
)
AS
	BEGIN
    
        DECLARE @ID_TIPO_COMENTARIO_PRESTAMOS INT=3 ;

         
		--CREAR SOLICITUDES NUEVAS
		INSERT INTO [Intranet].[tblSolicitudesPrestamosParaJefes]
        (IDSolicitud,FolioSolicitud,FechaCreacionSolicitud,HoraCreacionSolicitud,IDEstatusSolicitudPrestamo,EstatusSolicitudPrestamo,
        IDTipoPrestamo,TipoPrestamo,MontoPrestamo,Cuotas,CantidadCuotas,FechaInicioPago,Intereses,ComentariosSolicitud,
        IDUsuarioEmpleado,IDEmpleado,ClaveEmpleado,NombreEmpleado,SegundoNombreEmpleado,ApellidoPaternoEmpleado,ApellidoMaternoEmpleado,NombreCompletoEmpleado,
        EmailEmpleado,IDUsuarioJefe,IDEmpleadoJefe,CuentaJefe,NombreJefe,ApellidoJefe,EmailJefe,NombreCompletoJefe,IDUsuarioJefeQueAutoriza
        )
		SELECT			             
			-- DATOS SOLICITUD
            SE.IDSolicitudPrestamo as IDSolicitud
			, 'S' + CAST(SE.IDSolicitudPrestamo AS VARCHAR(10)) AS FolioSolicitud
			 , ISNULL(CONVERT(VARCHAR(10), SE.FechaCreacion, 103), '') AS FechaCreacionSolicitud
			 , '00:00' AS HoraCreacionSolicitud			
			, SE.IDEstatusSolicitudPrestamo as IDEstatusSolicitudPrestamo
            , REPLACE(ES.Traduccion, '"Descripcion"', '"ValorDinamico"') AS EstatusSolicitud
            ,SE.IDTipoPrestamo as IDTipoPrestamo
            ,ctpp.Descripcion as TipoPrestamo
            , se.MontoPrestamo as  MontoPrestamo
            ,se.Cuotas as Cuotas
            ,se.CantidadCuotas as CantidadCuotas
            ,se.FechaInicioPago as FechaInicioPago
            ,se.Intereses			
			, (
				'<ul style="margin: 0;">' +
				(
					SELECT TOP 5
							'<li><b>' + ISNULL(USUARIOS_MSJ.Nombre, '') + ' ' + ISNULL(USUARIOS_MSJ.Apellido, '') + ':</b> ' + ISNULL(CTR.Comentario, '') + '</li>'
					FROM [App].[tblComentarios] CTR
						LEFT JOIN [Seguridad].[tblUsuarios] USUARIOS_MSJ ON CTR.IDUsuario = USUARIOS_MSJ.IDUsuario
					WHERE CTR.IDReferencia = SE.IDSolicitudPrestamo
							AND CTR.IDTipoComentario = @ID_TIPO_COMENTARIO_PRESTAMOS
					ORDER BY CTR.IDComentario DESC
					FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') + '</ul>'
			) AS ComentariosSolicitud

			-- DATOS COLABORADOR
			, ISNULL(USUARIO_COLABORADOR.IDUsuario, 0) AS IDUsuarioEmpleado
			, ISNULL(SE.IDEmpleado, 0) AS IDEmpleado
			, ISNULL(COLABORADOR.ClaveEmpleado, '') AS ClaveEmpleado
			, ISNULL(COLABORADOR.Nombre, '') AS NombreEmpleado
			, ISNULL(COLABORADOR.SegundoNombre, '') AS SegundoNombreEmpleado
			, ISNULL(COLABORADOR.Paterno, '') AS  ApellidoPaternoEmpleado
			, ISNULL(COLABORADOR.Materno, '') AS  ApellidoMaternoEmpleado
			, ISNULL(COLABORADOR.NOMBRECOMPLETO, '') AS NombreCompletoEmpleado
			, ISNULL([Utilerias].[fnGetCorreoEmpleado] (SE.IDEmpleado, 0, 'SolicitudIntranet'), '') AS EmailEmpleado
				
			-- DATOS JEFES
			, ISNULL(JEFES.IDUsuario, 0) AS IDUsuarioJefe
			, ISNULL(JEFES.IDJefe, 0) AS IDEmpleadoJefe
			, ISNULL(JEFES.Cuenta, '') AS CuentaJefe
			, ISNULL(JEFES.Nombre, '') AS NombreJefe
			, ISNULL(JEFES.Apellido, '') AS ApellidoJefe
			, ISNULL(JEFES.Email, '') AS EmailJefe
			, ISNULL(JEFES.Nombre, '') + ' ' + ISNULL(JEFES.Apellido, '') AS NombreCompletoJefe

			-- JEFE QUE AUTORIZO SOLICITUD
			, CASE 
				WHEN ISNULL(SE.IDUsuarioAutorizo, 0) > 0 AND ISNULL(SE.IDUsuarioAutorizo, 0) = ISNULL(JEFES.IDUsuario, 0)
					THEN SE.IDUsuarioAutorizo
                    when se.IDEstatusSolicitudPrestamo=4 and ISNULL(se.IDUsuarioCancelo,0) <> 0
                    then  se.IDUsuarioCancelo
					ELSE 0
				END AS IDUsuarioJefeQueAutoriza

		FROM [Intranet].[tblSolicitudesPrestamos] SE
			            
			-- DATOS SOLICITUD			
			LEFT JOIN [Intranet].[tblCatEstatusSolicitudesPrestamos] ES ON SE.IDEstatusSolicitudPrestamo = ES.IDEstatusSolicitudPrestamo			
            LEFT join Nomina.tblCatTiposPrestamo ctpp on ctpp.IDTipoPrestamo=se.IDTipoPrestamo
			-- DATOS COLABORADOR
			LEFT JOIN [RH].[tblEmpleadosMaster] COLABORADOR WITH (NOLOCK) ON SE.IDEmpleado = COLABORADOR.IDEmpleado
			LEFT JOIN [Seguridad].[tblUsuarios] USUARIO_COLABORADOR ON SE.IDEmpleado = USUARIO_COLABORADOR.IDEmpleado

			-- DATOS JEFES
			LEFT JOIN
			(
				SELECT JE.IDJefe, JE.IDEmpleado, FCE.Email, USUARIO_JEFE.Cuenta, USUARIO_JEFE.Nombre, USUARIO_JEFE.Apellido, USUARIO_JEFE.IDUsuario
				FROM [RH].[tblJefesEmpleados] JE
					LEFT JOIN [Utilerias].[fnBuscarCorreosEmpleados]('SolicitudIntranet') FCE ON JE.IDJefe = FCE.IDEmpleado
					LEFT JOIN [Seguridad].[tblUsuarios] USUARIO_JEFE ON JE.IDJefe = USUARIO_JEFE.IDEmpleado
			) JEFES ON SE.IDEmpleado = JEFES.IDEmpleado
		
		WHERE SE.IDSolicitudPrestamo = @IDSolicitud

	END
GO
