USE [p_adagioRHEdman]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Facturacion].[spBuscarDetalleFolioAsimilados] --13832
(      
	@IDHistorialEmpleadoPeriodo int      
)      
AS      
BEGIN      
      
	DECLARE       
		@Folio int,      
		@Fecha Datetime,      
		@ImporteGravado Decimal(21,2),      
		@SubTotal Decimal(21,2),      
		@Total Decimal(21,2),      
		@TotalDeducciones Decimal(21,2),      
		@ImporteExcento Decimal(21,2),      
		@TotalImpuestos Decimal(21,2),      
		@OtrasDeducciones Decimal(21,2),      
		@TotalOtrosPagos Decimal(21,2),      
		@dtFiltros [Nomina].[dtFiltrosRH] ,      
		@empleados [RH].[dtEmpleados],      
		@TotalSueldo Decimal(21,2),  
		@Indemnizacion bit = 0,
      
		@IDPeriodo int       
		,@IDTipoNomina int       
		,@Ejercicio int       
		,@ClavePeriodo varchar(20)       
		,@DescripcionPeriodo varchar(250)       
		,@FechaInicioPago date       
		,@FechaFinPago date       
		,@FechaInicioIncidencia date       
		,@FechaFinIncidencia date       
		,@Dias int       
		,@AnioInicio bit       
		,@AnioFin bit       
		,@MesInicio bit       
		,@MesFin bit       
		,@IDMes int       
		,@BimestreInicio bit       
		,@BimestreFin bit       
		,@General bit       
		,@Finiquito bit       
		,@Especial bit       
		,@Cerrado bit    
	;
      
	--PERIODO      
	select top 1       
		@IDPeriodo = p.IDPeriodo ,@IDTipoNomina= p.IDTipoNomina,@Ejercicio = p.Ejercicio,@ClavePeriodo = p.ClavePeriodo,@DescripcionPeriodo =  p.Descripcion       
		,@FechaInicioPago = p.FechaInicioPago,@FechaFinPago = p.FechaFinPago,@FechaInicioIncidencia = p.FechaInicioIncidencia,@FechaFinIncidencia=  p.FechaFinIncidencia       
		,@Dias = p.Dias,@AnioInicio = p.AnioInicio,@AnioFin = p.AnioFin,@MesInicio = p.MesInicio,@MesFin = p.MesFin       
		,@IDMes = IDMes,@BimestreInicio = BimestreInicio,@BimestreFin = BimestreFin       
		,@General = p.General,@Finiquito = p.Finiquito,@Especial = p.Especial,@Cerrado = p.Cerrado       
	from Nomina.tblCatPeriodos p with (nolock)     
		Inner join Nomina.tblHistorialesEmpleadosPeriodos HEP with (nolock)      
			on P.IDPeriodo = HEP.IDPeriodo      
	Where HEP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
         
   --PERIODO      
      
   --FILTRO EMPLEADO      
      
	insert into @dtFiltros       
	select 'Empleados',Cast( IDEmpleado as Varchar(50))      
	from Nomina.tblHistorialesEmpleadosPeriodos with (nolock)      
	Where IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
      
    insert into @empleados      
    exec [RH].[spBuscarEmpleadosMaster] @FechaIni = @FechaInicioPago,@Fechafin = @FechaFinPago ,@dtFiltros = @dtFiltros ,@IDUsuario = 1     
    --FILTRO EMPLEADO      
        
	--CONFIGURACION TIMBRADO      
	SELECT HEP.IDHistorialEmpleadoPeriodo,      
		CE.Usuario,      
		CE.Password,      
		CE.PasswordKey,      
		--Pack.NombrePack,      
		E.RFC as RFCEmisor,    
		ISNULL(t.UUID,'') as UUID       
	FROM  Nomina.tblHistorialesEmpleadosPeriodos HEP with (nolock)      
		Left Join Facturacion.tblCatConfigEmpresa CE with (nolock)      
			on HEP.IDEmpresa = CE.IDEmpresa      
		--Left Join Facturacion.tblCatPacks Pack      
			-- on CE.IDPack = Pack.IDPack      
		LEFT Join RH.tblEmpresa E with (nolock)      
			on HEP.IDEmpresa = E.IDEmpresa    
		left join Facturacion.TblTimbrado t with (nolock)    
			on t.IDHistorialEmpleadoPeriodo = hep.IDHistorialEmpleadoPeriodo and t.Actual = 1      
	Where HEP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      

	--CONFIGURACION TIMBRADO      
	--FOLIOS Y TOTALES DE GRAVADO Y EXCENTO      

	select @Folio = @IDHistorialEmpleadoPeriodo     
		  ,@Fecha = getdate()  


	select 
		    
		@SubTotal = ROUND(SUM(DP.ImporteTotal1),2)      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		left join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		inner join Sat.tblCatTiposPercepciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
		inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion  in ('PERCEPCION ASIMILADOS')      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		--AND percepciones.Codigo not in ('022','023','025')      
		and DP.ImporteAcumuladoTotales <> 0      
	GROUP BY EP.IDHistorialEmpleadoPeriodo      
      
	select       
      @ImporteGravado =  SUM(DP.ImporteGravado)     
      ,@ImporteExcento = SUM(DP.ImporteExcento)     
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock) 
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposPercepciones percepciones with (nolock) 
			on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion in ('PERCEPCION ASIMILADOS')      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		--AND percepciones.Codigo not in ('022','023','025')      
		and DP.ImporteAcumuladoTotales <> 0      
	GROUP BY EP.IDHistorialEmpleadoPeriodo      
      
    select       
      @TotalSueldo = ROUND(SUM(DP.ImporteTotal1),2)      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposPercepciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion  in ('PERCEPCION ASIMILADOS')      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		   AND percepciones.Codigo not in ('022','023','025')      
		   and DP.ImporteAcumuladoTotales <> 0      
	GROUP BY EP.IDHistorialEmpleadoPeriodo      
      
	select       
		@TotalOtrosPagos = SUM(round(DP.ImporteTotal1,2))      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposDeducciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoDeduccion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion = 'OTROS TIPOS DE PAGOS ASIMILADOS'      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		--AND percepciones.Codigo not in ('022','023','025')      
        
      
	select       
		@TotalDeducciones = SUM(round(DP.ImporteTotal1,2))      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposDeducciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoDeduccion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion = 'DEDUCCION ASIMILADOS'      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo and DP.ImporteAcumuladoTotales <> 0      
      
	select       
		@OtrasDeducciones = SUM(ROUND(DP.ImporteTotal1,2))      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)     
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposDeducciones Deducciones with (nolock)      
			on c.IDCodigoSAT = Deducciones.IDTipoDeduccion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion = 'DEDUCCION ASIMILADOS'      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		and Deducciones.Codigo <> '002' -- ISR      
		and DP.ImporteAcumuladoTotales <> 0      
      
	select       
		@TotalImpuestos = SUM(ROUND(DP.ImporteTotal1,2))      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposDeducciones deducciones with (nolock)      
			on c.IDCodigoSAT = deducciones.IDTipoDeduccion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto      
				and TipoConcepto.Descripcion = 'DEDUCCION ASIMILADOS'      
				and deducciones.Codigo = '002' -- ISR      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo and DP.ImporteAcumuladoTotales <> 0      
      
	set @Total = (isnull(@TotalOtrosPagos,0.00)+isnull(@SubTotal,0.00)) - isnull(@TotalDeducciones,0.00)      
   --set @Total = isnull(@SubTotal,0.00) - isnull(@TotalDeducciones,0.00)     
   
    select       
      @Indemnizacion = CASE WHEN (ROUND(SUM(DP.ImporteTotal1),2) > 0) THEN 1 ELSE 0 END     
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposPercepciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion  in ('PERCEPCION ASIMILADOS')      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		   AND percepciones.Codigo in ('022','023','025')      
		   and DP.ImporteAcumuladoTotales <> 0      
	GROUP BY EP.IDHistorialEmpleadoPeriodo   

         
	select 
		@Folio Folio      
		 ,@Fecha Fecha      
		 ,cast(isnull(@ImporteGravado,0.00)							 as decimal(21,2))	as TotalGravado      
		 ,cast(isnull(@SubTotal,0.00)								 as decimal(21,2))	as TotalPercepciones      
		 ,cast(isnull(@TotalDeducciones,0.00)						 as decimal(21,2))	as TotalDeducciones      
		 ,cast(isnull(@Total,0.00)									 as decimal(21,2))	as Total      
		 ,cast(isnull(@SubTotal,0.00)+ ISNULL(@TotalOtrosPagos,0.00) as decimal(21,2))	as SubTotal      
		 ,cast(isnull(@ImporteExcento,0.00)							 as decimal(21,2))	as TotalExcento      
		 ,cast(isnull(@TotalImpuestos,0.00)							 as decimal(21,2))	as TotalImpuestos      
		 ,cast(isnull(@OtrasDeducciones,0.00)						 as decimal(21,2))	as OtrasDeducciones      
		 ,cast(ISNULL(@TotalOtrosPagos,0.00)						 as decimal(21,2))	as OtrosTiposPagos      
		 ,cast(ISNULL(@TotalSueldo,0.00)							 as decimal(21,2))	as TotalSueldo  
		 , CAST(@Indemnizacion										 as bit) as Indemnizacion
	-- FOLIO TOTALES       
	
	--PERCEPCIONES      
	select 
		c.Codigo as CodigoConcepto,      
		c.Descripcion as Concepto,      
		percepciones.Codigo as CodigoSatPercepcion,      
		CAST(DP.ImporteGravado as DECIMAL(21,2)) as ImporteGravado,       
		CAST(DP.ImporteExcento as DECIMAL(21,2)) as  ImporteExcento,
		CEILING(CAST(CASE WHEN c.Codigo = '110' THEN (CAST(DP.ImporteTotal1 as DECIMAL(21,2))/2)/(isnull(E.SalarioDiario,0)/8) 
						  WHEN c.Codigo = '111' THEN (CAST(DP.ImporteTotal1 as DECIMAL(21,2))/3)/(isnull(E.SalarioDiario,0)/8) 
							ELSE 0 END as DECIMAL(21,2))) as CantidadesHorasExtra,
		CAST(DP.ImporteTotal1 as DECIMAL(21,2))  as ImporteTotal1,
		CASE WHEN c.Codigo in ('110','111') THEN		
				CASE WHEN pp.Codigo = '02' THEN CASE WHEN ((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) > 3 THEN 3 ELSE CEILING((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) END
					WHEN pp.Codigo = '03' THEN CASE WHEN   ((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) > 6 THEN 6 ELSE CEILING((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) END
					WHEN pp.Codigo = '04' THEN CASE WHEN   ((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) > 7 THEN 7 ELSE CEILING((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) END
					WHEN pp.Codigo = '05' THEN CASE WHEN   ((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) > 14 THEN 14 ELSE CEILING((CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))/2)/(isnull(e.SalarioDiario,0)/8)/3) END
					ELSE 0
				END
		ELSE 0
		END as CantidadDiasExtra
		from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
			Inner join Nomina.tblDetallePeriodo DP with (nolock)      
				on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo  
			inner join Nomina.tblCatPeriodos p with (nolock)
				on ep.IDPeriodo = p.IDPeriodo
			inner join Nomina.tblCatTipoNomina tn with (nolock)
				on p.IDTipoNomina = tn.IDTipoNomina
			inner join Sat.tblCatPeriodicidadesPago pp with (nolock)
				on pp.IDPeriodicidadPago = tn.IDPeriodicidadPago   
			inner join Nomina.tblCatConceptos c with (nolock)      
				on DP.IDConcepto = C.IDConcepto      
			Inner join Sat.tblCatTiposPercepciones percepciones with (nolock)      
				on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
			Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
				on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto      
					and TipoConcepto.Descripcion = 'PERCEPCION ASIMILADOS' 
			inner join @empleados e
				on e.IDEmpleado = ep.IDEmpleado
			Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
				--AND percepciones.Codigo not in ('022','023','025')      
				and DP.ImporteAcumuladoTotales <> 0      
				--and C.Descripcion not like( '%Aguinaldo%')      
	--PERCEPCIONES      
	--OTROS TIPOS DE PAGO      
	select 
		c.Codigo as CodigoConcepto,      
		c.Descripcion as Concepto,      
		percepciones.Codigo as CodigoSatPercepcion,          
		CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2)) as  ImporteTotal1      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock) 
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposOtrosPagos percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoOtroPago      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)       
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto      
				and TipoConcepto.Descripcion = 'OTROS TIPOS DE PAGOS ASIMILADOS'      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo     
	--and percepciones.Codigo = '002'     
         
	--OTROS TIPOS DE PAGO      
    
	--OTROS TIPOS DE PAGO  -- SUBISDIO CAUSADO    
	select 
		c.Codigo as CodigoConcepto,      
		c.Descripcion as Concepto,      
		percepciones.Codigo as CodigoSatPercepcion,      
		CAST(ROUND(DP.ImporteGravado,2) as DECIMAL(21,2)) as ImporteGravado,       
		CAST(ROUND(DP.ImporteExcento,2) as DECIMAL(21,2)) as  ImporteExcento,      
		CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2)) as  ImporteTotal1   
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		left join Sat.tblCatTiposPercepciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)          
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto      
		--and TipoConcepto.Descripcion = 'OTROS TIPOS DE PAGOS'      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo  and c.Codigo in ('078')     
	--OTROS TIPOS DE PAGO -- SUBISDIO CAUSADO    
    
	--DEDUCCIONES      
	select 
		c.Codigo as CodigoConcepto,      
		c.Descripcion as Concepto,      
		Deducciones.Codigo as CodigoSatDeduccion,      
		CAST(SUM(ROUND(DP.ImporteTotal1,2)) as DECIMAL(21,2)) as TotalDeduccion      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposDeducciones Deducciones with (nolock)      
			on c.IDCodigoSAT = Deducciones.IDTipoDeduccion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion = 'DEDUCCION ASIMILADOS'      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo and DP.ImporteAcumuladoTotales <> 0      
	--and C.Codigo = '200' -- ISR      
	GROUP By c.Codigo,c.Descripcion,Deducciones.Codigo      
	--DEDUCCIONES      
	--INCAPACIDADES      
	select
    top 1       --JAVIER PEÑA 12-11-2021 SE AGREGÓ TOP 1 YA QUE CAUSA ERROR EN TIMBRADO
		fn.Numero,  
		CASE WHEN dp.IDDetallePeriodo is not null and isnull(dp.CantidadDias,0) > 0  then cast(isnull(dp.CantidadDias,0) as int) else fn.Duracion end as Duracion,
		--COALESCE(fn.TipoIncapacidad,2) AS TipoIncapacidad, 
		fn.TipoIncapacidad AS TipoIncapacidad,-- Se hizo este cambio ya que da error al timbrar DIANA. Se revisio en CLOE y se valido con Joseph
		CASE WHEN dp.IDDetallePeriodo is not null and isnull(dp.ImporteTotal1,0) > 0  then 1 else fn.PagoSubsidioEmpresa end as PagoSubsidioEmpresa,

		CASE WHEN dp.IDDetallePeriodo is not null and isnull(dp.ImporteTotal1,0) > 0  then isnull(dp.ImporteTotal1,0) 
			else CAST(CASE  WHEN fn.PagoSubsidioEmpresa = 1 and fn.TipoIncapacidad = '02' THEN (((Empleados.SalarioDiario / 100) * 40) * fn.Duracion)      
				else 0      
				END as Decimal(18,2)) 
			end as Importe



		--CAST(CASE  WHEN fn.PagoSubsidioEmpresa = 1 and fn.TipoIncapacidad = '02' THEN (((Empleados.SalarioDiario / 100) * 40) * fn.Duracion)      
		--else 0      
		--END as Decimal(18,2)) Importe      
	From @empleados Empleados      
	Cross APPLY  Asistencia.fnGetIncapacidades(Empleados.IDEmpleado,@FechaInicioIncidencia,@FechaFinIncidencia) as fn  ---JAVIER PEÑA 12-11-2021 SE MODIFICARON LAS FECHAS DE PAGO POR LAS DE INCIDENCIA, YA QUE DA ERROR AL TIMBRAR CUANDO BUSCA LAS INCAPACIDADES
	Left join Nomina.tblDetallePeriodo dp with(nolock)
		on Empleados.IDEmpleado = dp.IDEmpleado
		and dp.IDPeriodo = @IDPeriodo
		and dp.IDConcepto in (select IDConcepto from Nomina.tblCatConceptos c with(nolock) where codigo ='142')    
	--INCAPACIDADES      
      
	--INDEMNIZACION FINIQUITO      
	select 
		SUM(dp.ImporteTotal1) as TotalPagado,      
		DATEDIFF(YEAR,CF.FechaAntiguedad,isnull(CF.FechaBaja,@FechaFinPago)) as NumAniosServicio,      
		CAST(SUM(ROUND((e.SalarioDiario * 30.4),2)) as DECIMAL(21,2)) as UltimoSueldoMensOrd,       
		CASE WHEN SUM(dp.ImporteGravado) >=  CAST(SUM(ROUND((e.SalarioDiario * 30.4),2)) as DECIMAL(21,2))       
			THEN CAST(SUM(ROUND((e.SalarioDiario * 30.4),2)) as DECIMAL(21,2))      
			ELSE SUM(dp.ImporteGravado)      
		END IngresoAcumulable,      
		CASE WHEN (SUM(dp.ImporteGravado) - CAST(SUM(ROUND((e.SalarioDiario * 30.4),2))as DECIMAL(21,2))) < 0 THEN 0      
		ELSE (SUM(dp.ImporteGravado) - CAST(SUM(ROUND((e.SalarioDiario * 30.4),2))as DECIMAL(21,2)))      
		END as IngresoNoAcumulable      
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)      
		Inner join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		inner join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		Inner join Sat.tblCatTiposPercepciones percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoPercepcion      
		Inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)      
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion = 'PERCEPCION ASIMILADOS'      
		left JOIN Nomina.tblControlFiniquitos CF with (nolock)      
			on EP.IDEmpleado = CF.IDEmpleado      
				and EP.IDPeriodo = CF.IDPeriodo      
				AND CF.IDEStatusFiniquito = 2      
		INNER JOIN @empleados e      
			on EP.IDEmpleado = E.IDEmpleado      
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo      
		AND percepciones.Codigo in ('022','023','025') AND DP.ImporteAcumuladoTotales <> 0      
	Group by cf.FechaAntiguedad,CF.FechaBaja, e.SalarioDiario      
       
	-- REINTREGRO DE ISR AJUSTE ANUAL     
	select      
		ISNULL(SUM(CAST(ROUND(DP.ImporteTotal1,2) as DECIMAL(21,2))),0) as REINTEGRO    
		,p.Ejercicio - 1 as Ejercicio -- Año anterior 
	from Nomina.tblHistorialesEmpleadosPeriodos EP with (nolock)    
		Inner join Nomina.tblCatPeriodos p with (nolock) 
			on p.IDPeriodo = ep.IDPeriodo      
		left join Nomina.tblDetallePeriodo DP with (nolock)      
			on EP.IDEmpleado = dp.IDEmpleado and EP.IDPeriodo = DP.IDPeriodo      
		left join Nomina.tblCatConceptos c with (nolock)      
			on DP.IDConcepto = C.IDConcepto      
		inner join Sat.tblCatTiposOtrosPagos percepciones with (nolock)      
			on c.IDCodigoSAT = percepciones.IDTipoOtroPago      
		inner join Nomina.tblCatTipoConcepto TipoConcepto with (nolock)       
			on c.IDTipoConcepto = TipoConcepto.IDTipoConcepto and TipoConcepto.Descripcion = 'OTROS TIPOS DE PAGOS ASIMILADOS'  
	Where EP.IDHistorialEmpleadoPeriodo = @IDHistorialEmpleadoPeriodo and percepciones.Codigo in( '004')       
	GROUP BY p.Ejercicio 
	-- REINTREGRO DE ISR AJUSTE ANUAL    
	
	--CFDI's RELACIONADOS
		SELECT DISTINCT UPPER(UUID) as UUID
		FROM FACTURACION.TblTimbrado 
		WHERE IDHistorialEmpleadoPeriodo = @Folio
		AND UUID IS NOT NULL
	--CFDI's RELACIONADOS
END
GO
