USE [p_adagioRHSakata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROCOM].[tblCatEstatusCuotaAfiliacion](
	[IDCatEstatusCuotaAfiliacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[LayoutDescargable] [bit] NULL,
 CONSTRAINT [PK_ProcomTblCatEstatusCuotaAfiliacion_IDCatEstatusCuotaAfiliacion] PRIMARY KEY CLUSTERED 
(
	[IDCatEstatusCuotaAfiliacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PROCOM].[tblCatEstatusCuotaAfiliacion] ADD  CONSTRAINT [d_ProcomTblCatEstatusCuotaAfiliacion_LayoutDescargable]  DEFAULT ((0)) FOR [LayoutDescargable]
GO
