USE [p_adagioRHRuggedTech]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reclutamiento].[tblRegistroCandidatos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCandidato] [int] NOT NULL,
	[NombreCompletoCandidato] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[IDPlaza] [int] NOT NULL,
	[PosicionDescripcion] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDReclutador] [int] NOT NULL,
	[NombreCompletoReclutador] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EsRegistroCandidato] [bit] NOT NULL,
	[UrlActivacion] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EmailCandidato] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
