USE [p_adagioRHCSM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Busca las solicitudes de actualización de datos que aprobaran o rechazaran los jefes.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-08-22
** Parametros		: @IDSolicitud		Identificador de la solicitud
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1676

** DataTypes Relacionados:
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spBuscarSolicitudDeActualizacionDeDatosParaJefes](
	@IDMax			INT = 0
	, @IDSolicitud	INT = 0
	, @IDUsuario	INT = 0
)
AS
	BEGIN
		
		DECLARE @PENDIENTE INT = 1;

		SELECT SA.ID
				, SA.IDUsuarioJefe
				, SA.IDEmpleadoJefe
		FROM [Intranet].[tblSolicitudesActualizacionDeDatosParaJefes] SA
		WHERE SA.ID <= @IDMax
				AND SA.IDSolicitud = @IDSolicitud
				AND SA.IDEstatusSolicitud = @PENDIENTE
				AND NOT EXISTS (
								SELECT TOP 1 NA.IDEnviarNotificacionA
								FROM [App].[tblEnviarNotificacionA] NA
									JOIN [App].[tblNotificaciones] N ON NA.IDNotifiacion = N.IDNotifiacion
								WHERE NA.IDMedioNotificacion = 'Email'
									AND NA.TipoReferencia = '[Intranet].[tblSolicitudesActualizacionDeDatosParaJefes]'
									AND NA.IDReferencia = SA.ID									
							);

	END
GO
