USE [p_adagioRHCSM]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Inserta las solicitudes de vacaciones que son emitidas por los colaboradores.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-05-09
** Parametros		: @IDSolicitud	Identificador de la solicitud
**					: @IDUsuario	Identificador del usuario
** IDAzure			: #1581

** DataTypes Relacionados:
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spISolicitudesVacacionesParaColaboradores](
	@IDSolicitud	INT = 0
	, @IDUsuario	INT = 0
)
AS
	BEGIN

		-- CREAR SOLICITUDES NUEVAS
		INSERT INTO [Intranet].[tblSolicitudesVacacionesParaColaboradores]
		SELECT

			-- DATOS SOLICITUD
			SE.IDSolicitud
			, 'S' + CAST(SE.IDSolicitud AS VARCHAR(10)) AS FolioSolicitud
			, ISNULL(CONVERT(VARCHAR(10), SE.FechaCreacion, 103), '') AS FechaCreacionSolicitud
			, ISNULL(CONVERT(VARCHAR(5), SE.FechaCreacion, 108), '') AS HoraCreacionSolicitud			
			, SE.IDEstatusSolicitud
			, REPLACE(ES.Traduccion, '"Descripcion"', '"ValorDinamico"') AS EstatusSolicitud
			, CAST(ISNULL(SE.CantidadDias, '0') AS VARCHAR(3)) AS DiasSolicitadosSolicitud
			, '(' + ISNULL(CONVERT(VARCHAR(10), SE.FechaIni, 103), '') + ' - ' + ISNULL(CONVERT(VARCHAR(10), SE.FechaFin, 103), '') + ')' AS PeriodoSolicitud			
			, '{"esmx": {"ValorDinamico": "' +
												(
													SELECT CASE
														WHEN ISNULL(SE.DiasDescanso, ',') <> ','
															THEN STRING_AGG(JSON_VALUE(DS.Traduccion, FORMATMESSAGE('$.%s.%s', LOWER(REPLACE('esmx', '-','')), 'Descripcion')), ',')
															ELSE 'Ninguno'
														END
													FROM [App].[tblCatDiasSemana] DS
														JOIN STRING_SPLIT(ISNULL(SE.DiasDescanso, ''), ',') DIAS ON DS.IDDia = CAST(DIAS.[value] AS INT)
												) 
											 + ''
					+ '"},'
			 + '"enus": {"ValorDinamico": "' +
												(
													SELECT CASE
															WHEN ISNULL(SE.DiasDescanso, ',') <> ','
																THEN STRING_AGG(JSON_VALUE(DS.Traduccion, FORMATMESSAGE('$.%s.%s', LOWER(REPLACE('enus', '-','')), 'Descripcion')), ',')
																ELSE 'None'
															END
													FROM [App].[tblCatDiasSemana] DS
														JOIN STRING_SPLIT(ISNULL(SE.DiasDescanso, ''), ',') DIAS ON DS.IDDia = CAST(DIAS.[value] AS INT)
											    ) 
											 + ''
					+ ' "}'
			+ '}' AS DiasDescansoSolicitud
			, (
				'<ul style="margin: 0;">' +
				(
					SELECT TOP 5
							'<li><b>' + ISNULL(USUARIOS_MSJ.Nombre, '') + ' ' + ISNULL(USUARIOS_MSJ.Apellido, '') + ':</b> ' + ISNULL(CTR.Comentario, '') + '</li>'
					FROM [App].[tblComentarios] CTR
						LEFT JOIN [Seguridad].[tblUsuarios] USUARIOS_MSJ ON CTR.IDUsuario = USUARIOS_MSJ.IDUsuario
					WHERE CTR.IDReferencia = SE.IDSolicitud
							AND CTR.IDTipoComentario = 1
					ORDER BY CTR.IDComentario DESC
					FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') + '</ul>'
			) AS ComentariosSolicitud
				
			-- DATOS COLABORADOR
			, ISNULL(USUARIO_COLABORADOR.IDUsuario, 0) AS IDUsuarioEmpleado
			, ISNULL(SE.IDEmpleado, 0) AS IDEmpleado
			, ISNULL(COLABORADOR.ClaveEmpleado, '') AS ClaveEmpleado
			, ISNULL(COLABORADOR.Nombre, '') AS NombreEmpleado
			, ISNULL(COLABORADOR.SegundoNombre, '') AS SegundoNombreEmpleado
			, ISNULL(COLABORADOR.Paterno, '') AS  ApellidoPaternoEmpleado
			, ISNULL(COLABORADOR.Materno, '') AS  ApellidoMaternoEmpleado
			, ISNULL(COLABORADOR.NOMBRECOMPLETO, '') AS NombreCompletoEmpleado
			, ISNULL([Utilerias].[fnGetCorreoEmpleado] (SE.IDEmpleado, 0, 'SolicitudIntranet'), '') AS EmailEmpleado

		FROM [Intranet].[tblSolicitudesEmpleado] SE
			
			-- DATOS SOLICITUD
			JOIN [Intranet].[tblCatEstatusSolicitudes] ES ON SE.IDEstatusSolicitud = ES.IDEstatusSolicitud
			
			-- DATOS COLABORADOR
			LEFT JOIN [RH].[tblEmpleadosMaster] COLABORADOR WITH (NOLOCK) ON SE.IDEmpleado = COLABORADOR.IDEmpleado
			LEFT JOIN [Seguridad].[tblUsuarios] USUARIO_COLABORADOR ON SE.IDEmpleado = USUARIO_COLABORADOR.IDEmpleado
		
		WHERE SE.IDSolicitud = @IDSolicitud;

	END
GO
