USE [p_adagioRHANS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Bitácora de vacaciones (detalle por día) para un colaborador.
** Autor			: (auto) Cursor AI + Julio Castillo
** FechaCreacion	: 2025-12-26
** Paremetros		:
**   @IDEmpleado: colaborador
**   @IDUsuario: usuario (seguridad/filtros)
**   @Date: fecha de corte para determinar "Vencido/Disponible"
**   @Anio: filtra por año (opcional)
**   Paginación: @PageNumber, @PageSize, @orderByColumn, @orderDirection
**
** Result set:
**   - Un registro por día de saldo en [Asistencia].[tblSaldoVacacionesEmpleado]
**   - Estatus calculado: DISPONIBLE / VENCIDO / TOMADO / AJUSTE_SALDO / FINIQUITO / SALDADO
**   - Incluye referencias (incidencia/ajuste/finiquito/bitácora) cuando existan
***************************************************************************************************/
CREATE PROC [Asistencia].[spBuscarBitacoraVacacionesEmpleado](
	@IDEmpleado		INT,
	@IDUsuario		INT,
	@Date			DATE = NULL,
	@Anio			INT = NULL,
	@PageNumber		INT = 1,
	@PageSize		INT = 2147483647,
	@query			VARCHAR(100) = '""',
	@orderByColumn	VARCHAR(50) = 'Anio',
	@orderDirection VARCHAR(4)  = 'desc'
)
AS
BEGIN
	SET NOCOUNT ON;
	SET FMTONLY OFF;

	IF (@Date IS NULL) SET @Date = GETDATE();
	IF (ISNULL(@PageNumber, 0) = 0) SET @PageNumber = 1;
	IF (ISNULL(@PageSize, 0) = 0) SET @PageSize = 2147483647;

	SELECT
		@orderByColumn = CASE WHEN @orderByColumn IS NULL THEN 'Anio' ELSE @orderByColumn END,
		@orderDirection = CASE WHEN @orderDirection IS NULL THEN 'desc' ELSE @orderDirection END;

	SET @query = CASE 
		WHEN @query IS NULL THEN '""'
		WHEN @query = '' THEN '""'
		WHEN @query = '""' THEN '""'
		ELSE '"' + @query + '*"' END;

	IF OBJECT_ID('tempdb..#TempResponse') IS NOT NULL DROP TABLE #TempResponse;

	SELECT
		ve.IDSaldoVacacionEmpleado,
		ve.IDEmpleado,
		e.ClaveEmpleado,
		e.NombreCompleto,
		ve.Anio,
		ve.NumeroDia,
		ve.IDMovAfiliatorio,
		ve.IDTipoPrestacion,
		tp.Descripcion AS TipoPrestacion,
		ve.FechaInicio,
		ve.FechaFin,
		ve.FechaInicioDisponible,
		ve.FechaFinDisponible,
		-- Referencias
		ve.IDIncidenciaEmpleado,
		ie.IDIncidencia AS IncidenciaTomada,
		ie.Fecha AS FechaIncidenciaTomada,
		ie.Autorizado AS IncidenciaTomadaAutorizado,
		ie.Comentario AS ComentarioIncidenciaTomada,
		ve.IDAjusteSaldo,
		avs.FechaAjuste,
		avs.SaldoFinal,
		ve.IDFiniquito,
		f.FechaBaja,
		f.IDPeriodo,
		-- Bitácora de saldado (normalmente para vencidas pagadas/ajustadas vía incidencia)
		bsv.IDBitacoraSaldado,
		bsv.IDIncidenciaSaldadora,
		ies.IDIncidencia AS IncidenciaSaldadora,
		ies.Fecha AS FechaIncidenciaSaldadora,
		bsv.FechaSaldado,
		bsv.Comentarios AS ComentariosSaldado,
		EsSaldado = CASE WHEN bsv.IDBitacoraSaldado IS NULL THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT) END,
		FuenteTomado = CASE
			WHEN bsv.IDBitacoraSaldado IS NOT NULL THEN 'SALDADO'
			WHEN ve.IDIncidenciaEmpleado IS NOT NULL THEN 'INCIDENCIA'
			WHEN ve.IDAjusteSaldo IS NOT NULL THEN 'AJUSTE_SALDO'
			WHEN ve.IDFiniquito IS NOT NULL THEN 'FINIQUITO'
			ELSE NULL
		END,
		-- FechaMovimiento (para orden/visual)
		FechaMovimiento = COALESCE(CONVERT(DATETIME, ie.Fecha), CONVERT(DATETIME, avs.FechaAjuste), CONVERT(DATETIME, f.FechaBaja), bsv.FechaSaldado),
		-- Estatus calculado
		Estatus = CASE
			-- Nota: SALDADO se considera TOMADO (pero se conserva EsSaldado/FuenteTomado)
			WHEN bsv.IDBitacoraSaldado IS NOT NULL THEN 'TOMADO'
			WHEN ve.IDIncidenciaEmpleado IS NOT NULL THEN 'TOMADO'
			WHEN ve.IDAjusteSaldo IS NOT NULL THEN 'AJUSTE_SALDO'
			WHEN ve.IDFiniquito IS NOT NULL THEN 'FINIQUITO'
			WHEN ve.FechaFinDisponible <= @Date THEN 'VENCIDO'
			ELSE 'DISPONIBLE'
		END
	INTO #TempResponse
	FROM Asistencia.tblSaldoVacacionesEmpleado ve WITH (NOLOCK)
	INNER JOIN Seguridad.tblDetalleFiltrosEmpleadosUsuarios de WITH (NOLOCK)
		ON de.IDEmpleado = ve.IDEmpleado AND de.IDUsuario = @IDUsuario
	INNER JOIN RH.tblEmpleadosMaster e WITH (NOLOCK)
		ON e.IDEmpleado = ve.IDEmpleado
	INNER JOIN RH.TblCatTiposPrestaciones tp WITH (NOLOCK)
		ON tp.IDTipoPrestacion = ve.IDTipoPrestacion
	LEFT JOIN Asistencia.tblIncidenciaEmpleado ie WITH (NOLOCK)
		ON ie.IDIncidenciaEmpleado = ve.IDIncidenciaEmpleado
	LEFT JOIN Asistencia.tblAjustesSaldoVacacionesEmpleado avs WITH (NOLOCK)
		ON avs.IDAjusteSaldo = ve.IDAjusteSaldo
	LEFT JOIN Nomina.tblControlFiniquitos f WITH (NOLOCK)
		ON f.IDFiniquito = ve.IDFiniquito
	LEFT JOIN Asistencia.tblBitacoraSaldadoVacaciones bsv WITH (NOLOCK)
		ON bsv.IDEmpleado = ve.IDEmpleado AND bsv.AnioOrigen = ve.Anio AND bsv.NumeroDia = ve.NumeroDia
	LEFT JOIN Asistencia.tblIncidenciaEmpleado ies WITH (NOLOCK)
		ON ies.IDIncidenciaEmpleado = bsv.IDIncidenciaSaldadora
	WHERE ve.IDEmpleado = @IDEmpleado
		AND (@Anio IS NULL OR ve.Anio = @Anio)
		AND (
			@query = '""'
			OR CONTAINS(e.*, @query)
		);


	IF EXISTS (SELECT 1 FROM #TempResponse WHERE NumeroDia IS NULL)
	BEGIN
		RAISERROR('Para obtener las vacaciones: NumeroDia es NULL para este empleado. Por favor, generar las vacaciones y volver a intentarlo.', 16, 1);
	END

	DECLARE @TotalPaginas INT = 0, @TotalRegistros INT = 0;

	SELECT @TotalPaginas = CEILING(CAST(COUNT(*) AS DECIMAL(20, 2)) / CAST(@PageSize AS DECIMAL(20, 2)))
	FROM #TempResponse;

	SELECT @TotalRegistros = COUNT(1) FROM #TempResponse;

	SELECT
		*,
		TotalPaginas = CASE WHEN @TotalPaginas = 0 THEN 1 ELSE @TotalPaginas END,
		TotalRegistros = ISNULL(@TotalRegistros, 0)
	FROM #TempResponse
	ORDER BY
		CASE WHEN @orderByColumn = 'Anio'				AND @orderDirection = 'asc'  THEN CAST(Anio AS BIGINT) END,
		CASE WHEN @orderByColumn = 'Anio'				AND @orderDirection = 'desc' THEN CAST(Anio AS BIGINT) END DESC,
		CASE WHEN @orderByColumn = 'NumeroDia'			AND @orderDirection = 'asc'  THEN CAST(NumeroDia AS BIGINT) END,
		CASE WHEN @orderByColumn = 'NumeroDia'			AND @orderDirection = 'desc' THEN CAST(NumeroDia AS BIGINT) END DESC,
		CASE WHEN @orderByColumn = 'FechaFinDisponible'	AND @orderDirection = 'asc'  THEN CONVERT(DATETIME, FechaFinDisponible) END,
		CASE WHEN @orderByColumn = 'FechaFinDisponible'	AND @orderDirection = 'desc' THEN CONVERT(DATETIME, FechaFinDisponible) END DESC,
		Anio DESC, NumeroDia ASC
	OFFSET @PageSize * (@PageNumber - 1) ROWS
	FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);
END
GO
