USE [p_adagioRHArcos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
** Descripción		: Crea una tarea para notificar al colaborador los comentarios de las solicitud en vacaciones.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-05-14
** Parametros		: @IDSolicitud		Identificador de la solicitud
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1587

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spITareaComentarioEnSolicitudVacacionesParaColaborador](
	@IDSolicitud	INT = 0	
	, @IDUsuario	INT = 0
)
AS
	BEGIN

		DECLARE @FechaHora								DATETIME = DATEADD(MINUTE, 2, GETDATE())
				, @NombreTask							VARCHAR(255)
				, @INTERVAL								INT = 0
				, @ACTIVE								BIT = 1
				, @ACCION_GENERAR_NOTIFICACION_EMAIL	INT = 7
				, @IDTask								INT = 0
				, @IDSchedule							INT = 0
				, @Error								VARCHAR(MAX)
				, @TIPO_NOTIFICACION					VARCHAR(50) = 'ComentarioEnSolicitudDeVacacionesParaColaborador'
				, @TABLA								VARCHAR(60) = '[Intranet].[tblSolicitudesVacacionesParaColaboradores]'
				;	


		BEGIN TRY
			BEGIN TRANSACTION;


				-- CONFIGURACIÓN DEL TIPO DE NOTIFICACIÓN EN LA TAREA
				DECLARE @JsonTask VARCHAR(MAX) = 
				'{' +
				'"BuscarDatos":true' +		
				',"IDTipoNotificacion":"' + CAST(@TIPO_NOTIFICACION AS VARCHAR(50)) + '"' +
				',"Tabla":"' + CAST(@TABLA AS VARCHAR(60)) + '"' +
				',"IDUsuario":' + CAST(@IDUsuario AS VARCHAR(25)) +
				',"JsonBuscaValorIDCampo":{' +
											'"Param":[' +
														'{"Key":"IDMax","Value":' + CAST((SELECT ISNULL(MAX(ID), 0) FROM [Intranet].[tblSolicitudesVacacionesParaColaboradores] WHERE IDSolicitud = @IDSolicitud) AS VARCHAR(50)) + '},' +
														'{"Key":"IDSolicitud","Value":' + CAST(@IDSolicitud AS VARCHAR(50)) + '},' +
														'{"Key":"IDUsuario","Value":' + CAST(@IDUsuario AS VARCHAR(50)) + '}' +
													'],' +
											'"SP":"[Intranet].[spBuscarSolicitudVacacionesParaColaboradores]",' +
											'"Result":{"PropIDOut":"ID","PropIDIn":"ID","PropIDUsuarioIn":"IDUsuarioEmpleado","PropIDEmpleadoIn":"IDEmpleado"}' +
										 '}' +
				'}';
				

				-- OBTENEMOS EL NOMBRE DE LA TAREA EN MAYÚSCULAS
				SELECT @NombreTask = UPPER(Nombre) 
				FROM [App].[tblTiposNotificaciones] 
				WHERE IDTipoNotificacion = @TIPO_NOTIFICACION;
			

				-- INSERTAR LA TAREA EN LA TABLA [Scheduler].[tblTask]
				INSERT INTO [Scheduler].[tblTask] 
				VALUES (@NombreTask, NULL, @INTERVAL, @ACTIVE, @ACCION_GENERAR_NOTIFICACION_EMAIL, @JsonTask);
        
				SET @IDTask = SCOPE_IDENTITY();



				-- INSERTAR EL CRONOGRAMA EN LA TABLA [Scheduler].[tblSchedule]
				INSERT INTO [Scheduler].[tblSchedule]
				(  
					IDTipoSchedule
					, Nombre
					, OneTimeDate
					, OneTimeTime
					, OcurrsFrecuency
					, RecursEveryDaily
					, RecursEveryWeek
					, WeekDays
					, MonthlyType
					, MonthlyAbsoluteDayOfMonth
					, MonthlyAbsoluteNumberOfMonths
					, MonthlyRelativeDay
					, MonthlyRelativeDayOfWeek
					, MonthlyRelativeDayOfWeekShort
					, MonthlyRelativeNumberOfMonths
					, FrecuencyType
					, DailyFrecuencyOnce
					, MultipleFrecuencyValues
					, MultipleFrecuencyValueTypes
					, MultipleFrecuencyStartTime
					, MultipleFrecuencyEndTime
					, DurationStartDate
					, DurationEndDate
					, RunForever
				)
				VALUES
				(
					(SELECT TOP 1 IDTipoSchedule FROM Scheduler.tblTipoSchedule WHERE [Value] = 'OneTime')
					, @NombreTask
					, CAST(@FechaHora AS DATE)
					, CAST(@FechaHora AS TIME)
					, ISNULL('Diario', '')
					, 0
					, 0
					, 0
					, 'Absolute'
					, 0
					, 0
					, 'First'
					, 'Some'
					, NULL
					, 0
					, 'Unica'
					, NULL
					, 0
					, 'Minutes'
					, NULL
					, NULL
					, ISNULL(@FechaHora, GETDATE())
					, ISNULL(@FechaHora, GETDATE())
					, 0
				);
        
				SET @IDSchedule = SCOPE_IDENTITY();



				-- LIGAR LA TAREA CON EL CRONOGRAMA EN LA TABLA [Scheduler].[tblListSchedulersForTask]
				INSERT INTO [Scheduler].[tblListSchedulersForTask](IDTask, IDSchedule)
				VALUES(@IDTask, @IDSchedule); 



				--RESULTADO
				--SELECT * FROM [Scheduler].[tblTask]  WHERE IDTask = @IDTask;
				--SELECT * FROM [Scheduler].[tblSchedule] WHERE IDSchedule = @IDSchedule;
				--SELECT * FROM [Scheduler].[tblListSchedulersForTask] WHERE IDTask = @IDTask AND IDSchedule = @IDSchedule;
		
        
				COMMIT TRANSACTION;

			END TRY
			BEGIN CATCH        
				ROLLBACK TRANSACTION;

					SELECT @Error = ERROR_MESSAGE();
					RAISERROR(@Error, 16, 1);
        
			END CATCH;

	END
GO
