USE [p_adagioRHRHUniversal]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Asistencia].[spIEliminarEventoCalendarioBitWise]
    @IDEmpleado INT,
    @TipoConfig VARCHAR(50),
    @TittleHorario VARCHAR(200) = NULL,
    @DescripcionIncidencia VARCHAR(10) = NULL,
    @Fecha DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
    @IDHorario INT,
    @IDIncidencia VARCHAR(10)

    IF(@TipoConfig = 'HORARIO')
    BEGIN
        SELECT @IDHorario = IDHorario FROM Asistencia.fnVerificarDiaHorarioColaborador(@IDEmpleado,@Fecha)
        where TipoDia = 'HORARIO'
        IF(@IDHorario IS NULL)
        BEGIN
            RAISERROR('No se encontro la el horario.', 16, 1);
        END
    END
    ELSE 
    BEGIN
        SELECT @IDIncidencia = IDIncidencia FROM Asistencia.fnVerificarDiaHorarioColaborador(@IDEmpleado,@Fecha)
        where TipoDia = 'AUSENTISMO'

        IF(@IDIncidencia IS NULL)
        BEGIN
            RAISERROR('No se encontro la incidencia.', 16, 1);
        END
    END

    INSERT INTO [Asistencia].[tblEliminarEventosCalendarioBitWise]
        ([IDEmpleado], [TipoConfig], [IDHorario], [IDIncidencia], [Fecha])
    VALUES
        (@IDEmpleado, @TipoConfig, @IDHorario, @IDIncidencia, @Fecha);
END
GO
