USE [p_adagioRHRHUniversal]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [Evaluacion360].[spBuscarCatTiposPreguntasGrupos]
(
	@IDTipoPreguntaGrupo	INT = 0
	, @IDUsuario			INT
) AS
	
	DECLARE @IDIdioma varchar(max);
	
	SELECT @IDIdioma = [App].[fnGetPreferencia]('Idioma', @IDUsuario, 'esmx');

	SELECT IDTipoPreguntaGrupo
			--, Nombre
			, JSON_VALUE(TraduccionNombre, FORMATMESSAGE('$.%s.%s', LOWER(REPLACE(@IDIdioma, '-','')), 'Nombre')) AS Nombre
			--, Descripcion
			, JSON_VALUE(TraduccionDescripcion, FORMATMESSAGE('$.%s.%s', LOWER(REPLACE(@IDIdioma, '-','')), 'Descripcion')) AS Descripcion
			, Orden
			, ConfTipoPreguntaGrupo
	FROM [Evaluacion360].[tblCatTiposPreguntasGrupos]
	WHERE (IDTipoPreguntaGrupo = @IDTipoPreguntaGrupo or @IDTipoPreguntaGrupo = 0)
	ORDER BY Orden
GO
