USE [p_adagioRHGMGroup]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 

** Descripción		: CREAR LOS COMENTARIOS EN LOS DIFERENTES MÓDULOS
** Autor			: ?
** Email			: 
** FechaCreacion	: 
** Paremetros		:              
** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
2024-03-14          Jose Vargas         Se añade una ejecucción del sp '[Tareas].[spActualizarTotalComentarios]' para actualizar los totales de comentarios. En la tabla de tareas.tblTareas.
2025-05-15          Alejandro Paredes   Se identa el Store Procedure y se quitan las notificaciones (Emails) de la solicitud de vacaciones.

***************************************************************************************************/

CREATE PROC [App].[spIUComentario](
	@IDComentario			INT
	, @IDTipoComentario		INT
	, @IDReferencia			INT
	, @Comentario			NVARCHAR(MAX)
	, @IDUsuario			INT
)
AS

    DECLARE @totalComentarios			INT
			, @TIPO_COMENTARIOS_TAREAS	INT
    
	SET @TIPO_COMENTARIOS_TAREAS = 7;
	SET @Comentario = REPLACE(@Comentario, '"', '''');

	IF(@IDComentario = 0)
		BEGIN
			
			INSERT [App].[tblComentarios](IDTipoComentario, IDReferencia, Comentario, IDUsuario)
			VALUES(@IDTipoComentario, @IDReferencia, @Comentario, @IDUsuario);
			
			SET @IDComentario = @@IDENTITY;
			
			/*
			IF(@IDTipoComentario = 1) -- INTRANET COMENTARIOS
				BEGIN

					EXEC [App].[INotificacionSolicitudIntranetComentario]
						@IDSolicitud	= @IDReferencia
						, @IDComentario = @IDComentario
						, @TipoCambio	= 'CREATE-SUPERVISOR';

					EXEC [App].[INotificacionSolicitudIntranetComentario]
						@IDSolicitud	= @IDReferencia
						, @IDComentario = @IDComentario
						, @TipoCambio	= 'CREATE-USUARIO';

				END
			ELSE 
			*/

			IF(@IDTipoComentario = @TIPO_COMENTARIOS_TAREAS) --TAREAS
				BEGIN

					SELECT @totalComentarios = COUNT(*)
					FROM [App].[tblComentarios]
					WHERE IDTipoComentario = @TIPO_COMENTARIOS_TAREAS
							AND IDReferencia = @IDReferencia;

					EXEC [Tareas].[spActualizarTotalComentarios]
						@IDTarea			= @IDReferencia
						, @TotalComentarios = @totalComentarios
						, @IDUsuario		= @IDUsuario;
				END

		END
	ELSE
		BEGIN

			UPDATE [App].[tblComentarios]
				SET Comentario = @Comentario
			WHERE IDComentario = @IDComentario;

			/*
			IF(@IDTipoComentario = 1) --INTRANET COMENTARIOS
				BEGIN

					EXEC [App].[INotificacionSolicitudIntranetComentario]
						@IDSolicitud	= @IDReferencia
						, @IDComentario = @IDComentario
						, @TipoCambio	= 'UPDATE-SUPERVISOR';

					EXEC [App].[INotificacionSolicitudIntranetComentario]
						@IDSolicitud = @IDReferencia
						, @IDComentario = @IDComentario
						, @TipoCambio = 'UPDATE-USUARIO';
				END
			ELSE 
			*/

			IF(@IDTipoComentario = @TIPO_COMENTARIOS_TAREAS) --TAREAS
				BEGIN

					SELECT @totalComentarios = COUNT(*)
					FROM [App].[tblComentarios]
					WHERE IDTipoComentario = @TIPO_COMENTARIOS_TAREAS
							AND IDReferencia = @IDReferencia;

					EXEC [Tareas].[spActualizarTotalComentarios]
						@IDTarea =@IDReferencia
						, @TotalComentarios = @totalComentarios
						, @IDUsuario = @IDUsuario;
				END
		END;
GO
