USE [p_adagioRHPoliAcero]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Monitor].[tblNotificaciones](
	[IDNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IDMonitor] [int] NULL,
	[IDReferencia] [int] NULL,
	[IDTipo] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDFiltro] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[JsonNotificaciones] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Estatus] [bit] NULL,
 CONSTRAINT [Pk_MonitortblNotificaciones_IDNotificacion] PRIMARY KEY CLUSTERED 
(
	[IDNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
