USE [p_adagioRHNexus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Obtiene los resultados del 9Box desde las tablas correspondientes.
** Autor			: Refactorización para leer desde tablas
** FechaCreacion	: 2025-01-07
** Parámetros		: @ID9Box, @IDUsuario
** DataTypes Relacionados: 
****************************************************************************************************/
-- HISTORIAL DE CAMBIOS
-- Fecha(yyyy-mm-dd)    Autor                Comentario
-- -------------------  -------------------  --------------------------------------------------------

CREATE PROCEDURE [Evaluacion360].[spObtenerResultadosEmpleados9BoxFiltros]
(
	@ID9Box INT,
	@JsonFiltros NVARCHAR(MAX),
	@IDUsuario INT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @QuerySelect	NVARCHAR(MAX) = ''
			, @QueryFrom	NVARCHAR(MAX) = ''
			, @QueryWhere	NVARCHAR(MAX) = ''
			, @IDPlantilla INT = 0
			, @EjeX NVARCHAR(MAX) = ''
			, @EjeY NVARCHAR(MAX) = ''
			, @IDIdioma VARCHAR(20) = '';

	-- OBTENER IDIOMA DEL USUARIO
	SELECT @IDIdioma = App.fnGetPreferencia('Idioma', @IDUsuario, 'esmx');

	-- TABLAS TEMPORALES
	IF OBJECT_ID('tempdb..#tempFiltros') IS NOT NULL DROP TABLE #tempFiltros;
	IF OBJECT_ID('tempdb..#tempIntervalosEjeX') IS NOT NULL DROP TABLE #tempIntervalosEjeX;
	IF OBJECT_ID('tempdb..#tempIntervalosEjeY') IS NOT NULL DROP TABLE #tempIntervalosEjeY;
	
	-- CONVERTIMOS FILTROS A TABLA		
	;WITH tblFiltros(catalogo, [value])
	AS
	(
		SELECT *
		FROM OPENJSON(JSON_QUERY(@JsonFiltros,  '$'))
		  WITH (
			catalogo NVARCHAR(50) '$.Catalogo',
			valor NVARCHAR(MAX) '$.Value'
		  )
	)
	SELECT * 
	INTO #tempFiltros
	FROM tblFiltros;		
	
	-- ELIMINAMOS FILTROS CON VALOR NULL O VACIO
	DELETE #tempFiltros
	WHERE [value] IS NULL 
			OR [value] = '';

	-- CREAR TABLAS TEMPORALES PARA INTERVALOS
	CREATE TABLE #tempIntervalosEjeX (
		IDIndice INT,
		Min DECIMAL(10,2),
		Max DECIMAL(10,2)
	);

	CREATE TABLE #tempIntervalosEjeY (
		IDIndice INT,
		Min DECIMAL(10,2),
		Max DECIMAL(10,2)
	);

	
	SELECT @IDPlantilla = IDPlantilla
	FROM [Evaluacion360].[tbl9Box]
	WHERE ID9Box = @ID9Box

	SELECT @EjeX = EjeX, @EjeY = EjeY
	FROM [Evaluacion360].[tblCatPlantillas9Box]
	WHERE IDPlantilla = @IDPlantilla

	-- CONVERTIR JSON DE EJE X A TABLA TEMPORAL
	IF @EjeX IS NOT NULL AND @EjeX != ''
	BEGIN
		INSERT INTO #tempIntervalosEjeX (IDIndice, Min, Max)
		SELECT 
			JSON_VALUE(value, '$.IDIndice') as IDIndice,
			CAST(JSON_VALUE(value, '$.Min') AS DECIMAL(10,2)) as Min,
			CAST(JSON_VALUE(value, '$.Max') AS DECIMAL(10,2)) as Max
		FROM OPENJSON(@EjeX)
		WHERE JSON_VALUE(value, '$.IDIndice') IS NOT NULL;
	END

	-- CONVERTIR JSON DE EJE Y A TABLA TEMPORAL
	IF @EjeY IS NOT NULL AND @EjeY != ''
	BEGIN
		INSERT INTO #tempIntervalosEjeY (IDIndice, Min, Max)
		SELECT 
			JSON_VALUE(value, '$.IDIndice') as IDIndice,
			CAST(JSON_VALUE(value, '$.Min') AS DECIMAL(10,2)) as Min,
			CAST(JSON_VALUE(value, '$.Max') AS DECIMAL(10,2)) as Max
		FROM OPENJSON(@EjeY)
		WHERE JSON_VALUE(value, '$.IDIndice') IS NOT NULL;
	END


	SET @QuerySelect = N'
						SELECT E9B.[IDEmpleado9BOX]
								, E9B.[ID9Box]
								, ISNULL(E9B.[IDEmpleado], 0) AS [IDEmpleado]
								, ISNULL(E9B.[ClaveEmpleado], '''') AS [ClaveEmpleado]
								, CASE WHEN ISNULL(E9B.[Empleado], '''') = '''' THEN ''General'' ELSE ISNULL(E9B.[Empleado], '''') END AS [Empleado]
								, ISNULL(E9B.[Iniciales], '''') AS [Iniciales]
								, E9B.[EjeX_HasCalibracion]
								, E9B.[EjeX_Real]
								, E9B.[EjeX]
								, E9B.[EjeY_HasCalibracion]
								, E9B.[EjeY_Real]
								, E9B.[EjeY]
								, E9B.[ComentariosExtra]
								, ISNULL(JSON_VALUE(ICX.Traduccion, FORMATMESSAGE(''$.%s.%s'', LOWER(REPLACE(''' + @IDIdioma + ''', ''-'','''')), ''Nombre'')), '''') AS [EjeX_Real_Escala]
								, ISNULL(JSON_VALUE(ICY.Traduccion, FORMATMESSAGE(''$.%s.%s'', LOWER(REPLACE(''' + @IDIdioma + ''', ''-'','''')), ''Nombre'')), '''') AS [EjeY_Real_Escala]
								, ISNULL(JSON_VALUE(ICXC.Traduccion, FORMATMESSAGE(''$.%s.%s'', LOWER(REPLACE(''' + @IDIdioma + ''', ''-'','''')), ''Nombre'')), '''') AS [EjeX_Escala]
								, ISNULL(JSON_VALUE(ICYC.Traduccion, FORMATMESSAGE(''$.%s.%s'', LOWER(REPLACE(''' + @IDIdioma + ''', ''-'','''')), ''Nombre'')), '''') AS [EjeY_Escala] '

	SET @QueryFrom  = N'	
						FROM [Evaluacion360].[tblEmpleados9Box] E9B
						-- INTERVALOS DE ESCALA
							LEFT JOIN #tempIntervalosEjeX IX ON E9B.EjeX_Real >= IX.Min AND E9B.EjeX_Real <= IX.Max
							LEFT JOIN #tempIntervalosEjeY IY ON E9B.EjeY_Real >= IY.Min AND E9B.EjeY_Real <= IY.Max
							LEFT JOIN #tempIntervalosEjeX IXC ON E9B.EjeX >= IXC.Min AND E9B.EjeX <= IXC.Max
							LEFT JOIN #tempIntervalosEjeY IYC ON E9B.EjeY >= IYC.Min AND E9B.EjeY <= IYC.Max
						-- NOMBRES DE INTERVALOS
							LEFT JOIN [Evaluacion360].[tblIntervalosCalibracion9Box] ICX ON IX.IDIndice = ICX.IDIndice
							LEFT JOIN [Evaluacion360].[tblIntervalosCalibracion9Box] ICY ON IY.IDIndice = ICY.IDIndice
							LEFT JOIN [Evaluacion360].[tblIntervalosCalibracion9Box] ICXC ON IXC.IDIndice = ICXC.IDIndice
							LEFT JOIN [Evaluacion360].[tblIntervalosCalibracion9Box] ICYC ON IYC.IDIndice = ICYC.IDIndice
						-- FILTROS	
							LEFT JOIN [RH].[tblAreaEmpleado]				      AE ON E9B.IDEmpleado = AE.IDEmpleado  AND AE.FechaIni  <= GETDATE() AND AE.FechaFin  >= GETDATE()
							LEFT JOIN [RH].[tblCentroCostoEmpleado]				 CCE ON E9B.IDEmpleado = CCE.IDEmpleado AND CCE.FechaIni <= GETDATE() AND CCE.FechaFin >= GETDATE()
							LEFT JOIN [RH].[tblClasificacionCorporativaEmpleado] CPE ON E9B.IDEmpleado = CPE.IDEmpleado AND CPE.FechaIni <= GETDATE() AND CPE.FechaFin >= GETDATE()
							LEFT JOIN [RH].[tblClienteEmpleado]					  CE ON E9B.IDEmpleado = CE.IDEmpleado  AND CE.FechaIni  <= GETDATE() AND CE.FechaFin  >= GETDATE()
							LEFT JOIN [RH].[tblDepartamentoEmpleado]			  DE ON E9B.IDEmpleado = DE.IDEmpleado  AND DE.FechaIni  <= GETDATE() AND DE.FechaFin  >= GETDATE()
							LEFT JOIN [RH].[tblDivisionEmpleado]				 DVE ON E9B.IDEmpleado = DVE.IDEmpleado AND DVE.FechaIni <= GETDATE() AND DVE.FechaFin >= GETDATE()
							LEFT JOIN [RH].[TblPrestacionesEmpleado]			 PRE ON E9B.IDEmpleado = PRE.IDEmpleado AND PRE.FechaIni <= GETDATE() AND PRE.FechaFin >= GETDATE()
							LEFT JOIN [RH].[tblPuestoEmpleado]					  PE ON E9B.IDEmpleado = PE.IDEmpleado  AND PE.FechaIni  <= GETDATE() AND PE.FechaFin  >= GETDATE()
							LEFT JOIN [RH].[tblRazonSocialEmpleado]				  RS ON E9B.IDEmpleado = RS.IDEmpleado  AND RS.FechaIni  <= GETDATE() AND RS.FechaFin  >= GETDATE()
							LEFT JOIN [RH].[tblRegionEmpleado]					  RE ON E9B.IDEmpleado = RE.IDEmpleado  AND RE.FechaIni  <= GETDATE() AND RE.FechaFin  >= GETDATE()
							LEFT JOIN [RH].[tblRegPatronalEmpleado]				 RPE ON E9B.IDEmpleado = RPE.IDEmpleado AND RPE.FechaIni <= GETDATE() AND RPE.FechaFin >= GETDATE()
							LEFT JOIN [RH].[tblSucursalEmpleado]				  SE ON E9B.IDEmpleado = SE.IDEmpleado  AND SE.FechaIni  <= GETDATE() AND SE.FechaFin  >= GETDATE() '

	SET @QueryWhere = N'
						WHERE E9B.ID9Box = ' + CAST(@ID9Box AS VARCHAR(10)) + ' ' +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Areas') THEN ' AND ((AE.IDArea IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Areas''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'CentrosCostos') THEN ' AND ((CCE.IDCentroCosto IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''CentrosCostos''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'ClasificacionesCorporativas') THEN ' AND ((CPE.IDClasificacionCorporativa IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''ClasificacionesCorporativas''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Clientes') THEN ' AND ((CE.IDCliente IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Clientes''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Departamentos') THEN ' AND ((DE.IDDepartamento IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Departamentos''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Divisiones') THEN ' AND ((DVE.IDDivision IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Divisiones''), '',''))))' ELSE '' END +									
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Empleados') THEN ' AND ((E9B.IDEmpleado IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Empleados''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Excluir Empleado') THEN ' AND ((E9B.IDEmpleado NOT IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Excluir Empleado''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Prestaciones') THEN ' AND ((PRE.IDTipoPrestacion IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Prestaciones''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Puestos') THEN ' AND ((PE.IDPuesto IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Puestos''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'RazonesSociales') THEN ' AND ((RS.IDRazonSocial IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''RazonesSociales''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Regiones') THEN ' AND ((RE.IDRegion IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Regiones''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'RegPatronales') THEN ' AND ((RPE.IDRegPatronal IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''RegPatronales''), '',''))))' ELSE '' END +
							CASE WHEN EXISTS(SELECT TOP 1 1 FROM #tempFiltros WHERE Catalogo = 'Sucursales') THEN ' AND ((SE.IDSucursal IN (SELECT item FROM App.Split((SELECT TOP 1 [value] FROM #tempFiltros WHERE Catalogo = ''Sucursales''), '',''))))' ELSE '' END +
						' ORDER BY E9B.IDEmpleado';

	EXEC (@QuerySelect + @QueryFrom + @QueryWhere);
		
END
GO
