USE [p_adagioRHSurfax]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Crea una tarea para notificar que se creo un nuevo candidato para el candidato
** Autor			: Jose Vargas
** Email			: jvargas@adagio.com.mx
** FechaCreacion	: 2025-05-20
** Parametros		: @ID		        Identificador del [Reclutamiento].[tblRegistroCandidatos]
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1604

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/
CREATE PROC [Reclutamiento].[spITareaNuevoCandidato](
    @IDCandidato INT = 0,
    @IDUsuario   INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @FechaHora DATETIME = DATEADD(MINUTE, 2, GETDATE()),
        @NombreTask VARCHAR(255),
        @INTERVAL INT = 0,
        @ACTIVE BIT = 1,
        @ACCION_GENERAR_NOTIFICACION_EMAIL INT = 7,
        @IDTask INT,
        @IDSchedule INT,
        @TIPO_NOTIFICACION VARCHAR(50) = 'ReclutamientoNuevoCandidatoRegistrado',
        @TABLA VARCHAR(60) = '[Reclutamiento].[tblRegistroCandidatos]',
        @Key VARCHAR(MAX),
        @LinkActivacion VARCHAR(MAX),
        @IDPlaza INT,
        @PlazaPosicionDesc VARCHAR(300),
        @NombreCompletoCantidato VARCHAR(300),
        @NombreCompletoReclutador VARCHAR(300),
        @EmailCandidato VARCHAR(MAX),
        @IDUsuarioReclutador INT,
        @IDReclutador INT,
        @JsonTask VARCHAR(MAX),
        @ID INT;

    
    SELECT 
        @Key = c.ActivationKey,
        @NombreCompletoCantidato = CONCAT_WS(' ', c.Nombre, c.SegundoNombre, c.Paterno),
        @EmailCandidato = c.Email,
        @IDPlaza = cp.IDPlaza,
        @PlazaPosicionDesc = p.Descripcion,
        @IDReclutador = em.IDEmpleado,
        @NombreCompletoReclutador = em.NOMBRECOMPLETO,
        @IDUsuarioReclutador = u.IDUsuario
    FROM Reclutamiento.tblCandidatos c
    INNER JOIN Reclutamiento.tblCandidatoPlaza cp ON cp.IDCandidato = c.IDCandidato
    INNER JOIN rh.tblCatPlazas pla ON pla.IDPlaza = cp.IDPlaza
    INNER JOIN rh.tblCatPuestos p ON p.IDPuesto = pla.IDPuesto
    LEFT JOIN rh.tblEmpleadosMaster em ON em.IDEmpleado = cp.IDReclutador
    LEFT JOIN Seguridad.tblUsuarios u ON u.IDEmpleado = em.IDEmpleado
    WHERE c.IDCandidato = @IDCandidato;
    
    SELECT @LinkActivacion = Valor 
    FROM [App].[tblConfiguracionesGenerales]
    WHERE IDConfiguracion = 'Url';

    SET @LinkActivacion = CONCAT(
        '<p style="text-align:center; margin:30px 0;">',
        '<a href="', @LinkActivacion, 'Careers/ActivarCuenta?key=', ISNULL(@Key, ''), 
        '" target="_blank" style="background-color:#E94A29; color:#ffffff; text-decoration:none; padding:12px 25px; font-size:16px; border-radius:4px; display:inline-block; font-family:tahoma, geneva, sans-serif;">',
        'Activar mi cuenta</a></p>'
    );

    -- Insertar el registro de candidato
    INSERT INTO Reclutamiento.tblRegistroCandidatos (
        IDCandidato, NombreCompletoCandidato, IDPlaza, PosicionDescripcion,
        IDReclutador, NombreCompletoReclutador, EsRegistroCandidato, UrlActivacion, EmailCandidato
    ) VALUES (
        @IDCandidato, @NombreCompletoCantidato, @IDPlaza, @PlazaPosicionDesc,
        @IDReclutador, @NombreCompletoReclutador, 0, @LinkActivacion, @EmailCandidato
    );

    SET @ID = SCOPE_IDENTITY();

    SET @JsonTask = CONCAT(
        '{',
        '"BuscarDatos":false,',
        '"IDTipoNotificacion":"', @TIPO_NOTIFICACION, '",',
        '"Tabla":"', @TABLA, '",',
        '"IDUsuario":', @IDUsuario, ',',
        '"JsonValorIDCampo":[{',
        '"Key":"ID", "Value":', @ID, ', "IDUsuario":1, "IDEmpleado":1',
        '}]',
        '}'
    );

    SELECT @NombreTask = UPPER(Nombre)
    FROM [App].[tblTiposNotificaciones]
    WHERE IDTipoNotificacion = @TIPO_NOTIFICACION;

    -- Insertar tarea
    INSERT INTO [Scheduler].[tblTask] 
    VALUES (@NombreTask, NULL, @INTERVAL, @ACTIVE, @ACCION_GENERAR_NOTIFICACION_EMAIL, @JsonTask);

    SET @IDTask = SCOPE_IDENTITY();

    -- Insertar programación
    INSERT INTO [Scheduler].[tblSchedule] (
        IDTipoSchedule, Nombre, OneTimeDate, OneTimeTime, OcurrsFrecuency,
        RecursEveryDaily, RecursEveryWeek, WeekDays, MonthlyType,
        MonthlyAbsoluteDayOfMonth, MonthlyAbsoluteNumberOfMonths,
        MonthlyRelativeDay, MonthlyRelativeDayOfWeek,
        MonthlyRelativeDayOfWeekShort, MonthlyRelativeNumberOfMonths,
        FrecuencyType, DailyFrecuencyOnce, MultipleFrecuencyValues,
        MultipleFrecuencyValueTypes, MultipleFrecuencyStartTime,
        MultipleFrecuencyEndTime, DurationStartDate,
        DurationEndDate, RunForever
    )
    VALUES (
        (SELECT TOP 1 IDTipoSchedule FROM Scheduler.tblTipoSchedule WHERE [Value] = 'OneTime'),
        @NombreTask, CAST(@FechaHora AS DATE), CAST(@FechaHora AS TIME),
        'Diario', 0, 0, 0, 'Absolute',
        0, 0, 'First', 'Some', NULL, 0,
        'Unica', NULL, 0, 'Minutes',
        NULL, NULL, @FechaHora, @FechaHora, 0
    );

    SET @IDSchedule = SCOPE_IDENTITY();

    -- Relación tarea-programación
    INSERT INTO [Scheduler].[tblListSchedulersForTask](IDTask, IDSchedule)
    VALUES (@IDTask, @IDSchedule);
END
GO
