USE [p_adagioRHDXN-Mexico]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [Nomina].[spCoreLayoutHSBC](  
	@IDPeriodo int,  
	@FechaDispersion date,  
	@IDLayoutPago int,  
	@dtFiltros [Nomina].[dtFiltrosRH] readonly, 
	@MarcarPagados bit = 0,
	@IDUsuario int    
)
AS  
BEGIN  
	declare   
		@empleados [RH].[dtEmpleados],  
		@ListaEmpleados nvarchar(max),  
		@periodo [Nomina].[dtPeriodos],  
		@fechaIniPeriodo date,                  
		@fechaFinPeriodo date,
		@IDTipoNomina int, 
		@CountEmpleados int, 
		@descripcionperiodo varchar(34),
		@Hora varchar(5),
		@Cuenta varchar(20);

	-- HORA ACTUAL colocar en el header cuando se necesite programar un pago
	select @Hora = FORMAT(DATEADD(HOUR, DATEDIFF(HOUR, 0, GETDATE()), 0), 'HH:mm');

	-- PERIODO
	insert into @periodo (
		IDPeriodo, IDTipoNomina, Ejercicio, ClavePeriodo, Descripcion,
		FechaInicioPago, FechaFinPago, FechaInicioIncidencia, FechaFinIncidencia,
		Dias, AnioInicio, AnioFin, MesInicio, MesFin, IDMes,
		BimestreInicio, BimestreFin, Cerrado, General, Finiquito, Especial
	)
	select 
		IDPeriodo, IDTipoNomina, Ejercicio, ClavePeriodo, Descripcion,
		FechaInicioPago, FechaFinPago, FechaInicioIncidencia, FechaFinIncidencia,
		Dias, AnioInicio, AnioFin, MesInicio, MesFin, IDMes,
		BimestreInicio, BimestreFin, Cerrado, General, Finiquito, isnull(Especial, 0)
	from Nomina.TblCatPeriodos                  
	where IDPeriodo = @IDPeriodo;                  

	select top 1 
		@IDTipoNomina = IDTipoNomina,
		@fechaIniPeriodo = FechaInicioPago, 
		@fechaFinPeriodo = FechaFinPago,
		@descripcionperiodo = SUBSTRING(Descripcion, 1, 34)             
	from @periodo;                  

	-- EMPLEADOS VIGENTES
	insert into @empleados                  
	exec [RH].[spBuscarEmpleados] 
		@IDTipoNomina = @IDTipoNomina, 
		@FechaIni = @fechaIniPeriodo, 
		@Fechafin = @fechaFinPeriodo, 
		@dtFiltros = @dtFiltros, 
		@IDUsuario = @IDUsuario;

	-- PARÁMETROS DE LAYOUT
	select @Cuenta = lpp.Valor
	from Nomina.tblLayoutPago lp  
	inner join Nomina.tblLayoutPagoParametros lpp 
		on lp.IDLayoutPago = lpp.IDLayoutPago  
	inner join Nomina.tblCatTiposLayoutParametros ctlp 
		on ctlp.IDTipoLayout = lp.IDTipoLayout  
		and ctlp.IDTipoLayoutParametro = lpp.IDTipoLayoutParametro  
	where lp.IDLayoutPago = @IDLayoutPago 
	  and ctlp.Parametro = 'Cuenta';

	-- MARCAR PAGADOS (si aplica)
	if object_id('tempdb..#tempempleadosMarcables') is not null drop table #tempempleadosMarcables;    
	create table #tempempleadosMarcables (
		IDEmpleado int, 
		IDPeriodo int, 
		IDLayoutPago int
	); 
    
	if (isnull(@MarcarPagados, 0) = 1)
	begin 
		insert into #tempempleadosMarcables (IDEmpleado, IDPeriodo, IDLayoutPago)
		select 
			e.IDEmpleado, 
			p.IDPeriodo, 
			lp.IDLayoutPago
		from @empleados e     
		inner join Nomina.tblCatPeriodos p 
			on p.IDPeriodo = @IDPeriodo   
		inner join RH.tblPagoEmpleado pe 
			on pe.IDEmpleado = e.IDEmpleado
		left join Sat.tblCatBancos b 
			on pe.IDBanco = b.IDBanco    
		inner join Nomina.tblLayoutPago lp 
			on lp.IDLayoutPago = pe.IDLayoutPago    
		inner join Nomina.tblCatTiposLayout tl 
			on lp.IDTipoLayout = tl.IDTipoLayout    
		inner join Nomina.tblDetallePeriodo dp 
			on dp.IDPeriodo = @IDPeriodo    
			and dp.IDConcepto = case 
				when isnull(p.Finiquito, 0) = 0 then lp.IDConcepto 
				else lp.IDConceptoFiniquito 
			  end
			and dp.IDEmpleado = e.IDEmpleado    
		where pe.IDLayoutPago = @IDLayoutPago;  

		merge Nomina.tblControlLayoutDispersionEmpleado as TARGET
		using #tempempleadosMarcables as SOURCE
			on TARGET.IDPeriodo = SOURCE.IDPeriodo
			and TARGET.IDEmpleado = SOURCE.IDEmpleado
			and TARGET.IDLayoutPago = SOURCE.IDLayoutPago
		when not matched by target then 
			insert (IDEmpleado, IDPeriodo, IDLayoutPago)  
			values (SOURCE.IDEmpleado, SOURCE.IDPeriodo, SOURCE.IDLayoutPago);
	end;

	/* Kicho */

	-- CUERPO
	if object_id('tempdb..#tempBody') is not null drop table #tempBody;    
	create table #tempBody (Respuesta nvarchar(max)); 

	insert into #tempBody (Respuesta)   
	select     
		[App].[fnAddString](10, isnull(pe.Cuenta, 0), '0', 1) + ',' +
		[App].[fnAddString](20, isnull(replace(cast(isnull(case when lp.ImporteTotal = 1 then dp.ImporteTotal1 else dp.ImporteTotal2 end,0) as varchar(max)), '.', ''), ''), '', 1) + ',' +
		[App].[fnAddString](34, isnull(@descripcionperiodo, ''), '', 2) + ',' +
		[App].[fnAddString](34, isnull(substring(replace(
			(isnull(e.Nombre, '') +
				case when isnull(e.SegundoNombre, '') <> '' then ' ' + isnull(e.SegundoNombre, '') else '' end + ' ' +
				isnull(e.Paterno, '') +
				case when isnull(e.Materno, '') <> '' then ' ' + isnull(e.Materno, '') else '' end
			), 'Ñ', 'N'), 1, 34) collate Cyrillic_General_CI_AI, ''), '', 2)
	from @empleados e     
	inner join Nomina.tblCatPeriodos p 
		on p.IDPeriodo = @IDPeriodo   
	inner join RH.tblPagoEmpleado pe 
		on pe.IDEmpleado = e.IDEmpleado
	left join Sat.tblCatBancos b 
		on pe.IDBanco = b.IDBanco    
	inner join Nomina.tblLayoutPago lp 
		on lp.IDLayoutPago = pe.IDLayoutPago    
	inner join Nomina.tblCatTiposLayout tl 
		on lp.IDTipoLayout = tl.IDTipoLayout    
	inner join Nomina.tblDetallePeriodo dp 
		on dp.IDPeriodo = @IDPeriodo    
		and dp.IDConcepto = case 
			when isnull(p.Finiquito, 0) = 0 then lp.IDConcepto 
			else lp.IDConceptoFiniquito 
		  end
		and dp.IDEmpleado = e.IDEmpleado    
	where pe.IDLayoutPago = @IDLayoutPago;    
			  
	select @CountEmpleados = count(*) from #tempBody;

	-- SUMA TOTAL
	declare @SumAll decimal(16,2);  
	select @SumAll = sum(
		case when lp.ImporteTotal = 1 then dp.ImporteTotal1 else dp.ImporteTotal2 end
	)  
	from @empleados e    
	inner join Nomina.tblCatPeriodos p 
		on p.IDPeriodo = @IDPeriodo   
	inner join RH.tblPagoEmpleado pe 
		on pe.IDEmpleado = e.IDEmpleado  
	left join Sat.tblCatBancos b 
		on pe.IDBanco = b.IDBanco    
	inner join Nomina.tblLayoutPago lp 
		on lp.IDLayoutPago = pe.IDLayoutPago    
	inner join Nomina.tblCatTiposLayout tl 
		on tl.TipoLayout = 'HSBC'    
		and lp.IDTipoLayout = tl.IDTipoLayout    
	inner join Nomina.tblDetallePeriodo dp 
		on dp.IDPeriodo = @IDPeriodo    
		and dp.IDConcepto = case 
			when isnull(p.Finiquito, 0) = 0 then lp.IDConcepto 
			else lp.IDConceptoFiniquito 
		  end
		and dp.IDEmpleado = e.IDEmpleado    
	where pe.IDLayoutPago = @IDLayoutPago;  

	-- HEADER
	if object_id('tempdb..#tempHeader1') is not null drop table #tempHeader1;    
	create table #tempHeader1 (Respuesta nvarchar(max)); 

	insert into #tempHeader1 (Respuesta)    
	select     
		[App].[fnAddString](6, 'MXPRLF', '', 1) + ',' +
		[App].[fnAddString](1, 'F', '', 2) + ',' +
		[App].[fnAddString](10, isnull(@Cuenta, ''), '0', 1) + ',' +
		[App].[fnAddString](20, replace(cast(isnull(@SumAll, 0) as varchar(max)), '.', ''), '', 1) + ',' +  
		[App].[fnAddString](7, cast(isnull(@CountEmpleados, 0) as varchar(6)), '', 1) + ',' +
		[App].[fnAddString](8, isnull(format(isnull(@FechaDispersion, getdate()), 'ddMMyyyy'), ''), '', 2) + ',' +
		[App].[fnAddString](5, '', '', 2) + ',' +   -- Colocar @hora cuando se quiera programar un pago.
		[App].[fnAddString](34, isnull(@descripcionperiodo, ''), '', 2);

	-- SALIDA FINAL
	if object_id('tempdb..#tempResp') is not null drop table #tempResp;    
	create table #tempResp (
		RN int identity(1,1),
		Respuesta nvarchar(max)
	); 

	insert into #tempResp (Respuesta)  
	select Respuesta from #tempHeader1;
	
	insert into #tempResp (Respuesta)  
	select Respuesta from #tempBody;    

	select Respuesta 
	from #tempResp 
	order by RN asc;
END;
GO
