USE [p_adagioRHRuggedTech]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Nomina].[tblComisionesPeriodos](
	[IDComisionPeriodo] [int] IDENTITY(1,1) NOT NULL,
	[IDPeriodo] [int] NOT NULL,
	[IDEmpleado] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Vin] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [PK_NominaTblComisionesPeriodos_IDComisionPeriodo] PRIMARY KEY CLUSTERED 
(
	[IDComisionPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_NominatblComisionesPeriodos_IDPeriodo_IDEmpleado_Vin] UNIQUE NONCLUSTERED 
(
	[IDPeriodo] ASC,
	[IDEmpleado] ASC,
	[Vin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Nomina].[tblComisionesPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_NominaTblCatPeriodos_NominaTblComisionesPeriodos_IDPeriodo] FOREIGN KEY([IDPeriodo])
REFERENCES [Nomina].[tblCatPeriodos] ([IDPeriodo])
GO
ALTER TABLE [Nomina].[tblComisionesPeriodos] CHECK CONSTRAINT [FK_NominaTblCatPeriodos_NominaTblComisionesPeriodos_IDPeriodo]
GO
ALTER TABLE [Nomina].[tblComisionesPeriodos]  WITH CHECK ADD  CONSTRAINT [FK_RHTblEmpleados_NominaTblComisionesPeriodos_IDEmpelado] FOREIGN KEY([IDEmpleado])
REFERENCES [RH].[tblEmpleados] ([IDEmpleado])
GO
ALTER TABLE [Nomina].[tblComisionesPeriodos] CHECK CONSTRAINT [FK_RHTblEmpleados_NominaTblComisionesPeriodos_IDEmpelado]
GO
