USE [p_adagioRHMotiDigital]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PROCOM].[TblFacturas](
	[IDFactura] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Folio] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[RFC] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[RazonSocial] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Total] [decimal](18, 2) NULL,
	[Consolidado] [int] NULL,
 CONSTRAINT [PK_ProcomTblFacturas_IDFactura] PRIMARY KEY CLUSTERED 
(
	[IDFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_ProcomTblFacturas_Folio_RFC] UNIQUE NONCLUSTERED 
(
	[Folio] ASC,
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
