USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Crea notificaciones para que los jefes aprueben o rechazen las solicitudes de vacación de los empleados (subordinados).
** Autor			: Jose Vargas
** Email			: jvargas@adagio.com.mx
** FechaCreacion	: 2025-05-07
** Parametros		: @dtSolicitudDePrestamosParaJefe		Lista de solicitudes de vacación.
**					: @IDUsuario							Identificador del usuario.


** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spINotificacionSolicitudDePrestamosParaJefe] (
	@dtSolicitudDePrestamosParaJefe	[App].[dtNotificacionesEmails] READONLY
	, @IDUsuario						INT
)
AS
	BEGIN

		SET NOCOUNT ON;


		-- VARIABLES
		DECLARE @ContTotal				INT = 0
				, @IDNotificacion		INT = 0
				, @FechaHoraCreacion	DATETIME = GETDATE()				
				, @NO_ENVIADO           INT = 0			
				, @ErrorMessage			NVARCHAR(4000)			
				;


		-- TABLAS TEMPORALES

		DECLARE @tblSolicitudParaJefe TABLE(
			ID						INT IDENTITY(1,1)
			, IDTipoNotificacion	VARCHAR(50)
			, [Subject]				VARCHAR(MAX)
			, Body					TEXT
			, Footer				TEXT
			, TipoReferencia		VARCHAR(255)
			, IDReferencia			INT			
			, Email					NVARCHAR(255)
			, PathFile				VARCHAR(MAX)
			, IDUsuario				INT
		);

		DECLARE @tblDestinatarios TABLE (
			ID						INT
			, IDTipoNotificacion    VARCHAR(50)
			, [Subject]             VARCHAR(MAX)
			, Body                  TEXT
			, Footer                TEXT
			, TipoReferencia		VARCHAR(255)
			, IDReferencia			VARCHAR(255)			
			, Email                 NVARCHAR(MAX)
			, PathFile				VARCHAR(MAX)
			, IDUsuario				INT
		);


		-- TRASPASAMOS LOS DATOS DEL DATATYPE "@dtSolicitudDePrestamosParaJefe" A LA TABLA "@@tblSolicitudParaJefe"
		INSERT INTO @tblSolicitudParaJefe
		SELECT D_SV.IDTipoNotificacion
				, D_SV.[Subject]
				, D_SV.Body
				, D_SV.Footer
				, D_SV.TipoReferencia
				, D_SV.IDReferencia				
				, T_SI.EmailJefe
				, NULL AS PathFile
				, T_SI.IDUsuarioJefe
		FROM @dtSolicitudDePrestamosParaJefe D_SV
			JOIN [Intranet].[tblSolicitudesPrestamosParaJefes] T_SI ON D_SV.IDReferencia = T_SI.ID
		WHERE ISNULL(T_SI.EmailJefe, '') <> ''
				AND NOT EXISTS (
								SELECT TOP 1 NA.IDEnviarNotificacionA
								FROM [App].[tblEnviarNotificacionA] NA
									JOIN [App].[tblNotificaciones] N ON NA.IDNotifiacion = N.IDNotifiacion
								WHERE NA.IDMedioNotificacion = 'Email'
									AND NA.TipoReferencia = '[Intranet].[tblSolicitudesPrestamosParaJefes]'
									AND NA.IDReferencia = D_SV.IDReferencia
							   );
		-- SELECT * FROM @tblSolicitudParaJefe


		-- CONTAMOS LAS NOTIFICACIONES
		SELECT @ContTotal = COUNT(ID) FROM @tblSolicitudParaJefe;
			
		-- INICIAR TRANSACCIÓN
		BEGIN TRANSACTION;
			BEGIN TRY
								
				IF (@ContTotal > 0)
					BEGIN
				
						-- INSERTAR LA NOTIFICACIÓN
						INSERT INTO [App].[tblNotificaciones] (IDTipoNotificacion, FechaHoraCreacion, Parametros, IDIdioma)
						SELECT TOP 1 IDTipoNotificacion
								, @FechaHoraCreacion
								, NULL AS Parametros
								, NULL AS IDIdioma
						FROM @tblSolicitudParaJefe;

						-- OBTENEMOS EL ID GENERADO DE LA NOTIFICACIÓN
						SET @IDNotificacion = SCOPE_IDENTITY();


						-- INSERTAR DESTINATARIOS EN LA TABLA TEMPORAL
						INSERT INTO @tblDestinatarios
						SELECT SJ.ID
								, SJ.IDTipoNotificacion
								, SJ.[Subject]
								, SJ.Body
								, SJ.Footer
								, SJ.TipoReferencia
								, SJ.IDReferencia								
								, SJ.Email
								--, 'aparedes@adagio.com.mx' AS Email 
								, SJ.PathFile
								, SJ.IDUsuario
						FROM @tblSolicitudParaJefe SJ
						--SELECT * FROM @tblDestinatarios
					

						-- INSERTAR LAS NOTIFICACIONES A ENVIAR (SOLO JEFES QUE TENGAS EMAIL BIEN CONFIGURADO)
						INSERT INTO [App].[tblEnviarNotificacionA](IDNotifiacion, IDMedioNotificacion, Destinatario, Enviado, FechaHoraEnvio, FechaHoraCreacion, Adjuntos, IDTipoAdjunto, Parametros, TipoReferencia, IDReferencia,IDUsuario)
						SELECT @IDNotificacion AS IDNotificacion
								, 'Email' AS IDMedioNotificacion
								, TD.Email AS Destinatario
								, @NO_ENVIADO AS Enviado
								, NULL AS FechaHoraEnvio
								, @FechaHoraCreacion AS FechaHoraCreacion
								, TD.PathFile AS Adjuntos
								, NULL AS IDTipoAdjunto
								, '{ "subject": "' + TD.[Subject] + '", "body":"' + REPLACE(CAST(TD.Body AS VARCHAR(MAX)), '"', '\"') + '", "footer":"' + REPLACE(CAST(TD.Footer AS VARCHAR(MAX)), '"', '\"') + '" }' AS Parametros
								, TD.TipoReferencia
								, TD.IDReferencia
								, TD.IDUsuario
						FROM @tblDestinatarios TD

						-- REVISAR
						--SELECT * FROM [App].[tblNotificaciones] WHERE IDNotifiacion = @IDNotificacion
						--SELECT * FROM [App].[tblEnviarNotificacionA] WHERE IDNotifiacion = @IDNotificacion

					END;
				

				-- CONFIRMAR TRANSACCION
				COMMIT TRANSACTION;

			END TRY
			BEGIN CATCH

				-- REVERTIR TRANSACCIÓN EN CASO DE ERROR
				IF @@TRANCOUNT > 0
				BEGIN
					ROLLBACK TRANSACTION;
				END			
			
				SELECT @ErrorMessage = ERROR_MESSAGE();
				RAISERROR (@ErrorMessage, 16, 1);

			END CATCH;

	END
GO
