USE [p_adagioRHCSMPresupuesto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************** 
** Descripción		: Vista que normaliza la información de los supervisores asociados a solicitudes de vacaciones que no fueron (autorizadas / reachadas) por ellos mismos, sino por otro supervisor en su lugar.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-05-19
** IDAzure			: #1596

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   VIEW [Intranet].[vwSolicitudDeVacacionesParaRestoDeJefes]
AS 

	SELECT TBL_RESTO_JEFES.*
			, JEFE_DECISION.IDUsuarioJefeDecision
			, JEFE_DECISION.IDEmpleadoJefeDecision
			, JEFE_DECISION.CuentaJefeDecision
			, JEFE_DECISION.NombreJefeDecision
			, JEFE_DECISION.ApellidoJefeDecision
			, JEFE_DECISION.EmailJefeDecision
			, JEFE_DECISION.NombreCompletoJefeDecision
	FROM (
		SELECT SVJ.ID
				, SVJ.IDSolicitud
				, SVJ.FolioSolicitud
				, SVJ.FechaCreacionSolicitud
				, SVJ.HoraCreacionSolicitud
				, SVJ.IDEstatusSolicitud
				, SVJ.EstatusSolicitud
				, SVJ.DiasSolicitadosSolicitud
				, SVJ.PeriodoSolicitud
				, SVJ.DiasDescansoSolicitud
				, SVJ.ComentariosSolicitud
				, SVJ.IDUsuarioEmpleado
				, SVJ.IDEmpleado
				, SVJ.ClaveEmpleado
				, SVJ.NombreEmpleado
				, SVJ.SegundoNombreEmpleado
				, SVJ.ApellidoPaternoEmpleado
				, SVJ.ApellidoMaternoEmpleado
				, SVJ.NombreCompletoEmpleado
				, SVJ.EmailEmpleado
				, SVJ.IDUsuarioJefe
				, SVJ.IDEmpleadoJefe
				, SVJ.CuentaJefe
				, SVJ.NombreJefe
				, SVJ.ApellidoJefe
				, SVJ.EmailJefe
				, SVJ.NombreCompletoJefe
				, SVJ.IDUsuarioJefeQueAutoriza
		FROM [Intranet].[tblSolicitudesVacacionesParaJefes] SVJ
		WHERE SVJ.IDEstatusSolicitud IN (2, 3) -- (2 = AUTORIZADO / 3 = RECHAZADA)
				AND SVJ.IDUsuarioJefeQueAutoriza = 0
				--AND SVJ.IDSolicitud = 236
	) TBL_RESTO_JEFES
		OUTER APPLY (
			SELECT TOP 1
				JEFE_DECISION.IDUsuarioJefe AS IDUsuarioJefeDecision
				, JEFE_DECISION.IDEmpleadoJefe AS IDEmpleadoJefeDecision
				, JEFE_DECISION.CuentaJefe AS CuentaJefeDecision
				, JEFE_DECISION.NombreJefe AS NombreJefeDecision
				, JEFE_DECISION.ApellidoJefe AS ApellidoJefeDecision
				, JEFE_DECISION.EmailJefe AS EmailJefeDecision
				, JEFE_DECISION.NombreCompletoJefe AS NombreCompletoJefeDecision
			FROM [Intranet].[tblSolicitudesVacacionesParaJefes] JEFE_DECISION
			WHERE JEFE_DECISION.IDSolicitud = TBL_RESTO_JEFES.IDSolicitud
					AND JEFE_DECISION.IDEstatusSolicitud IN (2, 3) -- (2 = AUTORIZADO / 3 = RECHAZADA)
					AND JEFE_DECISION.IDUsuarioJefeQueAutoriza <> 0
			ORDER BY JEFE_DECISION.ID DESC
		) JEFE_DECISION
GO
