USE [p_adagioRHNexus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************
** Descripción		: Crea una incidencia en [Asistencia].[tblIncidenciaEmpleado] y registra el saldado
**				  en [Asistencia].[tblBitacoraSaldadoVacaciones] usando [Asistencia].[spIUBitacoraSaldadoVacaciones].
** Autor			: (auto) Cursor AI + Julio Castillo
** FechaCreacion	: 2025-12-26
**
** Parámetros mínimos:
** - @IDEmpleado, @Fecha (fecha de la incidencia), @AnioOrigen, @NumeroDia, @IDUsuario
**
** Nota importante:
** - Este SP NO busca el día origen. Se recibe explícitamente (AnioOrigen, NumeroDia).
***************************************************************************************************/
CREATE PROC [Asistencia].[spCrearIncidenciaSaldadoVacacionesBitacora](
	@IDEmpleado				INT,
	@Fecha					DATE,
	@AnioOrigen				INT,
	@NumeroDia				INT,
	@IDUsuario				INT,
	@IDIncidencia			VARCHAR(10) = 'VP',
	@Comentario				VARCHAR(MAX) = NULL,
	@Autorizado				BIT = 1,
	@ComentariosBitacora	VARCHAR(255) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	SET FMTONLY OFF;

	DECLARE
		@IDIncidenciaEmpleado INT = NULL,
		@NewBitacoraId INT = NULL,
		@FechaSaldadoLocal DATETIME = GETDATE();

	BEGIN TRY
		BEGIN TRAN;

		-- 1) Insertar incidencia (y conservar identity)
		INSERT INTO Asistencia.tblIncidenciaEmpleado
		(
			IDEmpleado,
			IDIncidencia,
			Fecha,
			Comentario,
			ComentarioTextoPlano,
			CreadoPorIDUsuario,
			Autorizado,
			AutorizadoPor,
			FechaHoraAutorizacion
		)
		VALUES
		(
			@IDEmpleado,
			@IDIncidencia,
			@Fecha,
			@Comentario,
			@Comentario,
			@IDUsuario,
			@Autorizado,
			CASE WHEN @Autorizado = 1 THEN @IDUsuario ELSE NULL END,
			CASE WHEN @Autorizado = 1 THEN GETDATE() ELSE NULL END
		);

		SET @IDIncidenciaEmpleado = SCOPE_IDENTITY();

		-- 2) Upsert bitácora usando el SP existente
		EXEC [Asistencia].[spIUBitacoraSaldadoVacaciones]
			@IDBitacoraSaldado = 0,
			@IDEmpleado = @IDEmpleado,
			@AnioOrigen = @AnioOrigen,
			@NumeroDia = @NumeroDia,
			@IDIncidenciaSaldadora = @IDIncidenciaEmpleado,
			@FechaSaldado = @FechaSaldadoLocal,
			@IDUsuario = @IDUsuario,
			@Comentarios = @ComentariosBitacora;

		-- 3) Marcar el día como tomado en el saldo (para que los totales por año reflejen el cambio)
		UPDATE Asistencia.tblSaldoVacacionesEmpleado
		SET IDIncidenciaEmpleado = @IDIncidenciaEmpleado
		WHERE IDEmpleado = @IDEmpleado
			AND Anio = @AnioOrigen
			AND NumeroDia = @NumeroDia
			AND IDIncidenciaEmpleado IS NULL
			AND IDAjusteSaldo IS NULL
			AND IDFiniquito IS NULL;

		-- 3) Devolver ids (y el día origen)
		SELECT
			@IDIncidenciaEmpleado AS IDIncidenciaEmpleado,
			@AnioOrigen AS AnioOrigen,
			@NumeroDia AS NumeroDia;

		COMMIT TRAN;
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRAN;
		DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
		DECLARE @ErrState INT = ERROR_STATE();
		RAISERROR(@ErrMsg, 16, @ErrState);
	END CATCH
END
GO
