USE [p_adagioRHNexus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: VACACIONES
** Autor			: Aneudy Abreu					| Jose Román,
** Email			: aneudy.abreu@adagio.com.mx	| jose.roman@adagio.com.mx
** FechaCreacion	: 2019-08-12
** Paremetros		:              
** Versión 1.2 

** DataTypes Relacionados: 
  @dtconfigs [Nomina].[dtConfiguracionNomina]  
  @dtempleados [RH].[dtEmpleados]  
  @dtConceptos [Nomina].[dtConceptos]  
  @dtPeriodo [Nomina].[dtPeriodos]  
  @dtDetallePeriodo [Nomina].[dtDetallePeriodo] 


  VARIABLES A REEMPLAZAR (SIN LOS ESPACIOS)

  {{ DescripcionConcepto }}
  {{ CodigoConcepto }}

****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/
create PROC [Nomina].[spConcepto_CR108_BKNOV2025]
( @dtconfigs [Nomina].[dtConfiguracionNomina] READONLY 
 ,@dtempleados [RH].[dtEmpleados] READONLY 
 ,@dtConceptos [Nomina].[dtConceptos] READONLY 
 ,@dtPeriodo [Nomina].[dtPeriodos] READONLY 
 ,@dtDetallePeriodo [Nomina].[dtDetallePeriodo] READONLY) 
AS 
BEGIN 

	DECLARE 
		@ClaveEmpleado varchar(20) 
		,@IDEmpleado int 
		,@i int = 0 
		,@Codigo varchar(20) = 'CR108' 
		,@IDConcepto int 
		,@dtDetallePeriodoLocal [Nomina].[dtDetallePeriodo] 
		,@IDPeriodo int 
		,@IDTipoNomina int 
		,@Ejercicio int 
		,@ClavePeriodo varchar(20) 
		,@DescripcionPeriodo	varchar(250) 
		,@FechaInicioPago date 
		,@FechaFinPago date 
		,@FechaInicioIncidencia date 
		,@FechaFinIncidencia	date 
		,@Dias int 
		,@AnioInicio bit 
		,@AnioFin bit 
		,@MesInicio bit 
		,@MesFin bit 
		,@IDMes int 
		,@BimestreInicio bit 
		,@BimestreFin bit 
		,@General bit 
		,@Finiquito bit 
		,@Especial bit 
		,@Cerrado bit 
		,@PeriodicidadPago Varchar(100)
		,@isPreviewFiniquito bit 
		,@IDConceptoCR002 int  /*Días Vacaciones*/
		,@ConceptosPercepciones Varchar(MAX)
		,@IDConceptos Varchar(max) = ''
		,@CodigosConceptos Varchar(max) = ''
	;

	select top 1 
		@IDPeriodo = IDPeriodo ,@IDTipoNomina= IDTipoNomina,@Ejercicio = Ejercicio,@ClavePeriodo	= ClavePeriodo,@DescripcionPeriodo =  Descripcion 
		,@FechaInicioPago = FechaInicioPago,@FechaFinPago	= FechaFinPago,@FechaInicioIncidencia = FechaInicioIncidencia,@FechaFinIncidencia=	 FechaFinIncidencia 
		,@Dias = Dias,@AnioInicio = AnioInicio,@AnioFin = AnioFin,@MesInicio = MesInicio,@MesFin = MesFin 
		,@IDMes = IDMes,@BimestreInicio = BimestreInicio,@BimestreFin = BimestreFin 
		,@General = General,@Finiquito = Finiquito,@Especial = Especial,@Cerrado = Cerrado 
	from @dtPeriodo 
 
	select top 1 @IDConcepto=IDConcepto from @dtConceptos where Codigo=@Codigo; 
	select top 1 @IDConceptoCR002=IDConcepto from @dtConceptos where Codigo='CR002'; 
	SELECT @ConceptosPercepciones = COALESCE(@ConceptosPercepciones + ', ', '') + Codigo 
	FROM @dtConceptos
 
	DECLARE
		@Concepto_IDConcepto int
		,@Concepto_Codigo varchar(20)
		,@Concepto_Descripcion varchar(100)
		,@Concepto_IDTipoConcepto int
		,@Concepto_Estatus bit
		,@Concepto_Impresion bit
		,@Concepto_IDCalculo int
		,@Concepto_CuentaAbono varchar(50)
		,@Concepto_CuentaCargo  varchar(50)
		,@Concepto_bCantidadMonto bit
		,@Concepto_bCantidadDias bit
		,@Concepto_bCantidadVeces bit
		,@Concepto_bCantidadOtro1 bit
		,@Concepto_bCantidadOtro2 bit
		,@Concepto_IDCodigoSAT int
		,@Concepto_NombreProcedure varchar(200)
		,@Concepto_OrdenCalculo int
		,@Concepto_LFT bit
		,@Concepto_Personalizada bit
		,@Concepto_ConDoblePago bit;
		
		
	select top 1 
		@Concepto_IDConcepto = IDConcepto 
		,@Concepto_Codigo  = Codigo 
		,@Concepto_Descripcion = Descripcion
		,@Concepto_IDTipoConcepto = IDTipoConcepto 
		,@Concepto_Estatus = Estatus 
		,@Concepto_Impresion = Impresion 
		,@Concepto_IDCalculo = IDCalculo 
		,@Concepto_CuentaAbono = CuentaAbono 
		,@Concepto_CuentaCargo = CuentaCargo 
		,@Concepto_bCantidadMonto = bCantidadMonto
		,@Concepto_bCantidadDias = bCantidadDias
		,@Concepto_bCantidadVeces = bCantidadVeces
		,@Concepto_bCantidadOtro1 = bCantidadOtro1
		,@Concepto_bCantidadOtro2 = bCantidadOtro2 
		,@Concepto_IDCodigoSAT = IDCodigoSAT
		,@Concepto_NombreProcedure = NombreProcedure 
		,@Concepto_OrdenCalculo = OrdenCalculo
		,@Concepto_LFT = LFT
		,@Concepto_Personalizada = Personalizada 
		,@Concepto_ConDoblePago = ConDoblePago
	from @dtConceptos where Codigo=@Codigo;
		
	insert into @dtDetallePeriodoLocal 
	select * from @dtDetallePeriodo where IDConcepto=@IDConcepto 
 
 	select top 1 @isPreviewFiniquito = cast(isnull(valor,0) as bit) from @dtconfigs
	 where Configuracion = 'isPreviewFiniquito'

	select @PeriodicidadPago = PP.Descripcion from Nomina.tblCatTipoNomina TN
		Inner join [Sat].[tblCatPeriodicidadesPago] PP
			on TN.IDPEriodicidadPAgo = PP.IDPeriodicidadPago
	Where TN.IDTipoNomina = @IDTipoNomina
 	 /* @configs: Contiene todos los parametros de configuración de la nómina. */ 
 	 /* @empleados: Contiene todos los trabajadores a calcular.*/ 
 
	/* 
	Descomenta esta parte de código si necesitas recorrer la lista de trabajadores 
 
	select @i=min(RowNumber) from @dtempleados; 
 
	while exists(select 1 from @empleados where RowNumber >= @i) 
	begin 
 		select @IDEmpleado=IDEmpleado, @ClaveEmpleado=ClaveEmpleado from @dtempleados where RowNumber =@i; 
 		print @ClaveEmpleado 
 		select @i=min(RowNumber) from @empleados where RowNumber > @i; 
	end;  
	*/ 
 
		/* Inicio de segmento para programar el cuerpo del concepto*/
	  IF object_ID('TEMPDB..#TempDetalle') IS NOT NULL
   DROP TABLE #TempDetalle
   CREATE TABLE #TempDetalle(
    IDEmpleado int,
    IDPeriodo int,
    IDConcepto int,
    CantidadDias Decimal(18,2) null,
    CantidadMonto Decimal(18,2) null,
    CantidadVeces Decimal(18,2) null,
    CantidadOtro1 Decimal(18,2) null,
    CantidadOtro2 Decimal(18,2) null,
    ImporteGravado Decimal(18,2) null,
    ImporteExcento Decimal(18,2) null,
    ImporteTotal1 Decimal(18,2) null,
    ImporteTotal2 Decimal(18,2) null,
    Descripcion varchar(255) null,
    IDReferencia int null
   );
	IF( @Finiquito = 1 )
	BEGIN
		IF object_ID('TEMPDB..#TempValores') IS NOT NULL DROP TABLE #TempValores
		if object_id('tempdb..#TempDataF') is not null
			drop table #TempDataF

			SET @IDConceptos =  '286,289,290,292,293,294,295,296,297,298,299'
			SET @CodigosConceptos = STUFF(( 
				select ','+ cast(isnull(c.Codigo,0) as varchar)
				from Nomina.tblCatConceptos c
				where (c.IDConcepto in (select item from App.Split(@IDConceptos, ',')) or @IDConceptos is null)
				for XML path('')
			),1,1, '')

				SELECT
		  Empleados.IDEmpleado
		, Empleados.ClaveEmpleado as [Clave]
		, Empleados.NOMBRECOMPLETO as [NOMBRE COMPLETO]
		,SUM(ACUM.IMPORTETOTAL1) ImporteTotal1
		into #TempDataF from @dtempleados Empleados
		Left join Nomina.tblControlFiniquitos cf
				on Empleados.IDEmpleado = cf.IDEmpleado
				and cf.IDPeriodo = @IDPeriodo
		CROSS APPLY  Nomina.[fnObtenerAcumuladoRangoFecha](Empleados.idempleado, @CodigosConceptos, cast(@Ejercicio-1 as varchar(4))+'-12-01',																	
				(CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
				ELSE @FechaInicioPago END)) AS ACUM
				GROUP BY Empleados.IDEmpleado,Empleados.ClaveEmpleado,Empleados.NOMBRECOMPLETO--,ACUM.IDConcepto		
		ORDER BY Empleados.ClaveEmpleado ASC
				--select @CodigosConceptos 
				--select*from #TempDataF

		SELECT
			Empleados.IDEmpleado,
			@IDPeriodo as IDPeriodo,
			@Concepto_IDConcepto as IDConcepto,
			CASE WHEN ((isnull(DTLocal.CantidadOtro2,0) = -1) ) THEN 0
					 ELSE
					CASE WHEN @Concepto_bCantidadMonto  = 1 and ISNULL(DTLocal.CantidadMonto,0) > 0 THEN ISNULL(DTLocal.CantidadMonto,0)		  
							 WHEN @Concepto_bCantidadDias  = 1 and ISNULL(DTLocal.CantidadDias,0)  > 0 THEN ISNULL(DTLocal.CantidadDias,0)	* CASE WHEN @isPreviewFiniquito = 0 THEN Empleados.SalarioDiario   
																																				   ELSE (Acum.ImporteTotal1 / CASE WHEN DATEDIFF(Month,CF.FechaAntiguedad,CF.FechaBaja) > 6 THEN 6
																																													 ELSE DATEDIFF(Month,CF.FechaAntiguedad,CF.FechaBaja)
																																													 END) 
																																					END
							 WHEN @Concepto_bCantidadVeces = 1 and ISNULL(DTLocal.CantidadVeces,0) > 0 THEN ISNULL(DTLocal.CantidadVeces,0)	  
							 WHEN @Concepto_bCantidadOtro1 = 1 and ISNULL(DTLocal.CantidadOtro1,0) > 0 THEN ISNULL(DTLocal.CantidadOtro1,0)	  
							 WHEN @Concepto_bCantidadOtro2 = 1 and ISNULL(DTLocal.CantidadOtro2,0) > 0 THEN ISNULL(DTLocal.CantidadOtro2,0)	  
					  ELSE 
							(CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 and  CF.DiasVacaciones > 0 then
							CF.DiasVacaciones   ELSE ISNULL(dtDiasVacaciones.importetotal1,0)  END) *
																								--CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN (Acum.ImporteTotal1 / CASE WHEN DATEDIFF(Month,CF.FechaAntiguedad,CF.FechaBaja) >= 12 THEN 12
							--																	   ELSE DATEDIFF(Month,CF.FechaAntiguedad,CF.FechaBaja)
							--																	   END) 																   
							--																	   ELSE Empleados.SalarioDiario   
 
							--										END
							CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN 
							ACUM.ImporteTotal1 /	( CASE WHEN DATEDIFF(Month,cast(@Ejercicio-1 as varchar(4))+'-12-01',CF.FechaBaja) >= 12 THEN 12
							ELSE
							DATEDIFF(Month,cast(@Ejercicio-1 as varchar(4))+'-12-01',CF.FechaBaja)
							END) 																   
							ELSE (CASE WHEN @isPreviewFiniquito=1 THEN (CASE WHEN  pagoDolares.Valor = 'TRUE' THEN  (ISNULL ( cf.SueldoFiniquito , 0 ) * ( Select TOP 1 Valor FROM RH.tblDatosExtraClientes WHERE IDCatDatoExtraCliente =2)) ELSE ISNULL ( cf.SueldoFiniquito , 0 ) END )  ELSE (CASE WHEN  pagoDolares.Valor = 'TRUE' THEN  (ISNULL ( Empleados.SalarioDiario , 0 ) * ( Select TOP 1 Valor FROM RH.tblDatosExtraClientes WHERE IDCatDatoExtraCliente =2)) ELSE ISNULL ( Empleados.SalarioDiario , 0 ) END )  END)
							--																	   ELSE DATEDIFF(Month,CF.FechaAntiguedad,CF.FechaBaja)
							--ACUM.ImporteTotal1
					  -- Función personalizada		
					  END
					  END
				  END Valor
			,ISNULL(DTLocal.CantidadMonto,0) as CantidadMonto
			,ISNULL(DTLocal.CantidadDias ,0) as CantidadDias
			,ISNULL(DTLocal.CantidadVeces,0) as CantidadVeces  																							 
			,ISNULL(DTLocal.CantidadOtro1,0) as CantidadOtro1  																							 
			,ISNULL(DTLocal.CantidadOtro2,0) as CantidadOtro2  																							 
		INTO #TempValores
		FROM @dtempleados Empleados
			Left Join @dtDetallePeriodoLocal DTLocal
				on Empleados.IDEmpleado = DTLocal.IDEmpleado
			Left Join @dtDetallePeriodo dtDiasVacaciones
					on Empleados.IDEmpleado = dtDiasVacaciones.IDEmpleado
					and dtDiasVacaciones.IDConcepto = @IDConceptoCR002 -- DIAS Vacaciones
					and dtDiasVacaciones.IDPeriodo = @IDPeriodo
			left join Nomina.tblControlFiniquitos cf
				on Empleados.IDEmpleado = cf.IDEmpleado
				and cf.IDPeriodo = @IDPeriodo
			left Join #TempDataF ACUM on ACUM.IDEmpleado = Empleados.IDEmpleado
			Left Join RH.tblDatosExtraEmpleados pagoDolares
					on Empleados.IDEmpleado = pagoDolares.IDEmpleado
					and pagoDolares.IDDatoExtra = 44
			--cross apply Nomina.fnObtenerAcumuladoRangoFecha(Empleados.IDEmpleado
			--												,@CodigosConceptos,
			--					/*FechaInicio*/				CASE WHEN DATEDIFF(Month, -- Periodo
			--														/*datediff inicio*/	CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaAntiguedad
			--																			ELSE Empleados.FechaAntiguedad
			--																			END
			--														/*datediff FIN*/	,CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
			--																			ELSE @FechaInicioPago
			--																			END) >= 12 THEN  --CONDICION
			--																			DATEADD(MONTH,-12,CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
			--																									ELSE @FechaInicioPago
			--																									END)
			--													 ELSE CF.FechaAntiguedad
			--													 END
			--	, /*FechaFin*/CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
			--													ELSE @FechaInicioPago
			--													END) ACUM

		/* Inicio de segmento para programar las opciones de LFT, Personalizada, Doble Paga*/
		/* @Concepto_LFT, @Concepto_Personalizada, @Concepto_ConDoblePago*/
		
		
			insert into #TempDetalle(IDEmpleado,IDPeriodo,IDConcepto,CantidadDias,CantidadMonto,CantidadVeces,CantidadOtro1,CantidadOtro2,ImporteGravado,ImporteExcento,ImporteTotal1,ImporteTotal2,Descripcion,IDReferencia)
			Select IDEmpleado,
				IDPeriodo,
				IDConcepto,
				CantidadDias ,
				CantidadMonto,
				CantidadVeces,
				CantidadOtro1,
				CantidadOtro2,
				ImporteGravado = 0.00,
				ImporteExcento = Valor,
				ImporteTotal1 = Valor,
				ImporteTotal2 = 0.00,
				Descripcion = '',
				IDReferencia = NULL
			FROM #TempValores
		
		/* FIN de segmento para programar las opciones de LFT, Personalizada, Doble Paga*/
		/* Fin de segmento para programar el cuerpo del concepto*/
	END ELSE
	IF (@General = 1)
	BEGIN
		IF object_ID('TEMPDB..#TempValores2') IS NOT NULL DROP TABLE #TempValores
			if object_id('tempdb..#TempData') is not null
			drop table #TempData

			SET @IDConceptos =  '286,289,290,292,293,294,295,296,297,298,299'
			SET @CodigosConceptos = STUFF(( 
				select ','+ cast(isnull(c.Codigo,0) as varchar)
				from Nomina.tblCatConceptos c
				where (c.IDConcepto in (select item from App.Split(@IDConceptos, ',')) or @IDConceptos is null)
				for XML path('')
			),1,1, '')

		SELECT
		  Empleados.IDEmpleado
		, Empleados.ClaveEmpleado as [Clave]
		, Empleados.NOMBRECOMPLETO as [NOMBRE COMPLETO]
		,SUM(ACUM.IMPORTETOTAL1) ImporteTotal1
	--	,STUFF(( 
	--	select ','+ cast(isnull(c.Codigo,0) as varchar)
	--	from Nomina.tblCatConceptos c
	--	where (c.IDConcepto in (select item from App.Split(ACUM.IDConcepto, ',')) or @IDConceptos is null)
	--	for XML path('')
 --),1,1, '') as [conceptos]
		into #TempData from @dtempleados Empleados
				CROSS APPLY  Nomina.[fnObtenerAcumuladoRangoFecha](Empleados.idempleado, @CodigosConceptos, cast(@Ejercicio-1 as varchar(4))+'-12-01',cast(@Ejercicio as varchar(4))+'-11-30') AS ACUM
				GROUP BY Empleados.IDEmpleado,Empleados.ClaveEmpleado,Empleados.NOMBRECOMPLETO--,ACUM.IDConcepto		
		ORDER BY Empleados.ClaveEmpleado ASC

	SELECT
			Empleados.IDEmpleado,
			@IDPeriodo as IDPeriodo,
			@Concepto_IDConcepto as IDConcepto,
			CASE WHEN ((isnull(DTLocal.CantidadOtro2,0) = -1) ) THEN 0
					 ELSE
					CASE WHEN @Concepto_bCantidadMonto  = 1 and ISNULL(DTLocal.CantidadMonto,0) > 0 THEN ISNULL(DTLocal.CantidadMonto,0)		  
							 WHEN @Concepto_bCantidadDias  = 1 and ISNULL(DTLocal.CantidadDias,0)  > 0 THEN CASE WHEN --ISNULL(DTLocal.CantidadDias,0)	--* CASE WHEN @isPreviewFiniquito = 0 THEN Empleados.SalarioDiario   
							/*---------------------------------------------------------------------------
							  SI EL INGRESO REAL DIARIO ES MAYOR AL PROMEDIO, SE TOMA EL SALARIO REAL * DIAS 	
							---------------------------------------------------------------------------*/																	--END
							 	(CASE WHEN  pagoDolares.Valor = 'TRUE'   THEN  (ISNULL ( Empleados.SalarioDiario , 0 ) * ( Select TOP 1 Valor FROM RH.tblDatosExtraClientes WHERE IDCatDatoExtraCliente =2)) ELSE ISNULL ( Empleados.SalarioDiario , 0 ) END ) > ((isnull(ACUM.ImporteTotal1,0)/12)/30)   
									THEN (CASE WHEN  pagoDolares.Valor = 'TRUE' THEN  (ISNULL ( Empleados.SalarioDiario , 0 ) * ( Select TOP 1 Valor FROM RH.tblDatosExtraClientes WHERE IDCatDatoExtraCliente =2)) ELSE ISNULL ( Empleados.SalarioDiario , 0 ) END ) *  ISNULL(DTLocal.CantidadDias,0)
								 ELSE  ((isnull(ACUM.ImporteTotal1,0)/12)/30) *   ISNULL(DTLocal.CantidadDias,0) END
	
							 WHEN @Concepto_bCantidadVeces = 1 and ISNULL(DTLocal.CantidadVeces,0) > 0 THEN ISNULL(DTLocal.CantidadVeces,0)	  
							 WHEN @Concepto_bCantidadOtro1 = 1 and ISNULL(DTLocal.CantidadOtro1,0) > 0 THEN ISNULL(DTLocal.CantidadOtro1,0)	  
							 WHEN @Concepto_bCantidadOtro2 = 1 and ISNULL(DTLocal.CantidadOtro2,0) > 0 THEN ISNULL(DTLocal.CantidadOtro2,0)	  
					  ELSE 
							/*---------------------------------------------------------------------------
								SI EL INGRESO REAL DIARIO ES MAYOR AL PROMEDIO, SE TOMA EL SALARIO REAL	
							---------------------------------------------------------------------------*/
							case when 
								(CASE WHEN  pagoDolares.Valor = 'TRUE'   THEN  (ISNULL ( Empleados.SalarioDiario , 0 ) * ( Select TOP 1 Valor FROM RH.tblDatosExtraClientes WHERE IDCatDatoExtraCliente =2)) ELSE ISNULL ( Empleados.SalarioDiario , 0 ) END ) > ((isnull(ACUM.ImporteTotal1,0)/12)/30)   
									THEN (CASE WHEN  pagoDolares.Valor = 'TRUE' THEN  (ISNULL ( Empleados.SalarioDiario , 0 ) * ( Select TOP 1 Valor FROM RH.tblDatosExtraClientes WHERE IDCatDatoExtraCliente =2)) ELSE ISNULL ( Empleados.SalarioDiario , 0 ) END ) *  ISNULL(dtDiasVacaciones.importetotal1,0)
								 ELSE  ((isnull(ACUM.ImporteTotal1,0)/12)/30) *   ISNULL(dtDiasVacaciones.importetotal1,0) END
					  -- Función personalizada																			  
					END
				  END Valor
			,ISNULL(DTLocal.CantidadMonto,0) as CantidadMonto
			,ISNULL(DTLocal.CantidadDias ,0) as CantidadDias
			,ISNULL(DTLocal.CantidadVeces,0) as CantidadVeces  																							 
			,ISNULL(DTLocal.CantidadOtro1,0) as CantidadOtro1  																							 
			,ISNULL(DTLocal.CantidadOtro2,0) as CantidadOtro2  																							 
		INTO #TempValores2
		FROM @dtempleados Empleados
			Left Join @dtDetallePeriodoLocal DTLocal
				on Empleados.IDEmpleado = DTLocal.IDEmpleado
			Left Join @dtDetallePeriodo dtDiasVacaciones
					on Empleados.IDEmpleado = dtDiasVacaciones.IDEmpleado
					and dtDiasVacaciones.IDConcepto = @IDConceptoCR002 -- DIAS Vacaciones
					and dtDiasVacaciones.IDPeriodo = @IDPeriodo
			Left Join RH.tblDatosExtraEmpleados pagoDolares
					on Empleados.IDEmpleado = pagoDolares.IDEmpleado
					and pagoDolares.IDDatoExtra = 44
			left Join #TempData ACUM on ACUM.IDEmpleado = Empleados.IDEmpleado
		
			--left join Nomina.tblControlFiniquitos cf
			--	on Empleados.IDEmpleado = cf.IDEmpleado
			--	and cf.IDPeriodo = @IDPeriodo
			--cross apply Nomina.fnObtenerAcumuladoRangoFecha(Empleados.IDEmpleado
			--												,@ConceptosPercepciones,
			--					/*FechaInicio*/				CASE WHEN DATEDIFF(Month, -- Periodo
			--														/*datediff inicio*/	CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaAntiguedad
			--																			ELSE Empleados.FechaAntiguedad
			--																			END
			--														/*datediff FIN*/	,CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
			--																			ELSE @FechaInicioPago
			--																			END) >= 12 THEN  --CONDICION
			--																			DATEADD(MONTH,-12,CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
			--																									ELSE @FechaInicioPago
			--																									END)
			--													 ELSE CF.FechaAntiguedad
			--													 END
			--	, /*FechaFin*/CASE WHEN ISNULL( @isPreviewFiniquito , 0 ) = 1 THEN CF.FechaBaja
			--													ELSE @FechaInicioPago
			--													END) ACUM

		/* Inicio de segmento para programar las opciones de LFT, Personalizada, Doble Paga*/
		/* @Concepto_LFT, @Concepto_Personalizada, @Concepto_ConDoblePago*/
		
		
			insert into #TempDetalle(IDEmpleado,IDPeriodo,IDConcepto,CantidadDias,CantidadMonto,CantidadVeces,CantidadOtro1,CantidadOtro2,ImporteGravado,ImporteExcento,ImporteTotal1,ImporteTotal2,Descripcion,IDReferencia)
			Select IDEmpleado,
				IDPeriodo,
				IDConcepto,
				CantidadDias ,
				CantidadMonto,
				CantidadVeces,
				CantidadOtro1,
				CantidadOtro2,
				ImporteGravado = Valor,
				ImporteExcento = 0.00,
				ImporteTotal1 = Valor,
				ImporteTotal2 = 0.00,
				Descripcion = '',
				IDReferencia = NULL
			FROM #TempValores2
		
		/* FIN de segmento para programar las opciones de LFT, Personalizada, Doble Paga*/
		/* Fin de segmento para programar el cuerpo del concepto*/
	END ELSE
	IF (@Especial = 1)
	BEGIN
		/* AGREGAR CÓDIGO PARA ESPECIALES AQUÍ */
		/*
		MERGE @dtDetallePeriodoLocal AS TARGET
		USING #TempValoresEspeciales AS SOURCE
			ON TARGET.IDPeriodo = SOURCE.IDPeriodo
				and TARGET.IDConcepto = @Concepto_IDConcepto
				and TARGET.IDEmpleado = SOURCE.IDEmpleado
		WHEN MATCHED Then
			update
				Set TARGET.ImporteTotal1  = SOURCE.Valor
		WHEN NOT MATCHED BY TARGET THEN
			INSERT(IDEmpleado,IDPeriodo,IDConcepto,ImporteTotal1)
			VALUES(SOURCE.IDEmpleado,SOURCE.IDPeriodo,@Concepto_IDConcepto,Source.Valor)
		WHEN NOT MATCHED BY SOURCE THEN
			DELETE;
		*/
		PRINT 0
	END;
		MERGE @dtDetallePeriodoLocal AS TARGET
		USING #TempDetalle AS SOURCE
			ON TARGET.IDPeriodo = SOURCE.IDPeriodo
				and TARGET.IDConcepto = @Concepto_IDConcepto
				and TARGET.IDEmpleado = SOURCE.IDEmpleado
		WHEN MATCHED Then
			update
				Set TARGET.CantidadMonto  = isnull(SOURCE.CantidadMonto ,0)
			 ,TARGET.CantidadDias   = isnull(SOURCE.CantidadDias  ,0)
			 ,TARGET.CantidadVeces  = isnull(SOURCE.CantidadVeces ,0)
			 ,TARGET.CantidadOtro1  = isnull(SOURCE.CantidadOtro1 ,0)
			 ,TARGET.CantidadOtro2  = isnull(SOURCE.CantidadOtro2 ,0)
			 ,TARGET.ImporteTotal1  = ISNULL(SOURCE.ImporteTotal1 ,0)
			 ,TARGET.ImporteTotal2  = ISNULL(SOURCE.ImporteTotal2 ,0)
			 ,TARGET.ImporteGravado = ISNULL(SOURCE.ImporteGravado,0)
			 ,TARGET.ImporteExcento = ISNULL(SOURCE.ImporteExcento,0)
			 ,TARGET.Descripcion	= SOURCE.Descripcion
			 ,TARGET.IDReferencia	= NULL
		WHEN NOT MATCHED BY TARGET THEN
			INSERT(IDEmpleado,IDPeriodo,IDConcepto,
			CantidadMonto,CantidadDias ,CantidadVeces,CantidadOtro1,CantidadOtro2,
			ImporteTotal1,ImporteTotal2, ImporteGravado,ImporteExcento,Descripcion,IDReferencia
			 
			)
			VALUES(SOURCE.IDEmpleado,SOURCE.IDPeriodo,@Concepto_IDConcepto,
			isnull(SOURCE.CantidadMonto ,0),isnull(SOURCE.CantidadDias  ,0),isnull(SOURCE.CantidadVeces ,0)
			,isnull(SOURCE.CantidadOtro1 ,0),isnull(SOURCE.CantidadOtro2 ,0),
			ISNULL(SOURCE.ImporteTotal1 ,0),ISNULL(SOURCE.ImporteTotal2 ,0),ISNULL(SOURCE.ImporteGravado,0)
			,ISNULL(SOURCE.ImporteExcento,0),SOURCE.Descripcion, NULL
			)
		WHEN NOT MATCHED BY SOURCE THEN
		DELETE;
	Select * from @dtDetallePeriodoLocal
 		where
		   isnull(CantidadMonto,0)	<> 0	
		or isnull(CantidadDias,0)	<> 0	
		or isnull(CantidadVeces,0)	<> 0	
		or isnull(CantidadOtro1,0)	<> 0	
		or isnull(CantidadOtro2,0)	<> 0	
		or isnull(ImporteGravado,0) <> 0		
		or isnull(ImporteExcento,0) <> 0		
		or isnull(ImporteOtro,0)	<> 0	
		or isnull(ImporteTotal1,0)	<> 0	
		or isnull(ImporteTotal2,0)	<> 0
END;
GO
