USE [p_adagioRHRioSecreto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Obtiene los resultados del 9Box desde las tablas correspondientes.
** Autor			: Refactorización para leer desde tablas
** FechaCreacion	: 2025-01-07
** Parámetros		: @ID9Box, @IDUsuario
** DataTypes Relacionados: 
****************************************************************************************************/
-- HISTORIAL DE CAMBIOS
-- Fecha(yyyy-mm-dd)    Autor                Comentario
-- -------------------  -------------------  --------------------------------------------------------

CREATE PROCEDURE [Evaluacion360].[spObtenerComentarios9BoxReporte]
(
	@IDEmpleado9BOX INT,
	@IDIdioma varchar(10) = '',
	@IDUsuario INT
	
)
AS
BEGIN
	
	-- Convertir el idioma al formato usado en JSON (igual que en Reportes.spReporteBasicoObjetivosKPIS)
	SET @IDIdioma = CASE WHEN @IDIdioma = 'en-US' THEN 'enus' ELSE 'esmx' END
	
    SELECT 
	 ID
	,JSON_VALUE(InputLabel, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion')) as InputLabel
	,JSON_VALUE(InputPlaceHolder, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion')) as InputPlaceHolder
	,JSON_VALUE(InputInstrucciones, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion')) as InputInstrucciones
	,[Value] AS Valor
    FROM
   (
          SELECT 
	    	JSON_VALUE(comment.value, '$.ID') AS ID,
	    	JSON_VALUE(comment.value, '$.InputLabel') AS InputLabel,
	    	JSON_VALUE(comment.value, '$.InputPlaceHolder') AS InputPlaceHolder,
	    	JSON_VALUE(comment.value, '$.InputInstrucciones') AS InputInstrucciones,
	    	JSON_VALUE(comment.value, '$.Value') AS Value
    
	    FROM [Evaluacion360].[tblEmpleados9Box] E9B WITH (NOLOCK) 
	    CROSS APPLY OPENJSON(E9B.ComentariosExtra) AS comment
	    WHERE E9B.IDEmpleado9BOX = @IDEmpleado9BOX
	    	AND E9B.ComentariosExtra IS NOT NULL
	    	AND E9B.ComentariosExtra != ''
    ) AS Datos
	
			
END
GO
