USE [p_adagioRHThangos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [Reportes].[spReporteBasicoDeNominaPeriodoIndividualConExentosCF](
	@dtFiltros Nomina.dtFiltrosRH readonly
	,@IDUsuario int
) as
--select * from Nomina.tblCatPeriodos
	--declare	
	--	@dtFiltros Nomina.dtFiltrosRH
	--	,@IDUsuario int
	--insert @dtFiltros
	--values ('TipoNomina',4)
	--	  ,('IDPeriodoInicial',29)

	declare 
		@empleados [RH].[dtEmpleados]      
		,@empleadosTemp [RH].[dtEmpleados]        
		,@IDPeriodoSeleccionado int=0      
		,@periodo [Nomina].[dtPeriodos]      
		,@configs [Nomina].[dtConfiguracionNomina]      
		,@Conceptos [Nomina].[dtConceptos]      
		,@IDTipoNomina int   
		,@fechaIniPeriodo  date      
		,@fechaFinPeriodo  date     
		,@IDPeriodoInicial int
		,@IDCliente int
		,@Cerrado bit = 1
		,@IDIdioma varchar(20)
	;

	select @IDIdioma=App.fnGetPreferencia('Idioma', @IDUsuario, 'esmx')

	set @IDTipoNomina = case when exists (Select top 1 cast(item as int) 
										from App.Split((Select top 1 Value from @dtFiltros where Catalogo = 'TipoNomina'),',')) 
								THEN (Select top 1 cast(item as int) 
										from App.Split((Select top 1 Value from @dtFiltros where Catalogo = 'TipoNomina'),','))
						else 0 END


	Select @IDPeriodoInicial= cast(item as int) from App.Split((Select top 1 Value from @dtFiltros where Catalogo = 'IDPeriodoInicial'),',')
	Select @IDCliente	= cast(item as int) from App.Split((Select top 1 Value from @dtFiltros where Catalogo = 'Cliente'),',')
	
	insert into @periodo
	select *
	from Nomina.tblCatPeriodos with (nolock)
	where IDTipoNomina = @IDTipoNomina and IDPeriodo = @IDPeriodoInicial

	select 
		@fechaIniPeriodo = FechaInicioPago
		,@fechaFinPeriodo = FechaFinPago 
		,@IDTipoNomina = IDTipoNomina 
		,@Cerrado = Cerrado 
	from @periodo
	where IDPeriodo = @IDPeriodoInicial

	/* Se buscan todos los empleados vigentes del tipo de nómina seleccionado */      
	insert into @empleadosTemp       
	select e.*
	from RH.tblEmpleadosMaster e with (nolock)
		join ( select distinct dp.IDEmpleado
				from Nomina.tblDetallePeriodo dp with (nolock)
				where dp.IDPeriodo = @IDPeriodoInicial
		) detallePeriodo on e.IDEmpleado = detallePeriodo.IDEmpleado
	order by IDEmpleado


	--		select e.*
	--from RH.tblEmpleadosMaster e with (nolock)
	--	join ( select distinct dp.IDEmpleado
	--			from Nomina.tblDetallePeriodo dp with (nolock)
	--			where dp.IDPeriodo = @IDPeriodoInicial
	--	) detallePeriodo on e.IDEmpleado = detallePeriodo.IDEmpleado
		
    --insert into @empleados      
    --exec [RH].[spBuscarEmpleadosMaster] @IDTipoNomina = @IDTipoNomina,@FechaIni=@fechaIniPeriodo, @Fechafin = @fechaFinPeriodo ,@dtFiltros = @dtFiltros, @IDUsuario = @IDUsuario   

	if (@Cerrado = 1)
	begin
		update e
			set 
				e.IDCentroCosto		= isnull(cc.IDCentroCosto	,e.IDCentroCosto)
				,e.CentroCosto		= isnull(cc.Descripcion		,e.CentroCosto	)
				,e.IDDepartamento	= isnull(d.IDDepartamento	,e.IDDepartamento)
				,e.Departamento		= isnull(d.Descripcion		,e.Departamento	)
				,e.IDSucursal		= isnull(s.IDSucursal		,e.IDSucursal	)
				,e.Sucursal			= isnull(s.Descripcion		,e.Sucursal		)
				,e.IDPuesto			= isnull(p.IDPuesto			,e.IDPuesto		)
				,e.Puesto			= isnull(JSON_VALUE(p.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion'))		,e.Puesto		)
				,e.IDRegPatronal	= isnull(rp.IDRegPatronal	,e.IDRegPatronal)
				,e.RegPatronal		= isnull(rp.RazonSocial		,e.RegPatronal	)
				,e.IDCliente		= isnull(c.IDCliente		,e.IDCliente	)
				,e.Cliente			= isnull(JSON_VALUE(c.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'NombreComercial'))	,e.Cliente		)
				,e.IDEmpresa		= isnull(emp.IdEmpresa		,e.IdEmpresa	)
				,e.Empresa			= isnull(substring(emp.NombreComercial,1,50),substring(e.Empresa,1,50))
				,e.IDArea			= isnull(a.IDArea			,e.IDArea		)
				,e.Area				= isnull(a.Descripcion		,e.Area			)
				,e.IDDivision		= isnull(div.IDDivision		,e.IDDivision	)
				,e.Division			= isnull(div.Descripcion	,e.Division		)
				,e.IDRegion			= isnull(r.IDRegion			,e.IDRegion		)
				,e.Region			= isnull(r.Descripcion		,e.Region		)
				,e.IDRazonSocial	= isnull(rs.IDRazonSocial	,e.IDRazonSocial)
				,e.RazonSocial		= isnull(rs.RazonSocial		,e.RazonSocial	)

				,e.IDClasificacionCorporativa	= isnull(clasificacionC.IDClasificacionCorporativa,e.IDClasificacionCorporativa)
				,e.ClasificacionCorporativa		= isnull(clasificacionC.Descripcion, e.ClasificacionCorporativa)

		from @empleadosTemp e
			join ( select hep.*
					from Nomina.tblHistorialesEmpleadosPeriodos hep with (nolock)
						join @periodo p on hep.IDPeriodo = p.IDPeriodo
				) historiales on e.IDEmpleado = historiales.IDEmpleado
			left join RH.tblCatCentroCosto cc		with(nolock) on cc.IDCentroCosto = historiales.IDCentroCosto
		 	left join RH.tblCatDepartamentos d		with(nolock) on d.IDDepartamento = historiales.IDDepartamento
			left join RH.tblCatSucursales s			with(nolock) on s.IDSucursal		= historiales.IDSucursal
			left join RH.tblCatPuestos p			with(nolock) on p.IDPuesto			= historiales.IDPuesto
			left join RH.tblCatRegPatronal rp		with(nolock) on rp.IDRegPatronal	= historiales.IDRegPatronal
			left join RH.tblCatClientes c			with(nolock) on c.IDCliente		= historiales.IDCliente
			left join RH.tblEmpresa emp				with(nolock) on emp.IDEmpresa	= historiales.IDEmpresa
			left join RH.tblCatArea a				with(nolock) on a.IDArea		= historiales.IDArea
			left join RH.tblCatDivisiones div		with(nolock) on div.IDDivision	= historiales.IDDivision
			left join RH.tblCatRegiones r			with(nolock) on r.IDRegion		= historiales.IDRegion
			left join RH.tblCatRazonesSociales rs	with(nolock) on rs.IDRazonSocial = historiales.IDRazonSocial
			left join RH.tblCatClasificacionesCorporativas clasificacionC with(nolock)	on clasificacionC.IDClasificacionCorporativa = historiales.IDClasificacionCorporativa

	end;
	
	insert @Empleados
	exec [RH].[spFiltrarEmpleadosDesdeLista]              
		@dtEmpleados	= @empleadosTemp,
		@IDTipoNomina	= @IDTipoNomina,
		@dtFiltros		= @dtFiltros,
		@IDUsuario		= @IDUsuario

	if object_id('tempdb..#tempConceptos') is not null drop table #tempConceptos 
	if object_id('tempdb..#tempData') is not null drop table #tempData
	if object_id('tempdb..#tempExento') is not null drop table #tempExento

	select distinct 
		c.IDConcepto,
		replace(replace(replace(replace(replace(c.Descripcion+'_'+c.Codigo,' ','_'),'-',''),'.',''),'(',''),')','') as Concepto,
		c.IDTipoConcepto as IDTipoConcepto,
		c.TipoConcepto,
		c.Orden as OrdenCalculo,
		case when c.IDTipoConcepto in (1,4) then 1
			 when c.IDTipoConcepto = 2 then 2
			 when c.IDTipoConcepto = 3 then 3
			 when c.IDTipoConcepto = 6 then 4
			 when c.IDTipoConcepto = 5 then 5
			 else 0
			 end as OrdenColumn,
		1 as Origen
	into #tempConceptos
	from (select 
			ccc.*
			,tc.Descripcion as TipoConcepto
			,crr.Orden
		from Nomina.tblCatConceptos ccc with (nolock) 
			inner join Nomina.tblCatTipoConcepto tc with (nolock) on tc.IDTipoConcepto = ccc.IDTipoConcepto
			inner join Reportes.tblConfigReporteRayas crr with (nolock)  on crr.IDConcepto = ccc.IDConcepto and crr.Impresion = 1
			where CCC.IDConcepto in (select distinct IDConcepto from Nomina.tblDetallePeriodo with (nolock) where IDPeriodo = @IDPeriodoInicial and isnull(ImporteTotal1,0)>0 or IDConcepto in (109) )
		) c 
	
	insert into #tempConceptos
		select distinct 
		c.IDConcepto,
		replace(replace(replace(replace(replace('EX'+'_'+c.Descripcion+'_'+c.Codigo,' ','_'),'-',''),'.',''),'(',''),')','') as Concepto,
		c.IDTipoConcepto as IDTipoConcepto,
		c.TipoConcepto,
		c.Orden as OrdenCalculo,
		case when c.IDTipoConcepto in (1,4) then 1
			 when c.IDTipoConcepto = 2 then 2
			 when c.IDTipoConcepto = 3 then 3
			 when c.IDTipoConcepto = 6 then 4
			 when c.IDTipoConcepto = 5 then 5
			 else 0
			 end as OrdenColumn,
		2 as Origen
	from (select 
			ccc.*
			,tc.Descripcion as TipoConcepto
			,crr.Orden
		from Nomina.tblCatConceptos ccc with (nolock) 
			inner join Nomina.tblCatTipoConcepto tc with (nolock) on tc.IDTipoConcepto = ccc.IDTipoConcepto
			inner join Reportes.tblConfigReporteRayas crr with (nolock)  on crr.IDConcepto = ccc.IDConcepto and crr.Impresion = 1
		where CCC.IDConcepto in (select distinct IDConcepto from Nomina.tblDetallePeriodo with (nolock) where IDPeriodo = @IDPeriodoInicial and isnull(ImporteExcento,0)>0 or IDConcepto in (109) )
		--and tc.IDTipoConcepto = 1
		) c 
 
 Select
		e.ClaveEmpleado		as CLAVE
		,e.NOMBRECOMPLETO	as NOMBRE
        ,e.CURP AS [CURP_]
        ,e.RFC AS [RFC_]
        ,format(e.FechaAntiguedad,'dd/MM/yyyy') as [FECHA_ANTIGUEDAD]
        ,format(e.FechaIngreso,'dd/MM/yyyy') as [FECHA_INGRESO]
		,e.Empresa			as RAZON_SOCIAL
		,s.Codigo			as [COD. SUCURSAL]
		,e.Sucursal			as SUCURSAL
		,d.Codigo			as [COD. DEPARTAMENTO]
		,e.Departamento		as DEPARTAMENTO
		,pu.Codigo			as [COD. PUESTO]
		,e.Puesto			as PUESTO
		,dv.Codigo			as [COD. DIVISION]
		,e.Division			as DIVISION
		,cc.Codigo			as [COD. CENTRO COSTO]
		,e.CentroCosto		as CENTRO_COSTO
         ,e.SalarioDiario as SALARIO_DIARIO
        ,e.SalarioVariable as SALARIO_VARIABLE
        ,CASE WHEN e.SalarioIntegrado>=2405.5 then e.SalarioIntegrado ELSE(isnull(e.SalarioIntegrado,0)-isnull(e.SalarioVariable,0)) END as SDI
        ,e.SalarioIntegrado as SBC
		,[VIGENTE HOY]		= case when isnull(e.Vigente,0) = 1 then 'SI' else 'NO' end
		,c.Concepto
		,c.OrdenCalculo
		,UPPER(isnull(Timbrado.UUID,'')) as UUID
		,isnull(Estatustimbrado.Descripcion,'Sin estatus') AS Estatus_Timbrado
		,isnull(format(Timbrado.Fecha,'dd/MM/yyyy hh:mm'),'') as Fecha_Timbrado
		,SUM(isnull(dp.ImporteTotal1,0)) as ImporteTotal1
		into #tempExento
	from @periodo P
		inner join Nomina.tblDetallePeriodo dp with (nolock) 
			on p.IDPeriodo = dp.IDPeriodo
		inner join #tempConceptos c
			on C.IDConcepto = dp.IDConcepto
			and c.Origen = 1
		inner join @empleados e
			on dp.IDEmpleado = e.IDEmpleado
		left join [RH].[tblCatSucursales] s with (nolock) on s.IDSucursal = e.IDSucursal
		left join [RH].[tblCatDepartamentos] d with (nolock) on d.IDDepartamento = e.IDDepartamento
		left join [RH].[tblCatPuestos] pu with (nolock) on pu.IDPuesto = e.IDPuesto
		left join [RH].[tblCatDivisiones] dv with (nolock) on dv.IDDivision = e.IDDivision
		left join [RH].[tblCatCentroCosto] cc with (nolock) on cc.IDCentroCosto = e.IDCentroCosto
		left join Nomina.tblHistorialesEmpleadosPeriodos Historial with (nolock)   
			on Historial.IDPeriodo = p.IDPeriodo and Historial.IDEmpleado = dp.IDEmpleado
		left join Facturacion.tblTimbrado Timbrado with (nolock)        
			on Historial.IDHistorialEmpleadoPeriodo = Timbrado.IDHistorialEmpleadoPeriodo and timbrado.Actual = 1      
		left join Facturacion.tblCatEstatusTimbrado Estatustimbrado  with (nolock)       
			on Timbrado.IDEstatusTimbrado = Estatustimbrado.IDEstatusTimbrado  
		where dp.IDConcepto in (109)
	Group by 
		e.ClaveEmpleado
		,e.NOMBRECOMPLETO
        ,e.RFC
        ,e.CURP
        ,e.FechaAntiguedad
        ,e.FechaIngreso
		,c.Concepto
		,c.OrdenCalculo
		,e.Empresa
		,s.Codigo
		,e.Sucursal 
		,d.Codigo
		,e.Departamento
		,pu.Codigo
		,e.Puesto
		,dv.Codigo
		,e.Division
		,cc.Codigo
		,e.CentroCosto
        ,E.SalarioDiario
        ,E.SalarioVariable
        ,E.SalarioIntegrado
	,Timbrado.UUID
		,Estatustimbrado.Descripcion
		,Timbrado.Fecha
		,e.Vigente
	ORDER BY e.ClaveEmpleado ASC

	Select
		e.ClaveEmpleado		as CLAVE
		,e.NOMBRECOMPLETO	as NOMBRE
        ,e.CURP AS [CURP_]
        ,e.RFC AS [RFC_]
        ,format(e.FechaAntiguedad,'dd/MM/yyyy') as [FECHA_ANTIGUEDAD]
        ,format(e.FechaIngreso,'dd/MM/yyyy') as [FECHA_INGRESO]
		,e.Empresa			as RAZON_SOCIAL
		,s.Codigo			as [COD. SUCURSAL]
		,e.Sucursal			as SUCURSAL
		,d.Codigo			as [COD. DEPARTAMENTO]
		,e.Departamento		as DEPARTAMENTO
		,pu.Codigo			as [COD. PUESTO]
		,e.Puesto			as PUESTO
		,dv.Codigo			as [COD. DIVISION]
		,e.Division			as DIVISION
		,cc.Codigo			as [COD. CENTRO COSTO]
		,e.CentroCosto		as CENTRO_COSTO
         ,e.SalarioDiario as SALARIO_DIARIO
        ,e.SalarioVariable as SALARIO_VARIABLE
        ,CASE WHEN e.SalarioIntegrado>=2405.5 then e.SalarioIntegrado ELSE(isnull(e.SalarioIntegrado,0)-isnull(e.SalarioVariable,0)) END as SDI
        ,e.SalarioIntegrado as SBC
		,[VIGENTE HOY]		= case when isnull(e.Vigente,0) = 1 then 'SI' else 'NO' end
		,c.Concepto
		,c.OrdenCalculo
		,UPPER(isnull(Timbrado.UUID,'')) as UUID
		,isnull(Estatustimbrado.Descripcion,'Sin estatus') AS Estatus_Timbrado
		,isnull(format(Timbrado.Fecha,'dd/MM/yyyy hh:mm'),'') as Fecha_Timbrado
		,SUM(isnull(dp.ImporteTotal1,0)) as ImporteTotal1
	into #tempData
	from @periodo P
		inner join Nomina.tblDetallePeriodo dp with (nolock) 
			on p.IDPeriodo = dp.IDPeriodo
		inner join #tempConceptos c
			on C.IDConcepto = dp.IDConcepto
			and c.Origen = 1
		inner join @empleados e
			on dp.IDEmpleado = e.IDEmpleado
		left join [RH].[tblCatSucursales] s with (nolock) on s.IDSucursal = e.IDSucursal
		left join [RH].[tblCatDepartamentos] d with (nolock) on d.IDDepartamento = e.IDDepartamento
		left join [RH].[tblCatPuestos] pu with (nolock) on pu.IDPuesto = e.IDPuesto
		left join [RH].[tblCatDivisiones] dv with (nolock) on dv.IDDivision = e.IDDivision
		left join [RH].[tblCatCentroCosto] cc with (nolock) on cc.IDCentroCosto = e.IDCentroCosto
		left join Nomina.tblHistorialesEmpleadosPeriodos Historial with (nolock)   
			on Historial.IDPeriodo = p.IDPeriodo and Historial.IDEmpleado = dp.IDEmpleado
		left join Facturacion.tblTimbrado Timbrado with (nolock)        
			on Historial.IDHistorialEmpleadoPeriodo = Timbrado.IDHistorialEmpleadoPeriodo and timbrado.Actual = 1      
		left join Facturacion.tblCatEstatusTimbrado Estatustimbrado  with (nolock)       
			on Timbrado.IDEstatusTimbrado = Estatustimbrado.IDEstatusTimbrado  
	Group by 
		e.ClaveEmpleado
		,e.NOMBRECOMPLETO
        ,e.RFC
        ,e.CURP
        ,e.FechaAntiguedad
        ,e.FechaIngreso
		,c.Concepto
		,c.OrdenCalculo
		,e.Empresa
		,s.Codigo
		,e.Sucursal 
		,d.Codigo
		,e.Departamento
		,pu.Codigo
		,e.Puesto
		,dv.Codigo
		,e.Division
		,cc.Codigo
		,e.CentroCosto
        ,E.SalarioDiario
        ,E.SalarioVariable
        ,E.SalarioIntegrado
		,Timbrado.UUID
		,Estatustimbrado.Descripcion
		,Timbrado.Fecha
		,e.Vigente
	ORDER BY e.ClaveEmpleado ASC

	insert into #tempData
	Select
		e.ClaveEmpleado		as CLAVE
		,e.NOMBRECOMPLETO	as NOMBRE
		,e.CURP AS [CURP_]
        ,e.RFC AS [RFC_]
        ,format(e.FechaAntiguedad,'dd/MM/yyyy') as [FECHA_ANTIGUEDAD]
        ,format(e.FechaIngreso,'dd/MM/yyyy') as [FECHA_INGRESO]
        ,e.Empresa			as RAZON_SOCIAL
		,s.Codigo			as [COD. SUCURSAL]
		,e.Sucursal			as SUCURSAL
		,d.Codigo			as [COD. DEPARTAMENTO]
		,e.Departamento		as DEPARTAMENTO
		,pu.Codigo			as [COD. PUESTO]
		,e.Puesto			as PUESTO
		,dv.Codigo			as [COD. DIVISION]
		,e.Division			as DIVISION
		,cc.Codigo			as [COD. CENTRO COSTO]
		,e.CentroCosto		as CENTRO_COSTO
         ,e.SalarioDiario as SALARIO_DIARIO
        ,e.SalarioVariable as SALARIO_VARIABLE
        ,CASE WHEN e.SalarioIntegrado>=2405.5 then e.SalarioIntegrado ELSE(isnull(e.SalarioIntegrado,0)-isnull(e.SalarioVariable,0)) END as SDI
        ,e.SalarioIntegrado as SBC
		,[VIGENTE HOY]		= case when isnull(e.Vigente,0) = 1 then 'SI' else 'NO' end
		,c.Concepto
		,c.OrdenCalculo
		,UPPER(isnull(Timbrado.UUID,'')) as UUID
		,isnull(Estatustimbrado.Descripcion,'Sin estatus') AS Estatus_Timbrado
		,isnull(format(Timbrado.Fecha,'dd/MM/yyyy hh:mm'),'') as Fecha_Timbrado
		,case when dp.IDConcepto in (109) or c.Concepto in ('EX_TOTAL_PERCEPCIONES_550') then  SUM(isnull(dp.ImporteExcento,0))+ SUM(isnull(exento.ImporteTotal1,0))else  SUM(isnull(dp.ImporteExcento,0)) end as ImporteTotal1
	from @periodo P
		inner join Nomina.tblDetallePeriodo dp with (nolock) 
			on p.IDPeriodo = dp.IDPeriodo
		inner join #tempConceptos c
			on C.IDConcepto = dp.IDConcepto
			and c.Origen = 2
		inner join @empleados e
			on dp.IDEmpleado = e.IDEmpleado
		left join [RH].[tblCatSucursales] s with (nolock) on s.IDSucursal = e.IDSucursal
		left join [RH].[tblCatDepartamentos] d with (nolock) on d.IDDepartamento = e.IDDepartamento
		left join [RH].[tblCatPuestos] pu with (nolock) on pu.IDPuesto = e.IDPuesto
		left join [RH].[tblCatDivisiones] dv with (nolock) on dv.IDDivision = e.IDDivision
		left join [RH].[tblCatCentroCosto] cc with (nolock) on cc.IDCentroCosto = e.IDCentroCosto
		left join Nomina.tblHistorialesEmpleadosPeriodos Historial with (nolock)   
			on Historial.IDPeriodo = p.IDPeriodo and Historial.IDEmpleado = dp.IDEmpleado
		left join Facturacion.tblTimbrado Timbrado with (nolock)        
			on Historial.IDHistorialEmpleadoPeriodo = Timbrado.IDHistorialEmpleadoPeriodo and timbrado.Actual = 1      
		left join Facturacion.tblCatEstatusTimbrado Estatustimbrado  with (nolock)       
			on Timbrado.IDEstatusTimbrado = Estatustimbrado.IDEstatusTimbrado  
		left join #tempExento exento on  exento.CLAVE = e.ClaveEmpleado
	Group by 
		e.ClaveEmpleado
		,e.NOMBRECOMPLETO
        ,e.RFC
        ,e.CURP
        ,e.FechaAntiguedad
        ,e.FechaIngreso
		,c.Concepto
		,c.OrdenCalculo
		,e.Empresa
		,s.Codigo
		,e.Sucursal 
		,d.Codigo
		,e.Departamento
		,pu.Codigo
		,e.Puesto
		,dv.Codigo
		,e.Division
		,cc.Codigo
		,e.CentroCosto
        ,E.SalarioDiario
        ,E.SalarioVariable
        ,E.SalarioIntegrado
		,Timbrado.UUID
		,Estatustimbrado.Descripcion
		,Timbrado.Fecha
		,e.Vigente
		,dp.idconcepto
	ORDER BY e.ClaveEmpleado ASC
	--select*from #tempData where CLAVE='002489' return

	DECLARE @cols AS NVARCHAR(MAX),
		@query1  AS NVARCHAR(MAX),
		@query2  AS NVARCHAR(MAX),
		@colsAlone AS VARCHAR(MAX)
	;

	SET @cols = STUFF((SELECT ',' +' ISNULL('+ QUOTENAME(c.Concepto)+',0) AS '+ QUOTENAME(c.Concepto)
				FROM #tempConceptos c
				GROUP BY c.Concepto,c.OrdenColumn,c.OrdenCalculo,c.Origen
				ORDER BY c.OrdenCalculo,c.Origen  desc,c.OrdenColumn
				FOR XML PATH(''), TYPE
				).value('.', 'VARCHAR(MAX)') 
			,1,1,'');

	SET @colsAlone = STUFF((SELECT ','+ QUOTENAME(c.Concepto)
				FROM #tempConceptos c
				GROUP BY c.Concepto,c.OrdenColumn,c.OrdenCalculo,c.Origen
				ORDER BY c.OrdenCalculo,c.Origen  desc,c.OrdenColumn
				FOR XML PATH(''), TYPE
				).value('.', 'VARCHAR(MAX)') 
			,1,1,'');

	set @query1 = 'SELECT 
						CLAVE,
						NOMBRE, 
                        [CURP_],
                        [RFC_],
                        [FECHA_INGRESO],
                        [FECHA_ANTIGUEDAD],
						RAZON_SOCIAL,
						[COD. SUCURSAL],
						SUCURSAL, 
						[COD. DEPARTAMENTO],
						DEPARTAMENTO, 
						[COD. PUESTO],
						PUESTO, 
						[COD. DIVISION],
						DIVISION, 
						[COD. CENTRO COSTO], 
						CENTRO_COSTO, 
                        SALARIO_DIARIO,
                        SALARIO_VARIABLE,
                        SDI AS [SDI_],
                        SBC AS [SBC_],
						[VIGENTE HOY],  UUID, ESTATUS_TIMBRADO, FECHA_TIMBRADO, ' + @cols + ' from 
				(
					select CLAVE,
						Nombre,
                        [CURP_],
                        [RFC_],
                        [FECHA_INGRESO],
                        [FECHA_ANTIGUEDAD],
						Concepto,
						RAZON_SOCIAL,
						[COD. SUCURSAL],
						SUCURSAL, 
						[COD. DEPARTAMENTO],
						DEPARTAMENTO, 
						[COD. PUESTO],
						PUESTO, 
						[COD. DIVISION],
						DIVISION, 
						[COD. CENTRO COSTO], 
						CENTRO_COSTO,
                        SALARIO_DIARIO,
                        SALARIO_VARIABLE,
                        SDI,
                        SBC,
						[VIGENTE HOY],
						UUID,
						ESTATUS_TIMBRADO,
						FECHA_TIMBRADO,
						isnull(ImporteTotal1,0) as ImporteTotal1
					from #tempData					
			   ) x'

	set @query2 = '
				pivot 
				(
					 SUM(ImporteTotal1)
					for Concepto in (' + @colsAlone + ')
				) p 
				order by CLAVE
				'

				--print(@query1)
				--print(@query2)

				--select * 
				--INTO BK.tbTempData
				--from #tempData

	exec( @query1 + @query2)
GO
