USE [p_adagioRHNomade]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [App].[spIEnviarNotificacionApi]
(
    @Asunto varchar(max),
    @Mensaje varchar(max),
    @Destinatario varchar(max),
    @ErrorMessage varchar(max),
    @IDUsuario int
)
AS
BEGIN
    DECLARE @IDNotificacion int,
            @valor varchar(max),
            @IDIdioma varchar(20),
            @IDTipoNotificacion varchar(100) = 'NotificacionAPI'
            
    
    IF OBJECT_ID('TEMPDB.dbo.#tempParams') IS NOT NULL DROP TABLE #tempParams
    IF OBJECT_ID('TEMPDB.dbo.##tempParamsPivot') IS NOT NULL DROP TABLE ##tempParamsPivot
    
    Select @Asunto = @Asunto + '. Fecha: ' + CONVERT(varchar(10), GETDATE(), 105) + ' Hora: ' + CONVERT(varchar(10), GETDATE(), 108)

    select @IDIdioma = App.fnGetPreferencia('Idioma', @IDUsuario, 'es-MX')

    INSERT INTO [App].[tblNotificaciones](IDTipoNotificacion, Parametros)  
    SELECT @IDTipoNotificacion, '{ "subject":"'+@Asunto+'", "body": "'+@Mensaje+'"}'
    
    set @IDNotificacion = @@IDENTITY  

    insert [App].[tblEnviarNotificacionA](  
         IDNotifiacion  
        ,IDMedioNotificacion  
        ,Destinatario
        ,Adjuntos
        ,TipoReferencia
        ,IDReferencia
        ,IDUsuario
        ) 
    select 
        @IDNotificacion  
        ,templateNot.IDMedioNotificacion  
        ,@Destinatario
        ,NULL 
        ,null
        ,null
        ,@IDUsuario
    from [App].[tblTiposNotificaciones] tn  
        INNER JOIN [App].[tblTemplateNotificaciones] templateNot on tn.IDTipoNotificacion = templateNot.IDTipoNotificacion  
    where tn.IDTipoNotificacion = @IDTipoNotificacion 
    and isnull(templateNot.IDIdioma,'es-MX') = @IDIdioma
    
     
END
GO
