USE [p_adagioRHFabricasSelectas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RH].[tblNotasControlAltasEmpleados](
	[IDNotaControlAltasEmpleados] [int] IDENTITY(1,1) NOT NULL,
	[IDControlAltasEmpleados] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Nota] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[FechaHoraReg] [datetime] NOT NULL,
 CONSTRAINT [Pk_RHTblNotasControlAltasEmpleados_IDNotaControlAltasEmpleados] PRIMARY KEY CLUSTERED 
(
	[IDNotaControlAltasEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHtblNotasControlAltasEmpleados_Fecha] ON [RH].[tblNotasControlAltasEmpleados]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHtblNotasControlAltasEmpleados_IDControlAltasEmpleados] ON [RH].[tblNotasControlAltasEmpleados]
(
	[IDControlAltasEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [RH].[tblNotasControlAltasEmpleados] ADD  CONSTRAINT [D_RHTblNotasControlAltasEmpleados_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [RH].[tblNotasControlAltasEmpleados] ADD  CONSTRAINT [D_RHTblNotasControlAltasEmpleados_FechaHoraReg]  DEFAULT (getdate()) FOR [FechaHoraReg]
GO
ALTER TABLE [RH].[tblNotasControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [Fk_RHTblNotasControlAltasEmpleadosRHTblControlAltasEmpleados_IDControlAltasEmpleados] FOREIGN KEY([IDControlAltasEmpleados])
REFERENCES [RH].[tblControlAltasEmpleados] ([IDControlAltasEmpleados])
ON DELETE CASCADE
GO
ALTER TABLE [RH].[tblNotasControlAltasEmpleados] CHECK CONSTRAINT [Fk_RHTblNotasControlAltasEmpleadosRHTblControlAltasEmpleados_IDControlAltasEmpleados]
GO
ALTER TABLE [RH].[tblNotasControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [Fk_RHTblNotasControlAltasEmpleadosSeguridadTblUsuarios_IDUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [Seguridad].[tblUsuarios] ([IDUsuario])
GO
ALTER TABLE [RH].[tblNotasControlAltasEmpleados] CHECK CONSTRAINT [Fk_RHTblNotasControlAltasEmpleadosSeguridadTblUsuarios_IDUsuario]
GO
