USE [p_adagioRHCodigoFuente]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Función que obtiene el tipo de notificacion de Prestamos para colaborador (Solicitud nueva o modificada).
** Autor			: Jose Vargas
** Email			: jvargas@adagio.com.mx
** FechaCreacion	: 2025-05-12
** Parametros		: @IDSolicitud		Identificador de la solicitud
** IDAzure			: #1586

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/
CREATE   FUNCTION [Intranet].[fnObtenerNotificacionPrestamosParaColaboradores](
    @IDSolicitud INT
)
RETURNS VARCHAR(50)
AS
BEGIN
    
	DECLARE @IsModificada			BIT
			, @TipoNotificacion		VARCHAR(50) = ''
			, @NO					BIT = 0
			;

    SELECT @IsModificada = ISNULL(IsModificada, 0)
    FROM [Intranet].[tblSolicitudesPrestamos]
    WHERE IDSolicitudPrestamo = @IDSolicitud;

    IF (@IsModificada = @NO)
        SET @TipoNotificacion = 'SolicitudDePrestamosParaColaborador';
    ELSE
        SET @TipoNotificacion = 'SolicitudDePrestamosParaColaboradorModificada';

    RETURN @TipoNotificacion;

END;
GO
