USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[tblCatInputs](
	[IDInput] [int] NOT NULL,
	[IDAgrupador] [int] NOT NULL,
	[Key] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[Descripcion] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_tblCatInputs_IDInput] PRIMARY KEY CLUSTERED 
(
	[IDInput] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [App].[tblCatInputs]  WITH CHECK ADD  CONSTRAINT [FK_tblCatInputs_tblCatAgrupadores_IDAgrupador] FOREIGN KEY([IDAgrupador])
REFERENCES [App].[tblCatAgrupadores] ([IDAgrupador])
GO
ALTER TABLE [App].[tblCatInputs] CHECK CONSTRAINT [FK_tblCatInputs_tblCatAgrupadores_IDAgrupador]
GO
