USE [p_adagioRHIndustrialMefi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************** 
** Descripción		: Obtiene el conteo de los movimientos afiliatorios
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-06-13
** Paremetros		: @IDIndicador		Identificador del indicador
**					: @JsonFiltros		Filtros que aplican al indicador
**					: @JsonGrafica		Configuracion de la grafica
**					: @IDPeriodo		Identificador del periodo de tiempo
**					: @FechaDe			Fecha inicial personalizada
**					: @FechaHasta		Fecha fin personalizada
** IDAzure			:

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

/*
	EXEC [InfoDir].[spIndicadorConteoMovimientosAfiliatorios]
		@IDIndicador=0
		, @JsonFiltros=N'{"Filtros":[]}'
		, @JsonGrafica=N'
		{
			"BuscarPor":[{"catalogo":"TipoMovimiento"}]
			, "AgruparPor":[{"catalogo":"TipoMovimiento"}]
			, "OrdenarPor":[{"catalogo":"TipoMovimiento","orden":"ASC"}]
		}'
		, @IDPeriodo=11
		, @FechaDe=NULL
		, @FechaHasta=NULL
*/

CREATE   PROC [InfoDir].[spIndicadorConteoMovimientosAfiliatorios]
(
	@IDIndicador	INT
	, @JsonFiltros	NVARCHAR(MAX)
	, @JsonGrafica	NVARCHAR(MAX)
	, @IDPeriodo	INT
	, @FechaDe		DATE
	, @FechaHasta	DATE
)
AS
	BEGIN

		SET LANGUAGE 'spanish'

		DECLARE @dtFiltros				[Nomina].[dtFiltrosRH]
				, @LabelSelect			VARCHAR(250)  = ''
				, @BuscarPor			NVARCHAR(MAX) = ''
				, @MostrarPor			NVARCHAR(MAX) = ''
				, @OrdenarPor			NVARCHAR(MAX) = ''				
				, @LabelGroupBy			VARCHAR(250)  = ''
				, @GroupBy				NVARCHAR(MAX) = ''				
				, @LabelOrderBy			VARCHAR(250)  = ''
				, @OrderBy				NVARCHAR(MAX) = ''				
				, @Condicion			VARCHAR(MAX)
				, @Qry					NVARCHAR(MAX)
				, @Qry2					NVARCHAR(MAX)
				, @IDIdioma				VARCHAR(20)
				;

		SELECT @IDIdioma = [App].[fnGetPreferencia]('Idioma', 1, 'esmx');
		
		
		-- ELIMINAMOS LAS TABLAS TEMPORALES
		IF OBJECT_ID('tempdb..#TblMovimientosAfiliatorios') IS NOT NULL BEGIN DROP TABLE #TblMovimientosAfiliatorios END
		IF OBJECT_ID('tempdb..#TblMovimientosAfiliatoriosFiltros') IS NOT NULL BEGIN DROP TABLE #TblMovimientosAfiliatoriosFiltros END				
		

		-- CREAMOS TABLAS TEMPORALES

		DECLARE @TblBuscarPor TABLE
		(
			[ID]			INT IDENTITY(1,1)
			, [Catalogo]	VARCHAR(50)
		)

		DECLARE @TblAgruparPor TABLE
		(
			[ID]			INT IDENTITY(1,1)
			, [Catalogo]	VARCHAR(50)			
		)
		
		DECLARE @TblOrdenarPor TABLE
		(
			[ID]			INT IDENTITY(1,1)
			, [Catalogo]	VARCHAR(50)
			, [Orden]		VARCHAR(4)
		)
		
		CREATE TABLE #TblMovimientosAfiliatorios 
		(
			[Dia]							DATE
			, [Semana]						INT
			, [IDMes]						INT
			, [Mes]							VARCHAR(25)
			, [Anio]						INT
			, [IDMovAfiliatorio]			INT
			, [IDTipoMovimiento]			INT	
			, [TipoMovimiento]				VARCHAR(MAX)
			, [IDEmpleado]					INT
			, [Empleado]					VARCHAR(MAX)
			, [IDGenero]					VARCHAR(1)
			, [Genero]						VARCHAR(MAX)
			, [IDRangoEdad]					INT
			, [RangoEdad]					VARCHAR(MAX)
			, [IDRangoAntiguedad]			INT
			, [RangoAntiguedad]				VARCHAR(MAX)
			, [IDGeneracion]				INT
			, [Generacion]					VARCHAR(MAX)
			, [IDCliente]					INT
			, [NombreComercial]				VARCHAR(MAX)
			, [IDRazonSocial]				INT
			, [RazonSocial]					VARCHAR(MAX)
			, [IDRegPatronal]				INT
			, [RegistroPatronal]			VARCHAR(MAX)
			, [IDCentroCosto]				INT
			, [CentroCosto]					VARCHAR(MAX)
			, [IDDepartamento]				INT
			, [Departamento]				VARCHAR(MAX)
			, [IDArea]						INT
			, [Area]						VARCHAR(MAX)
			, [IDPuesto]					INT
			, [Puesto]						VARCHAR(MAX)
			, [IDTipoPrestacion]			INT
			, [TipoPrestacion]				VARCHAR(MAX)
			, [IDSucursal]					INT
			, [Sucursal]					VARCHAR(MAX)
			, [IDDivision]					INT
			, [Division]					VARCHAR(MAX)
			, [IDRegion]					INT
			, [Region]						VARCHAR(MAX)
			, [IDClasificacionCorporativa]	INT
			, [ClasificacionCorporativa]	VARCHAR(MAX)
			, [IDTipoNomina]				INT			
			, [TipoNomina]					VARCHAR(MAX)
		);

		CREATE TABLE #TblMovimientosAfiliatoriosFiltros 
		(
			[Dia]							DATE
			, [Semana]						INT
			, [IDMes]						INT
			, [Mes]							VARCHAR(25)
			, [Anio]						INT
			, [IDMovAfiliatorio]			INT
			, [IDTipoMovimiento]			INT	
			, [TipoMovimiento]				VARCHAR(MAX)
			, [IDEmpleado]					INT
			, [Empleado]					VARCHAR(MAX)
			, [IDGenero]					VARCHAR(1)
			, [Genero]						VARCHAR(MAX)
			, [IDRangoEdad]					INT
			, [RangoEdad]					VARCHAR(MAX)
			, [IDRangoAntiguedad]			INT
			, [RangoAntiguedad]				VARCHAR(MAX)
			, [IDGeneracion]				INT
			, [Generacion]					VARCHAR(MAX)
			, [IDCliente]					INT
			, [NombreComercial]				VARCHAR(MAX)
			, [IDRazonSocial]				INT
			, [RazonSocial]					VARCHAR(MAX)
			, [IDRegPatronal]				INT
			, [RegistroPatronal]			VARCHAR(MAX)
			, [IDCentroCosto]				INT
			, [CentroCosto]					VARCHAR(MAX)
			, [IDDepartamento]				INT
			, [Departamento]				VARCHAR(MAX)
			, [IDArea]						INT
			, [Area]						VARCHAR(MAX)
			, [IDPuesto]					INT
			, [Puesto]						VARCHAR(MAX)
			, [IDTipoPrestacion]			INT
			, [TipoPrestacion]				VARCHAR(MAX)
			, [IDSucursal]					INT
			, [Sucursal]					VARCHAR(MAX)
			, [IDDivision]					INT
			, [Division]					VARCHAR(MAX)
			, [IDRegion]					INT
			, [Region]						VARCHAR(MAX)
			, [IDClasificacionCorporativa]	INT
			, [ClasificacionCorporativa]	VARCHAR(MAX)
			, [IDTipoNomina]				INT			
			, [TipoNomina]					VARCHAR(MAX)
		);


		IF(@IDIndicador <> 0)
			BEGIN				
				-- CONSULTAMOS JSON(FILTROS Y GROUP BY) Y CONDICION DEL PERIODO
				SELECT @JsonFiltros = I.ConfiguracionFiltros,
					   @JsonGrafica = I.ConfiguracionGrafica,
					   @Condicion = P.Condicion,
					   @FechaDe = I.FechaDe,
					   @FechaHasta = I.FechaHasta
				FROM [InfoDir].[tblCatIndicadores] I
					INNER JOIN [InfoDir].[tblCatPeriodos] P ON I.IDPeriodo = P.IDPeriodo
				WHERE I.IDIndicador = @IDIndicador
			END
		ELSE
			BEGIN
				-- CONSULTAMOS CONDICION DEL PERIODO
				SELECT @Condicion = P.Condicion 
				FROM [InfoDir].[tblCatPeriodos] P
				WHERE P.IDPeriodo = @IDPeriodo
			END
		
			
		-- FILTRAMOS POR PERIODICIDAD
		SET @Qry = N'INSERT INTO #TblMovimientosAfiliatorios '		
		SET @Qry = @Qry + 'SELECT FechaNormalizacion AS Dia, '
		SET @Qry = @Qry + 'Semana, '
		SET @Qry = @Qry + 'IDMes, '
		SET @Qry = @Qry + 'Mes, '
		SET @Qry = @Qry + 'Anio, '
		SET @Qry = @Qry + 'IDMovAfiliatorio, '
		SET @Qry = @Qry + 'IDTipoMovimiento, '
		SET @Qry = @Qry + 'TipoMovimiento, '		
		SET @Qry = @Qry + 'IDEmpleado, '
		SET @Qry = @Qry + 'Empleado, '
		SET @Qry = @Qry + 'IDGenero, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(Genero, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), ''SIN GENERO'') AS Genero, '
		SET @Qry = @Qry + 'IDRangoEdad, '
		SET @Qry = @Qry + 'RangoEdad, '
		SET @Qry = @Qry + 'IDRangoAntiguedad, '
		SET @Qry = @Qry + 'RangoAntiguedad, '
		SET @Qry = @Qry + 'IDGeneracion, '
		SET @Qry = @Qry + 'Generacion, '
		SET @Qry = @Qry + 'IDCliente, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(NombreComercial, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''NombreComercial'')), '''') AS NombreComercial, '		
		SET @Qry = @Qry + 'IDRazonSocial, '
		SET @Qry = @Qry + 'RazonSocial, '
		SET @Qry = @Qry + 'IDRegPatronal, '
		SET @Qry = @Qry + 'RegistroPatronal, '
		SET @Qry = @Qry + 'IDCentroCosto, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(CentroCosto, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS CentroCosto, '
		SET @Qry = @Qry + 'IDDepartamento, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(Departamento, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS Departamento, '
		SET @Qry = @Qry + 'IDArea, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(Area, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS Area, '
		SET @Qry = @Qry + 'IDPuesto, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(Puesto, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS Puesto, '	
		SET @Qry = @Qry + 'IDTipoPrestacion, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(TipoPrestacion, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS TipoPrestacion, '
		SET @Qry = @Qry + 'IDSucursal, '
		SET @Qry = @Qry + 'Sucursal, '
		SET @Qry = @Qry + 'IDDivision, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(Division, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS Division, '
		SET @Qry = @Qry + 'IDRegion, '
		SET @Qry = @Qry + 'ISNULL(JSON_VALUE(Region, FORMATMESSAGE(''$.%s.%s'', ''' + LOWER(REPLACE(@IDIdioma, '-','')) + ''', ''Descripcion'')), '''') AS Region, '
		SET @Qry = @Qry + 'IDClasificacionCorporativa, '
		SET @Qry = @Qry + 'ClasificacionCorporativa, '
		SET @Qry = @Qry + 'IDTipoNomina, '
		SET @Qry = @Qry + 'TipoNomina '
		SET @Qry = @Qry + 'FROM [InfoDir].[tblMovimientosAfiliatoriosNormalizados] '
		SET @Qry = @Qry + '' + @Condicion + ' '
		SET @Qry = @Qry + 'ORDER BY FechaNormalizacion'
		--PRINT @Qry
		EXEC SP_EXECUTESQL @Qry, N'@FechaDe DATE, @FechaHasta DATE', @FechaDe, @FechaHasta;
				
		-----------------------------------------------------------------------------------------------

		-- OBTENEMOS LOS FILTROS EN TABLA
		INSERT @dtFiltros(Catalogo, Value)
		SELECT *
		FROM OPENJSON(JSON_QUERY(@JsonFiltros,  '$.Filtros'))
		  WITH (
			catalogo NVARCHAR(50) '$.catalogo',
			valor NVARCHAR(50) '$.valor'
		  );


		-- OBTENEMOS LA INFORMACION FILTRADA
		INSERT INTO #TblMovimientosAfiliatoriosFiltros
		SELECT *
		FROM #TblMovimientosAfiliatorios
		WHERE IDMovAfiliatorio > 0 AND
			(
				IDTipoMovimiento IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDTipoMovimiento'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDTipoMovimiento' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDEmpleado IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDEmpleado'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDEmpleado' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDGenero IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDGenero'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDGenero' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRangoEdad IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRangoEdad'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRangoEdad' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRangoAntiguedad IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRangoAntiguedad'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRangoAntiguedad' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDGeneracion IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDGeneracion'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDGeneracion' AND ISNULL(Value, '') <> '')
					)
			 ) AND			 
			 (
				IDCliente IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDCliente'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDCliente' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRazonSocial IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRazonSocial'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRazonSocial' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRegPatronal IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRegPatronal'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRegPatronal' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDCentroCosto IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDCentroCosto'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDCentroCosto' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDDepartamento IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDDepartamento'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDDepartamento' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDArea IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDArea'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDArea' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDPuesto IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDPuesto'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDPuesto' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDTipoPrestacion IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDTipoPrestacion'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDTipoPrestacion' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDSucursal IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDSucursal'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDSucursal' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDDivision IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDDivision'),',')) 
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDDivision' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDRegion IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDRegion'),','))
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDRegion' AND ISNULL(Value, '') <> '')
					)
			 ) AND
			 (
				IDClasificacionCorporativa IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDClasificacionCorporativa'),','))
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDClasificacionCorporativa' AND ISNULL(Value, '') <> '')
					)
			 )AND
			 (
				IDTipoNomina IN (SELECT item FROM App.Split((SELECT TOP 1 VALUE FROM @dtFiltros WHERE Catalogo = 'IDTipoNomina'),','))
				OR (
					NOT EXISTS (SELECT 1 FROM @dtFiltros WHERE Catalogo = 'IDTipoNomina' AND ISNULL(Value, '') <> '')
					)
			 )
			 ORDER BY Dia

		---------------------------------------------------------------------------------------------
		
		-- OBTENEMOS LA PROPIEDAD POR LA QUE SE BUSCARA LA INFORMACIÓN
		INSERT @TblBuscarPor(Catalogo)
		SELECT *
		FROM OPENJSON(JSON_QUERY(@JsonGrafica,  '$.BuscarPor'))
		  WITH (
			catalogo NVARCHAR(50) '$.catalogo'
		  );
		
		IF EXISTS(SELECT 1 FROM @TblBuscarPor WHERE Catalogo = 'Mes')
			BEGIN
				INSERT INTO @TblBuscarPor(Catalogo) VALUES('IDMes')
			END

		------------

		-- OBTENEMOS LA(S) PROPIEDAD(ES) POR LA QUE SE AGRUPARA LA INFORMACIÓN
		INSERT @TblAgruparPor(Catalogo)
		SELECT *
		FROM OPENJSON(JSON_QUERY(@JsonGrafica,  '$.AgruparPor'))
		  WITH (
			catalogo NVARCHAR(50) '$.catalogo'
		  )

		IF EXISTS(SELECT 1 FROM @TblAgruparPor WHERE Catalogo = 'Mes')
			BEGIN
				INSERT INTO @TblAgruparPor(Catalogo) VALUES('IDMes')
			END
		
		----------

		-- OBTENEMOS LA(S) PROPIEDAD(ES) POR LA QUE SE ORDENARA LA INFORMACIÓN
		INSERT @TblOrdenarPor(Catalogo, Orden)
		SELECT 
		  CASE catalogo 
			WHEN 'Mes' 
				THEN 'IDMes'
				ELSE catalogo
			END
		  , orden
		FROM OPENJSON(JSON_QUERY(@JsonGrafica,  '$.OrdenarPor'))
		  WITH (
			catalogo NVARCHAR(50) '$.catalogo'
			, orden VARCHAR(4) '$.orden'
		  );

		----------  

		--SELECT Catalogo FROM @TblBuscarPor
		--SELECT Catalogo FROM @TblAgruparPor
		--SELECT Catalogo FROM @TblOrdenarPor

		-----------------------------------------------------------------------------------------------

		-- OBTENEMOS LA CONFIGURACION DE LA GRAFICA PARA APLICARLA A LA CONSULTA DINAMICA
		SELECT @LabelSelect  = ISNULL(Catalogo, '') FROM @TblBuscarPor  WHERE ID = 1;
		SELECT @LabelGroupBy = ISNULL(Catalogo, '') FROM @TblAgruparPor WHERE ID = 1;
		SELECT @LabelOrderBy = ISNULL(Catalogo, '') FROM @TblOrdenarPor WHERE ID = 1;		
				
		------------

		IF(@LabelSelect = '')
			BEGIN				
				SET @BuscarPor = 'Anio';
				SET @MostrarPor = 'Anio';
				SET @OrdenarPor = 'Anio ASC';				
			END
		ELSE
			BEGIN
				IF(@LabelSelect = 'Mes')
					BEGIN
						SET @BuscarPor = 'Mes, IDMes';
						SET @MostrarPor = 'Mes';
						SET @OrdenarPor = STUFF((SELECT ',' + CONVERT(NVARCHAR(MAX), catalogo + ' ' + Orden) FROM @TblOrdenarPor WHERE catalogo = 'IDMes' FOR XML PATH('')), 1, 1, '');
					END
				ELSE
					BEGIN
						SET @BuscarPor = @LabelSelect;
						SET @MostrarPor = @LabelSelect;
						SET @OrdenarPor = STUFF((SELECT ',' + CONVERT(NVARCHAR(MAX), catalogo + ' ' + Orden) FROM @TblOrdenarPor WHERE catalogo = @LabelSelect FOR XML PATH('')), 1, 1, '');
						
					END				
			END			
				
		------------

		IF(@LabelGroupBy = '')
			BEGIN				
				SET @GroupBy = '';
			END
		ELSE
			BEGIN
				IF(@LabelSelect = 'Mes')
					BEGIN						
						DELETE @TblAgruparPor WHERE Catalogo IN ('IDMes');
					END				
				SET @GroupBy = ISNULL(STUFF((SELECT ',' + CONVERT(NVARCHAR(MAX), catalogo) FROM @TblAgruparPor WHERE catalogo <> @LabelSelect FOR XML PATH('')), 1, 1, ''), '');			
			END
		
		------------

		IF(@LabelOrderBy = '')
			BEGIN
				SET @OrderBy = '';
			END
		ELSE
			BEGIN
				IF(@LabelSelect = 'Mes')
					BEGIN						
						SET @LabelSelect = 'IDMes';
					END
				SET @OrderBy = STUFF((SELECT ',' + CONVERT(NVARCHAR(MAX), catalogo + ' ' + Orden) FROM @TblOrdenarPor WHERE catalogo <> @LabelSelect FOR XML PATH('')), 1, 1, '');
				SET @OrderBy = ISNULL((SELECT STRING_AGG('Grupo.' + LTRIM(RTRIM(value)), ', ') FROM STRING_SPLIT(@OrderBy, ',')), '');
			END

		-----------------------------------------------------------------------------------------------
		/*
		SELECT @BuscarPor AS BuscarPor, @MostrarPor AS MostrarPor, @OrdenarPor AS OrdenarPor;
		SELECT @GroupBy AS GroupBy;
		SELECT @OrderBy AS OrderBy;
		*/
		-----------------------------------------------------------------------------------------------
				
		-- RESULTADO FINAL
		SET @Qry2 = 'WITH TblLabel (' + @BuscarPor + ') AS
					 (
						SELECT ' + @BuscarPor + '
						FROM #TblMovimientosAfiliatoriosFiltros	
						GROUP BY ' + @BuscarPor + '
					 )
						SELECT
						(
							SELECT T.' + @MostrarPor + ',
							(
								SELECT COUNT(DISTINCT IDMovAfiliatorio) AS Resultado 
										' + (CASE WHEN @GroupBy <> '' THEN ',' + @GroupBy ELSE '' END) + '
								FROM #TblMovimientosAfiliatoriosFiltros AS Grupo								
								WHERE Grupo.' + @MostrarPor + ' = T.' + @MostrarPor + '
								' + (CASE WHEN @GroupBy <> '' THEN 'GROUP BY ' + @GroupBy ELSE '' END) + '
								' + (CASE WHEN @OrderBy <> '' THEN 'ORDER BY ' + @OrderBy ELSE '' END) + '
								FOR JSON PATH
							) AS Grupo
							FROM TblLabel T
							ORDER BY T.' + @OrdenarPor + '
							FOR JSON PATH
						) AS ResultJson';

		--PRINT @Qry2
		EXEC (@Qry2)
		
	END
GO
