USE [p_adagioRHGrupoEnergy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Elimina un registro de bitácora de saldado de vacaciones.
** Autor			: (auto) Cursor AI + Julio Castillo
** FechaCreacion	: 2025-12-26
***************************************************************************************************/
CREATE PROC [Asistencia].[spBorrarBitacoraSaldadoVacaciones](
	@IDBitacoraSaldado	INT,
	@IDUsuario			INT
)
AS
BEGIN
	SET NOCOUNT ON;
	SET FMTONLY OFF;

	BEGIN TRAN;

	DELETE FROM [Asistencia].[tblIncidenciaEmpleado] 
    WHERE IDIncidenciaEmpleado = (SELECT IDIncidenciaSaldadora 
									FROM Asistencia.tblBitacoraSaldadoVacaciones 
									WHERE IDBitacoraSaldado = @IDBitacoraSaldado)

	DELETE FROM Asistencia.tblBitacoraSaldadoVacaciones
	WHERE IDBitacoraSaldado = @IDBitacoraSaldado;

	COMMIT TRAN;
END
GO
