USE [p_adagioRHHotelColibri]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================
-- Author...........  : Aneudy Abreu
-- Create date........: 15/10/2012
-- Last Date Modified.: 17/06/2025
-- Description........: Parse un string y lo retorna como una tabla.
-- Update.............: Se Modifica la function para usar la funcion de 
--                      SQL string_split 
-- Versión..........: 1.0
-- ========================================================

CREATE FUNCTION [App].[Split](@String nvarchar(max), @Delimiter char(1))       
    returns @temptable TABLE (
        item varchar(8000)
        , id int identity(1,1)
        )       
as       
begin      
    
     insert into @temptable(item)
     SELECT value COLLATE database_default
     FROM string_split(@String,@Delimiter)  
return;       
end;
GO
