USE [p_adagioRHPoliAcero]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Crear y modificar Documentos para Control de Altas de Empleados
** Autor			: Javier Peña
** Email			: 
** FechaCreacion	: 2025-11-24
** Paremetros		:              
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor			Comentario
------------------- ------------------- ------------------------------------------------------------
2025-11-24		Javier Peña	Creación inicial del procedimiento
***************************************************************************************************/
CREATE PROCEDURE [RH].[spIUDocumentoControlAltasEmpleados](
	@IDDocumentoControlAltasEmpleados int = 0,
    @IDControlAltasEmpleados int,
    @IDDocumento int = null,
    @FechaIni date,
    @IDUsuario int
) AS 
BEGIN
    DECLARE @OldJSON Varchar(Max),
	    @NewJSON Varchar(Max);

    -- Validación: No puede existir un documento con el mismo IDDocumento y la misma FechaIni
    -- (excepto cuando es el mismo registro que se está actualizando)
    IF EXISTS (
        SELECT 1 
        FROM [RH].[tblDocumentosControlAltasEmpleados]
        WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados
            AND IDDocumento = @IDDocumento
            AND FechaIni = @FechaIni
            AND IDDocumentoControlAltasEmpleados != @IDDocumentoControlAltasEmpleados
    )
    BEGIN
        RAISERROR('Ya existe un documento con el mismo tipo y fecha de inicio para este control de altas.', 16, 1);
        RETURN;
    END

    -- INSERT: Nuevo registro
    IF (@IDDocumentoControlAltasEmpleados = 0 OR @IDDocumentoControlAltasEmpleados IS NULL)
    BEGIN
        INSERT INTO [RH].[tblDocumentosControlAltasEmpleados](
            IDControlAltasEmpleados, 
            IDDocumento,
            FechaIni
        )
        SELECT 
            @IDControlAltasEmpleados,
            @IDDocumento,
            @FechaIni

        SELECT @IDDocumentoControlAltasEmpleados = @@IDENTITY;

        -- Auditoría para INSERT
        SELECT @NewJSON = a.JSON 
        FROM [RH].[tblDocumentosControlAltasEmpleados] b
        CROSS APPLY (SELECT JSON=[Utilerias].[fnStrJSON](0,1,(SELECT b.* FOR XML Raw))) a
        WHERE b.IDDocumentoControlAltasEmpleados = @IDDocumentoControlAltasEmpleados

        EXEC [Auditoria].[spIAuditoria] 
            @IDUsuario,
            '[RH].[tblDocumentosControlAltasEmpleados]',
            '[RH].[spIUDocumentoControlAltasEmpleados]',
            'INSERT',
            @NewJSON,
            ''
    END 
    ELSE 
    BEGIN
        -- UPDATE: Registro existente
        
        -- Capturar JSON antes del UPDATE para auditoría
        SELECT @OldJSON = a.JSON 
        FROM [RH].[tblDocumentosControlAltasEmpleados] b
        CROSS APPLY (SELECT JSON=[Utilerias].[fnStrJSON](0,1,(SELECT b.* FOR XML Raw))) a
        WHERE b.IDDocumentoControlAltasEmpleados = @IDDocumentoControlAltasEmpleados

        UPDATE [RH].[tblDocumentosControlAltasEmpleados]
        SET 		  
            IDDocumento = @IDDocumento,
            FechaIni = @FechaIni
        WHERE IDDocumentoControlAltasEmpleados = @IDDocumentoControlAltasEmpleados

        -- Capturar JSON después del UPDATE para auditoría
        SELECT @NewJSON = a.JSON 
        FROM [RH].[tblDocumentosControlAltasEmpleados] b
        CROSS APPLY (SELECT JSON=[Utilerias].[fnStrJSON](0,1,(SELECT b.* FOR XML Raw))) a
        WHERE b.IDDocumentoControlAltasEmpleados = @IDDocumentoControlAltasEmpleados

        EXEC [Auditoria].[spIAuditoria] 
            @IDUsuario,
            '[RH].[tblDocumentosControlAltasEmpleados]',
            '[RH].[spIUDocumentoControlAltasEmpleados]',
            'UPDATE',
            @NewJSON,
            @OldJSON
    END

    -- Ejecutar procedimiento de búsqueda para retornar el registro actualizado
    EXEC [RH].[spBuscarDocumentoControlAltasEmpleados] 
        @IDDocumentoControlAltasEmpleados = @IDDocumentoControlAltasEmpleados,
        @IDControlAltasEmpleados = 0,
        @IDUsuario = @IDUsuario
END
GO
