USE [p_adagioRHPoliAcero]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [RH].[spUIDivisionEmpleado]  
(  
 @IDDivisionEmpleado int = 0  
 ,@IDEmpleado int  
 ,@IDDivision int   
 ,@FechaIni date  
 ,@FechaFin date  
 ,@IDUsuario int

)  
AS  
BEGIN  
    Declare @msj nvarchar(max) ;  
  
   DECLARE @OldJSON Varchar(Max),
		@NewJSON Varchar(Max)

    IF(ISNULL(@IDDivision,0) = 0)  
    BEGIN  
		RETURN;  
    END  
  
    IF(@IDDivisionEmpleado = 0 or @IDDivisionEmpleado is null)  
    BEGIN  
		if exists(select 1 from RH.tblDivisionEmpleado  
		where IDEmpleado = @IDEmpleado and FechaIni=@FechaIni)  
		begin  
			set @msj= cast(@FechaIni as varchar(10));  
			--raiserror(@msj,16,0);  
			exec [App].[spObtenerError]  
			 @IDUsuario  = 1,  
			 @CodigoError ='0302001',  
			 @CustomMessage = @msj  
		return;  
    end;  
  
		INSERT INTO RH.tblDivisionEmpleado(IDEmpleado,IDDivision,FechaIni,FechaFin)  
		VALUES(@IDEmpleado,@IDDivision,@FechaIni,@FechaFin)  

		set @IDDivisionEmpleado = @@IDENTITY

		select @NewJSON = a.JSON from [RH].[tblDivisionEmpleado] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDivisionEmpleado = @IDDivisionEmpleado

		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDivisionEmpleado]','[RH].[spUIDivisionEmpleado]','INSERT',@NewJSON,''


    END  
    ELSE  
    BEGIN  
		select @OldJSON = a.JSON from [RH].[tblDivisionEmpleado] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDivisionEmpleado = @IDDivisionEmpleado

		UPDATE RH.tblDivisionEmpleado  
			SET FechaFin = @FechaFin,  
			FechaIni = @FechaIni,  
			IDDivision = @IDDivision  
		WHERE IDEmpleado = @IDEmpleado  
			and IDDivisionEmpleado = @IDDivisionEmpleado  

		select @NewJSON = a.JSON from [RH].[tblDivisionEmpleado] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDivisionEmpleado = @IDDivisionEmpleado

		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDivisionEmpleado]','[RH].[spUIDivisionEmpleado]','UPDATE',@NewJSON,@OldJSON


    END;  
  
    if OBJECT_ID('tempdb..#tblTempHistorial1') is not null  
    drop table #tblTempHistorial1;  
  
    if OBJECT_ID('tempdb..#tblTempHistorial2') is not null  
    drop table #tblTempHistorial2;  
  
    select *, ROW_NUMBER()over(order by FechaIni asc) as [Row]  
    INTO #tblTempHistorial1  
    FROM RH.tblDivisionEmpleado with (nolock)  
    WHERE IDEmpleado = @IDEmpleado  
    order by FechaIni asc  
  
    select   
    t1.IDDivisionEmpleado  
    ,t1.IDEmpleado     
    ,t1.FechaIni  
    ,FechaFin = case when t2.FechaIni is not null then dateadd(day,-1,t2.FechaIni)   
    else '9999-12-31' end   
    INTO #tblTempHistorial2  
    from #tblTempHistorial1 t1  
    left join (select *   
    from #tblTempHistorial1) t2 on t1.[Row] = (t2.[Row]-1)  
  
    update [TARGET]  
    set   
    [TARGET].FechaFin = [SOURCE].FechaFin  
    FROM RH.tblDivisionEmpleado as [TARGET]  
    join #tblTempHistorial2 as [SOURCE] on [TARGET].IDDivisionEmpleado = [SOURCE].IDDivisionEmpleado  
   
  declare @tran int 
   set @tran = @@TRANCOUNT
   if(@tran = 0)
   BEGIN
		exec [RH].[spMapSincronizarEmpleadosMaster] @IDEmpleado = @IDEmpleado  
   END
  
END
GO
