USE [p_adagioRHAvilab]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [App].[spGetConfiguracionesInputs]    
    @IDUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ci.IDConfiguracionInput,
        ci.IDInput,
        ci.IDTipoConfiguracionInput,
        tci.Descripcion AS TipoConfiguracionInputDescripcion,
        ci.Customizable,
        ci.Requerido AS Requerido,
        ci.Visible AS Visible,
        i.IDAgrupador,
        i.[Key],
        i.Descripcion AS InputDescripcion,
        i.Orden AS InputOrden,
        ag.Traduccion AS AgrupadorTraduccion,
        ag.Orden AS AgrupadorOrden,
        ag.IDUrl AS AgrupadorIDUrl,
        CAST(0 AS BIT)  AS Customized
    FROM [App].[tblConfiguracionesInputs] ci
    INNER JOIN [App].[tblCatInputs] i ON ci.IDInput = i.IDInput
    INNER JOIN [App].[tblCatAgrupadores] ag ON i.IDAgrupador = ag.IDAgrupador
    INNER JOIN [App].[tblCatTipoConfiguracionesInputs] tci ON ci.IDTipoConfiguracionInput = tci.IDTipoConfiguracionInput    
    
END
GO
