USE [p_adagioRHHotelColibri]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Nomina].[spUICapturaDetallePeriodoSheetsGeneralFiniquito]        
(        
	@IDUsuario int,
    @DetallePeriodoCapturaGeneral [Nomina].[dtDetallePeriodoCapturaGeneral] READONLY
)        
AS        
BEGIN        
	declare 
		@IDPeriodo int
	;
	declare 
		@OldJSON Varchar(Max) = '',
		@NewJSON Varchar(Max),
        @IDEmpleado int,
		@NombreSP	varchar(max) = '[Nomina].[spUICapturaDetallePeriodoSheetsGeneralFiniquito]',
		@Tabla		varchar(max) = '[Nomina].[tblDetallePeriodoFiniquito]',
		@Accion		varchar(20)		= 'IMPORTAR CAPTURAS FINIQUITO',
		@Mensaje	varchar(max),
		@InformacionExtra	varchar(max)
	;
	select top 1 @IDPeriodo = IDPeriodo from @DetallePeriodoCapturaGeneral
    select top 1 @IDEmpleado = IDEmpleado from  @DetallePeriodoCapturaGeneral

	SELECT @NewJSON = a.JSON
    FROM Nomina.tblCatPeriodos b WITH (NOLOCK)
    CROSS APPLY (
        SELECT JSON = [Utilerias].[fnStrJSON](
            0, 0,
            (
                SELECT
                    @IDEmpleado as IDEmpleado,
                    b.IDPeriodo,
                    b.ClavePeriodo,
                    b.Descripcion
                FOR XML RAW
            )
        )
    ) a
    WHERE b.IDPeriodo = @IDPeriodo;

	

	declare @DetallePeriodoCapturaGeneral2 [Nomina].[dtDetallePeriodoCapturaGeneral]      
       
	insert into @DetallePeriodoCapturaGeneral2
	select * from @DetallePeriodoCapturaGeneral

	update @DetallePeriodoCapturaGeneral2
	set IDReferencia = CASE WHEN IDReferencia = 0 THEN null ELSE IDReferencia END

    delete d from  @DetallePeriodoCapturaGeneral2 d
		left join Nomina.tblDetallePeriodoFiniquito dp
			on dp.IDConcepto = d.IDConcepto
			and dp.IDEmpleado = d.IDEmpleado
			and dp.IDPeriodo = d.IDPeriodo 
	where isnull(d.CantidadMonto,0) =  isnull(dp.CantidadMonto,0) AND 
		isnull(d.CantidadDias,0) =  isnull(dp.CantidadDias,0) AND 
		isnull(d.CantidadVeces,0) =  isnull(dp.CantidadVeces,0) AND 
		isnull(d.CantidadOtro1,0) =  isnull(dp.CantidadOtro1,0) AND 
		isnull(d.CantidadOtro2,0) =  isnull(dp.CantidadOtro2,0) 


    IF EXISTS (SELECT TOP 1 1 FROM @DetallePeriodoCapturaGeneral2 ) AND EXISTS(SELECT TOP 1 1 FROM Nomina.tblDetallePeriodoFiniquito WHERE IDPeriodo=@IDPeriodo and IDEmpleado=@IDEmpleado )
    BEGIN 
        SET @NewJSON =(
            SELECT
                IDEmpleado =  CAST(@IDEmpleado AS varchar(100)),
                Data = JSON_QUERY(
                    (
                        SELECT b.*, 
                                CP.ClavePeriodo, 
                                CP.Descripcion,CC.Codigo as CodigoConcepto,
                                CC.Descripcion AS DescripcionConcepto
                        FROM @DetallePeriodoCapturaGeneral2 b
                        INNER JOIN Nomina.tblCatPeriodos CP
                            ON CP.IDPeriodo = b.IDPeriodo
                        INNER JOIN Nomina.tblCatConceptos CC
                            ON CC.IDConcepto = B.IDConcepto
                        WHERE b.IDPeriodo = @IDPeriodo
                        FOR JSON PATH
                    )
                )
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
        )     
    END
         
    EXEC [Auditoria].[spIAuditoria]
		@IDUsuario		= @IDUsuario
		,@Tabla			= @Tabla
		,@Procedimiento	= @NombreSP
		,@Accion		= @Accion
		,@NewData		= @NewJSON
		,@OldData		= @OldJSON
		,@Mensaje		= @Mensaje
		,@InformacionExtra		= @InformacionExtra
  
	MERGE Nomina.tblDetallePeriodoFiniquito AS TARGET        
    USING @DetallePeriodoCapturaGeneral2 AS SOURCE        
		ON TARGET.IDConcepto = SOURCE.IDConcepto         
		and TARGET.IDEmpleado = SOURCE.IDEmpleado        
		and TARGET.IDPeriodo = SOURCE.IDPeriodo 
		and isnull(TARGET.IDReferencia,0) = isnull(SOURCE.IDReferencia,0)          
    WHEN MATCHED Then        
    update        
		Set             
			 TARGET.CantidadMonto  = CASE WHEN (ISNULL(SOURCE.CantidadMonto,0)>0)THEN SOURCE.CantidadMonto ELSE CASE WHEN (ISNULL(SOURCE.CantidadMonto,0) = -1) THEN -1 ELSE 0 END END        
			,TARGET.CantidadDias   = CASE WHEN (ISNULL(SOURCE.CantidadDias,0)>0)THEN SOURCE.CantidadDias ELSE   CASE WHEN (ISNULL(SOURCE.CantidadDias,0) = -1) THEN -1 ELSE 0 END END        
			,TARGET.CantidadVeces  = CASE WHEN (ISNULL(SOURCE.CantidadVeces,0)>0)THEN SOURCE.CantidadVeces ELSE CASE WHEN (ISNULL(SOURCE.CantidadVeces,0) = -1) THEN -1 ELSE 0 END END        
			,TARGET.CantidadOtro1  = CASE WHEN (ISNULL(SOURCE.CantidadOtro1,0)>0)THEN SOURCE.CantidadOtro1 ELSE CASE WHEN (ISNULL(SOURCE.CantidadOtro1,0) = -1) THEN -1 ELSE 0 END END        
			,TARGET.CantidadOtro2  = CASE WHEN (ISNULL(SOURCE.CantidadOtro2,0)>0)THEN SOURCE.CantidadOtro2 ELSE CASE WHEN (ISNULL(SOURCE.CantidadOtro2,0) = -1) THEN -1 ELSE 0 END END        
			,TARGET.IDReferencia = CASE WHEN SOURCE.IDReferencia = 0 THEN null ELSE SOURCE.IDReferencia END    
            
		WHEN NOT MATCHED BY TARGET THEN         
			INSERT(IDEmpleado,IDPeriodo,IDConcepto,CantidadMonto,CantidadDias,CantidadVeces,CantidadOtro1,CantidadOtro2,IDReferencia)        
			VALUES(SOURCE.IDEmpleado,SOURCE.IDPeriodo,SOURCE.IDConcepto        
			,CASE WHEN (ISNULL(SOURCE.CantidadMonto,0)>0)THEN SOURCE.CantidadMonto ELSE CASE WHEN (ISNULL(SOURCE.CantidadMonto,0) = -1) THEN -1 ELSE 0 END END        
			,CASE WHEN (ISNULL(SOURCE.CantidadDias,0)>0)THEN SOURCE.CantidadDias ELSE   CASE WHEN (ISNULL(SOURCE.CantidadDias,0) = -1) THEN -1 ELSE 0 END END        
			,CASE WHEN (ISNULL(SOURCE.CantidadVeces,0)>0)THEN SOURCE.CantidadVeces ELSE CASE WHEN (ISNULL(SOURCE.CantidadVeces,0) = -1) THEN -1 ELSE 0 END END        
			,CASE WHEN (ISNULL(SOURCE.CantidadOtro1,0)>0)THEN SOURCE.CantidadOtro1 ELSE CASE WHEN (ISNULL(SOURCE.CantidadOtro1,0) = -1) THEN -1 ELSE 0 END END        
			,CASE WHEN (ISNULL(SOURCE.CantidadOtro2,0)>0)THEN SOURCE.CantidadOtro2 ELSE CASE WHEN (ISNULL(SOURCE.CantidadOtro2,0) = -1) THEN -1 ELSE 0 END END        
			,CASE WHEN SOURCE.IDReferencia = 0 THEN null ELSE SOURCE.IDReferencia END  
			); 

   
        
END
GO
