USE [p_adagioRHRoyalCargo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Obtiene el porcentaje de movimientos afiliatorios
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-11-12
** Paremetros		: @IDIndicador		Identificador del indicador
**					: @JsonFiltros		Filtros que aplican al indicador
**					: @JsonGrafica		Configuracion de la grafica
**					: @IDPeriodo		Identificador del periodo de tiempo
**					: @FechaDe			Fecha inicial personalizada
**					: @FechaHasta		Fecha fin personalizada
** IDAzure			: #1833

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [InfoDir].[spIndicadorPorcentajeMovimientosAfiliatorios]
(
	@IDIndicador	INT
	, @JsonFiltros	NVARCHAR(MAX)
	, @JsonGrafica	NVARCHAR(MAX)
	, @IDPeriodo	INT
	, @FechaDe		DATE
	, @FechaHasta	DATE
)
AS
	BEGIN
		
		SET NOCOUNT ON;

		SET LANGUAGE 'spanish'

		-- VARIABLES
		DECLARE @JsonColaboradores   NVARCHAR(MAX)
				, @JsonMovAfiliatorios NVARCHAR(MAX)
				, @OuterField NVARCHAR(200)
				;
		
		-- TABLAS TEMPORALES		
		DECLARE @TmpColaboradores TABLE(JsonData NVARCHAR(MAX));
		DECLARE @TmpMovimientosAfiliatorios TABLE(JsonData NVARCHAR(MAX));



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- OBTENEMOS JSON COLABORADORES Y JSON MOVIMIENTOS AFILIATORIOS (Graficas Individuales)
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		INSERT INTO @TmpColaboradores(JsonData)
		EXEC [InfoDir].[spIndicadorConteoColaboradores] 
			@IDIndicador	= @IDIndicador,
			@JsonFiltros	= @JsonFiltros,
			@JsonGrafica	= @JsonGrafica,
			@IDPeriodo		= @IDPeriodo,
			@FechaDe		= @FechaDe,
			@FechaHasta		= @FechaHasta;
		SELECT TOP 1 @JsonColaboradores = JsonData FROM @TmpColaboradores;
		--SELECT @JsonColaboradores AS JsonColaboradores

		INSERT INTO @TmpMovimientosAfiliatorios(JsonData)
		EXEC [InfoDir].[spIndicadorConteoMovimientosAfiliatorios] 
			@IDIndicador	= @IDIndicador,
			@JsonFiltros	= @JsonFiltros,
			@JsonGrafica	= @JsonGrafica,
			@IDPeriodo		= @IDPeriodo,
			@FechaDe		= @FechaDe,
			@FechaHasta		= @FechaHasta;
		SELECT TOP 1 @JsonMovAfiliatorios = JsonData FROM @TmpMovimientosAfiliatorios;
		--SELECT @JsonMovAfiliatorios AS JsonMovAfiliatorios



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- OBTENER EL NOMBRE DE CAMPO EXTERNO DINAMICO (Ej. Mes, Anio, Sucursal... ES EL BuscarPor)
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		SELECT TOP 1 @OuterField = JSON_GPO.[key]
		FROM OPENJSON(@JsonColaboradores) JSON_GRL
			CROSS APPLY OPENJSON(JSON_GRL.value) JSON_GPO
		WHERE JSON_GPO.[key] <> 'Grupo';
		--SELECT @OuterField



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 1) #TblConteoColaboradores - OBTIENE EL JSON @JsonColaboradores EN UNA TABLA E INDEXA GRAFICA SIMPLE O AGRUPADA
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#TblConteoColaboradores') IS NOT NULL DROP TABLE #TblConteoColaboradores;
		CREATE TABLE #TblConteoColaboradores 
		(
			OuterIdx		INT
			, InnerIdx		INT
			, OuterValue	NVARCHAR(MAX)
			, Resultado		INT
			, PropName		NVARCHAR(200)
			, PropValue		NVARCHAR(MAX)
		);

		INSERT INTO #TblConteoColaboradores(OuterIdx, InnerIdx, OuterValue, Resultado, PropName, PropValue)
		SELECT TRY_CAST(JSON_GRL.[key] AS INT) AS OuterIdx
				, TRY_CAST(JSON_GPO.[key] AS INT) AS InnerIdx
				, JSON_VALUE(JSON_GRL.value, '$."' + @OuterField + '"') AS OuterValue
				, TRY_CAST(JSON_VALUE(JSON_GPO.value, '$.Resultado') AS INT) AS Resultado
				, PROP_GPO.[key] AS PropName
				, ISNULL(PROP_GPO.[value], '') AS PropValue
		FROM OPENJSON(@JsonColaboradores) JSON_GRL
			CROSS APPLY OPENJSON(JSON_GRL.value, '$.Grupo') JSON_GPO
			CROSS APPLY OPENJSON(JSON_GPO.value) PROP_GPO;
		--SELECT * FROM #TblConteoColaboradores



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 2) #TblConteoMovimientosAfiliatorios - OBTIENE EL JSON @JsonMovAfiliatorios EN UNA TABLA E INDEXA GRAFICA SIMPLE O AGRUPADA
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#TblConteoMovimientosAfiliatorios') IS NOT NULL DROP TABLE #TblConteoMovimientosAfiliatorios;
		CREATE TABLE #TblConteoMovimientosAfiliatorios 
		(
			OuterIdx		INT
			, InnerIdx		INT
			, OuterValue	NVARCHAR(MAX)
			, Resultado		INT
			, PropName		NVARCHAR(200)
			, PropValue		NVARCHAR(MAX)
		);

		INSERT INTO #TblConteoMovimientosAfiliatorios(OuterIdx, InnerIdx, OuterValue, Resultado, PropName, PropValue)
		SELECT TRY_CAST(JSON_GRL.[key] AS INT) AS OuterIdx
				, TRY_CAST(JSON_GPO.[key] AS INT) AS InnerIdx
				, JSON_VALUE(JSON_GRL.value, '$."' + @OuterField + '"') AS OuterValue
				, TRY_CAST(JSON_VALUE(JSON_GPO.value, '$.Resultado') AS INT) AS Resultado
				, PROP_GPO.[key] AS PropName
				, ISNULL(PROP_GPO.[value], '') AS PropValue
		FROM OPENJSON(@JsonMovAfiliatorios) JSON_GRL
			CROSS APPLY OPENJSON(JSON_GRL.value, '$.Grupo') JSON_GPO
			CROSS APPLY OPENJSON(JSON_GPO.value) PROP_GPO;		
		--SELECT * FROM #TblConteoMovimientosAfiliatorios



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 3) #TblConteoColaboradoresNormalizados - Normaliza los datos del conteo de colaboradores
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#TblConteoColaboradoresNormalizados') IS NOT NULL DROP TABLE #TblConteoColaboradoresNormalizados;
		CREATE TABLE #TblConteoColaboradoresNormalizados 
		(
			OuterIdx		INT
			, InnerIdx		INT
			, OuterValue	NVARCHAR(MAX)
			, Total			INT
			, CanonKey		NVARCHAR(MAX)
			, PropsFragment NVARCHAR(MAX)
		);

		INSERT INTO #TblConteoColaboradoresNormalizados(OuterIdx, InnerIdx, OuterValue, Total, CanonKey, PropsFragment)
		SELECT OuterIdx
				, InnerIdx
				, OuterValue
				, MAX(Resultado) AS Total
				-- CanonKey (Llave canónica formada por todas las propiedades dinámicas (excepto Resultado), usada para identificar y empatar registros equivalentes contra los datos normalizados de movimientos afiliatorios.)
				-- Ejemplo: "Sucursal=BP;Departamento=Adagio;Region=Norte"
				, ISNULL(STRING_AGG(CASE WHEN PropName <> 'Resultado' THEN PropName + '=' + PropValue END, ';') WITHIN GROUP (ORDER BY PropName), '') AS CanonKey
				-- PropsFragment (Fragmento JSON (ya formateado) que contiene las propiedades dinámicas del registro. Se utiliza directamente para construir el JSON final sin volver a procesar las propiedades.)
				-- Ejemplo: ', "Sucursal": "BP", "Departamento": "Adagio", "Region": "Norte"'
				, ISNULL(STRING_AGG(CASE WHEN PropName <> 'Resultado' THEN ', "' + PropName + '": "' + REPLACE(PropValue,'"','\"') + '"' END, '') WITHIN GROUP (ORDER BY PropName), '') AS PropsFragment
		FROM #TblConteoColaboradores
		GROUP BY OuterIdx, InnerIdx, OuterValue;
		--SELECT * FROM #TblConteoColaboradoresNormalizados



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 4) #TblConteoMovimientosAfiliatoriosNormalizados - Normaliza los datos del conteo de movimientos afiliatororios
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#TblConteoMovimientosAfiliatoriosNormalizados') IS NOT NULL DROP TABLE #TblConteoMovimientosAfiliatoriosNormalizados;
		CREATE TABLE #TblConteoMovimientosAfiliatoriosNormalizados 
		(
			OuterIdx		INT
			, InnerIdx		INT
			, OuterValue	NVARCHAR(MAX)
			, Total			INT
			, CanonKey		NVARCHAR(MAX)
			, PropsFragment NVARCHAR(MAX)
		);

		INSERT INTO #TblConteoMovimientosAfiliatoriosNormalizados(OuterIdx, InnerIdx, OuterValue, Total, CanonKey, PropsFragment)
		SELECT OuterIdx
				, InnerIdx
				, OuterValue
				, MAX(Resultado) AS Total
				-- CanonKey (Llave canónica formada por todas las propiedades dinámicas (excepto Resultado), usada para identificar y empatar registros equivalentes contra los datos normalizados de colaboradores.)
				-- Ejemplo: "Sucursal=BP;Departamento=Adagio;Region=Norte"
				, ISNULL(STRING_AGG(CASE WHEN PropName <> 'Resultado' THEN PropName + '=' + PropValue END, ';') WITHIN GROUP (ORDER BY PropName), '') AS CanonKey
				-- PropsFragment (Fragmento JSON ya formateado con todas las propiedades dinámicas del registro, utilizado directamente para construir el JSON final sin reprocesar valores.)
				-- Ejemplo: ', "Sucursal": "BP", "Departamento": "Adagio", "Region": "Norte"'
				, ISNULL(STRING_AGG(CASE WHEN PropName <> 'Resultado' THEN ', "' + PropName + '": "' + REPLACE(PropValue,'"','\"') + '"' END, '') WITHIN GROUP (ORDER BY PropName), '') AS PropsFragment
		FROM #TblConteoMovimientosAfiliatorios
		GROUP BY OuterIdx, InnerIdx, OuterValue;
		--SELECT * FROM #TblConteoMovimientosAfiliatoriosNormalizados



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 5) #Joined  (UNIR TABLAS NORMALIZADAS TblConteoColaboradoresNormalizados y #TblConteoMovimientosAfiliatoriosNormalizados Y CALCULAR PORCENTAJE)
		-- FORMULA:		
		-- PORCENTAJE_ROTACION = (BAJAS / COLABORADORES_ACTIVOS * 100)
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#Joined') IS NOT NULL DROP TABLE #Joined;
		CREATE TABLE #Joined
		(
			OuterIdx INT
			, InnerIdx INT
			, OuterValue NVARCHAR(MAX)
			, CanonKey NVARCHAR(MAX)
			, PropsFragment NVARCHAR(MAX)
			, TotalColaboradores INT
			, TotalMovimientosAfiliatorios INT
			, Porcentaje DECIMAL(18,2)
		);

		INSERT INTO #Joined(OuterIdx, InnerIdx, OuterValue, CanonKey, PropsFragment, TotalColaboradores, TotalMovimientosAfiliatorios, Porcentaje)
		SELECT CN.OuterIdx
				, CN.InnerIdx
				, ISNULL(CN.OuterValue,'') AS OuterValue
				, ISNULL(CN.CanonKey,'') AS CanonKey
				, ISNULL(CN.PropsFragment,'') AS PropsFragment
				, CN.Total AS TotalColaboradores
				, ISNULL(MAN.Total,0) AS TotalMovimientosAfiliatorios
				, CASE 
					WHEN CN.Total IS NULL OR CN.Total = 0
						THEN CAST(0 AS DECIMAL(18,2))
						ELSE CAST(FLOOR(((ISNULL(MAN.Total, 0) * 100.0) / NULLIF(CN.Total, 0)) * 100) / 100.0 AS DECIMAL(18,2))
					END AS Porcentaje
		FROM #TblConteoColaboradoresNormalizados CN
			LEFT JOIN #TblConteoMovimientosAfiliatoriosNormalizados MAN ON CN.OuterValue = MAN.OuterValue AND ((CN.CanonKey <> '' AND CN.CanonKey = MAN.CanonKey) OR (CN.CanonKey = '' AND CN.InnerIdx = MAN.InnerIdx));
		--SELECT * FROM #Joined



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 6) #GrupoJSON (ARMADO DE JSON "Grupo" POR OuterIdx RESPETANDO InnerIdx)
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#GrupoJSON') IS NOT NULL DROP TABLE #GrupoJSON;
		CREATE TABLE #GrupoJSON
		(
			OuterIdx INT
			, GrupoItemsJson NVARCHAR(MAX)
		);

		INSERT INTO #GrupoJSON(OuterIdx, GrupoItemsJson)
		SELECT OuterIdx
				, '[' + STRING_AGG('{ "Resultado": ' + REPLACE(LTRIM(STR(Porcentaje, 10, 2)), ' ', '') + ISNULL(PropsFragment, '') + ' }', ',') WITHIN GROUP (ORDER BY InnerIdx) + ']'
		FROM #Joined
		GROUP BY OuterIdx;
		--SELECT * FROM #GrupoJSON



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 7) #OuterVals (LISTA DE Outers(BuscarPor) PARA RESPETAR EL ORDEN)
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		IF OBJECT_ID('tempdb..#OuterVals') IS NOT NULL DROP TABLE #OuterVals;
		CREATE TABLE #OuterVals
		(
			OuterIdx INT
			, OuterValue NVARCHAR(MAX)
		);

		INSERT INTO #OuterVals (OuterIdx, OuterValue)
		SELECT DISTINCT OuterIdx, OuterValue
		FROM #Joined;
		--SELECT * FROM #OuterVals



		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		-- 8) JSON FINAL (mismo formato que tenías)
		/* -------------------------------------------------------------------------------------------------------------------------------------- */
		SELECT ResultJson = '[' + STRING_AGG(CASE
												WHEN O.OuterValue IS NOT NULL AND LTRIM(RTRIM(O.OuterValue)) <> '' AND TRY_CAST(O.OuterValue AS BIGINT) IS NOT NULL
													-- PARA NUMEROS
													THEN '{ "' + @OuterField + '": ' + CAST(TRY_CAST(O.OuterValue AS BIGINT) AS NVARCHAR(MAX))  + ', "Grupo": ' + G.GrupoItemsJson + ' }'
													-- PARA TEXTOS
													ELSE '{ "' + @OuterField + '": "' + REPLACE(ISNULL(LTRIM(RTRIM(O.OuterValue)), ''), '"', '\"') + '", "Grupo": ' + G.GrupoItemsJson + ' }'
												END
										   , ',') WITHIN GROUP (ORDER BY O.OuterIdx) + ']'
		FROM #OuterVals O
			JOIN #GrupoJSON G ON O.OuterIdx = G.OuterIdx;


	END
GO
