USE [p_adagioRHGMGroup]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Crea notificaciones para los supervisores asociados a solicitudes de actualización de datos que no fueron (Autorizadas / Recahzadas) por ellos mismos, sino por otro supervisor en su lugar.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-09-12
** Parametros		: @dtSolicitudDeActDatos		Lista de solicitudes de actualización de datos.
**					: @IDUsuario					Identificador del usuario.
** IDAzure			: #1676

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spINotificacionRespuestaDeSolicitudDeActualizacionDeDatosParaRestoDeJefes](
	@dtSolicitudDeActDatos	[App].[dtNotificacionesEmails] READONLY
	, @IDUsuario			INT
)
AS
	BEGIN

		SET NOCOUNT ON;


		-- VARIABLES
		DECLARE @ContTotal				INT = 0
				, @IDNotificacion		INT = 0
				, @FechaHoraCreacion	DATETIME = GETDATE()				
				, @NO_ENVIADO           INT = 0			
				, @ErrorMessage			NVARCHAR(4000)			
				;


		-- TABLAS TEMPORALES

		DECLARE @tblSolicitudDeActDatos TABLE(
			ID						INT IDENTITY(1,1)
			, IDTipoNotificacion	VARCHAR(50)
			, [Subject]				VARCHAR(MAX)
			, Body					TEXT
			, Footer				TEXT
			, TipoReferencia		VARCHAR(255)
			, IDReferencia			INT
			, Email					NVARCHAR(255)
			, PathFile				VARCHAR(MAX)
			, IDUsuario				INT
		);

		DECLARE @tblDestinatarios TABLE(
			ID						INT
			, IDTipoNotificacion    VARCHAR(50)
			, [Subject]             VARCHAR(MAX)
			, Body                  TEXT
			, Footer                TEXT
			, TipoReferencia		VARCHAR(255)
			, IDReferencia			VARCHAR(255)			
			, Email                 NVARCHAR(MAX)
			, PathFile				VARCHAR(MAX)
			, IDUsuario				INT
		);


		-- TRASPASAMOS LOS DATOS DEL DATATYPE "@dtSolicitudDeActDatos" A LA TABLA "@tblSolicitudDeActDatos"
		INSERT INTO @tblSolicitudDeActDatos
		SELECT D_SAD.IDTipoNotificacion
				, D_SAD.[Subject]
				, D_SAD.Body
				, D_SAD.Footer
				, D_SAD.TipoReferencia
				, D_SAD.IDReferencia
				, T_SAD.EmailJefe
				, NULL AS PathFile
				, T_SAD.IDUsuarioJefe
		FROM @dtSolicitudDeActDatos D_SAD
			JOIN [Intranet].[vwSolicitudDeActualizacionDeDatosParaRestoDeJefes] T_SAD ON D_SAD.IDReferencia = T_SAD.ID
		WHERE ISNULL(T_SAD.EmailJefe, '') <> ''
		-- SELECT * FROM @tblSolicitudDeActDatos


		-- CONTAMOS LAS NOTIFICACIONES
		SELECT @ContTotal = COUNT(ID) FROM @tblSolicitudDeActDatos;
			
		-- INICIAR TRANSACCIÓN
		BEGIN TRANSACTION;
			BEGIN TRY
								
				IF (@ContTotal > 0)
					BEGIN
				
						-- INSERTAR LA NOTIFICACIÓN
						INSERT INTO [App].[tblNotificaciones] (IDTipoNotificacion, FechaHoraCreacion, Parametros, IDIdioma)
						SELECT TOP 1 IDTipoNotificacion
								, @FechaHoraCreacion
								, NULL AS Parametros
								, NULL AS IDIdioma
						FROM @tblSolicitudDeActDatos;

						-- OBTENEMOS EL ID GENERADO DE LA NOTIFICACIÓN
						SET @IDNotificacion = SCOPE_IDENTITY();


						-- INSERTAR DESTINATARIOS EN LA TABLA TEMPORAL
						INSERT INTO @tblDestinatarios
						SELECT SAD.ID
								, SAD.IDTipoNotificacion
								, SAD.[Subject]
								, SAD.Body
								, SAD.Footer
								, SAD.TipoReferencia
								, SAD.IDReferencia								
								, SAD.Email
								--, 'aparedes@adagio.com.mx' AS Email 
								, SAD.PathFile
								, SAD.IDUsuario
						FROM @tblSolicitudDeActDatos SAD
						--SELECT * FROM @tblDestinatarios
					

						-- INSERTAR LAS NOTIFICACIONES A ENVIAR (SOLO JEFES QUE TENGAN EMAIL BIEN CONFIGURADO)
						INSERT INTO [App].[tblEnviarNotificacionA](IDNotifiacion, IDMedioNotificacion, Destinatario, Enviado, FechaHoraEnvio, FechaHoraCreacion, Adjuntos, IDTipoAdjunto, Parametros, TipoReferencia, IDReferencia,IDUsuario)
						SELECT @IDNotificacion AS IDNotificacion
								, 'Email' AS IDMedioNotificacion
								, TD.Email AS Destinatario
								, @NO_ENVIADO AS Enviado
								, NULL AS FechaHoraEnvio
								, @FechaHoraCreacion AS FechaHoraCreacion
								, TD.PathFile AS Adjuntos
								, NULL AS IDTipoAdjunto
								, '{ "subject": "' + TD.[Subject] + '", "body":"' + REPLACE(CAST(TD.Body AS VARCHAR(MAX)), '"', '\"') + '", "footer":"' + REPLACE(CAST(TD.Footer AS VARCHAR(MAX)), '"', '\"') + '" }' AS Parametros
								, TD.TipoReferencia
								, TD.IDReferencia
								, TD.IDUsuario
						FROM @tblDestinatarios TD

						-- REVISAR
						--SELECT * FROM [App].[tblNotificaciones] WHERE IDNotifiacion = @IDNotificacion
						--SELECT * FROM [App].[tblEnviarNotificacionA] WHERE IDNotifiacion = @IDNotificacion

					END;
				

				-- CONFIRMAR TRANSACCION
				COMMIT TRANSACTION;

			END TRY
			BEGIN CATCH

				-- REVERTIR TRANSACCIÓN EN CASO DE ERROR
				IF @@TRANCOUNT > 0
				BEGIN
					ROLLBACK TRANSACTION;
				END			
			
				SELECT @ErrorMessage = ERROR_MESSAGE();
				RAISERROR (@ErrorMessage, 16, 1);

			END CATCH;

	END
GO
