USE [p_adagioRHHotelColibri]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc Bk.spTest (
	@Algo int
) as
BEGIN
	/* {{DescripcionDelConcepto}} */	  
	print 'Lo que sea'
END;
GO
