USE [p_adagioRHBelmondCSN]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RH].[tblDatosExtraControlAltasEmpleados](
	[IDDatoExtraControlAltasEmpleados] [int] IDENTITY(1,1) NOT NULL,
	[IDDatoExtra] [int] NOT NULL,
	[Valor] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDControlAltasEmpleados] [int] NOT NULL,
 CONSTRAINT [PK_RHTblDatosExtraControlAltasEmpleados_IDDatoExtraControlAltasEmpleados] PRIMARY KEY CLUSTERED 
(
	[IDDatoExtraControlAltasEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblDatosExtraControlAltasEmpleados_IDControlAltasEmpleados] ON [RH].[tblDatosExtraControlAltasEmpleados]
(
	[IDControlAltasEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblDatosExtraControlAltasEmpleados_IDDatoExtra] ON [RH].[tblDatosExtraControlAltasEmpleados]
(
	[IDDatoExtra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [RH].[tblDatosExtraControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_RHTblCatDatosExtra_RHTblDatosExtraControlAltasEmpleados_IDDatoExtra] FOREIGN KEY([IDDatoExtra])
REFERENCES [RH].[tblCatDatosExtra] ([IDDatoExtra])
GO
ALTER TABLE [RH].[tblDatosExtraControlAltasEmpleados] CHECK CONSTRAINT [FK_RHTblCatDatosExtra_RHTblDatosExtraControlAltasEmpleados_IDDatoExtra]
GO
ALTER TABLE [RH].[tblDatosExtraControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_RHTblControlAltasEmpleados_RHTblDatosExtraControlAltasEmpleados_IDControlAltasEmpleados] FOREIGN KEY([IDControlAltasEmpleados])
REFERENCES [RH].[tblControlAltasEmpleados] ([IDControlAltasEmpleados])
ON DELETE CASCADE
GO
ALTER TABLE [RH].[tblDatosExtraControlAltasEmpleados] CHECK CONSTRAINT [FK_RHTblControlAltasEmpleados_RHTblDatosExtraControlAltasEmpleados_IDControlAltasEmpleados]
GO
