USE [p_adagioRHHotelColibri]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************   
** Descripción  : <Procedure para guardar y actualizar la dirección del Control de Altas de Empleados>  
** Autor   : Javier Peña  
** Email   : <jpena@adagio.com.mx>  
** FechaCreacion : <2025-10-30>  
** Paremetros  :                
****************************************************************************************************  
HISTORIAL DE CAMBIOS  
Fecha(yyyy-mm-dd)	Autor					Comentario  
------------------- ------------------- ------------------------------------------------------------  
2024-10-30			Sistema AdagioRH	Creación inicial del procedimiento basado en spUIDireccionEmpleado
***************************************************************************************************/  
CREATE PROCEDURE [RH].[spIUDireccionControlAltasEmpleados](  
	@IDDireccionControlAltasEmpleados	INT   
    ,@IDControlAltasEmpleados			INT     
    ,@IDPais							INT     
    ,@IDEstado							INT     
    ,@Estado							varchar(255)   
    ,@IDMunicipio						INT     
    ,@Municipio							varchar(255)     
    ,@IDLocalidad						INT     
    ,@Localidad							VARCHAR (255)   
    ,@IDCodigoPostal					INT     
    ,@CodigoPostal						varchar(20)    
    ,@IDColonia							INT     
    ,@Colonia							VARCHAR (255)   
    ,@Calle								VARCHAR (MAX)   
    ,@Exterior							VARCHAR (20)   
    ,@Interior							VARCHAR (20)   
    ,@IDRuta							INT     
    ,@FechaIni							DATE    
    ,@FechaFin							DATE       
    ,@IDUsuario							int   
)  AS  
BEGIN  
    declare 
		@msj nvarchar(max),
		@OldJSON Varchar(Max),
		@NewJSON Varchar(Max)
	;
	
	select 
		@Colonia	= UPPER(@Colonia)            
		,@Calle		= UPPER(@Calle)                       
		,@Exterior	= UPPER(@Exterior)                      
		,@Interior	= UPPER(@Interior)                      
		,@Localidad = UPPER(@Localidad)                      
	
	if (isnull(@IDCodigoPostal, 0) != 0)
	begin
        begin try	
			if not exists(select top 1 1 from [Sat].[tblCatCodigosPostales] where IDCodigoPostal = @IDCodigoPostal)
				or (@IDCodigoPostal = cast(@CodigoPostal as int))
			begin
				set @IDCodigoPostal = null
			end
		end try
		begin catch
			set @IDCodigoPostal = null
		end catch
	end
  
    IF(@IDDireccionControlAltasEmpleados = 0 or @IDDireccionControlAltasEmpleados is null)  
    BEGIN  
		if exists(select 1 
				from RH.tblDireccionControlAltasEmpleado  
				where IDControlAltasEmpleados = @IDControlAltasEmpleados and FechaIni=@FechaIni)  
		begin  
			set @msj= cast(@FechaIni as varchar(10));  
			exec [App].[spObtenerError]  
				 @IDUsuario  = @IDUsuario,  
				 @CodigoError ='0302001',  
				 @CustomMessage = @msj  
			return;  
		end;  
  
		INSERT INTO [RH].[tblDireccionControlAltasEmpleado]( 
			IDControlAltasEmpleados,IDPais,IDEstado,Estado,IDMunicipio  
			,Municipio,IDLocalidad,Localidad,IDCodigoPostal,CodigoPostal,IDColonia,Colonia,Calle,Exterior,Interior,IDRuta,FechaIni,FechaFin)  
		SELECT   
			 @IDControlAltasEmpleados  
			,CASE WHEN @IDPais = 0 then null else @IDPais end  
			,CASE WHEN @IDEstado = 0 then null else @IDEstado end  
			,@Estado  
			,CASE WHEN @IDMunicipio = 0 then null else @IDMunicipio end  
			,@Municipio  
			,CASE WHEN @IDLocalidad = 0 then null else @IDLocalidad end  
			,@Localidad  
			,CASE WHEN @IDCodigoPostal = 0 then null else @IDCodigoPostal end   
			,@CodigoPostal  
			,CASE WHEN @IDColonia = 0 then null else @IDColonia end  
			,@Colonia  
			,@Calle  
			,@Exterior  
			,@Interior  
			,CASE WHEN @IDRuta = 0 then null else @IDRuta end  
			,@FechaIni  
			,@FechaFin			
  
		SET @IDDireccionControlAltasEmpleados = @@IDENTITY

		select @NewJSON = a.JSON from [RH].[tblDireccionControlAltasEmpleado] b
			Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados

		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDireccionControlAltasEmpleado]','[RH].[spIUDireccionControlAltasEmpleados]','INSERT',@NewJSON,''

    END  
    ELSE  
    BEGIN  
		select @OldJSON = a.JSON from [RH].[tblDireccionControlAltasEmpleado] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados

		UPDATE RH.tblDireccionControlAltasEmpleado  
			SET  
				IDPais			= CASE WHEN @IDPais = 0 then null else @IDPais end  
				,IDEstado		= CASE WHEN @IDEstado = 0 then null else @IDEstado end  
				,Estado			= @Estado  
				,IDMunicipio	= CASE WHEN @IDMunicipio = 0 then null else @IDMunicipio end  
				,Municipio		= @Municipio  
				,IDLocalidad	= CASE WHEN @IDLocalidad = 0 then null else @IDLocalidad end  
				,Localidad		= @Localidad  
				,IDCodigoPostal = CASE WHEN @IDCodigoPostal = 0 then null else @IDCodigoPostal end   
				,CodigoPostal	= @CodigoPostal  
				,IDColonia		= CASE WHEN @IDColonia = 0 then null else @IDColonia end  
				,Colonia		= @Colonia  
				,Calle			= @Calle  
				,Exterior		= @Exterior  
				,Interior		= @Interior  
				,IDRuta			= CASE WHEN @IDRuta = 0 then null else @IDRuta end  
				,FechaIni		= @FechaIni  
				,FechaFin		= @FechaFin
		WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados and IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados  

		select @NewJSON = a.JSON from [RH].[tblDireccionControlAltasEmpleado] b
		Cross Apply (Select JSON=[Utilerias].[fnStrJSON](0,1,(Select b.* For XML Raw)) ) a
		WHERE b.IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados

		EXEC [Auditoria].[spIAuditoria] @IDUsuario,'[RH].[tblDireccionControlAltasEmpleado]','[RH].[spIUDireccionControlAltasEmpleados]','UPDATE',@NewJSON,@OldJSON
    END;  
  
    if OBJECT_ID('tempdb..#tblTempHistorial1') is not null drop table #tblTempHistorial1;  
    if OBJECT_ID('tempdb..#tblTempHistorial2') is not null drop table #tblTempHistorial2;  
  
    select *, ROW_NUMBER()over(order by FechaIni asc) as [Row]  
    INTO #tblTempHistorial1  
    FROM RH.tblDireccionControlAltasEmpleado  
    WHERE IDControlAltasEmpleados = @IDControlAltasEmpleados  
    order by FechaIni asc  
  
    select   
		t1.IDDireccionControlAltasEmpleados  
		,t1.IDControlAltasEmpleados     
		,t1.FechaIni  
		,FechaFin = case when t2.FechaIni is not null then dateadd(day,-1,t2.FechaIni)   
		else '9999-12-31' end   
    INTO #tblTempHistorial2  
    from #tblTempHistorial1 t1  
		left join (select *   
					from #tblTempHistorial1) t2 on t1.[Row] = (t2.[Row]-1)  
  
    update [TARGET]  
		set   
			[TARGET].FechaFin = [SOURCE].FechaFin  
    FROM RH.tblDireccionControlAltasEmpleado as [TARGET]  
		join #tblTempHistorial2 as [SOURCE] on [TARGET].IDDireccionControlAltasEmpleados = [SOURCE].IDDireccionControlAltasEmpleados  

	-- Return the created/updated record
	SELECT 
		DE.IDDireccionControlAltasEmpleados,
		DE.IDControlAltasEmpleados,
		isnull(DE.IDPais,0) as IDPais,
		P.Descripcion as Pais,
		isnull(DE.IDEstado,0) as IDEstado,
		isnull(E.NombreEstado,DE.Estado) as Estado,
		isnull(DE.IDMunicipio,0) as IDMunicipio,
		isnull(M.Descripcion,DE.Municipio) as Municipio,
		isnull(DE.IDColonia,0) as IDColonia,
		isnull(C.NombreAsentamiento,DE.Colonia) as Colonia,
		isnull(DE.IDLocalidad,0) as IDLocalidad,
		isnull(L.Descripcion,DE.Localidad) as Localidad,
		isnull(DE.IDCodigoPostal,0) as IDCodigoPostal,
		isnull(CP.CodigoPostal,DE.CodigoPostal) as CodigoPostal,
		DE.Calle,
		DE.Exterior,
		DE.Interior,
		DE.FechaIni,
		DE.FechaFin,		
		case when P.Descripcion is not null  then coalesce(P.Descripcion,'') + ', ' else '' end
		    + case when (e.NombreEstado is not null or de.Estado is not null) then  isnull(E.NombreEstado,coalesce(DE.Estado,''))+ ', ' else '' end
		    + case when (M.Descripcion is not null or de.Municipio is not null) then  isnull(M.Descripcion,coalesce(DE.Municipio,''))+ ', ' else '' end
		    + case when (C.NombreAsentamiento is not null or de.Colonia is not null) then  isnull(C.NombreAsentamiento,coalesce(DE.Colonia,''))+ ', ' else '' end
		    + case when (L.Descripcion is not null or de.Localidad is not null) then  isnull(L.Descripcion,coalesce(DE.Localidad,''))+ ', ' else '' end
		    + case when (CP.CodigoPostal is not null or de.CodigoPostal is not null) then  isnull(CP.CodigoPostal,coalesce(DE.CodigoPostal,''))+ ', ' else '' end
		    + case when DE.Calle is not null then DE.Calle+' ' else '' end 
		    + case when DE.Exterior is not null then DE.Exterior +' - ' else '' end
		    + coalesce(DE.Interior,'') as Direccion,
		   			   
		isnull(DE.IDRuta,0) as IDRuta,
		JSON_VALUE(RT.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace('esmx', '-','')), 'Descripcion')) as Ruta
	From RH.tblDireccionControlAltasEmpleado DE
		Left join Sat.tblCatCodigosPostales CP
			on CP.IDCodigoPostal = DE.IDCodigoPostal
		Left join Sat.tblCatEstados E
			on DE.IDEstado = E.IDEstado
		Left join Sat.tblCatMunicipios M
			on DE.IDMunicipio = M.IDMunicipio
		Left join Sat.tblCatColonias C
			on DE.IDColonia = C.IDColonia
		Left join Sat.tblCatPaises p 
			on DE.IDPais = p.IDPais
		Left join Sat.tblCatLocalidades L 
			on DE.IDLocalidad = L.IDLocalidad
		Left Join RH.tblCatRutasTransporte RT
			on RT.IDRuta = DE.IDRuta
	WHERE DE.IDDireccionControlAltasEmpleados = @IDDireccionControlAltasEmpleados
END
GO
