USE [p_adagioRHANS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
declare @dtFiltros Nomina.dtFiltrosRH
insert into @dtFiltros values(N'IDEmpleado',N'194')
insert into @dtFiltros values(N'Ejercicio',N'2025')

declare @dtPagination Nomina.dtFiltrosRH
insert into @dtPagination values(N'PageNumber',N'1')
insert into @dtPagination values(N'PageSize',N'100')
insert into @dtPagination values(N'TotalPages',N'1')
insert into @dtPagination values(N'query',NULL)
insert into @dtPagination values(N'orderByColumn',NULL)
insert into @dtPagination values(N'orderDirection',N'desc')
exec [Intranet].[spDetalleNomina] 63, @dtPagination,@dtFiltros
select * from Seguridad.tblUsuarios where idempleado = 194
*/



CREATE PROCEDURE [Intranet].[spDetalleNomina](
	@IDUsuario int 
	,@dtPagination [Nomina].[dtFiltrosRH] READONLY              
	,@dtFiltros [Nomina].[dtFiltrosRH] READONLY    
) AS
BEGIN
	declare 	
		@IDEmpleado int
		,@Ejercicio int	
		,@orderByColumn	varchar(50) = 'FechaFinPago'
		,@orderDirection varchar(4) = 'desc'
	   ,@TotalPaginas int = 0
	   ,@TotalRegistros int	
       ,@PageNumber	int = 1
	    ,@PageSize		int = 2147483647
        ,@IDIdioma varchar(max)
	;

	if object_id('tempdb..#tempSetPagination') is not null drop table #tempSetPagination;
	
	SET @IDEmpleado = isnull((Select top 1 Value from @dtFiltros where Catalogo = 'IDEmpleado'),0)    	
	SET @Ejercicio = isnull((Select top 1 Value from @dtFiltros where Catalogo = 'Ejercicio'),0)    	

	Select  @orderByColumn=isnull(Value,'FechaFinPago') from @dtPagination where Catalogo = 'orderByColumn'
	Select  @orderDirection=isnull(Value,'desc') from @dtPagination where Catalogo = 'orderDirection';
	Select  @PageNumber=isnull(Value,1) from @dtPagination where Catalogo = 'PageNumber';
	Select  @PageSize=isnull(Value,2147483647) from @dtPagination where Catalogo = 'PageSize';


	select 
		HEP.IDHistorialEmpleadoPeriodo as Folio,
		HEP.IDEmpleado,
		p.IDPeriodo,
		P.FechaFinPago,
		P.ClavePeriodo as Periodo,
		P.Descripcion as PeriodoNomina,
		p.Cerrado,
		isnull(T.IDEstatusTimbrado, 0) as IDEstatusTimbrado,
		cet.Descripcion as EstatusTimbrado,
		 
		(select isnull(SUM(DP.ImporteTotal1),0) 
			from Nomina.tblDetallePeriodo DP with (nolock)
				join Nomina.tblCatConceptos c with (nolock) on c.IDConcepto = DP.IDConcepto and c.Codigo like '%550'
			where DP.IDPeriodo = p.IDPeriodo and DP.IDEmpleado = @IDEmpleado) as TotalPercepciones, 
		(select isnull(SUM(DP.ImporteTotal1),0) 
			from Nomina.tblDetallePeriodo DP with (nolock) 
				join Nomina.tblCatConceptos c with (nolock) on c.IDConcepto = DP.IDConcepto and  c.IDTipoConcepto = 5	
			where DP.IDPeriodo = p.IDPeriodo and DP.IDEmpleado = @IDEmpleado) as TotalPagado,
		(select isnull(SUM(DP.ImporteTotal1),0) 
			from Nomina.tblDetallePeriodo DP with (nolock) 
				join Nomina.tblCatConceptos c with (nolock) on c.IDConcepto = DP.IDConcepto and c.Codigo like '%560'
			where DP.IDPeriodo = p.IDPeriodo and DP.IDEmpleado = @IDEmpleado) as TotalDeducciones,
		ROW_NUMBER()Over(Order by  
			case when @orderByColumn = 'Periodo'			and @orderDirection = 'asc'		then p.ClavePeriodo end ,
			case when @orderByColumn = 'Periodo'			and @orderDirection = 'desc'		then p.ClavePeriodo end desc
		)  as [row]
	INTO #tempSetPagination 
	from Nomina.tblHistorialesEmpleadosPeriodos HEP WITH(NOLOCK) 
		inner join Nomina.tblCatPeriodos p with (nolock) on p.IDPeriodo = HEP.IDPeriodo
		left join Facturacion.TblTimbrado T with (nolock) on T.IDHistorialEmpleadoPeriodo = HEP.IDHistorialEmpleadoPeriodo 
			 and isnull(T.Actual, 0) = 1
		left join Facturacion.tblCatEstatusTimbrado cet with (nolock) on cet.IDEstatusTimbrado = T.IDEstatusTimbrado
	where HEP.IDEmpleado = @IDEmpleado and isnull(p.Cerrado, 0) = 1 and p.Ejercicio = @Ejercicio and isnull(p.Finiquito,0)=0

    select @TotalPaginas =CEILING( cast(count(*) as decimal(20,2))/cast(@PageSize as decimal(20,2)))
	from #tempSetPagination 

	select @TotalRegistros = COUNT(Folio) from #tempSetPagination		

	select *
		,TotalPaginas = case when @TotalPaginas = 0 then 1 else @TotalPaginas end
		,ISNULL(@TotalRegistros, 0) as TotalRows
	from #tempSetPagination
	order by 
		case when @orderByColumn = 'FechaFinPago'			and @orderDirection = 'asc'		then FechaFinPago end,			
		case when @orderByColumn = 'FechaFinPago'			and @orderDirection = 'desc'	then FechaFinPago end desc,		
		FechaFinPago desc

	OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);


	
END
GO
