USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Evaluacion360].[tbl9Box](
	[ID9Box] [int] IDENTITY(1,1) NOT NULL,
	[IDPlantilla] [int] NOT NULL,
	[IDTipo9Box] [int] NOT NULL,
	[IDProyecto] [int] NOT NULL,
	[IDCicloMedicionObjetivo] [int] NULL,
	[IsGeneral] [bit] NOT NULL,
	[Nombre] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[JsonFiltros] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [Pk_Evaluacion360Tbl9Box_ID9Box] PRIMARY KEY CLUSTERED 
(
	[ID9Box] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Evaluacion360].[tbl9Box]  WITH CHECK ADD  CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatCiclosMedicionObjetivos_IDCicloMedicionObjetivo] FOREIGN KEY([IDCicloMedicionObjetivo])
REFERENCES [Evaluacion360].[tblCatCiclosMedicionObjetivos] ([IDCicloMedicionObjetivo])
GO
ALTER TABLE [Evaluacion360].[tbl9Box] CHECK CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatCiclosMedicionObjetivos_IDCicloMedicionObjetivo]
GO
ALTER TABLE [Evaluacion360].[tbl9Box]  WITH CHECK ADD  CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatPlantillas9Box_IDPlantilla] FOREIGN KEY([IDPlantilla])
REFERENCES [Evaluacion360].[tblCatPlantillas9Box] ([IDPlantilla])
GO
ALTER TABLE [Evaluacion360].[tbl9Box] CHECK CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatPlantillas9Box_IDPlantilla]
GO
ALTER TABLE [Evaluacion360].[tbl9Box]  WITH CHECK ADD  CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatProyectos_IDProyecto] FOREIGN KEY([IDProyecto])
REFERENCES [Evaluacion360].[tblCatProyectos] ([IDProyecto])
GO
ALTER TABLE [Evaluacion360].[tbl9Box] CHECK CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatProyectos_IDProyecto]
GO
ALTER TABLE [Evaluacion360].[tbl9Box]  WITH CHECK ADD  CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatTipos9Box_IDTipo9Box] FOREIGN KEY([IDTipo9Box])
REFERENCES [Evaluacion360].[tblCatTipos9Box] ([IDTipo9Box])
GO
ALTER TABLE [Evaluacion360].[tbl9Box] CHECK CONSTRAINT [Fk_Evaluacion360Tbl9Box_Evaluacion360TblCatTipos9Box_IDTipo9Box]
GO
