USE [p_adagioRHBelmondCSN]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--set a default new query template with the command QE Boost: Set New Query Template


--set a default new query template with the command QE Boost: Set New Query Template


/**************************************************************************************************** 
** Descripción		: Crea notificaciones de las solicitudes de vacación (Autorizadas / Recahzadas) por el jefe.
** Autor			: Jose Vargas
** Email			: jvargas@adagio.com.mx
** FechaCreacion	: 2025-05-16
** Parametros		: @dtReclutamiento	Lista del candidato.
**					: @IDUsuario				Identificador del usuario.
** IDAzure			: #1596

** DataTypes Relacionados:
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Reclutamiento].[spINotificacionReclutamientoNuevoMensajeCandidato](
	@dtReclutamiento	[App].[dtNotificacionesEmails] READONLY
	, @IDUsuario				INT
)
AS
	BEGIN

		SET NOCOUNT ON;


		-- VARIABLES
		DECLARE @ContTotal				INT = 0
				, @IDNotificacion		INT = 0
				, @FechaHoraCreacion	DATETIME = GETDATE()
				, @NO_ENVIADO           INT = 0
				, @ErrorMessage			NVARCHAR(4000)
				;


		-- TABLAS TEMPORALES

		DECLARE @tblReclutamientoCandidato TABLE(
			ID						INT 
			, IDTipoNotificacion	VARCHAR(50)
			, [Subject]				VARCHAR(MAX)
			, Body					TEXT
			, Footer				TEXT
			, TipoReferencia		VARCHAR(255)
			, IDReferencia			INT			
			, Email					NVARCHAR(255)			
			, IDUsuario				INT
		);
	        
		
		INSERT INTO @tblReclutamientoCandidato
		SELECT 
                T_RC.ID
                , D_SV.IDTipoNotificacion
				, D_SV.[Subject]
				, D_SV.Body
				, D_SV.Footer
				, D_SV.TipoReferencia
				, D_SV.IDReferencia
                , T_RC.EmailCandidato	
				, @IDUsuario
		FROM @dtReclutamiento D_SV
			JOIN [Reclutamiento].[tblRegistroChat] T_RC ON D_SV.IDReferencia = T_RC.ID;
        
		

        INSERT INTO [App].[tblNotificaciones] (IDTipoNotificacion, FechaHoraCreacion, Parametros, IDIdioma)
        SELECT TOP 1 IDTipoNotificacion
                , @FechaHoraCreacion
                , NULL AS Parametros
                , NULL AS IDIdioma
        FROM @tblReclutamientoCandidato;

        SET @IDNotificacion = SCOPE_IDENTITY();

        INSERT INTO [App].[tblEnviarNotificacionA](IDNotifiacion, IDMedioNotificacion, Destinatario, Enviado, FechaHoraEnvio, FechaHoraCreacion, Adjuntos, IDTipoAdjunto, Parametros, TipoReferencia, IDReferencia,IDUsuario)
            SELECT @IDNotificacion AS IDNotificacion
                , 'Email' AS IDMedioNotificacion
                , TD.Email AS Destinatario
                , @NO_ENVIADO AS Enviado
                , NULL AS FechaHoraEnvio
                , @FechaHoraCreacion AS FechaHoraCreacion
                ,  null
                , NULL AS IDTipoAdjunto
                , '{ "subject": "' + TD.[Subject] + '", "body":"' + REPLACE(CAST(TD.Body AS VARCHAR(MAX)), '"', '\"') + '", "footer":"' + REPLACE(CAST(TD.Footer AS VARCHAR(MAX)), '"', '\"') + '" }' AS Parametros
                , TD.TipoReferencia
                , TD.IDReferencia
                , TD.IDUsuario
        FROM @tblReclutamientoCandidato TD         

	END
GO
