USE [p_adagioRHGrupoEnergy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Inserta las solicitudes de permisos que son emitidas por los colaboradores.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-07-09
** Parametros		: @IDSolicitud	Identificador de la solicitud
**					: @IDUsuario	Identificador del usuario
** IDAzure			: #1675

** DataTypes Relacionados:
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spISolicitudesPermisosParaColaboradores](
	@IDSolicitud	INT = 0
	, @IDUsuario	INT = 0
)
AS
	BEGIN

		DECLARE @SI INT = 1;

		-- CREAR SOLICITUDES NUEVAS
		INSERT INTO [Intranet].[tblSolicitudesPermisosParaColaboradores]
		SELECT

			-- DATOS SOLICITUD
			SE.IDSolicitud
			, 'S' + CAST(SE.IDSolicitud AS VARCHAR(10)) AS FolioSolicitud
			, ISNULL(CONVERT(VARCHAR(10), SE.FechaCreacion, 103), '') AS FechaCreacionSolicitud
			, ISNULL(CONVERT(VARCHAR(5), SE.FechaCreacion, 108), '') AS HoraCreacionSolicitud	
			, INCIDENCIA.IDIncidencia AS IDIncidenciaSolicitud
			, REPLACE(INCIDENCIA.Traduccion, '"Descripcion"', '"ValorDinamico"') AS IncidenciaSolicitud

			, '{"esmx": {"ValorDinamico": "' + 
					CASE 
						WHEN INCIDENCIA.AdministrarSaldos = @SI THEN 
							REPLACE(REPLACE('<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; margin: 0;">' +
												'<thead>' +
													'<tr>' +
														'<td colspan="3" style="font-weight: bold; text-align: center;">Saldo disponible</td>' +
													'</tr>' +
													'<tr>' +
														'<th>Fecha Inicio</th>' +
														'<th>Fecha Fin</th>' +
														'<th>Días</th>' +
													'</tr>' +
												 '</thead>' +
												(
													SELECT 
														'<tr>' +
															'<td>' + CONVERT(VARCHAR, INCIDENCIA_SALDO.FechaInicio, 103) + '</td>' +
															'<td>' + CONVERT(VARCHAR, INCIDENCIA_SALDO.FechaFin, 103) + '</td>' +
															'<td><center>' + 
																CASE 
																	WHEN ((DATEDIFF(DAY, GETDATE(), INCIDENCIA_SALDO.FechaFin )) >= 0) 
																		THEN CAST((INCIDENCIA_SALDO.Cantidad - [Asistencia].[fnBuscarIncidenciasEmpleado](INCIDENCIA_SALDO.IDEmpleado, INCIDENCIA_SALDO.IDIncidencia, INCIDENCIA_SALDO.FechaInicio, INCIDENCIA_SALDO.FechaFin)) AS VARCHAR)
																		ELSE CAST(0 AS VARCHAR) 
																	END + 
															'</center></td>' +
														'</tr>'
													FROM [Asistencia].[tblIncidenciasSaldos] INCIDENCIA_SALDO 
													WHERE INCIDENCIA_SALDO.IDIncidencia = INCIDENCIA.IDIncidencia
														AND INCIDENCIA_SALDO.IDEmpleado = SE.IDEmpleado
													FOR XML PATH(''), TYPE
												).value('.', 'NVARCHAR(MAX)') +
												'</table>'
							, '"', '\"'), '''', '\"')
						ELSE ''
					END
				+ '"},' +
				'"enus": {"ValorDinamico": "' + 
					CASE 
						WHEN INCIDENCIA.AdministrarSaldos = @SI THEN 
							REPLACE(REPLACE('<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse; margin: 0;">' +
												'<thead>' +
													'<tr>' +
														'<td colspan="3" style="font-weight: bold; text-align: center;">Available Balance</td>' +
													'</tr>' +
													'<tr>' +
														'<th>Start Date</th>' +
														'<th>End Date</th>' +
														'<th>Days</th>' +
													'</tr>' +
												 '</thead>' +
												(
													SELECT 
														'<tr>' +
															'<td>' + CONVERT(VARCHAR, INCIDENCIA_SALDO.FechaInicio, 103) + '</td>' +
															'<td>' + CONVERT(VARCHAR, INCIDENCIA_SALDO.FechaFin, 103) + '</td>' +
															'<td><center>' + 
																CASE 
																	WHEN ((DATEDIFF(DAY, GETDATE(), INCIDENCIA_SALDO.FechaFin )) >= 0) 
																		THEN CAST((INCIDENCIA_SALDO.Cantidad - [Asistencia].[fnBuscarIncidenciasEmpleado](INCIDENCIA_SALDO.IDEmpleado, INCIDENCIA_SALDO.IDIncidencia, INCIDENCIA_SALDO.FechaInicio, INCIDENCIA_SALDO.FechaFin)) AS VARCHAR)
																		ELSE CAST(0 AS VARCHAR) 
																	END + 
															'</center></td>' +
														'</tr>'
													FROM [Asistencia].[tblIncidenciasSaldos] INCIDENCIA_SALDO 
													WHERE INCIDENCIA_SALDO.IDIncidencia = INCIDENCIA.IDIncidencia
														AND INCIDENCIA_SALDO.IDEmpleado = SE.IDEmpleado
													FOR XML PATH(''), TYPE
												).value('.', 'NVARCHAR(MAX)') +
												'</table>'
							, '"', '\"'), '''', '\"')
						ELSE ''
					END
				+ '"}'
			   + '}' AS SaldoIncidenciaSolicitud

			, SE.IDEstatusSolicitud
			, REPLACE(ES.Traduccion, '"Descripcion"', '"ValorDinamico"') AS EstatusSolicitud
			, CAST(ISNULL(SE.CantidadDias, '0') AS VARCHAR(3)) AS DiasSolicitadosSolicitud
			, '(' + ISNULL(CONVERT(VARCHAR(10), SE.FechaIni, 103), '') + ' - ' + ISNULL(CONVERT(VARCHAR(10), SE.FechaFin, 103), '') + ')' AS PeriodoSolicitud
			, (
				'<ul style="margin: 0;">' +
				(
					SELECT TOP 5
							'<li><b>' + ISNULL(USUARIOS_MSJ.Nombre, '') + ' ' + ISNULL(USUARIOS_MSJ.Apellido, '') + ':</b> ' + ISNULL(CTR.Comentario, '') + '</li>'
					FROM [App].[tblComentarios] CTR
						LEFT JOIN [Seguridad].[tblUsuarios] USUARIOS_MSJ ON CTR.IDUsuario = USUARIOS_MSJ.IDUsuario
					WHERE CTR.IDReferencia = SE.IDSolicitud
							AND CTR.IDTipoComentario = 1
					ORDER BY CTR.IDComentario DESC
					FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') + '</ul>'
			) AS ComentariosSolicitud
				
			-- DATOS COLABORADOR
			, ISNULL(USUARIO_COLABORADOR.IDUsuario, 0) AS IDUsuarioEmpleado
			, ISNULL(SE.IDEmpleado, 0) AS IDEmpleado
			, ISNULL(COLABORADOR.ClaveEmpleado, '') AS ClaveEmpleado
			, ISNULL(COLABORADOR.Nombre, '') AS NombreEmpleado
			, ISNULL(COLABORADOR.SegundoNombre, '') AS SegundoNombreEmpleado
			, ISNULL(COLABORADOR.Paterno, '') AS  ApellidoPaternoEmpleado
			, ISNULL(COLABORADOR.Materno, '') AS  ApellidoMaternoEmpleado
			, ISNULL(COLABORADOR.NOMBRECOMPLETO, '') AS NombreCompletoEmpleado
			, ISNULL([Utilerias].[fnGetCorreoEmpleado] (SE.IDEmpleado, 0, 'SolicitudIntranet'), '') AS EmailEmpleado

		FROM [Intranet].[tblSolicitudesEmpleado] SE
			
			-- DATOS SOLICITUD
			JOIN [Asistencia].[tblCatIncidencias] INCIDENCIA WITH (NOLOCK) ON SE.IDIncidencia = INCIDENCIA.IDIncidencia
			JOIN [Intranet].[tblCatEstatusSolicitudes] ES ON SE.IDEstatusSolicitud = ES.IDEstatusSolicitud
			
			-- DATOS COLABORADOR
			LEFT JOIN [RH].[tblEmpleadosMaster] COLABORADOR WITH (NOLOCK) ON SE.IDEmpleado = COLABORADOR.IDEmpleado
			LEFT JOIN [Seguridad].[tblUsuarios] USUARIO_COLABORADOR ON SE.IDEmpleado = USUARIO_COLABORADOR.IDEmpleado
		
		WHERE SE.IDSolicitud = @IDSolicitud;

	END
GO
