USE [p_adagioRHElPro]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Intranet].[tblSolicitudesActualizacionDeDatosParaJefes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSolicitud] [int] NOT NULL,
	[FolioSolicitud] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[FechaCreacionSolicitud] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[HoraCreacionSolicitud] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[MotivoDeActualizacionSolicitud] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDEstatusSolicitud] [int] NOT NULL,
	[EstatusSolicitud] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ComentariosSolicitud] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDUsuarioEmpleado] [int] NULL,
	[IDEmpleado] [int] NULL,
	[ClaveEmpleado] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[NombreEmpleado] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SegundoNombreEmpleado] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ApellidoPaternoEmpleado] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ApellidoMaternoEmpleado] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[NombreCompletoEmpleado] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EmailEmpleado] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDUsuarioJefe] [int] NULL,
	[IDEmpleadoJefe] [int] NULL,
	[CuentaJefe] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[NombreJefe] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ApellidoJefe] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EmailJefe] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[NombreCompletoJefe] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDUsuarioJefeQueAutoriza] [int] NULL,
 CONSTRAINT [Pk_IntranettblSolicitudesActualizacionDeDatosParaJefes_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
