USE [p_adagioRHGrupoEnergy]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Obtiene los resultados del 9Box desde las tablas correspondientes.
** Autor			: Refactorización para leer desde tablas
** FechaCreacion	: 2025-01-07
** Parámetros		: @ID9Box, @IDUsuario
** DataTypes Relacionados: 
****************************************************************************************************/
-- HISTORIAL DE CAMBIOS
-- Fecha(yyyy-mm-dd)    Autor                Comentario
-- -------------------  -------------------  --------------------------------------------------------

CREATE PROCEDURE [Evaluacion360].[spObtenerResultadosEmpleados9BoxDetalleActualFuturo]
(
	@ID9Box INT,
	@JsonFiltros NVARCHAR(MAX),
	@IDUsuario INT
)
AS
BEGIN
	SET NOCOUNT ON;

		DECLARE @IDEmpleado INT = null;
		IF OBJECT_ID('tempdb..#tempFiltros') IS NOT NULL DROP TABLE #tempFiltros;		

		
		-- CONVERTIMOS FILTROS A TABLA		
		;WITH tblFiltros(catalogo, [value])
		AS
		(
			SELECT *
			FROM OPENJSON(JSON_QUERY(@JsonFiltros,  '$'))
			  WITH (
				catalogo NVARCHAR(50) '$.Catalogo',
				valor NVARCHAR(MAX) '$.Value'
			  )
		)
		SELECT * 
		INTO #tempFiltros
		FROM tblFiltros;	

		SELECT @IDEmpleado = value
		FROM #tempFiltros
		WHERE catalogo = 'Empleados';

	SELECT E9BDPPS.* 		
	FROM 
	[Evaluacion360].[tblEmpleados9BoxDetalleActualFuturo] E9BDPPS
	INNER JOIN [Evaluacion360].[tblEmpleados9Box] E9B ON E9B.IDEmpleado9BOX = E9BDPPS.IDEmpleado9BOX
	WHERE E9B.ID9Box = @ID9Box
		AND (E9BDPPS.IDEmpleado = @IDEmpleado OR ISNULL(@IDEmpleado, 0) = 0)

	
		
END
GO
