USE [p_adagioRHNexus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [Reportes].[spReporteBasicoCatalogoProbatoriosSTPS] 
(
  @dtFiltros Nomina.dtFiltrosRH readonly,
    @IDUsuario int
)
AS
BEGIN
	select	
	
		Codigo
		,UPPER(Codigo) +' - '+ UPPER(Descripcion) as Descripcion     
From [STPS].[tblCatProbatorios]
	
END
GO
