USE [p_adagioRHANS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [STPS].[spBuscarProgramacionCursosCapacitacion_VUE]
(
	@IDProgramacionCursoCapacitacion int = 0
	,@IDUsuario int =null
	,@PageNumber	int = 1
	,@PageSize		int = 2147483647
	,@query			varchar(100) = '""'
	,@orderByColumn	varchar(50) = 'CodigoCurso'
	,@orderDirection varchar(4) = 'asc'
)
AS
BEGIN
	SET FMTONLY OFF;  

	declare  
	   @TotalPaginas int = 0
	   ,@TotalRegistros int
	;

    if (isnull(@PageNumber, 0) = 0) set @PageNumber = 1;
	if (isnull(@PageSize, 0) = 0) set @PageSize = 2147483647;

	select
		 @orderByColumn	 = case when @orderByColumn	 is null then 'CodigoCurso' else @orderByColumn  end 
		,@orderDirection = case when @orderDirection is null then  'asc' else @orderDirection end 

	IF OBJECT_ID('tempdb..#TempFiltros') IS NOT NULL DROP TABLE #TempFiltros;
	IF OBJECT_ID('tempdb..#TempResponse') IS NOT NULL DROP TABLE #TempResponse ;
	
	
	-- select ID   
	-- Into #TempFiltros  
	-- from Seguridad.tblFiltrosUsuarios  with(nolock) 
	-- where IDUsuario = @IDUsuario and Filtro = 'CursoCapacitacion'  

	set @query = case 
				when @query is null then '""' 
				when @query = '' then '""'
				when @query = '""' then '""'
			else '"'+@query + '*"' end

	SELECT PC.IDProgramacionCursoCapacitacion
		  ,ISNULL(PC.IDCursoCapacitacion,0) as IDCursoCapacitacion
		  ,UPPER(CC.Codigo) as CodigoCurso
		  ,UPPER(CC.Nombre) as NombreCurso
		  ,ISNULL(PC.Duracion,0) as Duracion
		  ,PC.FechaIni as FechaIni
		  ,PC.FechaFin as FechaFin
		  ,ISNULL(PC.IDModalidad,0) as IDModalidad
		  ,UPPER(M.Descripcion) as Modalidad
		  ,ISNULL(PC.IDAgenteCapacitacion,0) as IDAgenteCapacitacion
		  ,UPPER(AC.Nombre)  as NombreAgenteCapacitacion
		  ,UPPER(AC.Apellidos) as ApellidosAgenteCapacitacion
		  ,UPPER(COALESCE(AC.RFC,'')+' - '+COALESCE(AC.Nombre,'')+' '+COALESCE(AC.Apellidos,'')) AS AgenteCapacitacion              
		  ,ROW_NUMBER()Over(Order by PC.IDProgramacionCursoCapacitacion asc) ROWNUMBER
        Into #TempResponse
	FROM STPS.tblProgramacionCursosCapacitacion PC with ( nolock)
		INNER JOIN STPS.tblCursosCapacitacion CC with ( nolock)
			on CC.IDCursoCapacitacion = PC.IDCursoCapacitacion
		LEFT JOIN STPS.tblCatModalidades M with ( nolock)
			on M.IDModalidad = PC.IDModalidad
		LEFT JOIN STPS.tblAgentesCapacitacion  AC with ( nolock)
			on PC.IDAgenteCapacitacion = AC.IDAgenteCapacitacion
	where ((PC.IDProgramacionCursoCapacitacion = @IDProgramacionCursoCapacitacion) OR (@IDProgramacionCursoCapacitacion = 0))
    		and (@query = '""' or contains(CC.*, @query)) 
    	order by CC.Nombre desc

    select @TotalPaginas =CEILING( cast(count(*) as decimal(20,2))/cast(@PageSize as decimal(20,2)))
	from #tempResponse

	select @TotalRegistros = COUNT(@IDProgramacionCursoCapacitacion) from #tempResponse		

	select *
		,TotalPaginas = case when @TotalPaginas = 0 then 1 else @TotalPaginas end
		,ISNULL(@TotalRegistros, 0) as TotalRegistros
	from #tempResponse
	order by 
		case when @orderByColumn = 'CodigoCurso'			and @orderDirection = 'asc'		then CodigoCurso end,
		FechaIni desc
		--case when @orderByColumn = 'Codigo'			and @orderDirection = 'desc'	then Codigo end desc,
		--Codigo asc
	OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);

END;
GO
