USE [p_adagioRHNomade]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RH].[tblControlAltasEmpleados](
	[IDControlAltasEmpleados] [int] IDENTITY(1,1) NOT NULL,
	[IDEmpleado] [int] NULL,
	[IDEstatusControlAltasEmpleados] [int] NOT NULL,
	[IDCliente] [int] NOT NULL,
	[IDTipoAltaEmpleado] [int] NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[ClaveEmpleado] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[RFC] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CURP] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IMSS] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Nombre] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[SegundoNombre] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Paterno] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Materno] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDEstadoCivil] [int] NULL,
	[CodigoPostalFiscal] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[FechaIngreso] [date] NULL,
	[FechaAntiguedad] [date] NULL,
	[IDMunicipioNacimiento] [int] NULL,
	[IDEstadoNacimiento] [int] NULL,
	[IDPaisNacimiento] [int] NULL,
	[IDLocalidadNacimiento] [int] NULL,
	[IDPuesto] [int] NULL,
	[IDDepartamento] [int] NULL,
	[IDSucursal] [int] NULL,
	[IDEmpresa] [int] NULL,
	[IDRegPatronal] [int] NULL,
	[IDCentroCosto] [int] NULL,
	[IDArea] [int] NULL,
	[IDRegion] [int] NULL,
	[IDDivision] [int] NULL,
	[IDClasificacionCorporativa] [int] NULL,
	[IDTipoNomina] [int] NULL,
	[IDTipoPrestacion] [int] NULL,
	[SalarioDiario] [decimal](18, 2) NULL,
	[SalarioVariable] [decimal](18, 2) NULL,
	[SalarioIntegrado] [decimal](18, 2) NULL,
	[SalarioDiarioReal] [decimal](18, 2) NULL,
	[Factor] [decimal](18, 4) NULL,
	[CuentaContable] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[PTU] [bit] NULL,
	[IDLayoutPago] [int] NULL,
	[IDBanco] [int] NULL,
	[Cuenta] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Sucursal] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Interbancaria] [varchar](18) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Tarjeta] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDBancario] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDTipoTrabajador] [int] NULL,
	[IDTipoSalario] [int] NULL,
	[IDTipoPension] [int] NULL,
	[IDTipoContrato] [int] NULL,
	[IDTipoJornadaIMSS] [int] NULL,
	[IDTipoJornadaSAT] [int] NULL,
	[IDRegimenFiscal] [int] NULL,
	[IDTipoRegimen] [int] NULL,
	[Email] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDTipoDocumento] [int] NULL,
	[IDDocumento] [int] NULL,
	[Duracion] [int] NULL,
	[FechaIniContrato] [date] NULL,
	[FechaFinContrato] [date] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[CurrentStep] [int] NULL,
	[PermiteChecar] [bit] NULL,
	[RequiereChecar] [bit] NULL,
	[PagarTiempoExtra] [bit] NULL,
	[PagarPrimaDominical] [bit] NULL,
	[PagarDescansoLaborado] [bit] NULL,
	[PagarFestivoLaborado] [bit] NULL,
	[RequiereTransporte] [bit] NULL,
	[OmitirGeolocalizacion] [bit] NULL,
	[EstatusError] [bit] NULL,
	[MensajeError] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [PK_TblControlAltasEmpleados_IDControlAltasEmpleados] PRIMARY KEY CLUSTERED 
(
	[IDControlAltasEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_ClaveEmpleado] ON [RH].[tblControlAltasEmpleados]
(
	[ClaveEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_CuentaContable] ON [RH].[tblControlAltasEmpleados]
(
	[CuentaContable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_CURP] ON [RH].[tblControlAltasEmpleados]
(
	[CURP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_FechaCreacion] ON [RH].[tblControlAltasEmpleados]
(
	[FechaCreacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_FechaFinContrato] ON [RH].[tblControlAltasEmpleados]
(
	[FechaFinContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_FechaIniContrato] ON [RH].[tblControlAltasEmpleados]
(
	[FechaIniContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDArea] ON [RH].[tblControlAltasEmpleados]
(
	[IDArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDBanco] ON [RH].[tblControlAltasEmpleados]
(
	[IDBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDCentroCosto] ON [RH].[tblControlAltasEmpleados]
(
	[IDCentroCosto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDClasificacionCorporativa] ON [RH].[tblControlAltasEmpleados]
(
	[IDClasificacionCorporativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDCliente_IDEstatusControlAltasEmpleados] ON [RH].[tblControlAltasEmpleados]
(
	[IDCliente] ASC,
	[IDEstatusControlAltasEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDDepartamento] ON [RH].[tblControlAltasEmpleados]
(
	[IDDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDDivision] ON [RH].[tblControlAltasEmpleados]
(
	[IDDivision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDDocumento] ON [RH].[tblControlAltasEmpleados]
(
	[IDDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDEmpresa] ON [RH].[tblControlAltasEmpleados]
(
	[IDEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDLayoutPago] ON [RH].[tblControlAltasEmpleados]
(
	[IDLayoutPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDPuesto] ON [RH].[tblControlAltasEmpleados]
(
	[IDPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDRegimenFiscal] ON [RH].[tblControlAltasEmpleados]
(
	[IDRegimenFiscal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDRegion] ON [RH].[tblControlAltasEmpleados]
(
	[IDRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDRegPatronal] ON [RH].[tblControlAltasEmpleados]
(
	[IDRegPatronal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDSucursal] ON [RH].[tblControlAltasEmpleados]
(
	[IDSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoContrato] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoContrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoDocumento] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoJornadaIMSS] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoJornadaIMSS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoJornadaSAT] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoJornadaSAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoNomina] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoNomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoPension] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoPension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoPrestacion] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoPrestacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoRegimen] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoRegimen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoSalario] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoSalario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IDTipoTrabajador] ON [RH].[tblControlAltasEmpleados]
(
	[IDTipoTrabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_IMSS] ON [RH].[tblControlAltasEmpleados]
(
	[IMSS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_NombreCompleto] ON [RH].[tblControlAltasEmpleados]
(
	[Nombre] ASC,
	[SegundoNombre] ASC,
	[Paterno] ASC,
	[Materno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_RHTblControlAltasEmpleados_RFC] ON [RH].[tblControlAltasEmpleados]
(
	[RFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_PTU]  DEFAULT ((0)) FOR [PTU]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_PermiteChecar]  DEFAULT ((1)) FOR [PermiteChecar]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_RequiereChecar]  DEFAULT ((1)) FOR [RequiereChecar]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_PagarTiempoExtra]  DEFAULT ((1)) FOR [PagarTiempoExtra]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_PagarPrimaDominical]  DEFAULT ((1)) FOR [PagarPrimaDominical]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_PagarDescansoLaborado]  DEFAULT ((1)) FOR [PagarDescansoLaborado]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_PagarFestivoLaborado]  DEFAULT ((1)) FOR [PagarFestivoLaborado]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] ADD  CONSTRAINT [DF_RHTblControlAltasEmpleados_EstatusError]  DEFAULT ((0)) FOR [EstatusError]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_RHtblCatDocumentos_RHTblControlAltasEmpleados_IDDocumento] FOREIGN KEY([IDDocumento])
REFERENCES [RH].[tblCatDocumentos] ([IDDocumento])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_RHtblCatDocumentos_RHTblControlAltasEmpleados_IDDocumento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_RHTblCatTipoDocumento_RHTblControlAltasEmpleados_IDTipoDocumento] FOREIGN KEY([IDTipoDocumento])
REFERENCES [RH].[tblCatTipoDocumento] ([IDTipoDocumento])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_RHTblCatTipoDocumento_RHTblControlAltasEmpleados_IDTipoDocumento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoJornada_IDTipoJornadaIMSS] FOREIGN KEY([IDTipoJornadaIMSS])
REFERENCES [IMSS].[tblCatTipoJornada] ([IDTipoJornada])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoJornada_IDTipoJornadaIMSS]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoPension_IDTipoPension] FOREIGN KEY([IDTipoPension])
REFERENCES [IMSS].[tblCatTipoPension] ([IDTipoPension])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoPension_IDTipoPension]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoSalario_IDTipoSalario] FOREIGN KEY([IDTipoSalario])
REFERENCES [IMSS].[tblCatTipoSalario] ([IDTipoSalario])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoSalario_IDTipoSalario]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoTrabajador_IDTipoTrabajador] FOREIGN KEY([IDTipoTrabajador])
REFERENCES [IMSS].[tblCatTipoTrabajador] ([IDTipoTrabajador])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_IMSSTblCatTipoTrabajador_IDTipoTrabajador]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_NominaTblCatTipoNomina_IDTipoNomina] FOREIGN KEY([IDTipoNomina])
REFERENCES [Nomina].[tblCatTipoNomina] ([IDTipoNomina])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_NominaTblCatTipoNomina_IDTipoNomina]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_NominaTblLayoutPago_IDLayoutPago] FOREIGN KEY([IDLayoutPago])
REFERENCES [Nomina].[tblLayoutPago] ([IDLayoutPago])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_NominaTblLayoutPago_IDLayoutPago]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatArea_IDArea] FOREIGN KEY([IDArea])
REFERENCES [RH].[tblCatArea] ([IDArea])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatArea_IDArea]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatCentroCosto_IDCentroCosto] FOREIGN KEY([IDCentroCosto])
REFERENCES [RH].[tblCatCentroCosto] ([IDCentroCosto])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatCentroCosto_IDCentroCosto]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatClasificacionesCorporativas_IDClasificacionCorporativa] FOREIGN KEY([IDClasificacionCorporativa])
REFERENCES [RH].[tblCatClasificacionesCorporativas] ([IDClasificacionCorporativa])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatClasificacionesCorporativas_IDClasificacionCorporativa]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHtblCatClientes_IDCliente] FOREIGN KEY([IDCliente])
REFERENCES [RH].[tblCatClientes] ([IDCliente])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHtblCatClientes_IDCliente]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatDepartamentos_IDDepartamento] FOREIGN KEY([IDDepartamento])
REFERENCES [RH].[tblCatDepartamentos] ([IDDepartamento])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatDepartamentos_IDDepartamento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatDivisiones_IDDivision] FOREIGN KEY([IDDivision])
REFERENCES [RH].[tblCatDivisiones] ([IDDivision])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatDivisiones_IDDivision]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatEstadosCiviles_IDEstadoCivil] FOREIGN KEY([IDEstadoCivil])
REFERENCES [RH].[tblCatEstadosCiviles] ([IDEstadoCivil])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatEstadosCiviles_IDEstadoCivil]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatGeneros_Sexo] FOREIGN KEY([Sexo])
REFERENCES [RH].[tblCatGeneros] ([IDGenero])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatGeneros_Sexo]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatPuestos_IDPuesto] FOREIGN KEY([IDPuesto])
REFERENCES [RH].[tblCatPuestos] ([IDPuesto])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatPuestos_IDPuesto]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatRegiones_IDRegion] FOREIGN KEY([IDRegion])
REFERENCES [RH].[tblCatRegiones] ([IDRegion])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatRegiones_IDRegion]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatRegPatronal_IDRegPatronal] FOREIGN KEY([IDRegPatronal])
REFERENCES [RH].[tblCatRegPatronal] ([IDRegPatronal])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatRegPatronal_IDRegPatronal]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatSucursales_IDSucursal] FOREIGN KEY([IDSucursal])
REFERENCES [RH].[tblCatSucursales] ([IDSucursal])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatSucursales_IDSucursal]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatTiposPrestaciones_IDTipoPrestacion] FOREIGN KEY([IDTipoPrestacion])
REFERENCES [RH].[tblCatTiposPrestaciones] ([IDTipoPrestacion])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblCatTiposPrestaciones_IDTipoPrestacion]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_RHTblEmpresa_IDEmpresa] FOREIGN KEY([IDEmpresa])
REFERENCES [RH].[tblEmpresa] ([IdEmpresa])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_RHTblEmpresa_IDEmpresa]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatBancos_IDBanco] FOREIGN KEY([IDBanco])
REFERENCES [Sat].[tblCatBancos] ([IDBanco])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatBancos_IDBanco]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatEstados_IDEstadoNacimiento] FOREIGN KEY([IDEstadoNacimiento])
REFERENCES [Sat].[tblCatEstados] ([IDEstado])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatEstados_IDEstadoNacimiento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatLocalidades_IDLocalidadNacimiento] FOREIGN KEY([IDLocalidadNacimiento])
REFERENCES [Sat].[tblCatLocalidades] ([IDLocalidad])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatLocalidades_IDLocalidadNacimiento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatMunicipios_IDMunicipioNacimiento] FOREIGN KEY([IDMunicipioNacimiento])
REFERENCES [Sat].[tblCatMunicipios] ([IDMunicipio])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatMunicipios_IDMunicipioNacimiento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatPaises_IDPaisNacimiento] FOREIGN KEY([IDPaisNacimiento])
REFERENCES [Sat].[tblCatPaises] ([IDPais])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatPaises_IDPaisNacimiento]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatRegimenesFiscales_IDRegimenFiscal] FOREIGN KEY([IDRegimenFiscal])
REFERENCES [Sat].[tblCatRegimenesFiscales] ([IDRegimenFiscal])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatRegimenesFiscales_IDRegimenFiscal]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatTiposContrato_IDTipoContrato] FOREIGN KEY([IDTipoContrato])
REFERENCES [Sat].[tblCatTiposContrato] ([IDTipoContrato])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatTiposContrato_IDTipoContrato]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatTiposJornada_IDTipoJornadaSAT] FOREIGN KEY([IDTipoJornadaSAT])
REFERENCES [Sat].[tblCatTiposJornada] ([IDTipoJornada])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatTiposJornada_IDTipoJornadaSAT]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatTiposRegimen_IDTipoRegimen] FOREIGN KEY([IDTipoRegimen])
REFERENCES [Sat].[tblCatTiposRegimen] ([IDTipoRegimen])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SatTblCatTiposRegimen_IDTipoRegimen]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_SeguridadTblUsuarios_IDUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [Seguridad].[tblUsuarios] ([IDUsuario])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_SeguridadTblUsuarios_IDUsuario]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_tblCatEstatusControlAltasEmpleados_IDEstatusControlAltasEmpleados] FOREIGN KEY([IDEstatusControlAltasEmpleados])
REFERENCES [RH].[tblCatEstatusControlAltasEmpleados] ([IDEstatusControlAltasEmpleados])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_tblCatEstatusControlAltasEmpleados_IDEstatusControlAltasEmpleados]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_tblCatTipoAltaEmpleado_IDTipoAltaEmpleado] FOREIGN KEY([IDTipoAltaEmpleado])
REFERENCES [RH].[tblCatTipoAltaEmpleado] ([IDTipoAltaEmpleado])
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_tblCatTipoAltaEmpleado_IDTipoAltaEmpleado]
GO
ALTER TABLE [RH].[tblControlAltasEmpleados]  WITH CHECK ADD  CONSTRAINT [FK_TblControlAltasEmpleados_tblEmpleados_IDEmpleado] FOREIGN KEY([IDEmpleado])
REFERENCES [RH].[tblEmpleados] ([IDEmpleado])
ON DELETE CASCADE
GO
ALTER TABLE [RH].[tblControlAltasEmpleados] CHECK CONSTRAINT [FK_TblControlAltasEmpleados_tblEmpleados_IDEmpleado]
GO
