USE [p_adagioRHRuggedTech]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************** 
** Descripción		: Función que obtiene el tipo de notificación de actualización de datos para jefe (Solicitud nueva o modificada).
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-08-22
** Parametros		: @IDSolicitud		Identificador de la solicitud
** IDAzure			: #1676

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/
CREATE   FUNCTION [Intranet].[fnObtenerNotificacionActualizacionDeDatosParaJefes](
    @IDSolicitud INT
)
RETURNS VARCHAR(60)
AS
BEGIN
    
	DECLARE @IsModificada			BIT
			, @TipoNotificacion		VARCHAR(60) = ''
			, @NO					BIT = 0
			;

    SELECT @IsModificada = ISNULL(IsModificada, 0)
    FROM [Intranet].[tblSolicitudesEmpleado]
    WHERE IDSolicitud = @IDSolicitud;

    IF (@IsModificada = @NO)
        SET @TipoNotificacion = 'SolicitudDeActDeDatosParaJefe';
    ELSE
        SET @TipoNotificacion = 'SolicitudDeActDeDatosParaJefeModificada';

    RETURN @TipoNotificacion;

END;
GO
