USE [p_adagioRHGMGroup]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[tblActivarCuentas](
	[IDActivacion] [int] IDENTITY(1,1) NOT NULL,
	[BotonActivarCuenta] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[Email] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EmailValid] [bit] NULL,
	[IDUsuario] [int] NOT NULL,
 CONSTRAINT [Pk_SeguridadtblActivarCuentas_IDActivacion] PRIMARY KEY CLUSTERED 
(
	[IDActivacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Seguridad].[tblActivarCuentas]  WITH CHECK ADD  CONSTRAINT [FK_SeguridadtblActivarCuentas_SeguridadtblUsuarios_IDUsuario] FOREIGN KEY([IDUsuario])
REFERENCES [Seguridad].[tblUsuarios] ([IDUsuario])
GO
ALTER TABLE [Seguridad].[tblActivarCuentas] CHECK CONSTRAINT [FK_SeguridadtblActivarCuentas_SeguridadtblUsuarios_IDUsuario]
GO
