USE [p_adagioRHPoliAcero]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Obtiene el resultado del 9Box (Performance / Skill).
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2024-03-07
** Paremetros		: @IDProyecto					Identificador del proyecto.
**					: @IDCicloMedicionObjetivo		Identificador del ciclo de medicion.
**					: @JsonFiltros					Contiene la lista de catalogos e identificadores para filtrar la información.
**					: @IsGeneral					Bandera que indica: (true - Un solo resultado por proyecto / false: Resultado por cada colaborador)
**					: @IDUsuario					Identificador del usuario.
** IDAzure			: 830

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Evaluacion360].[spCalcular9BoxPerformanceSkill](
	@IDProyecto					INT
	, @IDCicloMedicionObjetivo	INT
	, @JsonFiltros				NVARCHAR(MAX)
	, @IsGeneral				BIT
	, @IsDetalle				BIT = 0
	, @IDUsuario				INT
)
AS
	BEGIN
	
		-- VARIABLES
		DECLARE	@tempGrupos				[Evaluacion360].[dtGrupos9Box]
				, @ESCALA_VIEJA_MINIMA_PORCENTAJE	INT = 0
				, @ESCALA_VIEJA_MAXIMA_PORCENTAJE	INT = 100
				, @ESCALA_NUEVA_MINIMA_9BOX			DECIMAL(18,2) = 0.01
				, @ESCALA_NUEVA_MAXIMA_9BOX			DECIMAL(18,2) = 3.00
				, @SI								BIT = 1
				;

		-- TABLA TEMPORAL
		DECLARE @tempCalculo TABLE
		(
			IDEmpleado				INT
			, ClaveEmpleado			VARCHAR(20)
			, Empleado				VARCHAR(255)
			, Iniciales				VARCHAR(2)
			, IDGrupo				INT
			, Grupo					VARCHAR(254)
			, TipoEvaluacion		VARCHAR(150)
			, EscalaGrupo			VARCHAR(25)
			, PromedioGrupo			DECIMAL(18,2)
			, TransPromedioGrupo	DECIMAL(18,2)			
			, PorcentajeGrupo		DECIMAL(18,2)
			, EscalaObjetivo		VARCHAR(25)
			, PorcentajeObjetivo	DECIMAL(18,2)
		)


		-- OBTENEMOS GRUPOS
		INSERT INTO @tempGrupos
		EXEC [Evaluacion360].[spDetalleInfo9Box] @IDProyecto, @JsonFiltros, @IDUsuario;
		--SELECT * FROM @tempGrupos WHERE ClaveEmpleado = '042'
		

		-- NORMALIZAMOS INFORMACION POR CADA GRUPO EXISTENTE
		INSERT INTO @tempCalculo
		SELECT GPO.IDEmpleado
				, GPO.ClaveEmpleado
				, GPO.Evaluado
				, GPO.Iniciales
				, GPO.IDGrupo
				, GPO.Grupo
				, GPO.TipoEvaluacion
				, CAST(GPO.EscalaViejaMin AS VARCHAR(10)) + ' - ' + CAST(GPO.EscalaViejaMax AS VARCHAR(10)) AS EscalaGrupo
				, GPO.Promedio AS PromedioGrupo				
				, [Evaluacion360].[fnTransformacionLineal](GPO.Promedio, GPO.EscalaViejaMin, GPO.EscalaViejaMax, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPromedioGrupo
				, CG.Porcentaje AS PorcentajeGrupo
				, CAST(@ESCALA_VIEJA_MINIMA_PORCENTAJE AS VARCHAR(5)) + ' - ' + CAST(@ESCALA_VIEJA_MAXIMA_PORCENTAJE AS VARCHAR(5)) AS EscalaObjetivo
				, ISNULL(OBJ.Porcentaje, 0) AS PorcentajeObjetivo
		FROM @tempGrupos GPO
			LEFT JOIN [Evaluacion360].[tblProgresoGeneralPorCicloEmpleados] OBJ ON OBJ.IDCicloMedicionObjetivo = @IDCicloMedicionObjetivo AND GPO.IDEmpleado = OBJ.IDEmpleado
			JOIN [Evaluacion360].[tblCatGrupos] CG ON CG.IDGrupo = GPO.IDGrupo
		--WHERE GPO.ClaveEmpleado IN ('042')
		
		-- REVISION
		--SELECT * FROM @tempCalculo ORDER BY IDEmpleado


		IF(@IsDetalle = @SI)
			BEGIN
				-- DETALLE
				SELECT IDEmpleado
						, ClaveEmpleado
						, Empleado						
						, Grupo
						, TipoEvaluacion
						, EscalaGrupo
						
						/* CODIGO PARA REVISION

						-- PROMEDIO GRUPOS
						, CAST(AVG(PromedioGrupo) AS DECIMAL(18, 2)) AS PromedioGrupo
						, CAST(AVG(TransPromedioGrupo) AS DECIMAL(18, 2)) AS TransPromedioGrupo
								
						-- PORCENTAJES GRUPOS
						, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS PorcentajeGrupo
						, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeGrupo
								
						-- OBJETIVOS
						, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS PorcentajeObjetivo
						, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeObjetivo
								
						*/

						, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS Promedio -- CORREGIR DE PROMEDIO A RESULTADO
						, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPromedio -- CORREGIR DE PROMEDIO A RESULTADO

						, EscalaObjetivo
						, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS Porcentaje
						
						-- RESULTADOS EjeY (SI EL OBJETIVO SOBRE-PASA EL 100% APLICAMOS LA ESCALA NUEVA MAXIMA (valor: 3))
						, CASE
							WHEN CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
								THEN @ESCALA_NUEVA_MAXIMA_9BOX
								ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
							END AS TransPorcentaje

				FROM @tempCalculo 
				GROUP BY IDEmpleado, ClaveEmpleado, Empleado, Grupo, TipoEvaluacion, EscalaGrupo, EscalaObjetivo
				ORDER BY IDEmpleado, TipoEvaluacion, Grupo
			END
		ELSE
			BEGIN
				-- RESULTADO FINAL
				IF(@IsGeneral = @SI)
					BEGIN
					
						IF ((SELECT COUNT(*) FROM @tempGrupos) = 0)
							BEGIN
								SELECT TOP 0
										IDEmpleado, ClaveEmpleado, Empleado, Iniciales, PorcentajeGrupo AS EjeX, PorcentajeObjetivo AS EjeY
								FROM @tempCalculo
							END
						ELSE
							BEGIN
								SELECT TOP 1 0 AS IDEmpleado
										, '' AS ClaveEmpleado
										, '' AS Empleado
										, 'GN' AS Iniciales
										, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS EjeX
										-- SI EL OBJETIVO SOBRE-PASA EL 100% APLICAMOS LA ESCALA NUEVA MAXIMA (valor: 3)
										, CASE
											WHEN CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
												THEN @ESCALA_NUEVA_MAXIMA_9BOX
												ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
											END AS EjeY
								FROM @tempCalculo
							END
					END
				ELSE
					BEGIN

						SELECT IDEmpleado
								, ClaveEmpleado
								, Empleado
								, Iniciales
								
								/* CODIGO PARA REVISION

								-- PROMEDIO GRUPOS
								, CAST(AVG(PromedioGrupo) AS DECIMAL(18, 2)) AS PromedioGrupo
								, CAST(AVG(TransPromedioGrupo) AS DECIMAL(18, 2)) AS TransPromedioGrupo
								
								-- PORCENTAJES GRUPOS
								, CAST(AVG(PorcentajeGrupo) AS DECIMAL(18, 2)) AS PorcentajeGrupo
								, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeGrupo
								
								-- OBJETIVOS
								, CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) AS PorcentajeObjetivo
								, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS TransPorcentajeObjetivo
								
								*/

								-- RESULTADOS EjeX
								, [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeGrupo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX) AS EjeX
								
								-- RESULTADOS EjeY (SI EL OBJETIVO SOBRE-PASA EL 100% APLICAMOS LA ESCALA NUEVA MAXIMA (valor: 3))
								, CASE
									WHEN CAST(AVG(PorcentajeObjetivo) AS DECIMAL(18, 2)) > @ESCALA_VIEJA_MAXIMA_PORCENTAJE
									 THEN @ESCALA_NUEVA_MAXIMA_9BOX
									 ELSE [Evaluacion360].[fnTransformacionLineal](AVG(PorcentajeObjetivo), @ESCALA_VIEJA_MINIMA_PORCENTAJE, @ESCALA_VIEJA_MAXIMA_PORCENTAJE, @ESCALA_NUEVA_MINIMA_9BOX, @ESCALA_NUEVA_MAXIMA_9BOX)
								   END AS EjeY
								   
						FROM @tempCalculo
						GROUP BY IDEmpleado, ClaveEmpleado, Iniciales, Empleado
						ORDER BY IDEmpleado

					END			
			END
	END
GO
