USE [p_adagioRHRioSecreto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[tblConfiguracionesInputs](
	[IDConfiguracionInput] [int] NOT NULL,
	[IDInput] [int] NOT NULL,
	[IDTipoConfiguracionInput] [int] NOT NULL,
	[Customizable] [bit] NOT NULL,
	[Requerido] [bit] NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK_tblConfiguracionesInputs_IDConfiguracionInput] PRIMARY KEY CLUSTERED 
(
	[IDConfiguracionInput] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [App].[tblConfiguracionesInputs]  WITH CHECK ADD  CONSTRAINT [FK_tblConfiguracionesInputs_tblCatInputs_IDInput] FOREIGN KEY([IDInput])
REFERENCES [App].[tblCatInputs] ([IDInput])
GO
ALTER TABLE [App].[tblConfiguracionesInputs] CHECK CONSTRAINT [FK_tblConfiguracionesInputs_tblCatInputs_IDInput]
GO
ALTER TABLE [App].[tblConfiguracionesInputs]  WITH CHECK ADD  CONSTRAINT [FK_tblConfiguracionesInputs_tblCatTipoConfiguracionesInputs_IDTipoConfiguracionInput] FOREIGN KEY([IDTipoConfiguracionInput])
REFERENCES [App].[tblCatTipoConfiguracionesInputs] ([IDTipoConfiguracionInput])
GO
ALTER TABLE [App].[tblConfiguracionesInputs] CHECK CONSTRAINT [FK_tblConfiguracionesInputs_tblCatTipoConfiguracionesInputs_IDTipoConfiguracionInput]
GO
