USE [p_adagioRHRHUniversal]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Obtiene los rangos segun el tipo
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-06-11
** Paremetros		: @IDRango			Identificador del rango
**					: @IDTipoRango		Identificador del tipo de rango
**					: @IDUsuario		Identificador del usuario

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
***************************************************************************************************/

CREATE   PROC [RH].[spBuscarRangos](
	@IDRango		INT = 0
	, @IDTipoRango	INT = 1
	, @IDUsuario	INT = 0
)
AS
	BEGIN

		SELECT IDRango
				, UPPER(Descripcion) AS Descripcion
				, [Min]
				, [Max]
				, Orden
		FROM [RH].[tblRangos]
		WHERE (IDRango = @IDRango OR ISNULL(@IDRango, '') = '')
				AND IDTipoRango = @IDTipoRango

	END
GO
