USE [p_adagioRHHotelColibri]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STPS].[tblCursosCapacitacion](
	[IDCursoCapacitacion] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[Nombre] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NOT NULL,
	[IDAreaTematica] [int] NULL,
	[IDCapacitaciones] [int] NULL,
	[Color] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IDCurso] [int] NULL,
 CONSTRAINT [PK_STPSTblCursosCapacitacion_IDCursoCapacitacion] PRIMARY KEY CLUSTERED 
(
	[IDCursoCapacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [U_STPSTblCursosCapacitacion_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_STPStblCursosCapacitacion_Codigo] ON [STPS].[tblCursosCapacitacion]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_STPStblCursosCapacitacion_IDAreaTematica] ON [STPS].[tblCursosCapacitacion]
(
	[IDAreaTematica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [idx_STPStblCursosCapacitacion_IDCapacitaciones] ON [STPS].[tblCursosCapacitacion]
(
	[IDCapacitaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [idx_STPStblCursosCapacitacion_Nombre] ON [STPS].[tblCursosCapacitacion]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [STPS].[tblCursosCapacitacion]  WITH CHECK ADD  CONSTRAINT [FK_STPStblCatCapacitaciones_STPSTblCursoCapacitacion_IDCapacitaciones] FOREIGN KEY([IDCapacitaciones])
REFERENCES [STPS].[tblCatCapacitaciones] ([IDCapacitaciones])
GO
ALTER TABLE [STPS].[tblCursosCapacitacion] CHECK CONSTRAINT [FK_STPStblCatCapacitaciones_STPSTblCursoCapacitacion_IDCapacitaciones]
GO
ALTER TABLE [STPS].[tblCursosCapacitacion]  WITH CHECK ADD  CONSTRAINT [FK_STPSTblCatCursos_STPSTblCursosCapacitacion_IDCurso] FOREIGN KEY([IDCurso])
REFERENCES [STPS].[tblCatCursos] ([IDCursos])
GO
ALTER TABLE [STPS].[tblCursosCapacitacion] CHECK CONSTRAINT [FK_STPSTblCatCursos_STPSTblCursosCapacitacion_IDCurso]
GO
ALTER TABLE [STPS].[tblCursosCapacitacion]  WITH CHECK ADD  CONSTRAINT [FK_STPStblCatTematicas_STPSTblCursoCapacitacion_IDAreaTematica] FOREIGN KEY([IDAreaTematica])
REFERENCES [STPS].[tblCatTematicas] ([IDTematica])
GO
ALTER TABLE [STPS].[tblCursosCapacitacion] CHECK CONSTRAINT [FK_STPStblCatTematicas_STPSTblCursoCapacitacion_IDAreaTematica]
GO
