USE [p_adagioRHRHUniversal]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [App].[spUConfiguraciones]
(  
	@IDConfiguracion VARCHAR(255) = NULL
    , @Valor VARCHAR(MAX)
)   
AS

	IF(@IDConfiguracion = 'HangFire') -- DEPENDIENTES DE "HangFire"
		BEGIN
			UPDATE [App].[tblconfiguracionesGenerales]
				SET Valor = ISNULL(@Valor, '')
			WHERE IDConfiguracion = 'Monitor';
		END


	-- CONGIFURACION REAL
	UPDATE [App].[tblconfiguracionesGenerales]
		SET Valor = ISNULL(@Valor, '')
	WHERE IDConfiguracion = @IDConfiguracion;

	--
	EXEC [App].[spBuscarConfiguraciones] @IDConfiguracion = @IDConfiguracion;
GO
