USE [p_adagioRHDusgem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Evaluacion360].[tblEmpleados9Box](
	[IDEmpleado9BOX] [int] IDENTITY(1,1) NOT NULL,
	[ID9Box] [int] NOT NULL,
	[IDEmpleado] [int] NULL,
	[ClaveEmpleado] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Empleado] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Iniciales] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[EjeX_HasCalibracion] [bit] NOT NULL,
	[EjeX_Real] [decimal](18, 2) NULL,
	[EjeX] [decimal](18, 2) NULL,
	[EjeY_HasCalibracion] [bit] NOT NULL,
	[EjeY_Real] [decimal](18, 2) NULL,
	[EjeY] [decimal](18, 2) NULL,
	[ComentariosExtra] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
 CONSTRAINT [Pk_Evaluacion360TblEmpleados9Box_IDEmpleado9Box] PRIMARY KEY CLUSTERED 
(
	[IDEmpleado9BOX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Evaluacion360].[tblEmpleados9Box]  WITH CHECK ADD  CONSTRAINT [Fk_Evaluacion360TblEmpleados9Box_Evaluacion360Tbl9Box_ID9Box] FOREIGN KEY([ID9Box])
REFERENCES [Evaluacion360].[tbl9Box] ([ID9Box])
GO
ALTER TABLE [Evaluacion360].[tblEmpleados9Box] CHECK CONSTRAINT [Fk_Evaluacion360TblEmpleados9Box_Evaluacion360Tbl9Box_ID9Box]
GO
ALTER TABLE [Evaluacion360].[tblEmpleados9Box]  WITH CHECK ADD  CONSTRAINT [Fk_Evaluacion360TblEmpleados9Box_RHTblEmpleados_IDEmpleado] FOREIGN KEY([IDEmpleado])
REFERENCES [RH].[tblEmpleados] ([IDEmpleado])
GO
ALTER TABLE [Evaluacion360].[tblEmpleados9Box] CHECK CONSTRAINT [Fk_Evaluacion360TblEmpleados9Box_RHTblEmpleados_IDEmpleado]
GO
