USE [p_adagioRHCSMPresupuesto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Buscar tipos de grupos
** Autor			: Aneudy Abreu
** Email			: aneudy.abreu@adagio.com.mx
** FechaCreacion	: 2018-09-27
** Paremetros		:              
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
2025-08-04			Alejandro Paredes	SE agrego la traducción
***************************************************************************************************/
CREATE PROC [Evaluacion360].[spBuscarTiposGrupos]
	@IDUsuario INT
AS
	DECLARE @IDIdioma VARCHAR(MAX) = [App].[fnGetPreferencia]('Idioma', @IDUsuario, 'esmx');
	
	SELECT IDTipoGrupo
			--, Nombre
			, JSON_VALUE(Traduccion, FORMATMESSAGE('$.%s.%s', LOWER(REPLACE(@IDIdioma, '-','')), 'TipoGrupo')) AS Nombre
			, Color
	FROM [Evaluacion360].[tblCatTipoGrupo]
	ORDER BY Orden
GO
