USE [p_adagioRHArcos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Reportes].[spReporteBasicoCatalogoOcupacionesSTPS] 
(
  @dtFiltros Nomina.dtFiltrosRH readonly,
    @IDUsuario int
)
AS
BEGIN
	select	
	
		Codigo
		,UPPER(Codigo) +' - '+ UPPER(Descripcion) as Descripcion     
From [STPS].[tblCatOcupaciones]
	
END
GO
