USE [p_adagioRHOwen]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Crea una tarea para notificar que se ha autorizado la solicitud de vacaciones.
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-05-15
** Parametros		: @IDSolicitud		Identificador de la solicitud
**					: @NotificarA		1.- Jefe que autorizo
										2.- Colaborador que solicito
										3.- Resto de Jefes (Si es que el colaborador tienes mas de 1 Jefe)
**					: @IDUsuario		Identificador del usuario
** IDAzure			: #1596

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE   PROC [Intranet].[spITareaSolicitudVacacionesAutorizadas](
	@IDSolicitud	INT = 0
	, @NotificarA	VARCHAR(50) = ''
	, @IDUsuario	INT = 0
)
AS
	BEGIN
		
		DECLARE @FechaHora								DATETIME = DATEADD(MINUTE, 2, GETDATE())
				, @NombreTask							VARCHAR(255)
				, @NoAutorizaciones						INT = 0
				, @INTERVAL								INT = 0
				, @ACTIVE								BIT = 1
				, @ACCION_GENERAR_NOTIFICACION_EMAIL	INT = 7
				, @IDTask								INT = 0
				, @IDSchedule							INT = 0
				, @Error								VARCHAR(MAX)
				, @TIPO_NOTIFICACION					VARCHAR(50) = ''
				, @TABLA								VARCHAR(60) = ''
				, @AUTORIZADA							INT = 2
				--
				, @JEFE_QUE_AUTORIZO					INT = 1
				, @COLABORADOR							INT = 2
				, @RESTO_DE_JEFES						INT = 3
				;		


		-- TABLA TEMPORAL
		DECLARE @TblSolicitudDeVacacionAutorizada TABLE(
			[Key] VARCHAR(6)
			, [Value] INT
			, IDUsuario INT
			, IDEmpleado INT
		)


		IF(@NotificarA = @JEFE_QUE_AUTORIZO)
			BEGIN
				
				SET @TIPO_NOTIFICACION = 'SolicitudDeVacacionesAutorizadaPorJefe';
				SET @TABLA = '[Intranet].[tblSolicitudesVacacionesParaJefes]'

				INSERT INTO @TblSolicitudDeVacacionAutorizada
				SELECT TOP 1 'ID' AS [Key]
						, SV.ID AS [Value]
						, SV.IDUsuarioJefe AS IDUsuario
						, SV.IDEmpleadoJefe AS IDEmpleado
				FROM [Intranet].[tblSolicitudesVacacionesParaJefes] SV
				WHERE SV.IDSolicitud = @IDSolicitud
						AND SV.IDEstatusSolicitud = @AUTORIZADA
						AND SV.IDUsuarioJefeQueAutoriza <> 0
				ORDER BY ID DESC

			END

		IF(@NotificarA = @COLABORADOR)
			BEGIN
				
				SET @TIPO_NOTIFICACION = 'SolicitudDeVacacionesAutorizadaParaColaborador';
				SET @TABLA = '[Intranet].[tblSolicitudesVacacionesParaJefes]'

				INSERT INTO @TblSolicitudDeVacacionAutorizada
				SELECT TOP 1 'ID' AS [Key]
						, SV.ID AS [Value]
						, SV.IDUsuarioEmpleado AS IDUsuario
						, SV.IDEmpleado AS IDEmpleado
				FROM [Intranet].[tblSolicitudesVacacionesParaJefes] SV
				WHERE SV.IDSolicitud = @IDSolicitud
						AND SV.IDEstatusSolicitud = @AUTORIZADA
						AND SV.IDUsuarioJefeQueAutoriza <> 0
				ORDER BY ID DESC				

			END

		IF(@NotificarA = @RESTO_DE_JEFES)
			BEGIN

				SET @TIPO_NOTIFICACION = 'SolicitudDeVacacionesAutorizadaParaJefes';
				SET @TABLA = '[Intranet].[vwSolicitudDeVacacionesParaRestoDeJefes]'
				
				INSERT INTO @TblSolicitudDeVacacionAutorizada
				SELECT 'ID' AS [Key]
						, SV.ID AS [Value]
						, SV.IDUsuarioJefe AS IDUsuario
						, SV.IDEmpleadoJefe AS IDEmpleado
				FROM [Intranet].[tblSolicitudesVacacionesParaJefes] SV
				WHERE SV.IDSolicitud = @IDSolicitud
						AND SV.IDEstatusSolicitud = @AUTORIZADA
						AND SV.IDUsuarioJefeQueAutoriza = 0

			END


		-- OBTENEMOS EL NUMERO DE ITEMS DE LA SOLICITUD DE VACACION AUTORIZADA
		SELECT @NoAutorizaciones = COUNT(*)
		FROM @TblSolicitudDeVacacionAutorizada

		IF(@NoAutorizaciones > 0)
			BEGIN
				
				BEGIN TRY
					BEGIN TRANSACTION;


						-- CONFIGURACIÓN DEL TIPO DE NOTIFICACIÓN EN LA TAREA
						DECLARE @JsonTask VARCHAR(MAX) = 
						'{' +
						'"BuscarDatos":false' +
						',"IDTipoNotificacion":"' + CAST(@TIPO_NOTIFICACION AS VARCHAR(50)) + '"' +						
						',"Tabla":"' + CAST(@TABLA AS VARCHAR(60)) + '"' +
						',"IDUsuario":' + CAST(@IDUsuario AS VARCHAR(25)) +
						',"JsonValorIDCampo": ' + (SELECT * FROM @TblSolicitudDeVacacionAutorizada FOR JSON PATH) + '' +
						'}';


						-- OBTENEMOS EL NOMBRE DE LA TAREA EN MAYÚSCULAS
						SELECT @NombreTask = UPPER(Nombre) 
						FROM [App].[tblTiposNotificaciones] 
						WHERE IDTipoNotificacion = @TIPO_NOTIFICACION;
			

						-- INSERTAR LA TAREA EN LA TABLA [Scheduler].[tblTask]
						INSERT INTO [Scheduler].[tblTask] 
						VALUES (@NombreTask, NULL, @INTERVAL, @ACTIVE, @ACCION_GENERAR_NOTIFICACION_EMAIL, @JsonTask);
        
						SET @IDTask = SCOPE_IDENTITY();


						-- INSERTAR EL CRONOGRAMA EN LA TABLA [Scheduler].[tblSchedule]
						INSERT INTO [Scheduler].[tblSchedule]
						(  
							IDTipoSchedule
							, Nombre
							, OneTimeDate
							, OneTimeTime
							, OcurrsFrecuency
							, RecursEveryDaily
							, RecursEveryWeek
							, WeekDays
							, MonthlyType
							, MonthlyAbsoluteDayOfMonth
							, MonthlyAbsoluteNumberOfMonths
							, MonthlyRelativeDay
							, MonthlyRelativeDayOfWeek
							, MonthlyRelativeDayOfWeekShort
							, MonthlyRelativeNumberOfMonths
							, FrecuencyType
							, DailyFrecuencyOnce
							, MultipleFrecuencyValues
							, MultipleFrecuencyValueTypes
							, MultipleFrecuencyStartTime
							, MultipleFrecuencyEndTime
							, DurationStartDate
							, DurationEndDate
							, RunForever
						)
						VALUES
						(
							(SELECT TOP 1 IDTipoSchedule FROM Scheduler.tblTipoSchedule WHERE [Value] = 'OneTime')
							, @NombreTask
							, CAST(@FechaHora AS DATE)
							, CAST(@FechaHora AS TIME)
							, ISNULL('Diario', '')
							, 0
							, 0
							, 0
							, 'Absolute'
							, 0
							, 0
							, 'First'
							, 'Some'
							, NULL
							, 0
							, 'Unica'
							, NULL
							, 0
							, 'Minutes'
							, NULL
							, NULL
							, ISNULL(@FechaHora, GETDATE())
							, ISNULL(@FechaHora, GETDATE())
							, 0
						);
        
						SET @IDSchedule = SCOPE_IDENTITY();


						-- LIGAR LA TAREA CON EL CRONOGRAMA EN LA TABLA [Scheduler].[tblListSchedulersForTask]
						INSERT INTO [Scheduler].[tblListSchedulersForTask](IDTask, IDSchedule)
						VALUES(@IDTask, @IDSchedule); 


						--RESULTADO
						--SELECT * FROM [Scheduler].[tblTask]  WHERE IDTask = @IDTask;
						--SELECT * FROM [Scheduler].[tblSchedule] WHERE IDSchedule = @IDSchedule;
						--SELECT * FROM [Scheduler].[tblListSchedulersForTask] WHERE IDTask = @IDTask AND IDSchedule = @IDSchedule;
		
        
						COMMIT TRANSACTION;

					END TRY
					BEGIN CATCH        
						ROLLBACK TRANSACTION;

							SELECT @Error = ERROR_MESSAGE();
							RAISERROR(@Error, 16, 1);
        
					END CATCH;

			END		

	END
GO
