USE [p_adagioRHRoyalCargo]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Nomina].[spBuscarEstatusCompensacion]
AS
BEGIN
	Select 
	IDEstatusCompensacion
	,Descripcion 
	from Nomina.tblCatEstatusCompensacion
END
GO
