USE [p_adagioRHIndustrialMefi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [Nomina].[spBuscarTiposCompensacion](
    @IDTipoCompensacion INT = 0,
    @PageNumber INT = 1,
    @PageSize INT = 2147483647,
    @query VARCHAR(100) = '""',
    @orderByColumn VARCHAR(50) = 'Codigo',
    @orderDirection VARCHAR(4) = 'asc',
    @IDUsuario INT
) AS
BEGIN
    DECLARE  
        @TotalPaginas INT = 0,
        @TotalRegistros INT, 
        @IDIdioma VARCHAR(20);

    SELECT @IDIdioma = App.fnGetPreferencia('Idioma', @IDUsuario, 'esmx');

    IF (ISNULL(@PageNumber, 0) = 0) SET @PageNumber = 1;
    IF (ISNULL(@PageSize, 0) = 0) SET @PageSize = 2147483647;

    SELECT
        @orderByColumn = CASE WHEN @orderByColumn IS NULL THEN 'Codigo' ELSE @orderByColumn END,
        @orderDirection = CASE WHEN @orderDirection IS NULL THEN 'asc' ELSE @orderDirection END;

    SET @query = CASE
                    WHEN @query IS NULL THEN '""' 
                    WHEN @query = '' THEN '""'
                    WHEN @query = '""' THEN '""'
                    ELSE '"' + @query + '*"' END;

    IF OBJECT_ID('tempdb..#TempTiposCompensacion') IS NOT NULL 
        DROP TABLE #TempTiposCompensacion; 

    SELECT 
        tc.IDTipoCompensacion,
        tc.Codigo,
        JSON_VALUE(tc.Traduccion, FORMATMESSAGE('$.%s.%s', lower(replace(@IDIdioma, '-','')), 'Descripcion')) as Descripcion,
        tc.IDConcepto,
        ISNULL(c.Descripcion, '') AS Concepto,
        tc.Intranet,
        tc.Traduccion
    INTO #TempTiposCompensacion
    FROM Nomina.tblCatTiposCompensacion tc
        LEFT JOIN Nomina.tblCatConceptos c ON c.IDConcepto = tc.IDConcepto
    WHERE (tc.IDTipoCompensacion = @IDTipoCompensacion OR ISNULL(@IDTipoCompensacion, 0) = 0)    	
        AND (@query = '""' OR CONTAINS(tc.*, @query));

    SELECT @TotalPaginas = CEILING(CAST(COUNT(*) AS DECIMAL(20,2))/CAST(@PageSize AS DECIMAL(20,2)))
    FROM #TempTiposCompensacion;

    SELECT @TotalRegistros = CAST(COUNT(IDTipoCompensacion) AS DECIMAL(18,2)) 
    FROM #TempTiposCompensacion;
	
    SELECT *,
        TotalPaginas = CASE WHEN @TotalPaginas = 0 THEN 1 ELSE @TotalPaginas END,
        ISNULL(@TotalRegistros, 0) AS TotalRegistros
    FROM #TempTiposCompensacion
    ORDER BY 	
        CASE WHEN @orderByColumn = 'Codigo' AND @orderDirection = 'asc' THEN Codigo END,			
        CASE WHEN @orderByColumn = 'Codigo' AND @orderDirection = 'desc' THEN Codigo END DESC,
        CASE WHEN @orderByColumn = 'Descripcion' AND @orderDirection = 'asc' THEN Descripcion END,			
        CASE WHEN @orderByColumn = 'Descripcion' AND @orderDirection = 'desc' THEN Descripcion END DESC
    OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);
END
GO
