USE [p_adagioRHRioSecreto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************** 
** Descripción		: Procedimiento para obtener los días de pago para un finiquito
** Autor			: Aneudy Abreu
** Email			: aneudy.abreu@adagio.com.mx
** FechaCreacion	: 08-08-2019
** Paremetros		:              

[Nomina].[spBuscarDiasDePagoFiniquito] 1279, '2019-08-05',1

****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor			Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00		NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE PROCEDURE [Nomina].[spBuscarDiasDePagoFiniquito]--17260,'2025-09-02',1
(
	@IDEmpleado int,
	@FechaBaja Date,
	@IDUsuario int
)
AS
BEGIN
	--declare 
	--	@IDEmpleado int = 1279,
	--	@Fecha Date	= '2019-08-05'
	--	;

	declare 
		@IDTipoNomina int = 0
		,@FechaInicioPago date
		,@FechaAntiguedadPrevBaja date
		;

	select @IDTipoNomina = IDTipoNomina
	from RH.tblEmpleadosMaster with (nolock)
	where IDEmpleado = @IDEmpleado

	select top 1 @FechaAntiguedadPrevBaja = Fecha 
	from IMSS.tblMovAfiliatorios
	where IDEmpleado = @IDEmpleado
		and Fecha <= @fechaBaja
		and IDTipoMovimiento in (Select IDTipoMovimiento from IMSS.tblCatTipoMovimientos where codigo in ('A','R'))
	order by fecha desc
	--select *
	--from Nomina.tblHistorialesEmpleadosPeriodos with (nolock)
	--where IDEmpleado = @IDEmpleado

	select top 1 @FechaInicioPago = FechaInicioPago
	from Nomina.tblCatPeriodos with (nolock)
	where IDTipoNomina = @IDTipoNomina 
		and isnull(General,0) = 1 
		and isnull(Cerrado,0) = 0 
		and @FechaBaja between FechaInicioPago and FechaFinPago

	select CASE WHEN @FechaAntiguedadPrevBaja =  @FechaBaja or ISNULL(@FechaInicioPago,'') = '' THEN 0
	else isnull(CAST(DATEDIFF(DAY,
			CASE WHEN @FechaInicioPago > @FechaAntiguedadPrevBaja THEN @FechaInicioPago
			ELSE @FechaAntiguedadPrevBaja
			end
		,@FechaBaja) + 1 as decimal(18,2)),0)
	END
		
		as Saldo
END
GO
