USE [p_adagioRHArcos]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [STPS].[spBuscarCursosAprobadosEmpleado_VUE]  
(  

     @dtFiltros [Nomina].[dtFiltrosRH]  READONLY  
 	,@dtPagination [Nomina].[dtFiltrosRH] READONLY            
    ,@IDUsuario int     
    ,@PageNumber	int = 1
	,@PageSize		int = 2147483647
	,@query			varchar(100) = '""'
	,@orderByColumn	varchar(50) = 'Codigo'
	,@orderDirection varchar(4) = 'asc'

)  
AS  
BEGIN  
   declare 	
	@IDEmpleado int		
     ,@TotalPaginas int = 0
	   ,@TotalRegistros int	


	SET @IDEmpleado = isnull((Select top 1 Value from @dtFiltros where Catalogo = 'IDEmpleado'),0)

     Select  @orderByColumn=isnull(Value,'IDEmpleado') from @dtPagination where Catalogo = 'orderByColumn'
    Select  @orderDirection=isnull(Value,'asc') from @dtPagination where Catalogo = 'orderDirection'

      IF OBJECT_ID(N'tempdb..#tempSetPagination') IS NOT NULL
    BEGIN
        DROP TABLE #tempSetPagination
    END;
   
    	set @query = case 
		when @query is null then '""' 
		when @query = '' then '""'
		when @query = '""' then '""'
	else '"'+@query + '*"' end


 select M.IDEmpleado,  
     M.ClaveEmpleado,   
     CC.IDCursoCapacitacion,
     CC.Codigo as CodigoCurso,  
     CC.Nombre as NombreCurso,  
     FORMAT(PCC.FechaIni,'dd/MM/yyyy') +' - '+  FORMAT(PCC.FechaFin,'dd/MM/yyyy') as Fechas,     
     ROW_NUMBER()OVER(ORDER BY CC.IDCursoCapacitacion)  AS ROWNUMBER    
     into #tempSetPagination
 from RH.tblEmpleadosMaster M  
  inner join STPS.tblProgramacionCursosCapacitacionEmpleados CCE  
   on CCE.IDEmpleado = M.IDEmpleado  
  inner join STPS.tblProgramacionCursosCapacitacion PCC  
   on PCC.IDProgramacionCursoCapacitacion = CCE.IDProgramacionCursoCapacitacion  
  Inner join STPS.tblCursosCapacitacion CC  
   on CC.IDCursoCapacitacion = PCC.IDCursoCapacitacion  
 WHERE M.IDEmpleado = @IDEmpleado  
	and isnull(CCE.IDEstatusCursoEmpleados,(select top 1 IDEstatusCursoEmpleados from STPS.tblEstatusCursosEmpleados where Descripcion = 'NO EVALUADO')) = (select top 1 IDEstatusCursoEmpleados from STPS.tblEstatusCursosEmpleados where Descripcion = 'APROBADO')
 Order by PCC.FechaIni desc  

 select @TotalPaginas =CEILING( cast(count(*) as decimal(20,2))/cast(@PageSize as decimal(20,2)))
	from #tempSetPagination

	select @TotalRegistros = COUNT(IDEmpleado) from #tempSetPagination

 select *
		,TotalPaginas = case when @TotalPaginas = 0 then 1 else @TotalPaginas end
		,ISNULL(@TotalRegistros, 0) as TotalRegistros
	from #tempSetPagination
	order by 
    case when @orderByColumn = 'CodigoCurso'			and @orderDirection = 'asc'		then CodigoCurso end,			
		case when @orderByColumn = 'CodigoCurso'			and @orderDirection = 'desc'	then CodigoCurso end desc,		
		CodigoCurso asc

	OFFSET @PageSize * (@PageNumber - 1) ROWS
    FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE);




 
END
GO
