USE [p_adagioRHMotiDigital]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Normalizar la información de colaboradores
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2022-03-29
** Paremetros		: @FechaNormalizacion
** IDAzure			: 

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/

CREATE PROC [InfoDir].[spNormalizarColaboradores]
(
	@FechaNormalizacion DATE
)
AS
	BEGIN
		
		SET LANGUAGE 'spanish'
		
		-- VARIABLES DE TIPO TABLA
		DECLARE @TempEmpleadosVigencia AS TABLE
		(
			IDEmpleado	INT NOT NULL
			, Fecha		DATE NOT NULL
			, Vigente	INT NOT NULL
		)

		-- TABLA TEMPORAL
		DECLARE @TblColaboradores TABLE
		(
			FechaNormalizacion				DATE			
			, IDEmpleado					INT
			, IDGenero						VARCHAR(1)
			, IDRangoEdad					INT
			, IDRangoAntiguedad				INT
			, IDGeneracion					INT		
			, IDCliente						INT
			, IDRazonSocial					INT
			, IDRegPatronal					INT
			, IDCentroCosto					INT
			, IDDepartamento				INT
			, IDArea						INT
			, IDPuesto						INT
			, IDTipoPrestacion				INT
			, IDSucursal					INT
			, IDDivision					INT
			, IDRegion						INT
			, IDClasificacionCorporativa	INT
			, IDTipoNomina					INT
		)

		-- ELIMINAR NORMALIZACION 
		DELETE [InfoDir].[tblColaboradoresNormalizados] WHERE FechaNormalizacion = @FechaNormalizacion

		-- OBTIENE EL HISTORIAL (IDEmpleado, Fecha, Vigente) DE LOS EMPLEADOS EN LA FECHA CONFIGURADA
		INSERT INTO @TempEmpleadosVigencia
		EXEC [InfoDir].[spEmpleadosVigentesXDia] @FechaNormalizacion


		-- OBTIENE EL DETALLE E HISTORIAL DEL COLABORADOR
		;WITH TblColaboradoresDetalle
		(
			FechaNormalizacion
			, IDEmpleado			
			, IDGenero
			, Edad
			, AntiguedadEnMeses
			, IDGeneracion
			, IDCliente
			, IDRazonSocial
			, IDRegPatronal
			, IDCentroCosto
			, IDDepartamento
			, IDArea
			, IDPuesto
			, IDTipoPrestacion
			, IDSucursal
			, IDDivision
			, IDRegion
			, IDClasificacionCorporativa
			, IDTipoNomina			
		)
		AS
		(
			SELECT TV.Fecha AS FechaNormalizacion
					, TV.IDEmpleado
					, E.Sexo AS IDGenero
					, (CASE WHEN DATEDIFF(YEAR, M.FechaNacimiento, TV.Fecha) <= 0 THEN 0 ELSE DATEDIFF(YEAR, M.FechaNacimiento, TV.Fecha) END) AS Edad
					, (CASE WHEN DATEDIFF(MONTH, M.FechaAntiguedad, TV.Fecha) <= 0 THEN 0 ELSE DATEDIFF(MONTH, M.FechaAntiguedad, TV.Fecha) END) AS AntiguedadEnMeses
					, (SELECT TOP 1 TCG.IDGeneracion FROM [RH].[tblCatGeneraciones] TCG WHERE YEAR(E.FechaNacimiento) BETWEEN TCG.[Min] AND TCG.[Max]) AS IDGeneracion					
					, (SELECT CE.IDCliente FROM [RH].[tblClienteEmpleado] CE WITH(NOLOCK) WHERE TV.IDEmpleado = CE.IDEmpleado AND CE.FechaIni <= TV.Fecha AND CE.FechaFin >= TV.Fecha)
					, (SELECT RS.IDRazonSocial FROM [RH].[tblRazonSocialEmpleado] RS WITH(NOLOCK) WHERE TV.IDEmpleado = RS.IDEmpleado AND RS.FechaIni <= TV.Fecha AND RS.FechaFin >= TV.Fecha)
					, (SELECT RPE.IDRegPatronal FROM [RH].[tblRegPatronalEmpleado] RPE WITH(NOLOCK) WHERE TV.IDEmpleado = RPE.IDEmpleado AND RPE.FechaIni <= TV.Fecha AND RPE.FechaFin >= TV.Fecha)
					, (SELECT CCE.IDCentroCosto FROM [RH].[tblCentroCostoEmpleado] CCE WITH(NOLOCK) WHERE TV.IDEmpleado = CCE.IDEmpleado AND CCE.FechaIni <= TV.Fecha AND CCE.FechaFin >= TV.Fecha)
					, (SELECT DE.IDDepartamento FROM [RH].[tblDepartamentoEmpleado] DE WITH(NOLOCK) WHERE TV.IDEmpleado = DE.IDEmpleado AND DE.FechaIni <= TV.Fecha AND DE.FechaFin >= TV.Fecha)
					, (SELECT AE.IDArea FROM [RH].[tblAreaEmpleado] AE WITH(NOLOCK) WHERE TV.IDEmpleado = AE.IDEmpleado AND AE.FechaIni <= TV.Fecha AND AE.FechaFin >= TV.Fecha)
					, (SELECT PE.IDPuesto FROM [RH].[tblPuestoEmpleado] PE WITH(NOLOCK) WHERE TV.IDEmpleado = PE.IDEmpleado AND PE.FechaIni <= TV.Fecha AND PE.FechaFin >= TV.Fecha)
					, (SELECT PRE.IDTipoPrestacion FROM [RH].[TblPrestacionesEmpleado] PRE WITH(NOLOCK) WHERE TV.IDEmpleado = PRE.IDEmpleado AND PRE.FechaIni <= TV.Fecha AND PRE.FechaFin >= TV.Fecha)
					, (SELECT SE.IDSucursal FROM [RH].[tblSucursalEmpleado] SE WITH(NOLOCK) WHERE TV.IDEmpleado = SE.IDEmpleado AND SE.FechaIni <= TV.Fecha AND SE.FechaFin >= TV.Fecha)
					, (SELECT DVE.IDDivision FROM [RH].[tblDivisionEmpleado] DVE WITH(NOLOCK) WHERE TV.IDEmpleado = DVE.IDEmpleado AND DVE.FechaIni <= TV.Fecha AND DVE.FechaFin >= TV.Fecha)
					, (SELECT RE.IDRegion FROM [RH].[tblRegionEmpleado] RE WITH(NOLOCK) WHERE TV.IDEmpleado = RE.IDEmpleado AND RE.FechaIni <= TV.Fecha AND RE.FechaFin >= TV.Fecha)
					, (SELECT CPE.IDClasificacionCorporativa FROM [RH].[tblClasificacionCorporativaEmpleado] CPE WITH(NOLOCK) WHERE TV.IDEmpleado = CPE.IDEmpleado AND CPE.FechaIni <= TV.Fecha AND CPE.FechaFin >= TV.Fecha)
					, (SELECT TNE.IDTipoNomina FROM [RH].[tblTipoNominaEmpleado] TNE WITH(NOLOCK) WHERE TV.IDEmpleado = TNE.IDEmpleado AND TNE.FechaIni <= TV.Fecha AND TNE.FechaFin >= TV.Fecha)
			FROM @TempEmpleadosVigencia TV
				JOIN RH.tblEmpleados E WITH(NOLOCK) ON TV.IDEmpleado = E.IDEmpleado
				JOIN RH.tblEmpleadosMaster M WITH(NOLOCK) ON TV.IDEmpleado = M.IDEmpleado
			WHERE TV.Vigente = 1			
		)		
		INSERT INTO @TblColaboradores
		SELECT FechaNormalizacion
				, IDEmpleado				
				, IDGenero

				, CASE										-- SELECT * FROM [RH].[tblRangos] WHERE IDTipoRango = 2					
					WHEN Edad BETWEEN 21 AND 25 THEN 202	-- Entre 21 y 25 Años
					WHEN Edad BETWEEN 26 AND 30 THEN 203	-- Entre 26 y 30 Años
					WHEN Edad BETWEEN 31 AND 35 THEN 204	-- Entre 31 y 35 Años
					WHEN Edad BETWEEN 36 AND 40 THEN 205	-- Entre 36 y 40 Años
					WHEN Edad BETWEEN 41 AND 50 THEN 206	-- Entre 41 y 50 Años
					WHEN Edad >= 51 THEN 207				-- Más de 51 Años
					ELSE 201								-- Menor de 21 Años
				END AS IDRangoEdad
				
				, CASE														-- SELECT * FROM [RH].[tblRangos] WHERE IDTipoRango = 1	
					WHEN AntiguedadEnMeses BETWEEN 6 AND 12		THEN 102	-- Entre 6 Meses y 1 Año
					WHEN AntiguedadEnMeses BETWEEN 13 AND 18	THEN 103	-- Entre 1 y 1.5 Años
					WHEN AntiguedadEnMeses BETWEEN 18 AND 24	THEN 104	-- Entre 1.5 y 2 Años
					WHEN AntiguedadEnMeses >= 25				THEN 105	-- Más de 2 Años
					ELSE 101												-- Menos de 6 Meses
				END AS IDRangoAntiguedad
				
				, ISNULL(IDGeneracion, 0) AS IDGeneracion
				, ISNULL(IDCliente, 0) AS IDCliente
				, ISNULL(IDRazonSocial, 0) AS IDRazonSocial
				, ISNULL(IDRegPatronal, 0) AS IDRegPatronal
				, ISNULL(IDCentroCosto, 0) AS IDCentroCosto
				, ISNULL(IDDepartamento, 0) AS IDDepartamento
				, ISNULL(IDArea, 0) AS IDArea
				, ISNULL(IDPuesto, 0) AS IDPuesto
				, ISNULL(IDTipoPrestacion, 0) AS IDTipoPrestacion
				, ISNULL(IDSucursal, 0) AS IDSucursal
				, ISNULL(IDDivision, 0) AS IDDivision
				, ISNULL(IDRegion, 0) AS IDRegion
				, ISNULL(IDClasificacionCorporativa, 0) AS IDClasificacionCorporativa
				, ISNULL(IDTipoNomina, 0) AS IDTipoNomina
		FROM TblColaboradoresDetalle


		-- RESULTADO FINAL
		INSERT INTO [InfoDir].[tblColaboradoresNormalizados]
		SELECT C.FechaNormalizacion
				, DATEPART(WEEK, C.FechaNormalizacion)				AS Semana
				, DATEPART(MONTH, C.FechaNormalizacion)				AS IDMes
				, DATENAME(MONTH, C.FechaNormalizacion)				AS Mes
				, DATEPART(YEAR, C.FechaNormalizacion)				AS Anio
				, C.IDEmpleado
				, ISNULL(EM.NOMBRECOMPLETO, '')						AS Empleado
				, C.IDGenero
				, GE.Traduccion										AS Genero
				, C.IDRangoEdad
				, ISNULL(RGE.Descripcion, '')						AS RangoEdad
				, C.IDRangoAntiguedad
				, ISNULL(RGA.Descripcion, '')						AS RangoAntiguedad
				, C.IDGeneracion
				, ISNULL(GN.Descripcion, '')						AS Generacion
				, C.IDCliente
				, CL.Traduccion										AS NombreComercial
				, C.IDRazonSocial
				, ISNULL(RS.RFC + ' - ' + RS.NombreComercial, '')	AS RazonSocial
				, C.IDRegPatronal
				, ISNULL(RP.RazonSocial, '')						AS RegistroPatronal
				, C.IDCentroCosto
				, CC.Traduccion										AS CentroCosto
				, C.IDDepartamento
				, DE.Traduccion										AS Departamento
				, C.IDArea
				, AR.Traduccion										AS Area
				, C.IDPuesto
				, PU.Traduccion										AS Puesto
				, C.IDTipoPrestacion
				, TP.Traduccion										AS TipoPrestacion
				, C.IDSucursal
				, ISNULL(SU.Descripcion, '')						AS Sucursal
				, C.IDDivision
				, DI.Traduccion										AS Division
				, C.IDRegion
				, RE.Traduccion										AS Region
				, C.IDClasificacionCorporativa
				, ISNULL(CSC.Descripcion, '')						AS ClasificacionCorporativa
				, C.IDTipoNomina
				, ISNULL(TN.Descripcion, '')						AS TipoNomina				
		FROM @TblColaboradores C
			LEFT JOIN [RH].[tblEmpleadosMaster]					EM ON C.IDEmpleado					= EM.IDEmpleado
			LEFT JOIN [RH].[tblCatGeneros]						GE ON C.IDGenero					= GE.IDGenero
			LEFT JOIN [RH].[tblRangos]						   RGE ON C.IDRangoEdad					= RGE.IDRango AND RGE.IDTipoRango = 2
			LEFT JOIN [RH].[tblRangos]						   RGA ON C.IDRangoAntiguedad			= RGA.IDRango AND RGA.IDTipoRango = 1
			LEFT JOIN [RH].[tblCatGeneraciones]					GN ON C.IDGeneracion				= GN.IDGeneracion
			LEFT JOIN [RH].[tblCatClientes]						CL ON C.IDCliente					= CL.IDCliente
			LEFT JOIN [RH].[tblEmpresa]							RS ON C.IDRazonSocial				= RS.IdEmpresa
			LEFT JOIN [RH].[tblCatRegPatronal]					RP ON C.IDRegPatronal				= RP.IDRegPatronal
			LEFT JOIN [RH].[tblCatCentroCosto]					CC ON C.IDCentroCosto				= CC.IDCentroCosto
			LEFT JOIN [RH].[tblCatDepartamentos]				DE ON C.IDDepartamento				= DE.IDDepartamento
			LEFT JOIN [RH].[tblCatArea]							AR ON C.IDArea						= AR.IDArea
			LEFT JOIN [RH].[tblCatPuestos]						PU ON C.IDPuesto					= PU.IDPuesto
			LEFT JOIN [RH].[tblCatTiposPrestaciones]			TP ON C.IDTipoPrestacion			= TP.IDTipoPrestacion
			LEFT JOIN [RH].[tblCatSucursales]					SU ON C.IDSucursal					= SU.IDSucursal
			LEFT JOIN [RH].[tblCatDivisiones]					DI ON C.IDDivision					= DI.IDDivision
			LEFT JOIN [RH].[tblCatRegiones]						RE ON C.IDRegion					= RE.IDRegion
			LEFT JOIN [RH].[tblCatClasificacionesCorporativas] CSC ON C.IDClasificacionCorporativa	= CSC.IDClasificacionCorporativa
			LEFT JOIN [Nomina].[tblCatTipoNomina]				TN ON C.IDTipoNomina				= TN.IDTipoNomina

	END
GO
