USE [p_adagioRHSakata]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************** 
** Descripción		: Función que obtiene el tipo de notificación de permisos para colaborador (Solicitud nueva o modificada).
** Autor			: Alejandro Paredes
** Email			: aparedes@adagio.com.mx
** FechaCreacion	: 2025-08-20
** Parametros		: @IDSolicitud		Identificador de la solicitud
** IDAzure			: #1675

** DataTypes Relacionados: 
****************************************************************************************************
HISTORIAL DE CAMBIOS
Fecha(yyyy-mm-dd)	Autor				Comentario
------------------- ------------------- ------------------------------------------------------------
0000-00-00			NombreCompleto		¿Qué cambió?
***************************************************************************************************/
CREATE   FUNCTION [Intranet].[fnObtenerNotificacionPermisosParaColaboradores](
    @IDSolicitud INT
)
RETURNS VARCHAR(50)
AS
BEGIN
    
	DECLARE @IsModificada			BIT
			, @TipoNotificacion		VARCHAR(50) = ''
			, @NO					BIT = 0
			;

    SELECT @IsModificada = ISNULL(IsModificada, 0)
    FROM [Intranet].[tblSolicitudesEmpleado]
    WHERE IDSolicitud = @IDSolicitud;

    IF (@IsModificada = @NO)
        SET @TipoNotificacion = 'SolicitudDePermisosParaColaborador';
    ELSE
        SET @TipoNotificacion = 'SolicitudDePermisosParaColaboradorModificada';

    RETURN @TipoNotificacion;

END;
GO
