USE [p_adagioRHNexus]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Sat].[spBuscarMotivoCancelacion]
(
	@MotivoCancelacion Varchar(50) = '',
	@ValidarEstatus bit = 1
)
AS
BEGIN
	IF(@MotivoCancelacion = '' or @MotivoCancelacion is null)
	BEGIN
		select 
			IDMotivoCancelacion
			,UPPER(Codigo) AS Codigo
			,UPPER(Descripcion) AS Descripcion
		From [Sat].[tblCatMotivoCancelacion]
		Where (Activo = 1 or @ValidarEstatus = 0)
	END
	ELSE
	BEGIN
		select 
			IDMotivoCancelacion
			,UPPER(Codigo) AS Codigo
			,UPPER(Descripcion) AS Descripcion
		From [Sat].[tblCatMotivoCancelacion]
		where Descripcion like @MotivoCancelacion +'%'
			OR Codigo like @MotivoCancelacion+'%'
			and (Activo = 1 or @ValidarEstatus = 0)
	END
END
GO
