USE [p_adagioRHOwenSLP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
  
CREATE proc [Asistencia].[spBuscarIncapacidadEmpleado](  
 @IDIncapacidadEmpleado int  
) as  
select   
  ie.IDIncapacidadEmpleado  
 ,ie.IDEmpleado  
 ,ie.Numero  
 ,ie.Fecha  
 ,ie.Duracion  
 ,ie.IDTipoIncapacidad  
 ,tipoInca.Descripcion as TipoIncapacidad  
 ,isnull(ie.IDClasificacionIncapacidad,0) as IDClasificacionIncapacidad  
 ,clasificacion.Nombre as ClasificacionIncapacidad  
 ,isnull(ie.PagoSubsidioEmpresa,cast(0 as bit)) as PagoSubsidioEmpresa  
 ,isnull(ie.IDCausaAccidente,0) as IDCausaAccidente  
 ,causas.Descripcion as CausaAccidente  
 ,isnull(ie.IDTipoLesion,0) as IDTipoLesion  
 ,lesiones.Descripcion as TipoLesion  
 --,ie.Hora  
 --,ie.Dia  
 ,isnull(ie.IDTipoRiesgoIncapacidad,0) as IDTipoRiesgoIncapacidad  
 ,riesgos.Nombre as TipoRiesgoIncapacidad  
 ,isnull(ie.Permanente,cast(0 as bit)) as Permanente
 ,Autorizado = isnull((Select Top 1 isnull(Autorizado,0) 
						from Asistencia.tblIncidenciaEmpleado with(nolock) 
						where IDIncapacidadEmpleado = ie.IDIncapacidadEmpleado),0)
from Asistencia.tblIncapacidadEmpleado ie with(nolock) 
 join SAT.tblCatTiposIncapacidad as tipoInca with(nolock) 
	on ie.IDTipoIncapacidad = tipoInca.IDTIpoIncapacidad  
 left join IMSS.tblCatClasificacionesIncapacidad clasificacion with(nolock) 
	on ie.IDClasificacionIncapacidad = clasificacion.IDClasificacionIncapacidad  
 left join IMSS.tblCatCausasAccidentes causas with(nolock) 
	on ie.IDCausaAccidente = causas.IDCausaAccidente  
 left join IMSS.tblCatTiposLesiones lesiones with(nolock) 
	on ie.IDTipoLesion = lesiones.IDTipoLesion  
 left join IMSS.tblCatTipoRiesgoIncapacidad riesgos with(nolock) 
	on ie.IDTipoRiesgoIncapacidad = riesgos.IDTipoRiesgoIncapacidad  
where IDIncapacidadEmpleado = @IDIncapacidadEmpleado
GO
